@use '../base/variables' as *;

.is-mobile {
  display: block;

  @media (min-width: $screen-xs) {
    display: none;
  }
}

.is-desktop {
  display: none;
  
  @media (min-width: $screen-xs) {
    display: block;
  }
}

.is-block {
  display: block;
}

.is-transparent {
  opacity: 0;
}

.is-fw {
  position: relative;
  left: 50%;
  width: 100vw;
  margin-left: -50vw;
}

.blur-y-in {
  opacity: 0;
  transform: translateY(20px);
  filter: blur(12px);
  transition: opacity 0.8s ease, transform 0.8s ease, filter 0.8s ease;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}