@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideToRight {
  from {
    transform: translateX(-20px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes zoomOut {
  to {
    transform: scale(1)
  }
}

@keyframes mover-loop {
  from { offset-distance: 0%; }
  to   { offset-distance: 100%; }
}