// -------------------------------
// FONTS
// -------------------------------
@font-face {
  font-family: 'ABC XCond Semibold';
  src: url('~@fonts/ABCXcondensed-semibold/axs.woff2') format('woff2'),
      url('~@fonts/ABCXcondensed-semibold/axs.woff') format('woff'),
      url('~@fonts/ABCXcondensed-semibold/axs.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// -------------------------------
// FONTS
// -------------------------------
@font-face {
  font-family: 'Saira XCond Regular';
  src: url('~@fonts/SairaXCondensed-regular/SairaExtraCondensed-Regular.woff2') format('woff2'),
      url('~@fonts/SairaXCondensed-regular/SairaExtraCondensed-Regular.woff') format('woff'),
      url('~@fonts/SairaXCondensed-regular/SairaExtraCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}