// -------------------------------
// FONTS
// -------------------------------

@font-face {
  font-family: 'Antonio';
  src: url('http://s1.abcstatics.com/comun/narrativas/redaccion/2025/12/20/labatallacontraelmiedo/fonts/Antonio/Antonio.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}