@font-face {
    font-family: 'ABC Text Light Italic';
    src: url(https://static.vocstatic.com/kraken/latest/assets/fonts/atli.woff2) format("woff2"), url(https://static.vocstatic.com/kraken/latest/assets/fonts/atli.woff) format("woff"), url(https://static.vocstatic.com/kraken/latest/assets/fonts/atli.ttf) format("truetype");
    font-weight: 300;
    font-display: swap;
}