@use './variables' as *;

// -------------------------------
// GLOBAL
// -------------------------------
.voc-d > span.paywall {
  padding-bottom: 72px;
  margin-bottom: 80px;
}

body {
  .voc-container--wxs:has(.voc-article--detail-visual) {
    max-width: 635px;
  }

  .voc-container--wxs:has(.voc-d--visual) {
    max-width: 565px;
  }

  .voc-p {
    font-size: 20px;
    line-height: 28px;
  }

  .voc-footer {
    margin-top: 80px;
    margin-bottom: 0;
  }
}

// -------------------------------
// IMAGENES
// -------------------------------
.voc-article.voc-article--c-photo {
  margin: 72px 0;
}

.voc-c-container:has(.voc-article--c-photo) + .voc-c-container:has(.voc-article--c-photo) {
  .voc-article.voc-article--c-photo {
    margin-top: -18px;
  }
}

// -------------------------------
// BARRA AUTOR/AUTORES
// -------------------------------
.voc-article.voc-article--detail-visual {
  .voc-author__item--1 {
    &:before {
      content: none;
    }
  }

  .voc-author__subitem--1 {
    margin-right: 0;
  }
}

// -------------------------------
// BARRA ARTICULO + COMPARTIR
// -------------------------------
.voc-d.voc-d--visual {
  .voc-author {
    max-width: 100%;
  }
}

// -------------------------------
// CREDITOS
// -------------------------------
.voc-c-container:has(.v-c-crd) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 82px auto 0;

  &:before {
    background: $cb1;
    margin-bottom: 20px;
  }

  &:after {
    content: none;
  }

  .v-c-crd {
    text-align: center;

    ul {
      padding-left: 0;

      li {
        b {
          margin-left: 0;
        }
      }
    }
  }
}