@use './variables' as *;

.voc-article--detail.voc-article--detail-visual {
  .voc-info-container {
    padding: 140px 0 0;
  }

  .voc-title {
    font-family: $abcdel;
    font-size: 48px;
    line-height: 46px;
    letter-spacing: -.74px;
    text-align: center;
    text-transform: unset;

    @media (min-width: 420px) {
      font-size: 64px;
      line-height: 60px;
    }

    @media (min-width: $screen-xs) {
      font-size: 74px;
      line-height: 70px;
    }

    .text-fixed {
      font-family: $abcdel;
    }

    .text-anim {
      font-family: $abcds;
      display: inline-flex;
      flex-direction: column;
      overflow: hidden;
      line-height: 1;
      height: 1em;
    }

    .word {
      height: 1em;
      line-height: 1;
      animation: moveUp 5s ease-out forwards;
    }

    @keyframes moveUp {
      0%,20%   { transform: translateY(0); }
      40%,55%  { transform: translateY(-1em); }
      70%,85%  { transform: translateY(-2em); }
      100%     { transform: translateY(-3em); }
    }
  }

  .voc-title + .voc-subtitle {
    margin-top: 48px;
  }

  .voc-author {
    margin-top: 40px;
    max-width: 240px;

    &__name {
      font-family: $abcds;
      font-size: 17px;
      line-height: normal;
      text-transform: unset;
    }
  }

  .voc-img-container {
    margin-top: 96px;

    @media (min-width: 1500px) {
      width: 1440px;
      margin-left: calc((-1440px / 2) + 50%);
    }
  }
}

.voc-d.voc-d--visual {
  margin-top: 116px;

  .voc-d-c-chapter {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;

    @media (min-width: 900px) {
      margin-left: -130px;
    }

    &:before {
      content: '';
      width: 156px;
      height: 1px;
      margin-bottom: 24px;
      background: $cb7;
    }

    &__title {
      font-family: $abcdr;
      font-size: 45px;
      line-height: 47px;
    }
  }

  .voc-p + .voc-c-container:has(.voc-d-c-chapter) {
    .voc-d-c-chapter {
      margin-top: 140px;
    }
  }

  .voc-article--c-summary {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 12px;
    margin: 52px 0;

    @media (min-width: 900px) {
      margin-left: -130px;
    }

    &:before {
      content: "“";
      position: relative;
      top: -22px;
      width: fit-content;
      height: auto;
      display: block;
      font-family: "Antonio", Georgia, Times New Roman, serif;
      font-size: 99px;
      line-height: 100%;
      color: #0037FF;
    }

    .voc-info-container {
      display: flex;
      flex-direction: column;
      width: auto;      
      max-width: 335px;
      margin: 0;

      &:before {
        content: none;
      }

      .voc-title {
        font-family: $abcdr;
        font-size: 24px;
        line-height: 130%;
        text-align: left;
      }

      .voc-article-position {
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 4px;
        font-size: 16px;
        line-height: 18px;
        color: $cb7;

        &__name {
          margin-right: 0;
        }
      }
    }
  }

  .voc-c-container:has(.voc-article--c-photo) {
    @media (min-width: 1500px) {
      width: 1440px;
      margin-left: calc((-1440px / 2) + 50%);
    }
  }

  .voc-article--c-photo {
    .voc-figcaption {
      color: $cb7;
    }

    .voc-figcaption-container {
      width: 100%;
      max-width: 320px;
      margin: 28px 0 36px;
      font-size: 12px;
      line-height: 120%;
      letter-spacing: .24px;
      color: $cb7;
    }

    .voc-figcaption--type {
      color: $cb7;
    }

    &:has(.voc-figcaption-container) {
      border-bottom: 1px solid #ffffff20;
    }
  }
}

body {
  .voc-author .voc-social__icon--circle {
    background: $mainBlue;
  }

  .voc-author-comments-number {
    color: $cb7;
  }

  .voc-to-top__icon svg {
    fill: $mainBlue;
  }
}

#icon-save-news {
  path {
    stroke: $mainBlue;
  }
}

#icon-ver-comentarios {
  path {
    fill: $mainBlue;
  }
}

#icon-share-fb,
#icon-share-tw,
#icon-share-open-panel {
  path {
    fill: $cb7;
  }
}