@use './variables' as *;

$dark-theme: true;

// -------------------------------
// GLOBAL
// -------------------------------
.voc-d span.paywall {
  padding-bottom: 72px;
  margin-bottom: 80px;
}

body {
  background: $cb1;

  .voc-header {
    &__text {
      color: #575757;
    }
  }

  .voc-progress {
    background: #0037FF;
  }

  .voc-title,
  .voc-p {
    color: $cb7;
  }

  .voc-footer {
    margin-top: 80px;
    margin-bottom: 0;
    color: $cb7;

    &__social .voc-social-networks__icon,
    .voc-stores,
    .voc-to-top {
      svg {
        rect,
        circle {
          fill: #0037FF;
        }
      }
    }

    .voc-footer-nav__list li a {
      color: $cb7;
    }
  }

  .voc-heading__img {
    filter: brightness(5);
  }
}