@use './variables' as *;

$dark-theme: false;

// -------------------------------
// GLOBAL
// -------------------------------
html {
  scroll-behavior: smooth;
}

body {
  background: url('~@images/trama-bg.jpg');
}

.voc-d.voc-d--visual span.paywall {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 72px;
  margin-bottom: 80px;
}

body {
  .voc-footer {
    margin-top: 80px;
    margin-bottom: 0;
  }
}

.voc-p {
  font-size: 25px;
  line-height: normal;
  word-break: break-all;
}

.voc-container.voc-container--wxs {
  max-width: 588px;
}

@if $dark-theme {
  body {
    background: #121212;
  }

  body {
    .voc-title {
      color: $cb7;
    }
  }
}