@use '../abstracts' as *;

html {
  scroll-behavior: unset !important;
}

body {
  touch-action: pan-y;

  &:has(.v-h-a) {
    .v-a--d-s-1 {
      height: calc(100svh - 106px);

      @media (min-width: $screen-sm) {
        height: calc(100svh - 58px);
      }
    }
  }

  .v-h-a {
    position: relative;
    z-index: 3;
  }
}

.v-h--t3 .v-hpr {
  display: block;
}

.ai2html {
  display: flex;
  justify-content: center;
}

.v-w {
  .v-a--d-s-1 {
    display: flex;
    align-items: center;
    flex-direction: column;

    .v-a-inf-c {
      grid-area: unset;
      justify-content: center;
      padding-bottom: 0;
      
      .v-a-p-t,
      .v-a-t,
      .v-a-s-t {
        color: $cb1;
      }

      .v-i {
        display: none;
      }
    }

    .v-a-img-c {
      overflow: unset;
      position: absolute;
      width: 100%;
      height: 100%;
      
      &:after {
        content: none;
      }
    }
  }
}

.v-cmp-crd {
  margin-top: 60px;
}

.is-visible {
  display: block;
}

.is-transparent {
  opacity: 0;
}

.is-fade-in {
  animation: fadeIn 0.2s ease-in-out forwards;
}

.is-fade-out {
  animation: fadeOut 0.3s ease-out forwards;
}

.is-fade-in-translate-y {
  animation: fadeInTranslateY 0.2s ease-in-out forwards;
}

.is-fade-out-translate-y {
  animation: fadeOutTranslateY 0.3s ease-out forwards;
}

.is-fw {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

/* Arreglos con narwhal */

.voc-wrapper>.voc-container {
  max-width: initial;
  padding:0
}

.v-hpr__c {
  background: $cb1;
}

.v-h__w--3 .v-btn-c {
  width: initial;

  .v-btn:hover {
    background: transparent;

    .v-btn:hover {
      fill: #6E89A9
    }
  }
}

.v-u--t2 .v-u__l:before {
  margin-right: 0;
}
