@use '../base/variables' as *;

body {
  .v-btn,
  .v-ath,
  .v-d-p,
  .v-cmp-crd,
  .v-cmp-crd .v-u__p a,
  .v-tpc,
  .v-a-p-t,
  .v-a-t,
  .v-a-s-t,
  .v-op,
  .v-prp__tm,
  .v-prp__a,
  .v-f__a,
  .v-f__p,
  .v-f .v-log--1 .v-log__p,
  .v-f .v-log--2 .v-log__p {
    color: $cp15;
  }

  .v-btn .v-i svg {
    fill: $cp15;
  }

  .v-btn,
  .v-cnt--t3,
  .v-d-n,
  .v-d-n__w--1,
  .v-f__w--1,
  .v-f__w--1 .v-f__g {
    border-color: $cp15;
  }

  .v-ath__b--4 .line {
    stroke: $cp15;
  }

  .v-prp__l:before {
    background: $cp15;
  }

  .v-f .v-log--1 .v-log__i,
  .v-f .v-log--2 .v-log__i {
    filter: brightness(0) invert(1);
  }

  .v-h__w--3 {
    .v-btn--2 {
      color: $cp1;
      border-color: $cp1;

      svg {
        fill: $cp1;
      }
    }
  }
}

body {
  .v-h-a .v-btn {
    color: $cp1;
  }
}

body {
  .v-d-p {
    a {
      color: #FF860E;
      text-decoration-color: #FF860E;
    }
  }
}

.v-a-fig {
  .v-fc {
    text-align: center;
    max-width: 500px;
    margin: 10px auto 0;
  }
}

.v-cmp-m {
  margin-top: 80px;
  margin-bottom: 80px;

  @media (min-width: $screen-xs) {
    margin-top: 144px;
    margin-bottom: 144px;
  }
}