// =======================================================
// VARIABLES SPECIAL
// =======================================================

// Fonts
$axs: 'ABC XCond Semibold', Georgia, Times New Roman, serif;
$sxr: 'Saira XCond Regular', Georgia, Times New Roman, serif;