// =======================================================
// Variables Kraken
// =======================================================

// ---------------------------------------
// Colores
// ---------------------------------------

// ** Colores primarios

$cp1: #0E3A6F;
$cp2: #3E618C;
$cp3: #6E89A9;
$cp4: #CFD8E2;
$cp5: #E7EBF1;
$cp6: #F3F5F8;

$cp7: #2185FF;
$cp8: #33A3FF;
$cp9: #66BAFF;
$cp10: #CCE8FF;
$cp11: #E5F3FF;
$cp12: #F2F9FF;

$cp13: #FC3636;
$cp14: #FFE1E1;
$cp15: #F9F6EE;

$cp16: #23A476;
$cp17: #FFD030;
$cp18: #E02872;

// ** Colores base

$cb1: #000;
$cb2: #fff;
$cb3: #F4F4F4;
$cb4: #E9E9E9;
$cb5: #D2D2D2;
$cb6: #A6A6A6;
$cb7: #797979;
$cb8: #4D4D4D;
$cb9: #202020;

// ** Equivalencias modo oscuro

$cb1-d: $cb2;
$cb3-d: rgba($cb2, .13);
$cb4-d: rgba($cb2, .42);
$cb5-d: rgba($cb2, .58);
$cb6-d: rgba($cb2, .84);

// ** Equivalencias modo claro

$cb1-l: rgba($cb1, .87);
$cb3-l: rgba($cb1, .02);
$cb4-l: rgba($cb1, .05);
$cb5-l: rgba($cb1, .07);
$cb6-l: rgba($cb1, .16);

// ** XLSemamal

$x-cp1: #C90023;

// ---------------------------------------
// Fuentes
// ---------------------------------------

$adel: 'ABC Display ExtraLight', serif;
$adl: 'ABC Display Light', serif;
$ads: 'ABC Display Semibold', serif;

$atl: 'ABC Text Light', serif;
$atli: 'ABC Text Light Italic', serif;
$ats: 'ABC Text Semibold', serif;
$atsi: 'ABC Text Semibold Italic', serif;

$mcr: 'Micrograph Regular', sans-serif;
$mcs: 'Micrograph Semibold', sans-serif;
$axs: 'ABC XCond Semibold', serif;

$pvl: 'PPLL Vocento Light', serif;
$pvli: 'PPLL Vocento Light Italic', serif;
$pvr: 'PPLL Vocento Regular', serif;
$pvs: 'PPLL Vocento Semibold', serif;
$pvsi: 'PPLL Vocento Semibold Italic', serif;
$pveb: 'PPLL Vocento Extrabold', serif;

$psl: 'PPLL Sans Light', serif;
$psr: 'PPLL Sans Regular', serif;
$pss: 'PPLL Sans Semibold', serif;

// ---------------------------------------
// Media queries
// ---------------------------------------

$screen-xl: 1920px;
$screen-lg: 1660px;
$screen-md: 1366px;
$screen-sm: 1025px;
$screen-ms: 769px; // medium-small
$screen-xs: 699px;
$screen-xxs: 360px;
$screen-xxxs: 320px;
