@use '../base/variables' as *;
@use '../base/variables-special' as *;

.card {
  position: relative;
  width: 175px;
  padding: 14px;
  background: $cb7;
  border: 0.65px solid rgba(55, 25, 0, 0.09);
  border-radius: 16px;
  box-shadow: 0 9.096px 35.083px 0 rgba(46, 41, 13, 0.11), 0 2.599px 2.599px 0 rgba(0, 0, 0, 0.14);
  
  &__fig {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 136px;
    background: #EFE7DE;
    border-radius: 12px;
  }

  &__t {
    display: block;
    margin: 0;
    font: 27px/normal $axs;
    text-align: center;
  }

  &__p {
    font: 14px/normal $abctl;
    text-align: center;
    word-break: break-word;
  }

  &--0 {
    .card__fig {
      img {
        position: absolute;
        width: 155px;
        left: -10px;
        rotate: 8deg;
      }
    }
  }

  &--1 {
    .card__fig {
      img {
        position: absolute;
        width: 175px;
        left: -17px;
      }
    }
  }

  &--2 {
    .card__fig {
      overflow: hidden; 

      img {
        width: 170px;
        margin-top: 10px;
      }
    }
  }

  &--3 {
    .card__fig {
      img {
        width: 120px;
        margin-bottom: 20px;
      }
    }
  }

  &--4 {
    .card__fig {
      img {
        width: 175px;
        margin-right: 35px;
      }
    }
  }

  &--5 {
    .card__fig {
      img {
        width: 165px;
        rotate: -10deg;
      }
    }
  }
}