@use '../base/variables' as *;
@use '../base/variables-custom' as *;

.v-n-suh {
  max-width: 270px;
  width: 100%;
  margin: 64px auto 24px;

  @media (min-width: $screen-xs) {
    margin: 80px auto 32px;
  }

  &__sep {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 20px 0;

    &:before,
    &:after {
      content: '';
      width: 40px;
      height: 1px;
      background: $cb6;
    }

    span {
      display: block;
      width: 8px;
      height: 8px;
      background: #C90022;
      transform: rotate(45deg);
    }
  }

  &__t {
    font-family: $axs;
    font-size: 32px;
    line-height: 27px;
    letter-spacing: -.16px;
    text-align: center;
    text-transform: uppercase;
    color: $cp1;
  } 
}