@use '../base/variables'as *;

.clock-heading {
  &__time {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    max-width: 145px;
    margin: 0 auto;
    padding-bottom: 22px;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 55px;
      height: 1px;
      background: $cp1;      
    }

    &:before {
      left: -55px;
    }

    &:after {
      right: -55px;
    }

    &-clock {
      position: relative;
      width: 29px;
      height: 29px;
      border: 2px solid $cb1;

      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 2px;
        height: 11px;
        top: 2px;
        left: 50%;
        transform: translateX(-50%) rotate(0deg);
        transform-origin: bottom center;
        background: $cp1;
        border-radius: 3px;
        transition: transform 0.5s;
      }

      &:before {
        transform: translateX(-50%) rotate(var(--hour-rotate, 0deg));
      }

      &:after {
        transform: translateX(-50%) rotate(var(--minute-rotate, 0deg));
      }
    }

    &-txt {
      font-family: $mcr;
      font-size: 24px;
      line-height: normal;
      color: $cp1;
    }
  }

  &__name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 18px 0;
    font: 36px/1 $mcs;
    text-transform: uppercase;
    text-align: center;
    color: $cp1;

    figure {
      width: 41px;
      height: auto;
    }
  }
}