@use '../base/variables' as *;
@use '../base/variables-special' as *;

.combo-2 {
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 100%;

  @media (min-width: $screen-xs) {
    flex-direction: row;
  }

  @media (min-width: $screen-sm) {
    width: 880px;
  }

  &-f {
    flex: 1 0 0;

    &--1 {
      img {
        border-radius: 20px 20px 0 0;

        @media (min-width: $screen-xs) {
          border-radius: 20px 0 0 20px;
        }
      }
    }

    &--2 {
      img {
        border-radius: 0 0 20px 20px;

        @media (min-width: $screen-xs) {
          border-radius: 0 20px 20px 0;
        }
      }
    }

    &__fc {
      margin-top: 5px;
      font: 14px/19px $basr;
      word-break: break-word;

      @media (min-width: $screen-xs) {
        padding: 0 12px;
      }

      span {
        font-family: $bass;
      }
    }
  }
}

* + .combo-2 {
  margin-top: 32px;
}

.voc-d span.paywall {
  .combo-2 {
    margin-bottom: 40px;
  }
}