@use '../base/variables' as *;

.v-n-deco-accents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
  height: 60px;
  margin: 52px 0;
  
  span {
    font-family: $atl;
    font-size: 100px;
    line-height: 42px;
    letter-spacing: -2px;
    color: $cp1;
  }
}