@use '../base/variables'as *;

.doc-prf {
  position: relative;
  overflow: hidden;

  &__c {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
  }

  &__inf {
    position: relative;
    width: 100%;
    max-width: 262px;
  }

  &__cite {
    padding: 24px 0 18px;
    font: 24px/28px $ads;
    letter-spacing: -.72px;
    text-align: center;
    border-bottom: 1px solid $cp1;
  }

  &__txt {
    padding: 18px 0 26px;
    font: 16px/22px $mcr;
    letter-spacing: -0.48px;
    text-align: center;
    border-bottom: 1px solid $cp1;
  }

  &__media {
    position: relative;
    max-width: 295px;
    height: 524px;
    border-radius: 2px;

    &:hover {
      &:before {
        transform: translate(5px, 5px);
      }

      .doc-prf__video {
        transform: translate(-5px, -5px);
      }
    }

    &:before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: $cp1;
      border-radius: 2px;
      z-index: 1;
      transition: transform 0.3s;
    }

    .n-btn-ply {
      position: absolute;
      bottom: 28px;
      left: 20px;
      z-index: 3;
    }
  }

  &__video {
    position: relative;
    transition: transform 0.3s;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
