@use '../base/variables' as *;
@use '../base/variables-custom' as *;

.v-n-drp-c {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.v-n-drp {
  position: relative;
  width: 100%;

  &.is-open {
    .v-n-drp {
      &__trg {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        .v-n-i {
          top: 0;
          rotate: -90deg;
        }
      }

      &__opts {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
      }
    }
  }

  &__lbl {
    display: block;
    margin-bottom: 8px;
    font: 12px/1 $mcr;
  }

  &__trg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
    padding: 0 10px;
    gap: 8px;
    font: 14px/1 $mcs;
    color: $nc1;
    background: $nc2;
    border-radius: 2px;

    .v-n-i {
      position: relative;
      top: 1px;
      rotate: 90deg;
      transition: rotate 0.3s ease;

      svg {
        width: 5px;
      }
    }
  }

  &__opts {
    position: absolute;
    width: 100%;
    border: 1px solid $nc2;
    border-radius: 0 0 2px 2px;
    background: $cb2;
    opacity: 0;
    transform: translateY(-5px);
    pointer-events: none;
    transition: opacity .2s ease, transform .2s ease;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);

    li {
      width: 100%;

      &.is-active {
        button {
          color: $cb2;
          background: $nc1;
          transition: unset;
        }
      }
    }

    button {
      width: 100%;
      font: 12px/1 $mcr;
      background: $cb2;
      padding: 10px 10px;
      transition: opacity 0.3s ease, background 0.3s ease;

      &:hover {
        color: $cb2;
        background: $nc1;
        opacity: .5;
      }
    }
  }
}