@use '../abstracts' as *;

.v-n-dvd {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

@media (any-pointer: coarse) {
  .v-n-dvd {
    touch-action: pan-y;
    user-select: none;
    -webkit-user-select: none;
  }
}

@media (any-pointer: fine) {
  .v-n-dvd {
    touch-action: auto;
    user-select: auto;
    -webkit-user-select: auto;
  }
}

.v-n-dvd-ep {
  flex: 1 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  width: 100%;
  min-height: 100dvh;
  margin: 0 auto;
  padding: 85px 20px 12px;

  @media (min-width: 350px) {
    gap: 24px;
    padding: 120px 24px 24px;
  }

  @media (min-width: $screen-sm) {
    padding-inline: 72px;
    padding-bottom: 42px;
  }

  &__img-c {
    position: relative;
  }

  &__img {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    object-fit: contain;
    pointer-events: none;
    user-select: none;

    @media (max-width: $screen-xs) {
      max-width: 250px;
    }

    @media (max-width: $screen-xxs) {
      max-width: 200px;
    }

    @media (max-width: 330px) {
      max-width: 170px;
    }

    @media (min-width: $screen-xs) and (min-height: 700px) {
      max-width: 200px;
    }

    @media (min-width: $screen-xs) and (min-height: 750px) {
      max-width: 250px;
    }

    @media (min-width: $screen-xs) and (min-height: 850px) {
      max-width: 350px;
    }

    @media (min-width: $screen-xs) and (min-height: 1000px) {
      max-width: 450px;
    }
  }

  &__inf-c {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 350px;
    width: 100%;
    margin: 0 auto;

    @media (min-width: 350px) {
      gap: 16px;
    }

    @media (min-width: $screen-xs) {
      max-width: 450px;
    }
  }

  &__t-c {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__n {
    width: 48px;
    height: 48px;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__t {
    max-width: 313px;
    width: 100%;
    font: 24px/116% $ads;
  }

  &__arr {
    position: absolute;
    top: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border: 1px solid $cb1;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: opacity .2s ease, transform .2s ease;
    z-index: 10;

    @media (min-width: $screen-xs) {
      width: 44px;
      height: 44px;
    }

    svg {
      width: 12px;
      height: 12px;

      @media (min-width: $screen-xs) {
        width: 18px;
        height: 18px;
      }
    }

    path {
      fill: none;
      stroke: $cb1;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 2;
    }

    @media (hover: hover) {
      &:hover:not(:disabled) {
        opacity: .7;
      }
    }

    &:disabled,
    &.is-hidden {
      opacity: 0;
      pointer-events: none;
    }

    &--p {
      left: 16px;

      @media (min-width: $screen-sm) {
        left: 32px;
      }
    }

    &--n {
      right: 16px; 

      @media (min-width: $screen-sm) {
        right: 32px;
      }
    }
  }

  .v-ply {
    &.is-empty {
      opacity: .55;
    }

    &__b {
      &:disabled {
        cursor: not-allowed;
        opacity: .55;
      }

      &:before {
        border-color: $cb1;
      }
    }

    #icon-play,
    #icon-pause {
      fill: $cb1;
    }

    &__t {
      display: none;
    }

    &__v {
      progress::-webkit-progress-value {
        background-color: $ncp1;
      }

      progress::-moz-progress-bar {
        background-color: $ncp1;
      }
    }

    .v-asn__i {
      background: $ncp1;
    }

    &__p {
      color: $cb1;
    }
  }

  &__p {
    display: none;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    align-self: center;
    width: 100%;
    font: 16px/150% $adl;
    overflow: hidden;

    @media (min-width: $screen-xs) {
      display: -webkit-box;
    }

    @media (min-width: 750px) {
      width: 680px;
    }
  }

  .v-btn-c {
    margin-top: 8px;

    @media (min-width: 400px) {
      margin-top: 32px;
    }
  }
  
  .v-btn {
    align-self: center;
    min-width: 172px;
    background: $cb1;

    &:hover {
      background: $ncp1;
    }
  }
}
