@use '../abstracts' as *;

.v-n-dvd-nav {
  position: absolute;
  top: 0;
  width: 100vw;
  background: $cb1;
  z-index: 10;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: $screen-sm) {
    top: 32px;
    padding: 0 40px;
    background: transparent;
  }

  &.is-fixed {
    position: fixed;
    top: 0;
    transform: translateY(52px);
    background: $cb1;
    transition: transform .3s ease;

    @media (min-width: $screen-xs) {
      transform: translateY(60px);
    }

    li {
      &.is-active {
        button {
          span {
            color: $ncp1;
          }
        }
      }
    }

    button {
      span {
        color: $cb2;
      }

      svg {
        path {
          fill: none;
          stroke: $ncp1;
        }
      }
    }
  }

  ul {
    display: flex;
    align-items: center;
    gap: 36px;
    min-height: 32px;
    margin: 0 auto;

    @media (min-width: $screen-sm) {
      justify-content: space-between;
      gap: 0;
      min-width: auto;
      max-width: 980px;
      width: 100%;
    }
  }

  li {
    flex: 1 0 auto;

    &:first-child {
      @media (max-width: $screen-sm) {
        padding-left: 30px;
      }
    }

    &:last-child {
      @media (max-width: $screen-sm) {
        padding-right: 30px;
      }
    }

    &.is-disabled {
      pointer-events: none;

      button {
        svg {
          position: absolute;
          top: 5px;
          clip-path: inset(0 100% 0 0);
          width: 105px;
          animation: sprayReveal 0.5s ease-out forwards;

          path {
            fill: none;
            stroke: $ncp1;

            @media (min-width: $screen-sm) {
              fill: none;
              stroke: $cb2;
            }
          }
        }

        @keyframes sprayReveal {
          to {
            clip-path: inset(0 0% 0 0);
          }
        }
      }

      // Escalonamiento de la animacion desde el primer disabled al ultimo que haya
      @for $i from 4 through 7 {
        &:nth-of-type(#{$i}) button svg {
          animation-delay: #{0.2s * $i};
        }
      }
    }

    &.is-active {
      button {
        span {
          color: $ncp1;

          @media (min-width: $screen-sm) {
            color: $cb2;
          }
        }
      }
    }
  }

  button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity .3s ease;

    &:hover {
      opacity: .7;
    }

    &:disabled {
      cursor: default;
    }

    span {
      font: 16px/1 $mcs;
      text-transform: uppercase;
      color: $cb2;

      @media (min-width: $screen-sm) {
        color: $cb1;
      }
    }
  }
}
