@use '../base/variables' as *;
@use '../base/variables-special' as *;

.grid-gallery {
  &__c {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 14px 20px;
    margin: 114px 0 36px;

    @media (min-width: 550px) {
      grid-template-columns: repeat(7, 1fr);
    }

    @media (min-width: $screen-xs) {
      grid-template-columns: repeat(11, 1fr);
    }

    @media (min-width: $screen-sm) {
      grid-template-columns: repeat(15, 1fr);
    }
  }

  &-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity .3s;

    &:hover {
      opacity: .7;
    }

    img {
      object-fit: cover;
      width: 45px;
      height: 65px;
      border-radius: 2px;
    }

    &:nth-last-child(3) {
      @media (min-width: 550px) and (max-width: $screen-xs) {
        grid-column-start: 4;
      }
    }

    &:nth-last-child(6) {
      @media (min-width: $screen-xs) and (max-width: $screen-sm) {
        grid-column-start: 4;
      }
    }
  }
    
  &-feature {
    grid-column: 1 / span all;
    grid-row: 1 / span all;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    height: 224px;
    margin-top: -81px;
    opacity: 1;
    transition: opacity .3s ease;

    @media (min-width: $screen-xs) {
      grid-column: 4 / span 5;
      grid-row: 1 / span 2;
      gap: 8px;
    }

    @media (min-width: $screen-sm) {
      grid-column: 6 / span 5;
      grid-row: 1 / span 2;
    }
    
    &.fade-out {
      opacity: 0;
    }

    &.fade-in {
      opacity: 1;
    }

    img {
      flex: 1 0 auto;
      width: 146px;
      background: $cb7;
      border-radius: 4px;
    }

    &__info {
      font-size: 14px;
      line-height: 20px;
      color: $cb1;
    }

    &__title {
      margin-bottom: 8px;
      font-family: $bass;
      font-size: 20px;
    }

    &__subtitle {
      margin-bottom: 3px;
      font-family: $bass;
    }
  }

  .tick {
    width: 110px;
    height: 110px;
    margin-bottom: 124px;
    font-size: 64px;
    line-height: 110px;

    &:before {
      width: 124px;
      height: 124px;
      border-radius: 16px;
    }

    &-flip {
      border-radius: 12px;
    }
  }
}