@use '../base/variables' as *;
@use '../base/variables-special' as *;

.grid-gallery {
  &__c {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 14px 20px;
    margin: 114px 0 36px;

    @media (max-width: $screen-xs) {
      margin-top: 20px;
      padding: 0 25px;
    }

    @media (min-width: 550px) {
      grid-template-columns: repeat(9, 1fr);
      column-gap: 12px;
    }

    @media (min-width: $screen-xs) {
      grid-template-columns: repeat(11, 1fr);
    }

    @media (min-width: $screen-sm) {
      grid-template-columns: repeat(15, 1fr);
      column-gap: 20px;
    }
  }

  &-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity .3s;

    &:hover {
      opacity: .7;
    }

    img {
      object-fit: cover;
      width: 45px;
      height: 65px;
      border-radius: 2px;
      border: 2px solid $cb7;
      box-sizing: content-box;
    }

    &:nth-last-child(5) {
      @media (min-width: 550px) and (max-width: $screen-xs) {
        grid-column-start: 3;
      }
    }

    &:nth-last-child(6) {
      @media (min-width: $screen-xs) and (max-width: $screen-sm) {
        grid-column-start: 4;
      }
    }
  }
    
  &-feature {
    position: relative;
    grid-column: 1 / span all;
    grid-row: 1 / span all;
    display: flex;
    gap: 16px;
    height: 224px;
    opacity: 1;
    transition: opacity .3s ease;

    @media (max-width: $screen-xs) {
      height: auto;
    }

    @media (min-width: $screen-xs) {
      grid-column: 4 / span 5;
      grid-row: 1 / span 2;
      gap: 8px;
      margin-top: -81px;
      justify-content: space-between;
    }

    @media (min-width: $screen-sm) {
      grid-column: 6 / span 5;
      grid-row: 1 / span 2;
    }
    
    &.fade-out {
      opacity: 0;
    }

    &.fade-in {
      opacity: 1;
    }

    img {
      flex: 1 0 auto;
      width: 146px;
      background: $cb7;
      border-radius: 4px;

      @media (max-width: $screen-xs) {
        width: auto;
      }
    }

    &__info {
      font-size: 14px;
      line-height: 20px;
      color: $cb1;
    }

    &__title {
      margin-bottom: 8px;
      font-family: $bass;
      font-size: 20px;
    }

    &__subtitle {
      margin-bottom: 3px;
      font-family: $bass;
    }
  }

  .tick {
    width: 90px;
    height: 90px;
    margin-bottom: 32px;
    font-size: 52px;
    line-height: 90px;

    @media (min-width: $screen-xs) {
      width: 110px;
      height: 110px;
      margin-bottom: 124px;
      font-size: 64px;
      line-height: 110px;
    }

    &:before {
      width: 104px;
      height: 104px;
      border-radius: 16px;

      @media (min-width: $screen-xs) {
        width: 124px;
        height: 124px;
      }
    }

    &-flip {
      border-radius: 12px;
    }
  }

  &__stk {
    @media (max-width: $screen-xs) {
      position: sticky;
      top: 104px;
      width: 100vw;
      padding: 20px 25px;
      background: url('~@images/trama-bg.jpg');
      z-index: 1;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    }    
  }
}

.grid-gallery[data-category="songs"] {
  .grid-gallery {
    &__c {
      @media (min-width: $screen-xs) {
        margin-top: 0;
        row-gap: 25px;
      }
    }

    &-feature {
      justify-content: center;
      align-items: center;
      height: auto;
      margin-top: 0;
    }

    &-thumb {
      img {
        aspect-ratio: 1;
        height: auto;
      }
    }
  }

  .tick {
    @media (min-width: $screen-xs) {
      margin-bottom: 40px;
    }
  }

  .spotify-loader {
    width: 48px;
    height: 48px;
    border: 4px solid #ccc;
    border-top-color: #353535;
    border-radius: 50%;
    animation: spin 0.9s linear infinite;
    position: absolute;
    display: none;
  }

  @keyframes spin {
    to { rotate: 360deg; }
  }
}