@use '../base/variables'as *;

.v-n-img-det {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 52px;
  margin-bottom: 36px;

  @media (min-width: $screen-xs) {
    gap: 42px;
    margin-top: 88px;
    margin-bottom: 56px;
  }

  @media (min-width: $screen-sm) {
    flex-direction: row;
    width: 964px;
    margin-left: calc((-964px / 2) + 50%);
  }

  @media (min-width: 1170px) {
    width: 1106px;
    margin-left: calc((-1106px / 2) + 50%);
  }

  .v-a-img-c {
    .v-a-lnk {
      &:before {
        content: "";
        position: absolute;
        pointer-events: none;
        background-repeat: no-repeat;
        bottom: 100%;
        left: 0;
        width: 120px;
        height: 32px;
        background-image: url("https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/26/anunciosmasvistoregimenirani/images/sumario-arriba.webp");
      }
    }
    
    .v-fc {
      &__t {
        color: $cb9;
        text-transform: uppercase;
      }
    }
  }

  &__d {
    position: relative;
    align-self: start;
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
    width: 100%;
    padding: 12px 0;
    border-top: 1px solid $cb1;
    border-bottom: 1px solid $cb1;

    @media (min-width: $screen-sm) {
      flex-direction: column;
      max-width: 213px;
    }

    &:after {
      content: "";
      position: absolute;
      pointer-events: none;
      background-repeat: no-repeat;
      top: 100%;
      right: 0;
      width: 230px;
      height: 32px;
      background-image: url("https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/26/anunciosmasvistoregimenirani/images/sumario-abajo.webp");

      @media (min-width: $screen-sm) {
        left: 0;
        right: unset;
      }
    }
  }

  &__t {
    font-family: $mcs;
    font-size: 16px;
    line-height: 125%;
    color: $cb9;
    text-transform: uppercase;
  }

  &__p {
    font-family: $mcr;
    font-size: 16px;
    line-height: 125%;
    color: $cb9;
  }

  &__fig {
    flex: 1 0 auto;
    aspect-ratio: 1;
    width: 104px;
    border-radius: 6px;
    overflow: hidden;
  }

  &__img {
    object-fit: cover;
  }
}