@use '../base/variables' as *;

.v-n-lad {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  width: 100%;
  max-width: 190px;
  margin: 110px auto 60px;
  font-family: $axs;
  font-size: 36px;
  line-height: 33px;
  letter-spacing: -.72px;
  text-transform: uppercase;
  text-align: center;
  color: $cb9;

  &:before {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background: $cp1;
  }
}