@use '../base/variables' as *;

.v-c-cmp {
  &:has(.v-cmp-suh) {
    display: flex;
    gap: 24px;
    margin: 36px 0;

    @media (min-width: 375px) {
      gap: 30px;
      margin: 56px 0;
    }
  }

  .v-cmp-suh {
    position: relative;
    max-width: 348px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 22px;
    line-height: 26px;

    @media (min-width: 375px) {
      font-size: 28px;
      line-height: 32px;
    }

    &-line {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 1px;
      height: 100%;
      background: $cp3;

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: -1px;
        width: 4px;
        height: 4px;
        background: $cp3;
        transform: rotate(45deg);
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }

      &--01 {
        top: 50%;
        transform: translateY(-50%);
        height: 55%;
      }
    }
  }
}