@use '../base/variables' as *;

// Mapa con puntos popover
.n-map-pop {
  margin: 150px 0;

  &__c {
    position: relative;
    width: min(860px, 100%);
    aspect-ratio: 382 / 274;
    margin: 0 auto;

    @media (min-width: 900px) {
      width: 860px;
      margin-left: calc(-430px + 50%);
    }
  }

  &__lines {
    position: absolute;
    inset: 0;
    overflow: visible;
  }

  &__line {
    position: absolute;
    background: linear-gradient(90deg, #3c941f 0%, #2f7f1f 100%);

    &:nth-child(even) {
      background: linear-gradient(90deg, #88bf34 0%, #79ad2f 100%);
    }

    &:before {
      content:"";
      position: absolute;
      inset: 0;
      background: url("../../../assets/images/grano.png");
      background-size: contain;
      background-repeat: repeat;
      mix-blend-mode: overlay;
      opacity: 0.5;
      filter: contrast(120%) brightness(90%);
      pointer-events: none;
    }

    &--1 { 
      top: 0%; left: 13.87%; width: 52.88%; height: 12.41%; 
    }
    &--2 { 
      top: 12.41%; left: 13.87%; width: 86.13%; height: 12.77%; 
    }
    &--3 { 
      top: 25.18%; left: 29.32%; width: 62.57%; height: 12.77%; 
    }
    &--4 { 
      top: 37.96%; left: 29.32%; width: 48.95%; height: 12.04%; 
    }
    &--5 { 
      top: 50%; left: 24.61%; width: 50.64%; height: 12.41%; 
      &:after { content: ""; position: absolute; left: 129.96%; top: -18.59%; width: 14.44%; height: 80%; background: linear-gradient(90deg, #3c941f 0%, #2f7f1f 100%); }
    }
    &--6 { 
      top: 62.41%; left: 24.61%; width: 56.81%; height: 12.41%; 
    }
    &--7 { 
      top: 74.82%; left: 24.61%; width: 46.86%; height: 12.41%; 
    }
    &--8 { 
      top: 87.23%; left: 31.15%; width: 17.02%; height: 12.77%; 
      &:after { content: ""; position: absolute; left: -183.08%; top: 14.29%; width: 69.23%; height: 68.57%; background: linear-gradient(90deg, #88bf34 0%, #79ad2f 100%); }
    }
  }

  &__dots {
    position: absolute;
    inset: 0;
    overflow: visible;
  }

  &__dot {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid $cb1;
    background: $cb2;
    cursor: pointer;
    z-index: 1;
    transform: translate(-50%, -50%);

    @media (min-width: 475px) {
      width: 15px;
      height: 15px;
    }

    @media (min-width: $screen-xs) {
      width: 20px;
      height: 20px;
      border-width: 3px;
    }

    @media (min-width: 900px) {
      width: 30px;
      height: 30px;
      border-width: 6px;
    }

    &[aria-expanded=true] {
      background: #3ecf10;
    }

    &--1 { top: 47%; left: 48%; anchor-name: --dot1; }   // Madrid
    &--2 { top: 47%; left: 51%; anchor-name: --dot2; }   // Madrid
    &--3 { top: 47%; left: 54%; anchor-name: --dot3; }   // Madrid

    &--4 { top: 87%; left: 48%; anchor-name: --dot4; }   // Málaga
    &--5 { top: 78%; left: 39%; anchor-name: --dot5; }   // Sevilla
    &--6 { top: 24%; left: 97%; anchor-name: --dot6; }   // Barcelona

    &--7 { top: 82%; left: 37%; anchor-name: --dot7; }   // Sevilla
    &--8 { top: 82%; left: 41%; anchor-name: --dot8; }   // Sevilla

    &--9 { top: 3%; left: 25%; anchor-name: --dot9; }   // Lugo
    &--10 { top: 20%; left: 95%; anchor-name: --dot10; } // Barcelona
    &--11 { top: 51%; left: 53%; anchor-name: --dot11; } // Madrid

    &--12 { top: 5%; left: 35%; anchor-name: --dot12; } // Oviedo
    &--13 { top: 16%; left: 67%; anchor-name: --dot13; } // Pamplona
    &--14 { top: 1%; left: 64%; anchor-name: --dot14; } // San Sebastián
    &--15 { top: 8%; left: 62%; anchor-name: --dot15; } // Bilbao

    &--16 { top: 51%; left: 49%; anchor-name: --dot16; } // Madrid
    &--17 { top: 6%; left: 16%; anchor-name: --dot17; } // A Coruña

    &--18 { top: 23%; left: 76%; anchor-name: --dot18; } // Zaragoza
    &--19 { top: 27%; left: 77%; anchor-name: --dot19; } // Zaragoza

    &--20 { top: 1%; left: 34%; anchor-name: --dot20; } // Gijón
    &--21 { top: 84%; left: 55%; anchor-name: --dot21; } // Granada

    &--22 { top: 3%; left: 49%; anchor-name: --dot22; } // Santander
    &--23 { top: 17%; left: 50%; anchor-name: --dot23; } // Burgos

    &--24 { top: 98%; left: 40%; anchor-name: --dot24; } // Cádiz
    &--25 { top: 72%; left: 44%; anchor-name: --dot25; } // Córdoba

    &--26 { top: 85%; left: 61%; anchor-name: --dot26; } // Almería
    &--27 { top: 94%; left: 6%; anchor-name: --dot27; } // Las Palmas
  }

  &__card {
    position: absolute;
    background: transparent;
    box-shadow: 5px 5px 0px 0px rgba($cb1,1);
    top: calc(anchor(top) - 110px);
    opacity: 0;
    scale: .96;
    transition: opacity .25s ease, scale .25s ease;

    @media (max-width: $screen-xs) {
      position: fixed;
      position-anchor: none !important;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      transform: none;
    }

    &:popover-open {
      opacity: 1;
      scale: 1;
    }
    
    &.is-left {
      @media (min-width: $screen-xs) {
        translate: calc(-100% - 15px) 0;
        left: anchor(left);
      }
    }

    &.is-right {
      @media (min-width: $screen-xs) {
        translate: 15px 0;
        left: anchor(right);
      }
    }

    @for $i from 1 through 4 {
      &#pop-#{$i} {
        position-anchor: --dot#{$i};
      }
    }

    &::backdrop {
      display: none;
    }

    &-c {
      position: relative;
      display: flex;
      flex-direction: column;
      width: min(92vw, 360px);
      border: 6px solid $cb1;
      background: $cb2;
      overflow: hidden;

      @media (min-width: $screen-xs) {
        width: 350px;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 23px;
        height: 23px;
        border: 6px solid $cb1;
        border-left: 0;
        border-bottom: 0;
        border-radius: 0 100% 0 0;
      }
    }

    &-close {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 33px;
      height: 33px;
      z-index: 1;
    }

    &-logo {
      position: relative;
      margin-top: 28px;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 6px;
        background: $cb1;
      }

      img {
        position: relative;
        margin: 0 auto;
        padding: 19px;
        width: 124px;
        height: 124px;
        aspect-ratio: 1;
        background: $cb2;
        border: 6px solid $cb1;
        box-sizing: content-box;
        border-radius: 100%;
      }
    }

    &-data {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 6px;
      padding: 0 22px;
      font-family: $mcr;
      font-size: 16px;
      line-height: 1;

      > * {
        padding: 16px 0;
        border-top: 1px solid $cb6;

        &:nth-child(-n+2) {
          border-top: 0;
        }
      }

      dt {
        font-family: $mcs;
      }

      dd {
        text-transform: uppercase;
      }
    }

    &-stadium {
      align-self: flex-end;
      transform: translateX(-50px);
      width: 125px;
      height: auto;
    }
  }
}

@starting-style {
  .n-map-pop__card:popover-open {
    opacity: 0;
    scale: .96;
  }
}