@use '../base/variables' as *;

.v-n-mth {
  &--12 {
    margin-top: 150px;

    .v-n-scrolly {
      &:has(.step[data-step="2"].is-active) {
        .bg-grp--2 {
          opacity: 1;
        }
      }

      &__bg {
        .bg-item {
          &[data-bg="0"] {
            img {
              max-width: 1080px;
              height: 80%;
              object-fit: contain;
              padding: 0 40px;
            }
          }

          &[data-bg="1"] {
            .bg-c {
              justify-content: space-between;
              column-gap: 15%;
            }

            .bg-grp {
              position: relative;
              display: flex;
              align-items: center;
              width: 100%;
              height: 100%;
              justify-content: space-between;
              column-gap: 15%;
              opacity: 0;
              transition: opacity .3s ease;

              &:first-child {
                opacity: 1;
              }

              &:not(:first-child) {
                position: absolute;
                top: 0;
                left: 0;
              }
            }

            .bg-img {
              &--1 {
                width: 30%;
              }

              &--2 {
                width: 30%;
              }
            }
          }
        }
      }

      &__steps {
        .step {
          .v-d-p {
            width: 100%;
            max-width: 350px;
            padding: 20px;
            background: $cb2;
            border: 1px solid $cb1;
          }
        }
      }
    }

    .v-n-mth__c {
      display: flex;
      flex-direction: column-reverse;
      gap: 40px;

      @media (min-width: 1100px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10%;
        width: 1100px;
        margin-left: calc((-1100px / 2) + 50%);
        transform: translateX(-10%);
      }

      figure {
        @media (max-width: 1099px) {
          transform: translateX(-10%);
        }
      }

      .v-d-p {
        width: 100%;

        @media (min-width: 1100px) {
          max-width: 305px;
        }
      }
    }
  }
}