@use '../base/variables'as *;

.v-n-mth {
  &--17 {
    position: relative;
    margin-top: -24px;

    .gaviota-over-c {
      position: absolute;
      left: 50%;
      width: 100vw;
      min-height: 100dvh;
      margin-left: -50vw;
      z-index: 5;
      overflow: hidden;

      @media (min-width: 1900px) {
        left: unset;
        width: 1900px;
        margin-left: calc((-1900px / 2) + 50%);
      }
    }

    .gaviota-over {
      will-change: transform;
      z-index: 5;
      
      img {
        width: 300px;
        animation: gaviotaFloat 4.5s ease-in-out infinite alternate;

        @media (min-width: 800px) {
          width: 500px;
        }
      }
    }

    .v-d-p {
      position: absolute;
      z-index: 1;
      color: $cb2;
    }

    .v-n-mth__c {
      position: relative;
      width: 100vw;
      overflow: hidden;
      left: 50%;
      transform: translateX(-50%);

      &--1,
      &--2 {
        .v-d-p {
          top: 0;
          max-width: 340px;
          width: 100%;

          @media (min-width: 801px) {
            left: 50%;
            transform: translateX(-100%);
          }

          @media (min-width: 1200px) {
            transform: translateX(-150%);
          }
        }
      }

      &--1 {
        .v-d-p {
          @media (max-width: 800px) {
            right: 0;
            padding: 0 20px;
          }
        }
      }

      &--2 {
        .v-d-p {
          @media (max-width: 800px) {
            left: 0;
            padding: 0 20px;
          }
        }
      }

      &--3 {
        .v-d-p {
          left: 50%;
          top: 0;
          transform: translateX(-50%);
          width: 100%;
          max-width: 649px;
          padding: 0 20px;
        }
      }

      .v-n-mth-fig {
        position: relative;
        width: 500px;
        margin-left: calc((-500px / 2) + 50%);
        background: $cb1;

        @media (min-width: 501px) {
          width: 800px;
          margin-left: calc((-800px / 2) + 50%);
        }

        @media (min-width: 801px) {
          left: 50%;
          width: 100vw;
          margin-left: -50vw;
        }

        @media (min-width: 1900px) {
          left: unset;
          width: 1900px;
          margin-left: calc((-1900px / 2) + 50%);
        }
      }
    }
  }
}