@use '../base/variables' as *;

.v-n-mth {
  &--2 {
    margin-bottom: 0;

    @media (min-width: $screen-xs) {
      margin-top: 80px;
      margin-bottom: 160px;
    }

    > p {
      margin-bottom: 32px;

      @media (min-width: $screen-xs) {
        margin-bottom: 64px;
      }
    }

    .v-n-mth__fig {
      &--1 {
        display: none;

        @media (min-width: $screen-xs) {
          display: block;
          width: 100vw;
          max-width: 1400px;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &--2 {
        display: block;

        @media (min-width: $screen-xs) {
          display: none;
        }
      }

      &--3 {
        display: block;

        @media (min-width: $screen-xs) {
          display: none;
        }
      }
    }

    .v-n-mth__c {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 32px;

      > p {    
        @media (min-width: $screen-xs) {
          position: absolute;
          top: 32.5%;
          left: 50%;
          max-width: 300px;
          width: 100%;
          transform: translateX(-50%);
          color: $cb2;
        }
      }
    }
  }
}