@use '../base/variables' as *;

.v-n-mth {
  &--11 {
    margin-top: 80px;

    > .v-d-p {
      display: block;
      margin-top: 64px;

      @media (min-width: $screen-xs) {
        display: none;
      }
    }

    .v-n-mth__c {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .v-d-p-c {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 80px;
        z-index: 3;
        max-width: 231px;
        text-align: center;

        @media (min-width: $screen-xs) {
          max-width: 100%;
          text-align: left;
        }

        .v-d-p {
          &--2 {
            display: none; 

            @media (min-width: $screen-xs) {
              display: block;
            }
          }
        }
      }

      figure {
        position: relative;
        width: 170%;

        @media (min-width: 800px) {
          width: 210%;
        }

        @media (min-width: $screen-sm) {
          width: 250%;
        }

        @media (min-width: 1400px) {
          width: 1860px;
        }

        .v-n-img {
          &--1 {
            position: relative;
            z-index: 1;
          }
          
          &--2 {
            position: absolute;
            bottom: 0;
            z-index: 2;
            transform-origin: top center;
          }
        }
      }
    }
  }
}