@use '../base/variables' as *;

.v-n-mth {
  &--11 {
    margin-top: 80px;

    > .v-d-p {
      position: relative;
      z-index: 1;
      margin-top: 64px;

      span {
        display: block;
        margin-bottom: 24px;

        @media (min-width: $screen-xs) {
          display: none;
        }
      }
    }

    .v-n-mth__c {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw;
      overflow: hidden;
      left: 50%;
      transform: translateX(-50%);

      .v-d-p-c {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 80px;
        z-index: 4;
        max-width: 231px;
        text-align: center;

        @media (min-width: $screen-xs) {
          max-width: 609px;
          text-align: left;
        }

        .v-d-p {
          &--2 {
            display: none; 

            @media (min-width: $screen-xs) {
              display: block;
            }
          }
        }
      }

      figure {
        position: relative;
        width: 130%;

        @media (min-width: 1400px) {
          width: 1860px;
        }

        .v-n-img {
          &--1 {
            position: relative;
            z-index: 2;
          }
          
          &--2,
          &--3 {
            position: absolute;
            bottom: 0;
            z-index: 2;
            transform-origin: center center;
          }

          &--2 {
            z-index: 3;
          }

          &--3 {
            z-index: 1;
          }
        }
      }
    }
  }
}