@use '../base/variables' as *;

.v-n-mth {
  &--10 {
    margin-top: -25px;

    .v-n-mth__c {
      position: relative;

      &--1 {
        .v-d-p-c {
          position: absolute;
          top: -220px;
          z-index: 1;

          @media (min-width: 400px) {
            top: -320px;
          }

          @media (min-width: 500px) {
            top: -320px;
          }

          @media (min-width: 699px) {
            top: -350px;
          }

          @media (min-width: 699px) {
            top: -100px;
          }

          @media (min-width: 900px) {
            top: -140px;
          }

          .v-d-p {
            color: $cb2;
          }
        }

        .v-n-mth-bbl {
          position: absolute;
          top: 53%;
          left: 20px;
          max-width: 210px;
          width: 100%;
          z-index: 1;

          @media (min-width: 360px) {
            top: 49%;
          }

          @media (min-width: 550px) {
            top: 46%;
            left: 32%;
          }

          @media (min-width: $screen-xs) {
            top: 44%;
            left: 15%;
          }

          @media (min-width: 750px) {
            left: 8%;
          }

          @media (min-width: 900px) {
            top: 50%;
            left: 2%;
          }

          @media (min-width: 1200px) {
            left: 2%;
          }

          @media (min-width: 1200px) {
            left: -8%;
          }

          @media (min-width: 1400px) {
            left: -18%;
          }

          @media (min-width: 1600px) {
            left: -30%;
          }

          img {
            width: 30px;
            margin: 0px auto;
            transform: translate(30px, 4px) rotate(10deg);
            
            @media (min-width: 550px) {
              width: 50px;
              transform: translate(-30px, 15px) rotate(10deg);              
            }
          }
        }

        > .v-d-p {
          display: none;
          position: absolute;
          top: 52%;
          max-width: 335px;
          width: 100%;
          z-index: 1;

          @media (min-width: 1100px) {
            display: block;
            left: 82%;
          }

          @media (min-width: 1300px) {
            left: 95%;
          }
        }

        figure {
          padding-top: 160px;
          background: #020202;

          @media (min-width: 380px) {
            padding-top: 120px;
          }

          @media (min-width: 500px) {
            padding-top: 75px;
          }

          @media (min-width: $screen-xs) {
            padding-top: 0;
          }
        }
      }

      &--2 {
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: relative;
        left: 50%;
        width: 100vw;
        margin-left: -50vw;

        @media (min-width: 461px) {
          display: block;
        }

        figure {
          position: absolute;

          @media (min-width: 461px) {
            position: relative;
          }
        }

        .v-d-p {
          position: relative;
          z-index: 1;
          padding: 0 20px;

          @media (min-width: 461px) {
            position: absolute;
            padding: 0;
          }

          &--1 {
            @media (min-width: 461px) {
              top: 0;
              left: 20px;
              max-width: 360px;
              padding: 0;
            }

            @media (min-width: 580px) {
              max-width: 461px;
            }

            @media (min-width: 850px) {
              left: 10%;
            }

            @media (min-width: 1100px) {
              display: none;
            }
          }

          &--2 {           
            @media (min-width: 461px) {
              top: 60%;
              left: 20px;
              max-width: 250px;
              padding: 0;
            }

            @media (min-width: 580px) {
              top: 50%;
            }

            @media (min-width: $screen-xs) {
              top: 40%;
              right: 30px;
              left: unset;
            }

            @media (min-width: 950px) {
              top: 40%;
              right: 8%;
              max-width: 250px;
            }
            
            @media (min-width: 1100px) {
              top: 10%;
              left: 14%;
              max-width: 360px;
            }
          }

          &--3 {
            @media (min-width: 461px) {
              position: relative;
              padding: 0 20px;
              max-width: 420px;
            }

            @media (min-width: 580px) {
              position: absolute;
              top: 80%;
              left: 15%;
              max-width: 280px;
              padding: 0;
            }

            @media (min-width: 850px) {
              top: 62%;
              left: 10%;
            }

            @media (min-width: 1100px) {
              top: 37%;
              left: 66%;
              max-width: 340px;
            }
          }
        }
      }
    }

    figure {
      position: relative;
      left: 50%;
      width: 100vw;
      margin-left: -50vw;

      @media (min-width: 1900px) {
        left: unset;
        width: 1900px;
        margin-left: calc((-1900px / 2) + 50%);
      }
    }

    > .v-d-p {
      position: relative;
      z-index: 1;
      max-width: 609px;
      margin-top: 24px;

      @media (min-width: 461px) {
        margin-top: 120px;
      }

      @media (min-width: 850px) {
        margin-top: 40px;
      }
      
      @media (min-width: 1100px) {
        margin-top: 0;              
        transform: translateX(-20%);
      }
    }
  }
}