@use '../base/variables'as *;

.v-n-mth {
  &--17 {
    margin-top: -24px;

    .v-n-mth-fig {
      position: relative;
      left: 50%;
      width: 100vw;
      margin-left: -50vw;

      @media (min-width: 1900px) {
        left: unset;
        width: 1900px;
        margin-left: calc((-1900px / 2) + 50%);
      }
    }  

    .v-d-p {
      position: absolute;
      z-index: 1;
      color: $cb2;
    }

    .v-n-mth__c {
      position: relative;

      &--1,
      &--2 {
        .v-d-p {
          top: 0;
          max-width: 340px;
          width: 100%;

          @media (min-width: 800px) {
            left: 50%;
            transform: translateX(-100%);
          }

          @media (min-width: 1200px) {
            transform: translateX(-150%);
          }
        }
      }

      &--3 {
        .v-d-p {
          left: 50%;
          top: 0;
          transform: translateX(-50%);
          width: 100%;
          max-width: 609px;
        }
      }
    }
  }
}