@use '../base/variables' as *;

.v-cmp-ply {
  margin-top: -24px;

  .v-ply__t {
    display: none;
  }

  .v-ply__w--2 {
    margin-top: 16px;
  }
}

// .n-aud {
//   &__c {
//     display: flex;
//     flex-direction: column;
//     gap: 24px;
//     padding: 20px 0;
//     border-top: 1px solid $cp1;
//     border-bottom: 1px solid $cp1;

//     @media (min-width: $screen-sm) {
//       flex-direction: row;
//       align-items: center;
//       gap: 62px;
//       width: 954px;
//       margin-left: calc((-954px / 2) + 50%);
//       padding: 54px 0;
//       padding-left: 98px;
//     }
//   }

//   &__txt {
//     font: 28px/32px $mcs;
//     text-transform: uppercase;
//     color: $cp1;
//   }

//   &__ply {
//     flex: 1 0 auto;
//     display: flex;
//     align-items: center;
//     gap: 18px;
//     margin-left: 18px;

//     @media (min-width: $screen-sm) {
//       margin-left: 0;
//     }

//     &-wave {
//       display: flex;
//       flex-direction: column;
//       gap: 6px;
//       width: 100%;
//       cursor: pointer;

//       @media (min-width: $screen-xs) {
//         transform: translateY(14px);
//       }

//       .is-desktop {
//         display: none;

//         @media (min-width: $screen-xs) {
//           display: block;
//         }
//       }

//       .is-mobile {
//         display: block;

//         @media (min-width: $screen-xs) {
//           display: none;
//         }
//       }
//     }

//     &-time {
//       display: flex;
//       justify-content: space-between;
//       width: 100%;
//     }
//   }
// }