@use '../base/variables' as *;

$colorTextos: $cb7;
$colorFileteSuperior: $cb7;

// -------------------------------
// CREDITOS (Narwhal)
// -------------------------------

.voc-c-container:has(.v-c-crd) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 82px auto 0;

  &:before {
    background: $colorFileteSuperior;
    margin-bottom: 20px;
  }

  &:after {
    content: none;
  }
}

.voc-c-container {
  .v-c-crd {
    text-align: center;

    @if $colorTextos != $cb1 {
      > span {
        color: $colorTextos;
      }
    }

    ul {
      padding-left: 0;

      li {
        @if $colorTextos != $cb1 {
          color: $colorTextos;
        }

        b {
          margin-left: 0;
        }
      }
    }
  }
}