@use '../base/variables' as *;

// -------------------------------
// BARRA AUTOR/AUTORES
// -------------------------------

.voc-article.voc-article--detail-visual {
  .voc-author {
    &__item {
      &--1 {
        &:before {
          content: none;
        }
      }
    }

    &__name {
      font-family: $abcdb;
      font-size: 17px;
      line-height: normal;
      text-transform: none;
      color: $cb7;
    }
  }
}