@use '../base/variables'as *;

.parallax-video-big {
  position: relative;
  width: 100vw;
  max-width: 1440px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  will-change: clip-path;
  margin-top: 60px;
  margin-bottom: 60px;

  @media (max-width: $screen-xs) {
    height: 50vh;

    video {
      object-fit: cover;
      height: 100%;
    }
  }
}

// .video-mask {
//   position: relative;
//   width: 100vw;
//   height: 100vh;
//   left: 50%;
//   transform: translateX(-50%);
//   overflow: hidden;

//   video {
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 100%;
//     max-width: 1440px;
//     aspect-ratio: 16/9;
//     object-fit: cover;
//   }
// }

// .parallax-container {
//   position: relative;
//   left: 50%;
//   transform: translateX(-50%);
//   width: 100vw;
//   max-width: 1440px;

//   aspect-ratio: 16/9;

//   margin-top: 60px;
//   margin-bottom: 60px;

//   overflow: hidden;
// }

// .parallax-video {
//   width: 100%;
//   height: 100%;
// }

// /* contenedor que crea jarallax */
// .parallax-video .jarallax-container {
//   width: 100%;
//   height: 100%;
// }

// .parallax-container {
//   position: relative;
//   height: 60vh;
// }

// .parallax-video {
//   height: 100%;
// }