@use '../base/variables' as *;

.parallax {
  position: relative;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
  overflow: hidden;

  &--01 {
    .parallax__img {
      background-image: url("../../../assets/images/grafiti.jpg");
    }
  }

  &__img {
    aspect-ratio: 16 / 9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    will-change: transform;
  }

  .v-fc {
    position: relative;
    max-width: 1010px;
    margin: 8px auto 0;
    padding-top: 8px;
    padding-right: 20px;
    background: $cb2;
    z-index: 1;
  }
}