.parallax {
  position: relative;
  left: 50%;
  width: 100vw;
  margin-left: -50vw;

  &--01 {
    .parallax__img {
      background-image: url("../../../assets/images/grafiti.jpg");
    }
  }

  &__img {
    aspect-ratio: 16 / 9;
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    // @media only screen and (max-device-width: 1366px) {
    //   background-attachment: scroll;
    // }

    @media (prefers-reduced-motion: reduce) {
      background-attachment: initial;
    }
  }

  .v-fc {
    max-width: 1010px;
    margin: 8px auto 0;
    padding-right: 20px;
  }
}