@use '../base/variables' as *;

.v-n-pm {
  display: grid;
  margin-top: 82px;
  margin-bottom: 82px;
  position: relative;
  left: 50%;
  width: 100vw;
  max-width: 1440px;
  margin-left: max(-50vw, -720px);
  height: 75vh;
  max-height: 820px;

  > * {
    grid-area: 1/1;
  }
}

.v-n-pm-lines {
  position: absolute;
  inset: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: visible;

  &__segment {
    stroke: #ff6441;
    stroke-width: 1;
  }

  &__diamond {
    fill: #ff6441;
  }
}

@media (max-width: $screen-xs) {
  .v-n-pm-lines {
    display: none;
  }

  .v-n-pm-statues {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 0;
  }

  .v-n-pm-statues-i {
    position: relative;
    top: auto !important;
    align-items: center;
  }
}

.v-n-pm-map {
  position: relative;
  width: 720px;
  margin-left: 50%;
  margin-right: auto;
  overflow: hidden;

  &__img {    
    max-height: 820px;    
    object-fit: cover;
    scale: 2.1;
    transform: translate(-60px, 10px);
  }

  &__dot {
    position: absolute;
    width: 24px;
    border: 2px solid white;
    border-radius: 100%;

    &--01 {
      top: 28.5%;
      left: 30.5%;
    }

    &--02 {
      top: 60%;
      left: 18%;
    }

    &--03 {
      top: 91.3%;
      left: 16.3%;
    }
  }
}

.v-n-pm-statues {
  position: relative;
  z-index: 3;
  width: 50%;
  margin-left: 10%;
  height: 100%;
  min-height: 75vh;
}

.v-n-pm-statues-i {
  position: absolute;
  left: 0;
  display: flex;
  align-items: flex-end;
  padding-left: 10px;

  &--01 {
    .v-n-pm-statues-i {
      &__line {
        bottom: -28%;
      }
    }
  }

  &--02 {
    .v-n-pm-statues-i {
      &__line {
        bottom: -28%;
      }
    }
  }

  &--03 {
    .v-n-pm-statues-i {
      &__line {
        bottom: -28%;
      }
    }
  }

  &__img {
    flex: 0 0 auto;
    max-width: 194px;
    max-height: 175px;
    object-fit: contain;
  }

  &__inf {
    flex: 1 0 auto;
    margin-right: 12px;
    max-width: 190px;
    width: 100%;
    margin-bottom: 8px;
  }

  &__t {
    font-family: $mcs;
    font-size: 18px;
    line-height: 24px;
    color: $cp1;
    text-transform: uppercase;
  }

  &__p {
    font-family: $mcr;
    font-size: 16px;
    line-height: 22px;
  }

  &__line {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    
    &-length {
      display: block;
      width: 100%;
      height: 1px;
      background: #FF6441;
    }

    &-end {
      flex: 1 0 auto;
      display: block;
      width: 24px;
    }
  }
}