@use '../base/variables'as *;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  .header {
    &-left {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }

  .logo {
    height: 40px;
    transition: filter 0.3s ease;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 50px;

  @media (max-width: $screen-sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $screen-xs) {
    grid-template-columns: 1fr;
  }
}

.card {
  &-media {
    display: block;
    position: relative;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    cursor: pointer;
    border-radius: 4px;

    &-thumbnail,
    &-preview-video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }

    &-thumbnail {
      transition: opacity .3s ease;

      &:hover {
        opacity: .7;
      }
    }

    &-preview-video {
      opacity: 0;
      transition: opacity 0.5s ease;
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0;
  }

  &-title {
    margin: 0;
    font-size: 18px;
  }

  &-actions {
    display: flex;
    gap: 16px;

    a {
      width: 24px;
      height: 24px;
      transition: opacity .3s ease;

      &:hover {
        opacity: .7;
      }
    }
  }
}

#theme-toggle {
  background: none;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}