@use '../base/variables'as *;

.v-w {
  .v-a--d-s-1 {
    .v-a-img-c .artemis-capsule,
    .v-a-inf-c .v-a-p-t,
    .v-a-inf-c .v-a-t,
    .v-a-inf-c .v-a-s-t {
      opacity: 0;
    }
  }
}

body:has(.v-h-a) {
  .v-w {
    .v-a--d-s-1 {
      @media (max-width: $screen-sm) {
        margin-top: -146px;
      }
    }
  }
}

.v-w {
  .v-a--d-s-1 {
    display: block;
    min-height: 100dvh;
    margin-top: -98px;
    padding-top: calc(50vh - 180px);

    .v-a-img-c {
      z-index: 2;

      .artemis-capsule {
        position: relative;
        width: 190px;
        margin: 0 auto;
        rotate: 42deg;

        .artemis-media {
          position: relative;

          &:not(:first-child) {
            position: absolute;
            top: 0;
            left: 0;
          }

          &--01 {
            z-index: 4;
          }

          &--02 {
            z-index: 3;
          }

          &--03 {
            z-index: 2;
          }

          &--04 {
            z-index: 1;
          }
        }
      }
    }

    .v-a-inf-c {
      flex: 0;
      justify-content: flex-start;
      padding-bottom: 0;
      z-index: 1;

      .v-a-p-t,
      .v-a-t {
        color: $cb2;
      }

      .v-a-p-t {
        margin-top: 24px;
        font-family: $axs;
        font-size: 90px;

        @media (min-width: $screen-xs) {
          margin-top: 0;
          font-size: 110px;
        }
      }

      .v-a-t {
        position: relative;
        display: block;
        max-width: 500px;
        width: 100%;
        margin: 24px auto 0;
        font-family: $adl;
        font-size: 24px;
        line-height: 28px;
        text-transform: unset;
        text-align: center;

        @media (min-width: $screen-sm) {
          font-size: 32px;
          line-height: 36px;
        }
      }
    }

    .v-i {
      display: none;
    }
  }

  .v-d--abc {
    .v-a-s-t {
      max-width: 610px;
      width: 100%;
      margin: 160px auto 120px;
      font-family: $adl;
      font-style: italic;
      font-size: 22px;
      line-height: 30px;
      text-align: center;
      opacity: 0;
      color: $cb6;
    }
  }
}