@use '../base/variables' as *;

.v-n-preh {
  position: relative;
  width: 100%;
  height: calc(100dvh - 58px);
  margin-top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .preh-silueta {
    position: relative;
    z-index: 2;

    img {
      width: auto;
      max-height: 358px;
    }
  }

  .preh-mini-siluetas {
    position: absolute;
    width: 100%;
    max-width: 850px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    .mini {
      position: absolute;
      opacity: 0;
      width: auto;
      max-height: 358px;
      
      &--1 {
        height: 134px;
        top: 65%;
        left: 0px;
      }

      &--2 {
        height: 246px;
        top: 20%;
        left: 8%;
      }

      &--3 {
        height: 154px;
        top: 40%;
        left: 28%;
      }

      &--4 {
        height: 164px;
        top: 10%;
        right: 26%;
      }

      &--5 {
        height: 193px;
        top: 30%;
        right: 11%;
      }

      &--6 {
        height: 144px;
        top: 60%;
        right: -2%;
      }      
    }
  }

  .preh-cards-1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .preh-card {
      opacity: 0;
      transform: none;
      justify-content: center;
    }
  }

  .preh-cards-2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 32px;
    z-index: 2;

    b {
      margin-bottom: 8px;
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;
    }

    .preh-card {
      opacity: 0;
      transform: translateY(80px);
      padding-top: 36px;

      .now {
        opacity: 0;
        transform: translateY(20px);
      }
    }
  }

  .preh-card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: #FFF;
    font: 16px/20px $mcr;
    color: #000;

    &--t1 {
      width: 254px;
      height: 196px;
    }

    &--t2 {
      width: 291px;
      height: 232px;
    }

    .flag {
      position: absolute;
      top: -23px;
      left: -1px;  

      img {
        width: auto;
        height: 46px;
      }
    }

    b {
      font-family: $mcs;
    }

    .now {
      position: absolute;
      z-index: 1;
      top: 70px;
      left: 24px;
      right: 24px;
      display: flex;
      width: 100%;
      height: 168px;
      padding: 32px 24px 0;
      border-radius: 2px;
      background: #FC3636;
      font-family: $mcs;
      color: #FFF;
    }
  }
}