@use '../base/variables'as *;

.v-w {
  .v-a--d-s-1 {
    .v-a-img-c .artemis-capsule,
    .v-a-inf-c .v-a-p-t,
    .v-a-inf-c .v-a-t,
    .v-a-inf-c .v-a-s-t {
      opacity: 0;
    }
  }
}

body:has(.v-h-a) {
  .v-w {
    .v-a--d-s-1 {
      @media (max-width: $screen-sm) {
        margin-top: -146px;
      }
    }
  }
}

.v-w {
  .v-a--d-s-1 {
    display: block;
    min-height: 100dvh;
    margin-bottom: 320px;
    margin-top: -98px;
    padding-top: calc(50vh - 180px);

    @media (min-width: $screen-sm) {
      margin-bottom: 240px;
    }

    .v-a-img-c {
      z-index: 2;

      .artemis-capsule {
        position: relative;
        width: 190px;
        margin: 0 auto;
        rotate: 42deg;

        .artemis-media {
          position: relative;

          &:not(:first-child) {
            position: absolute;
            top: 0;
            left: 0;
          }

          &--01 {
            z-index: 4;
          }

          &--02 {
            z-index: 3;
          }

          &--03 {
            z-index: 2;
          }

          &--04 {
            z-index: 1;
          }
        }
      }
    }

    .v-a-inf-c {
      flex: 0;
      justify-content: flex-start;
      padding-bottom: 0;
      z-index: 1;

      .v-a-p-t,
      .v-a-t,
      .v-a-s-t {
        color: $cb2;
      }

      .v-a-t {
        font-family: $axs;
        font-size: 110px;
        order: -1;

        @media (min-width: $screen-sm) {
          font-size: 110px;
        }
      }

      .v-a-p-t {
        position: relative;
        display: block;
        max-width: 320px;
        width: 100%;
        margin: 24px auto 0;
        font-family: $adl;
        font-size: 32px;
        line-height: 36px;
        text-transform: unset;
        text-align: center;
      }

      .v-a-s-t {
        display: none;
        max-width: 342px;
        width: 100%;
        margin: 72px auto 0;
        font-family: $adl;
        font-style: italic;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        opacity: .4;

        &:before {
          content: '';
          display: block;
          width: 2px;
          height: 42px;
          margin: 0 auto 20%;
          background: #FF860E;
        }
      }
    }

    .v-i {
      display: none;
    }
  }
}