@use '../base/variables'as *;
@use '../base/variables-custom'as *;
@use '../base/actions'as *;
@use '../base/animations'as *;

body:has(.v-h-a) {
  .v-n-preh {
    &__sec {
      &--1 {
        height: calc(100vh - 98px);
        margin-top: 98px;

        @media (min-width: $screen-xs) {
          height: calc(100vh - 107px);
          margin-top: 107px;
        }

        @media (min-width: $screen-sm) {
          height: calc(100vh - 58px);
          margin-top: 58px;
        }
      }
    }
  }
}

.v-n-preh {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  &__sec {
    position: relative;
    width: 100%;
    height: 100vh;

    &--1 {
      height: calc(100vh - 50px);
      margin-top: 50px;

      @media (min-width: $screen-xs) {
        height: calc(100vh - 58px);
        margin-top: 58px;
      }
    }
  }

  &__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
    padding: 0 20px;
    z-index: 10;
  }

  &__txt {
    font-family: $adl;
    font-size: 18px;
    line-height: 136%;
    text-align: center;

    @media (min-width: $screen-xs) {
      font-size: 22px;
    }

    span {
      padding: 0 2px;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      background: $cb2;
    }
  }

  &__cnt {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__img {
    position: absolute;
    object-fit: cover;
    filter: blur(8px);
    will-change: filter;
    transition: none;

    &.ar-4-3 {
      aspect-ratio: 7/5;
      max-width: 228px;

      @media (min-width: 900px) {
        max-width: 312px;
      }

      @media (min-width: 1050px) {
        max-width: 396px;
      }
    }

    &.ar-1 {
      aspect-ratio: 1;
      max-width: 116px;

      @media (min-width: 900px) {
        max-width: 200px;
      }

      @media (min-width: 1440px) {
        max-width: 284px;
      }
    }

    &--1 {
      top: 9%;
      right: 11.6%;
    }

    &--2 {
      top: 40%;
      left: 11.6%;

      @media (min-width: 500px) {
        top: 18%;
      }
    }

    &--3 {
      bottom: 0;
      left: 19%;
    }

    &--4 {
      top: 5%;
      right: 11.6%;

      @media (min-width: 560px) {
        top: -3%;
      }
    }

    &--5 {
      top: 28.5%;
      left: 34.5%;

      @media (min-width: 560px) {
        top: 22.5%;
      }
    }

    &--6 {
      top: 54%;
      right: 21.5%;
    }

    &--7 {
      bottom: 5%;
      left: 0;
    }

    &--8 {
      top: 0;
      right: 0;

      @media (min-width: 400px) { 
        left: 38.5%;
        right: unset;
      }
    }

    &--9 {
      top: 25%;
      left: 11.6%;
    }

    &--10 {
      bottom: 5%;
      right: 11.6%;
    }

    &--11 {
      top: -2%;
      left: 10.5%;

      @media (min-width: 615px) {
        top: -8%;
        left: 30.5%;
      }
    }

    &--12 {
      top: 10%;
      right: 5.5%;
    }

    &--13 {
      top: 32%;
      left: 0;
    }

    &--14 {
      bottom: 15%;
      right: 8%;

      @media (min-width: 360px) {
        bottom: 24%;
      }

      @media (min-width: 600px) {
        bottom: 10%;
      }
    }

    &--15 {
      bottom: 18%;
      left: 8%;

      @media (min-width: 600px) {
        bottom: 3%;
      }
    }

    &--16 {
      bottom: -18%;
      left: 50%;
      transform: translateX(-50%);

      @media (min-width: 360px) {
        bottom: -5%;
      }
    }

    &--17 {
      top: 35%;
      right: 0;

      @media (min-width: 360px) {
        top: 30%;
      }

      @media (min-width: 600px) {
        top: 8%;
      }
    }

    &--18 {
      top: 20%;
      left: 9%;

      @media (min-width: 360px) {
        top: 8%;
      }

      @media (min-width: 600px) {
        top: 15%;
      }
    }
  }
}

.v-w {
  .v-a--d-s-1 {
    .v-a-inf-c {
      margin-top: -25vh;
      padding: 0 20px;

      @media (min-width: 340px) {
        margin-top: -35vh;
      }

      @media (min-width: 600px) {
        margin-top: -75vh;
      }

      .v-a-t {
        position: relative;
        max-width: 225px;
        font-family: $atl;
        font-size: 32px;
        line-height: 110%;
        text-align: left;

        @media (min-width: $screen-xs) {
          max-width: 264px;
          font-size: 40px;
        }

        &:before, &:after {
          content: "";
          position: absolute;
          pointer-events: none;
          background-repeat: no-repeat;
          transform: rotate(3deg);
        }

        &:before {
          bottom: -95px; 
          left: -80px;
          width: 227px;
          height: 100%;
          background-image: url("https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/26/anunciosmasvistoregimenirani/images/titulo-abajo-izq.webp");

          @media (min-width: $screen-xs) {
            bottom: -165px;
            left: -85px;
          }
        }

        &:after {
          top: -120px;
          right: -65px;
          width: 299px;
          height: 250px;
          background-image: url("https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/26/anunciosmasvistoregimenirani/images/titulo-arriba-der.webp");

          @media (min-width: 340px) {
            right: -60px;
          }

          @media (min-width: $screen-xs) {
            height: 100%;
          }
        }

        strong {
          display: block;
          font-family: $axs;
          font-size: 66px;
          line-height: 80%;
          text-transform: uppercase;

          @media (min-width: $screen-xs) {
            font-size: 82px;
          }
        }
      }

      .v-a-s-t {
        max-width: 550px;
        margin-top: 150px;

        @media (max-width: $screen-xs) {
          margin-bottom: 64px;
        }
      }
    }
  }
}