@use '../base/variables' as *;

.sil-morph {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__pre {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
    font: 22px/24px $mcr;
    text-transform: uppercase;
    color: $cp7;

    .line {
      width: 1px;
      height: 49px;
      background: #202020;
    }
  }

  &__t {
    margin-bottom: 20px;
    font: 28px/32px $ats;
    text-align: center;
    color: #000;
  }

  &__media {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .base {
      z-index: 1;
      opacity: 0;
    }

    .overlay {
      z-index: 2;
      pointer-events: none;
      object-fit: contain;
      transform-origin: center top;
      will-change: transform, opacity;
    }
  }
}