.v-n-scrolly {
  position: relative;
  left: 50%;
  width: 100vw;
  margin-left: -50vw;

  @media (min-width: 1900px) {
    left: unset;
    width: 1900px;
    margin-left: calc((-1900px / 2) + 50%);
  }

  &__sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  &__bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    .bg-c {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    .bg-item {
      position: absolute;
      inset: 0;
      opacity: 0;
      will-change: opacity;
      pointer-events: none;

      img, video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &.is-active {
        pointer-events: auto;
      }
    }
  }

  &__steps {
    position: relative;

    .step {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      padding: 50vh 2rem; 
      box-sizing: border-box;

      p {
        max-width: 600px;
      }
    }
  }
}