@use '../base/variables' as *;

.scrolly-papamovil {
  .v-n-scrolly {
    &__sticky {
      z-index: 1;

			@media (max-width: 350px) {
        overflow: visible;
			}
    }
  }

  #f2h-frame-330 {
    @media (max-width: 350px) {
      width: 280px !important;
    }
  }

  .inf-c {
    max-width: 474px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .title {
    margin-bottom: 8px;
    font: 20px/28px $ats;
    color: $cb9;

		@media (max-width: 375px) {
			max-width: 250px;
			margin: 0 auto 4px;
			font-size: 16px;
			line-height: 18px;
		}
  }

  .desc {
    margin-bottom: 16px;
    font: 16px/20px $mcr;
    color: $cb7;

		@media (max-width: 340px) {
			font-size: 12px;
			line-height: 14px;
			margin-bottom: 6px;
		}

		@media (min-width: 341px) and (max-width: 375px) {
			margin-bottom: 8px;
			font-size: 14px;
			line-height: 16px;
		}
  }

  .btn-c {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  .btn-i {
    min-width: 106px;
    height: 22px;
    padding: 0 8px;
    font: 12px/1 $mcs;
    color: $cp1;
    border: 1px solid $cp1;
    border-radius: 2px;
    transition: opacity .3s ease, color .3s ease, background 0.3s ease;

		@media (max-width: 375px) {
			height: 20px;
		}

    &:hover {
      opacity: .7;
    }

    &.is-active {
      color: $cb2;
      background: $cp1;

      &:hover {
        opacity: 1;
      }
    }
  }
}