@use '../base/variables' as *;

.v-n-scrolly--inst {
  .bg-item {
    &[data-bg="0"] {
      figure {
        @media (max-width: 800px) {
          transform: translateY(70px);
        }
      }
    }
    &[data-bg="1"] {
      figure {
        @media (min-width: 801px) {
          transform: translateY(-70px);
        }
      }
    }
  }
}

.v-n-inst {
  &-t {
    margin-bottom: 4px;
    font: 16px/1 $mcs;
    text-transform: uppercase;
    text-align: center;
    color: $cb9;
  }

  &-inf-c {
    position: relative;
    z-index: 1;
    padding: 0 20px;
    font: 16px/20px $mcr;
    text-align: center;
    color: $cb7;
  }

  &-st {
    display: inline;
    padding: 0 2px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    background: $cb2;
    background-image: linear-gradient(to top, #f3f178 40%, transparent 40%);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100% 100%;
  }

  &-p {
    margin: 10px auto 0;
    max-width: 400px;
  }
}