@use '../base/variables' as *;
@use '../base/variables-special' as *;

.sel-nav {
  position: sticky;
  top: 64px;
  display: flex;
  align-items: center;
  width: 100vw;
  margin-top: 60px;
  height: 40px;
  border-top: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
  background: #F9F2E9;
  z-index: 2;

  @media (min-width: $screen-xs) {
    justify-content: center;
  }

  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 999;
  }

  &.is-active {
    .sel-nav-tgl {
      .voc-icon {
        svg {
          rotate: 0deg;
        }
      }
    }

    ul {
      display: block;
    }
  }

  &-tgl {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    background: #F9F2E9;
    z-index: 1;

    @media (min-width: $screen-xs) {
      display: none;
    }

    span {
      font: 18px/normal $axs;
      text-transform: uppercase;
    }

    .voc-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 12px;

      svg {
        width: 100%;
        height: auto;
        rotate: 180deg;
        transition: rotate .3s;
        
        path {
          fill: $cb1;
        }
      }
    }
  }

  ul {
    display: none;

    @media (max-width: $screen-xs) {
      position: absolute;
      top: 39px;
      width: 100%;
      background: #f9f2e9;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    }

    @media (min-width: $screen-xs) {
      display: flex;
      justify-content: space-around;
      gap: 4px;
    }

    @media (min-width: $screen-sm) {
      width: 990px;
    }

    li {
      a {
        display: flex;
        align-items: center;
        height: 27px;
        padding: 0 32px;
        font: 18px/normal $axs;
        text-transform: uppercase;
        border-radius: 2px;
        transition: background .3s;

        @media (min-width: $screen-xs) {
          justify-content: center;
          padding: 0 8px;
        }

        &:hover {
          background: $cb7;
        }
      }

      &.is-active {
        a {
          background: $cb7;
        }
      }
    }
  }
}

.voc-d span.paywall {
  .sel-nav {
    margin-bottom: 48px;
  }
}