@use '../base/variables' as *;
@use '../base/variables-special' as *;

.sel-cards {
  margin-top: 36px;

  &__txt {
    display: block;
    margin: 0 0 98px;
    font-size: 14px;
    line-height: normal;
    text-align: center;
  }

  &__c {
    display: flex;
    justify-content: center;
  }

  .card {
    margin-top: 130px;

    a {
      display: block;
      width: 100%;
      height: 100%;
      transition: opacity .3s;

      &:hover {
        opacity: .8;
      }
    }

  }
}