@use '../base/variables' as *;
@use '../base/variables-special' as *;

.sel-nav {
  position: sticky;
  top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 60px;
  height: 40px;
  border-top: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
  background: #F9F2E9;
  z-index: 1;

  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 999;
  }

  &-tgl {
    @media (min-width: $screen-xs) {
      display: none;
    }
  }

  ul {
    display: flex;
    justify-content: space-around;
    gap: 4px;

    @media (min-width: $screen-sm) {
      width: 990px;
    }

    li {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 27px;
        padding: 0 8px;
        font: 18px/normal $axs;
        text-transform: uppercase;
        border-radius: 2px;
        transition: background .3s;

        &:hover {
          background: $cb7;
        }
      }

      &.is-active {
        a {
          background: $cb7;
        }
      }
    }
  }
}

.voc-d span.paywall {
  .sel-nav {
    margin-bottom: 48px;
  }
}