@use '../base/variables'as *;
@use '../base/variables-custom'as *;

.v-n-ss-map {
  .v-n-ss-blk {
    &__c {
      max-width: 862px;
    }
  }

  &-blk {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;

    @media (max-width: 390px) {
      width: 100vw;
      margin-left: -20px;
    }
  }

  &__txt {
    display: block;
    width: 100%;
    font: 14px/1 $mcr;
    text-align: center;

    @media (min-width: $screen-sm) {
      position: absolute;
      top: 70px;
      left: 0;
      max-width: 183px;
      text-align: left;
    }
  }

  &__img {
    position: relative;
    width: 100%;
    height: 100%;

    @media (min-width: 390px) {
      max-width: 350px;
    }
  }

  &-points {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-point {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 8px;
    
    &:hover {
      svg {
        opacity: .7;
      }
    }

    span {
      display: block;
      max-width: 70px;
      font: 12px/1 $mcr;
    }

    svg {
      flex: 1 0 auto;
      width: 24px;
      height: 32px;
      transition: opacity .3s ease;

      path {
        &:first-child {
          transition: fill .3s ease;
        }
      }
    }

    &.is-active {
      transition: unset;
      pointer-events: none;

      &:hover {
        opacity: 1;
      }

      svg {
        path {
          &:first-child {
            fill: $nc1;
          }
        }
      }
    }

    &--1 { top: 6%; left: 48%; }
    &--3 { top: 43%; left: 18%; flex-direction: row-reverse; }
    &--4 { top: 54%; left: 68%; flex-direction: row-reverse; }
    &--5 { top: 32%; left: 71%; flex-direction: row-reverse; }
    &--6 { top: 28%; left: 46%; span { max-width: 50px; } }
    &--7 { top: 78%; left: 50%; flex-direction: row-reverse; }
    &--8 { top: 70%; left: 15%; span { max-width: 58px; } }
  }

  &__t {
    font: 18px/1 $mcs;
    color: $nc1;
    text-align: center;
    text-transform: uppercase;
  }

  .v-n-acc {
    &__i {
      @media (min-width: $screen-sm) {
        display: grid;
        grid-template-columns: 120px 1fr;
      }
    }

    &__trg {
      @media (min-width: $screen-sm) {
        align-items: flex-start;
        grid-column: 1 / -1;
        grid-row: 1;
      }

      &[aria-expanded="true"] {
        + .v-n-acc__pnl {
          opacity: 1;
          transform: translateY(0);

          @media (max-width: $screen-sm) {
            padding: 0 10px 10px;
          }
        }
      }
    }

    &__pnl {
      @media (min-width: $screen-sm) {
        grid-column: 2;
        grid-row: 1;
        pointer-events: none;
      }
    }
  }
}