@use '../base/variables' as *;
@use '../base/variables-custom' as *;

.v-n-ss-blk {
  margin-top: 100px;
  margin-bottom: 100px;

  &__w {
    padding: 24px 0 46px;
    border-top: 1px solid $nc1;
    border-bottom: 1px solid $nc1;
  }

  &__c {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
  }
}