@use '../base/variables' as *;

.v-cmp-smy-media {
  position: relative;

  @media (max-width: $screen-xs) {
    padding-top: 40px;
  }

  @media (min-width: $screen-sm) {
    width: 954px;
    margin-left: calc((-954px / 2) + 50%);
  }

  @media (min-width: $screen-md) {
    width: 1150px;
    margin-left: calc((-1150px / 2) + 50%);
  }
}

.v-a--cmp-smy-media {
  display: flex;
  justify-content: flex-end;

  @media (min-width: $screen-xs) {
    align-items: center;
  }

  .v-a-inf-c {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 75%;
    height: 355px;
    z-index: 1;
    padding-left: 36px;
    padding-right: 80px;
    background: $cp7;

    @media (min-width: $screen-xs) {
      position: absolute;
      left: -60px;
      max-width: 180px;
      height: 180px;
    }

    @media (min-width: $screen-sm) {
      max-width: 426px;
      height: 355px;
    }

    .v-a-img {
      position: absolute;
      width: auto;
      height: 170px;
      top: -50px;
      right: -20px;

      @media (min-width: $screen-xs) {
        top: unset;
        bottom: -90px;
        right: 90px;
      }

      @media (min-width: $screen-sm) {
        right: unset;
      }
    }
  }

  .v-a-t {
    font: 28px/32px $ads;
    color: $cb2;

    @media (min-width: $screen-xs) {
      font-size: 20px;
      line-height: 22px;
    }

    @media (min-width: $screen-sm) {
      font-size: 24px;
      line-height: 28px;
    }

    @media (min-width: $screen-md) {
      font-size: 28px;
      line-height: 32px;
    }
  }

  .v-fc {
    margin-right: 36px;
  }

  .v-a-img-c {
    display: none;

    @media (min-width: $screen-xs) {
      display: block;
    }

    @media (min-width: $screen-sm) {
      max-width: 660px;
    }

    @media (min-width: $screen-md) {
      max-width: 850px;
    }
  }
}