@use '../base/variables' as *;

.n-sumr {
  position: relative;
  width: 300px;
  margin: 100px auto;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: url("https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/22/pederastas-en-videojuegos/images/sumario-outer.jpg");
  }

  &__txt {
    position: relative;
    max-width: 274px;
    width: 100%;
    padding: 20px 20px 46px;
    font-family: $mcs;
    font-size: 22px;
    line-height: 30px; 
    background: $cb2;
    transform: translate(26px, 26px);

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 200px;
      height: 100%;
      background-image: url("https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/22/pederastas-en-videojuegos/images/sumario-inner.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom right;
    }

    &-crs {
      display: inline-block;
      animation: blink 3s steps(1) infinite;
    }
  }
}