@use '../base/variables' as *;

.sumario {
  position: relative;
  width: fit-content;
  margin-top: 62px;
  margin-bottom: 62px;
  margin-left: -20px;
  padding: 26px 42px 45px 0;
  padding-left: 20px;
  border: 1px solid $cb1;
  border-left: 0;
  
  @media (min-width: $screen-xs) {
    margin-left: 0;
    padding-left: 0;
  }

  &--cifra {
    display: flex;
    flex-direction: column;

    @media (min-width: 440px) {
      flex-direction: row;
      gap: 36px;
    }

    @media (min-width: 900px) {
      margin-left: -130px;
    }

    @media (min-width: 1180px) {
      margin-left: -260px;
    }
  }
  
  &__num {
    display: flex;
    flex-direction: column;
    font-family: $axs;
    font-size: 120px;
    line-height: 1;
    text-transform: uppercase;
    transform: translateY(-15px);

    @media (min-width: 440px) {
      align-items: flex-end;
      margin-left: 16px;
    }

    @media (min-width: 530px) {
      margin-left: 56px;
      font-size: 170px;
      transform: translateY(-25px);
    }

    > span {
      font-size: 32px;

      @media (min-width: 530px) {
        font-size: 42px;
      }
    }
  }

  &__txt {
    width: 100%;
    max-width: 312px;
    font-family: $mcr;
    font-size: 22px;
    line-height: 26px;

    @media (min-width: $screen-xs) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__icn {
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 79px;
    height: auto;
  }
}