@use '../base/variables'as *;

.timer {
  position: absolute;
  left: -198px;
  width: 90px;
  height: 37px;
  margin-top: 8px;
  margin-right: 8px;
  padding: 4px 6px;
  background-color: $cb1;
  border: 3px solid $cb1;
  z-index: 1;

  &.is-desktop {
    visibility: hidden;
    pointer-events: none;

    @media (min-width: $screen-sm) {
      visibility: unset;
      pointer-events: unset;
    }
  }

  &.is-mobile {
    display: block;

    @media (min-width: $screen-sm) {
      display: none;
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    background: $cb2;
    border: 3px solid $cb1;
  }

  &:before {
    top: -11px;
    left: 1px;
    width: 100%;
    height: 5px;
    border-bottom: 0;
    transform: skew(-45deg, 0deg);
  }

  &:after {
    bottom: 1px;
    right: -11px;
    width: 5px;
    height: 100%;
    border-left: 0;
    transform: skew(0deg, -45deg);
  }

  &-front {
    display: flex;
    color: $cb2;
    font-family: $mcs;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
  }

  .digit-wrap {
    height: 24px;
    overflow: hidden;
  }

  .digit-strip {
    display: flex;
    flex-direction: column;
  }

  .digit {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }

  .colon {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    padding-bottom: 8px;
  }
}