@use '../base/variables' as *;
@use '../base/variables-special' as *;

.title-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  scroll-margin-top: 140px;

  @media (min-width: $screen-sm) {
    width: 800px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background: #C7C2BD;
  }

  .card {
    margin: 0 auto 8px;
    padding-bottom: 30px;

    &__fig {
      margin-bottom: 8px;
    }
  }
}

.voc-d span.paywall {
  .title-card + .voc-d-c__s-title {
    margin-bottom: 42px;
    font: 56px/46px $axs;
    text-align: center;
    letter-spacing: -.8px;
    text-transform: uppercase;

    @media (min-width: $screen-xs) {
      margin-bottom: 60px;
      font-size: 80px;
      line-height: 52px;
    }
  }
}