@use '../base/variables' as *;
@use '../base/ppll-fonts' as *;

.v-n-toi {
  &__pretxt {
    display: block;
    margin-bottom: 32px;
    font: 15px/20px $pvr;
    color: #969594;
    text-align: center;

    @media (min-width: $screen-xs) {
      margin-bottom: 36px;
    }
  }

  &__system {
    &-label {
      display: block;
      margin-bottom: 6px;
      font: 20px/1 $pvs;
      color: #000;
      text-align: center;

      @media (min-width: $screen-xs) {
        font-size: 30px;
      }
    }
  }
}

.v-n-toi-selector {
  margin-top: 42px;

  &__c {
    display: flex;
    justify-content: space-evenly;

    @media (max-width: 350px) {
      width: 100vw;
      margin-left: -20px;
    }

    @media (min-width: $screen-xs) {
      justify-content: space-between;
    }
  }

  &__item {
    flex: 1 0 auto;
    width: 100%;
    max-width: 92px;
    transition: opacity .3s ease;

    @media (min-width: $screen-xs) {
      max-width: 193px;
    }

    &.is-active {
      pointer-events: none;
    }
  }

  &:has(.v-n-toi-selector__item:hover, .v-n-toi-selector__item.is-active) {
    .v-n-toi-selector__item {
      opacity: 0.5;

      &:hover,
      &.is-active {
        opacity: 1;
      }
    }
  }

  .v-n-toi__system-label {
    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 19px;
      margin: 6px auto 0;
      background: #1868FF;
    }
  }

  .v-n-toi__system-img-c {
    img.is-mobile {
      display: block;

      @media (min-width: $screen-xs) {
        display: none;
      }
    }

    img.is-desktop {
      display: none;

      @media (min-width: $screen-xs) {
        display: block;
      }
    }
  }
}

.v-n-toi-next-step {
  margin-top: 32px;
  transition: opacity .3s ease;

  &.is-hidden {
    display: none;
    opacity: 0;
  }

  .v-n-toi__pretxt {
    margin-bottom: 16px;
  }
}

.v-n-toi-ph {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 580px;
  margin: 0 auto;
  padding: 0 20px;

  &__line {
    height: 16px;
    background: linear-gradient( 90deg, #F0F0F0 0%, #F0F0F0 40%, #F8F8F8 50%, #F0F0F0 60%, #F0F0F0 100%);
    background-size: 200% 100%;
    border-radius: 3px;

    &--01 { width: 100%;}
    &--02 { width: 90%;}
    &--03 { width: 95%;}
    &--04 { width: 60%;}
  }
}

.v-n-toi-selected {
  display: none;
  opacity: 0;
  position: relative;
  padding-top: 62px;
  transition: opacity 0.6s ease-in-out;

  @media (min-width: $screen-xs) {
    padding-top: 124px;
  }

  &.is-active {
    display: block;
  }

  &.is-visible {
    opacity: 1;
  }

  .v-n-toi__system-label {
    margin-bottom: 32px;
    font-size: 50px;
  }

  .v-n-toi__pretxt {
    margin-top: 42px;
  }

  .v-n-toi-system {
    container-type: size;
    position: relative;
    width: 100%;
    max-height: calc(100vh - 120px);
    aspect-ratio: 3 / 4;
    max-width: 600px;
    margin: 0 auto;

    &__bg {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .v-n-toi-system__players {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:has(.v-n-toi-player:hover, .v-n-toi-player.is-active) {
      .v-n-toi-player {
        opacity: 0.3;

        &:hover,
        &.is-active {
          opacity: 1;
        }
      }
    }
  }

  .v-n-toi-player {
    position: absolute;
    transform: translate(-50%, -50%);
    width: clamp(50px, 15cqmin, 100px);
    aspect-ratio: 1;
    border-radius: 100%;
    transition: opacity .3s ease;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__name {
      display: none;
      font: 14px / 1 $pvr;
      text-align: center;
      color: $cb1;
      padding: 4px;
      background: white;
    }
  }

  .v-n-toi-system--4-3-3 {
    .v-n-toi-player {
      &--01 { top: 11%; left: 54%; }
      &--02 { top: 29%; left: 22%; }
      &--03 { top: 29%; left: 42%; }
      &--04 { top: 29%; left: 62%; }
      &--05 { top: 29%; left: 80%; }
      &--06 { top: 52%; left: 25%; }
      &--07 { top: 52%; left: 50%; }
      &--08 { top: 52%; left: 75%; }
      &--09 { top: 77%; left: 28%; }
      &--10 { top: 77%; left: 50%; }
      &--11 { top: 77%; left: 72%; }
    }
  }

  .v-n-toi-system--4-2-3-1 {
    .v-n-toi-player {
      &--01 { top: 11%; left: 54%; }
      &--02 { top: 26%; left: 22%; }
      &--03 { top: 26%; left: 41%; }
      &--04 { top: 26%; left: 62%; }
      &--05 { top: 26%; left: 83%; }
      &--06 { top: 44%; left: 42%; }
      &--07 { top: 44%; left: 62%; }
      &--08 { top: 60%; left: 25%; }
      &--09 { top: 60%; left: 52%; }
      &--10 { top: 60%; left: 80%; }
      &--11 { top: 77%; left: 53%; }
    }
  }

  .v-n-toi-system--4-4-2 {
    .v-n-toi-player {
      &--01 { top: 11%; left: 54%; }
      &--02 { top: 28%; left: 21%; }
      &--03 { top: 28%; left: 41%; }
      &--04 { top: 28%; left: 61%; }
      &--05 { top: 28%; left: 81%; }
      &--06 { top: 51%; left: 22%; }
      &--07 { top: 51%; left: 42%; }
      &--08 { top: 51%; left: 62%; }
      &--09 { top: 51%; left: 83%; }
      &--10 { top: 77%; left: 42%; }
      &--11 { top: 77%; left: 64%; }
    }
  }
}

.v-n-toi-popup {
  position: absolute;
  display: none;
  width: 100%;
  max-width: 280px;
  background: #1868FF;
  border: 4px solid #FFFFFF;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;

  @media (max-width: $screen-xs) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.is-active {
    display: block;
  }

  &.is-visible {
    opacity: 1;
  }

  &__player-type {
    position: relative;
    left: -4px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 250px;
    height: 30px;
    margin-top: 6px;
    padding-left: 16px;
    font: 18px/140% $pveb;
    text-transform: uppercase;
    color: #202020;
    background: #80EF19;
  }

  &__players-list {
    &:has(.v-n-toi-popup__player:hover, .v-n-toi-popup__player.is-active) {
      .v-n-toi-popup__player {
        opacity: 0.7;

        &.is-injured {
          opacity: 0.4;
        }

        &:hover,
        &.is-active {
          opacity: 1;
        }
      }
    }
  }

  &__player {
    position: relative;
    display: flex;
    gap: 16px;
    width: 100%;
    padding: 16px 6px;
    transition: opacity .3s ease;

    &.is-active {
      .v-n-toi-popup__player-name {
        background: #80EF19;
      }
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 6px;
      width: calc(100% - 12px);
      height: 1px;
      background: #FFFFFF;
    }

    &.is-injured {
      pointer-events: none;
      opacity: 0.4;

      &:hover,
      &.is-active {
        opacity: 0.4;
      }
    }

    &-img-c {
      position: relative;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      padding: 4px;
      background: conic-gradient(#95ff00 calc(var(--played) * 1%), #d9d9d9 0);
      display:flex;
      align-items:center;
      justify-content:center;

      &.is-injured {
        background:#d9d9d9;
      }
    }

    &-img {
      width:100%;
      height:100%;
      border-radius:50%;
      object-fit:cover;
      background:#fff;
      opacity: 0;
      transition: opacity .1s ease-in;

      &.is-loaded {
        opacity: 1;
      }
    }

    &-time {
      font: 12px/1 $pvl;
      color: #80EF19;
    }

    &-left-c {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3px;
    }

    &-injured {
      font: 15px/20px $pvl;
      color: #E41B1B;
    }

    &-info {
      display: flex;
      flex-direction: column;

      span {
        display: block;
      }
    }

    &-name {
      margin-bottom: 8px;
      font: 22px/1 $pvs;
      color: #FFFFFF;
    }

    &-team {
      margin-bottom: 10px;
      font: 18px/1 $pvs;
      color: #80EF19;
    }

    &-age {
      margin-bottom: 4px;
      font: 18px/1 $pvl;
      color: #FFFFFF;
    }

    &-inter {
      font: 15px/1 $pvl;
      color: #FFFFFF;
    }
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 10px auto;
    border-radius: 100%;
    background: #70A0FB;
    transition: opacity .3s ease;

    &:hover {
      opacity: 0.7;
    }

    svg {
      width: 24px;
    }
  }
}

.v-n-toi-system-footer {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);

  &__flag {
    margin-bottom: 12px;
    text-align: center;

    span {
      position: relative;
      display: inline-block;
      max-width: 232px;
      padding: 10px;
      font: 18px/1 $pvs;
      text-transform: uppercase;
      color: $cb2;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #1868FF;
        rotate: -2deg;
        z-index: -1;
      }
    }
  }

  &__site {
    span {
      display: block;
      text-align: center;
      font: 16px/1 $pvr;
      color: $cb1;
    }

    img {
      width: auto;
      height: 40px;
      margin: 12px auto 0;
    }
  }
}

.v-n-toi-download {
  display: none;

  &.is-active {
    display: block;
  }

  &__btn-grp {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 52px 0;
  }

  .v-n-toi-download-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 27px;
    font: 16px/24px $mcs;
    color: $cb2;
    background: #1868FF;
    border-radius: 2px;
    transition: opacity .3s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  .v-n-toi-reset-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: $cb2;
    border: 1px solid #1868FF;
    border-radius: 2px;
    transition: background .3s ease;

    &:hover {
      background: #1868FF;

      svg {
        transform: rotate(180deg);

        path {
          fill: $cb2;
        }
      }
    }

    svg {
      width: 16px;
      transition: transform .4s ease;

      path {
        transition: fill .3s ease;
      }
    }
  }
}

.v-n-toi-alert-toast {
  position: fixed; 
  left: 50%; 
  bottom: 20px; 
  transform: translateX(-50%) translateY(20px);   
  padding: 12px 24px; 
  width: max-content;
  max-width: 240px;
  font-family: $mcs;
  font-size: 14px;
  line-height: 1; 
  text-align: center; 
  color: $cb2; 
  background: $cp13; 
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px; 
  border-radius: 2px; 
  opacity: 0;
  z-index: 10000;
  transition: opacity 0.3s ease, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); 

  &.is-visible {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}