# Dependencias de node
node_modules/

# Archivos de compilación
dist/

# Mapas de fuente en producción
*.map

# Configuración del entorno
.env

# WhisperX / Python venv local
scripts/transcribe/.venv/

# Windows temp
%LOCALAPPDATA%/
AppData/
*.tmp
# Local Netlify folder
.netlify
./netlify.toml