<div class="voc-c-container voc-c-container--bdr">
  <div class="v-c-crd">
    <span>Créditos</span>
    <ul>
      {{#each credits}}
        <li><span>{{position}}: <b>{{name}}</b></span></li>
      {{/each}}
    </ul>
  </div>
</div>