<div>
  <div class="voc-advertising">
    <div class="voc-advertising__item">
      <div data-voc-vam="" data-voc-vam-position="layer_inpage" id="layer_inpage-id"></div>
    </div>
  </div>
  <div class="voc-paywall voc-paywall--grad">
    <div class="voc-paywall__notice">
      <div class="voc-paywall__notice-txt">
        <span>Artículo solo para suscriptores</span>
      </div>
    </div>
    <div class="voc-paywall__content">
      <div class="voc-paywall__container">
        <div class="voc-paywall__logo" style="display:none">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 252.333 31.774">
            <g>
              <path d="M8.1 22.565h11.112l-5.45-13.846Zm14.751 9.209-2.762-6.983H7.2l-2.836 6.983H0v-.748a3.606 3.606 0 0 0 3.02-2.448l9.338-22.842a3.706 3.706 0 0 0-1.82-1.256v-.748h6.032l9.883 24.81a3.352 3.352 0 0 0 2.946 2.484v.748Z"></path>
              <path d="M48.63 18.519a13.608 13.608 0 0 1-4.581.85 10.254 10.254 0 0 1-5.228-1.367v11.693a27.4 27.4 0 0 0 4.692.37c3.9 0 7.611-1.219 7.611-6.309a6.2 6.2 0 0 0-2.494-5.237Zm-5.7-13.07a28.243 28.243 0 0 0-4.119.3v10.363a9.781 9.781 0 0 0 5.228 1.561c2.448 0 5.514-.822 5.514-5.681.01-4.4-2.585-6.543-6.622-6.543Zm-8.442 2.143c0-1.856-.794-2.6-2.383-3.113v-.748h12.266c5.154 0 9.7 2.679 9.7 7.648a6.839 6.839 0 0 1-2.78 5.643 6.412 6.412 0 0 1 4.332 6.318c0 6.5-5.413 8.433-11.139 8.433H32.106v-.748c1.589-.517 2.383-1.256 2.383-3.113V7.591Z"></path>
              <path d="M80.654 5.468c.73 0 1.127-.794 1.459-1.736h.73l1.275 7.99h-.73c-2.337-2.752-5.727-5.967-10.539-5.967-5.579 0-9.846 4.12-9.846 10.668 0 7.094 4.563 12.442 11.527 12.442a17.116 17.116 0 0 0 9.08-2.789l.406.868a16.181 16.181 0 0 1-12.072 4.812c-7.4 0-13.6-5.135-13.6-14.151A13.985 13.985 0 0 1 72.522 3.713c4.988.018 7.1 1.755 8.128 1.755Z"></path>
            </g>
            <g>
              <path fill="#e4b016" d="M87.895 5.32v-.508H98.48c5.782 0 10.391 2.6 10.391 8.221 0 5.348-4.461 8.415-9.227 8.415a10.472 10.472 0 0 1-3.224-.462v-.462h2.254c4.424-.037 7.371-2.642 7.371-7.371 0-4.655-2.946-7.214-7.408-7.214h-4.969v24.089l3.334.619v.508h-9.116v-.508l3.1-.619V5.939Z"></path>
            </g>
            <g>
              <path fill="#e4b016" d="M121.6 16.025a12.258 12.258 0 0 0-.739-3.26 9.585 9.585 0 0 0-5.588 3.26v14l3.224.619v.508h-8.5v-.508l2.789-.619v-16.6l-2.835-.351v-.545l4.969-1.127h.231v3.612h.12a7.915 7.915 0 0 1 6.595-3.722 6.521 6.521 0 0 1 1.709.194 13.5 13.5 0 0 1-.7 4.535Z"></path>
            </g>
            <g>
              <path fill="#e4b016" d="M139.325 27.155c-1.321 2.291-3.334 4.387-7.02 4.387-5.2 0-8.451-3.492-8.451-10.317 0-5.976 3.685-9.929 8.3-9.929 4.886 0 7.288 3.455 7.288 8.341v1.478l-13.107-.074v.314c0 6.05 2.641 8.609 6.281 8.609a7.881 7.881 0 0 0 6.281-3.141Zm-12.95-6.937 10.668-.314v-.776c0-4.147-1.746-6.9-4.969-6.9-3.029.001-5.394 2.827-5.698 7.991Z"></path>
            </g>
            <g>
              <path fill="#e4b016" d="M145.763 11.407v2.946h.12a9.027 9.027 0 0 1 6.4-3.067 5.28 5.28 0 0 1 5.08 3.3h.037a9.524 9.524 0 0 1 6.669-3.3c2.983 0 5.588 1.866 5.588 6.438v12.3l2.79.619v.508h-7.953v-.508l2.679-.619V17.457c0-3.334-1.819-4.581-4.036-4.581a8.515 8.515 0 0 0-5.588 2.448 7.558 7.558 0 0 1 .351 2.4v12.3l2.521.619v.508h-7.445v-.508l2.448-.619V17.457c0-3.334-1.82-4.581-4.073-4.581a8.3 8.3 0 0 0-5.468 2.4v14.751l2.679.619v.508h-7.953v-.508l2.79-.619v-16.6l-2.836-.351v-.545l4.969-1.127Z"></path>
            </g>
            <g>
              <path fill="#e4b016" d="m178.497 30.029 2.79.619v.508h-8.064v-.508l2.789-.619v-16.6l-2.836-.351v-.545l5.08-1.127h.231v18.621Zm-1.432-26.334a1.709 1.709 0 1 1-1.709 1.709 1.723 1.723 0 0 1 1.709-1.709Z"></path>
            </g>
            <g>
              <path fill="#e4b016" d="M187.032 27.737a4.457 4.457 0 0 0 4.147 2.208 8.237 8.237 0 0 0 5.542-2.4V13.422l-2.91-.351v-.545l5.006-1.127h.388v18.63l2.836.619v.508h-4.849l-.268-2.789h-.12a8.946 8.946 0 0 1-6.512 3.177 5.667 5.667 0 0 1-5.736-3.722V13.431l-2.716-.351v-.545l5.006-1.127h.194v16.33Z"></path>
            </g>
            <g>
              <path fill="#e4b016" d="M208.174 11.407v2.946h.12a9.028 9.028 0 0 1 6.4-3.067 5.28 5.28 0 0 1 5.08 3.3h.037a9.524 9.524 0 0 1 6.669-3.3c2.983 0 5.588 1.866 5.588 6.438v12.3l2.789.619v.508h-7.953v-.508l2.678-.619V17.457c0-3.334-1.82-4.581-4.036-4.581a8.513 8.513 0 0 0-5.588 2.448 7.566 7.566 0 0 1 .351 2.4v12.3l2.522.619v.508h-7.445v-.508l2.448-.619V17.457c0-3.334-1.82-4.581-4.073-4.581a8.3 8.3 0 0 0-5.468 2.4v14.751l2.679.619v.508h-7.953v-.508l2.789-.619v-16.6l-2.836-.351v-.545l4.97-1.127Z"></path>
            </g>
            <path fill="#e4b016" d="M242.331.489a.7.7 0 0 1 1.33 0l1.986 5.551a.4.4 0 0 0 .138.185.371.371 0 0 0 .212.074l5.653.259a.717.717 0 0 1 .646.517.766.766 0 0 1-.23.813l-4.424 3.694a.4.4 0 0 0-.13.194.425.425 0 0 0-.009.24l1.506 5.718a.758.758 0 0 1-.268.8.679.679 0 0 1-.813.018l-4.72-3.27a.367.367 0 0 0-.222-.065.474.474 0 0 0-.221.065l-4.72 3.27a.679.679 0 0 1-.813-.018.763.763 0 0 1-.268-.8l1.505-5.718a.433.433 0 0 0-.01-.24.4.4 0 0 0-.129-.194l-4.424-3.694a.767.767 0 0 1-.231-.813.731.731 0 0 1 .647-.517l5.653-.259a.369.369 0 0 0 .212-.074.4.4 0 0 0 .139-.185Z" fill-rule="evenodd"></path>
          </svg>
        </div>
        <ev-engagement group-name="paywall-abc" redirect="false">
          <div class="ev widget-container ev-engagement">
            <div class="ev-paywall-template">
              <div id="ev-engagement-wrapper">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div gs-x="0" gs-y="0" gs-w="2" gs-h="1" id="skeleton-loader" style="display:none">
                      <span>
                        <div class="v-ph v-ph--m1" id="skeleton">
                          <div class="v-ph__c">
                            <img src="https://static.elcorreo.com/comun/Evolok_2024/placeholder/dos-productos.svg" style="width:100%;height:100%;margin:16px 0">
                          </div>
                        </div>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div gs-x="0" gs-y="1" gs-w="2" gs-h="1" id="paywall-abc" style="display:block">
                      <span>
                        <div class="alignCenterColum flex-Column gap-8 m-0-8">
                          <span class="logoABC max160">&nbsp;</span>
                          <span class="hidden-xs font20 fontABCTextSemi lh100">Suscríbete para seguir leyendo <span class="font_ABC">la noticia completa</span>
                          </span>
                        </div>
                        <div data-widget-type="muroNoticia" id="ev-em-container">
                          <div id="product-container-muro">
                            <ev-em-product-selection id="ev_em_product_one_muro" discount-display-name="undefined" discount-offer-description="undefined" discount-offer-text="undefined" auto-select="true" promo-code="95_00_EUR_12M" show-boosted-text="true" translation-plan-frequency="{'NONE': 'Diario', 'WEEK1': 'Semanal', 'MONTH1': 'Mensual', 'MONTH3': 'Trimestral', 'MONTH6': 'Semestral', 'MONTH12': 'Anual'}" product-group="abc" product-name="digital_abc" subscribe-btn-text="Suscríbete" subscribe-url-prefix="https://secure.abc.es/suscripcion/checkout" pm-domain="https://vocx.evolok.net/pm/api/v2" button-url-prefix="vso=abc&amp;vmc=on&amp;vli=boton1&amp;b" payment-plans="annual_12m_11000_11000_eur_abc" gs-x="0" gs-y="2" gs-w="1" gs-h="1">
                              <div class="container-fluid ev-em-product-selection">
                                <div class="row">
                                  <span class="recommended-banner">Recomendada</span>
                                  <div id="product-digital_abc" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 product-item-container one-payment-plan one-payment-plan one-payment-plan">
                                    <div class="container-fluid product-wrapper" style="min-height:0">
                                      <div class="row product-header">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 product-basic">Basic Plan</div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 product-title">Suscripción Digital ABC Premium</div>
                                      </div>
                                      <div class="row product-body">
                                        <div id="payment-plan-digital_abc-annual_12m_11000_11000_eur_abc" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 payment-plan-container payment-plan-selected payment-plan-recommended" style="min-height:0">
                                          <input type="checkbox" class="plan-checkbox">
                                          <span class="payment-plan-last-hours-offer visibility-hidden">
                                            <span class="payment-plan-last-hours-offer-bold"></span>
                                            <span class="payment-plan-last-hours-offer-light"></span>
                                          </span>
                                          <span class="payment-plan-name">Suscripción ABC Premium anual</span>
                                          <div class="payment-plan-old-price">
                                            <span class="payment-plan-old-price-text">Antes</span>
                                            <span class="payment-plan-old-price-striked">110.00€</span>
                                          </div>
                                          <div class="payment-plan-final-price">
                                            <span class="payment-plan-final-price-int">15</span>
                                            <span class="payment-plan-final-price-decimal">,00€</span>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row product-footer-spacer" style="min-height:0"></div>
                                      <div class="row product-footer-spacer" style="min-height:0"></div>
                                      <div class="row product-footer">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                          <button class="btn btn-default product-select-btn" style="display:none">Suscríbete</button>
                                          <button class="btn btn-default product-select-btn">Suscríbete</button>
                                          <button class="btn btn-default product-select-btn" style="display:none">Suscríbete</button>
                                        </div>
                                      </div>
                                    </div>
                                    <span class="custom-feature">Renovación <a class="custom-feature-link" href="https://secure.abc.es/suscripcion/tarifas-vigentes" target="_blank" data-mrf-link="https://secure.abc.es/suscripcion/tarifas-vigentes" cmp-ltrk="Apertura" cmp-ltrk-idx="3" mrfobservableid="556efc06-45a1-4d78-9b7e-7f15d830d559">consultar tarifas</a>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </ev-em-product-selection>
                            <ev-em-product-selection id="ev_em_product_two_muro" discount-display-name="undefined" discount-offer-description="undefined" discount-offer-text="undefined" auto-select="true" promo-code="02_00_EUR_1M" product-group="abc" product-name="digital_abc" subscribe-url-prefix="https://secure.abc.es/suscripcion/checkout" pm-domain="https://vocx.evolok.net/pm/api/v2" button-url-prefix="vso=abc&amp;vmc=on&amp;vli=boton2&amp;b" payment-plans="monthly_1m_1099_1099_eur_abc" gs-x="1" gs-y="2" gs-w="1" gs-h="1">
                              <div class="container-fluid ev-em-product-selection">
                                <div class="row">
                                  <span class="recommended-banner visibility-hidden"></span>
                                  <div id="product-digital_abc" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 product-item-container one-payment-plan one-payment-plan one-payment-plan">
                                    <div class="container-fluid product-wrapper" style="min-height:0">
                                      <div class="row product-header">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 product-title">Suscripción Digital ABC Premium</div>
                                      </div>
                                      <div class="row product-body">
                                        <div id="payment-plan-digital_abc-monthly_1m_1099_1099_eur_abc" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 payment-plan-container payment-plan-selected" style="min-height:0">
                                          <input type="checkbox" class="plan-checkbox">
                                          <span class="payment-plan-last-hours-offer">
                                            <span class="payment-plan-last-hours-offer-bold">Primer mes</span>
                                            <span class="payment-plan-last-hours-offer-light"></span>
                                          </span>
                                          <span class="payment-plan-name">Suscripción ABC Premium mensual</span>
                                          <div class="payment-plan-old-price">
                                            <span class="payment-plan-old-price-text">Antes</span>
                                            <span class="payment-plan-old-price-striked">10.99€</span>
                                          </div>
                                          <div class="payment-plan-final-price">
                                            <span class="payment-plan-final-price-int">8</span>
                                            <span class="payment-plan-final-price-decimal">,99€</span>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row product-footer-spacer" style="min-height:0"></div>
                                      <div class="row product-footer">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                          <button class="btn btn-default product-select-btn" style="display:none">Suscríbete</button>
                                          <button class="btn btn-default product-select-btn">Suscríbete</button>
                                          <button class="btn btn-default product-select-btn" style="display:none">Suscríbete</button>
                                        </div>
                                      </div>
                                    </div>
                                    <ul class="payment-plan-features">
                                      <li class="payment-plan-feature">Primer mes. Después 10,99€/mes</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </ev-em-product-selection>
                          </div>
                        </div>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div gs-x="0" gs-y="3" gs-w="2" gs-h="1" id="EV-DnD-Template-Col-TEXT-85">
                      <span>
                        <span class="product-footer-info" style="display:inline-block">Oferta limitada. Sin permanencia. Cancela cuando quieras. Renovación automática según <span onclick='window.open("https://secure.abc.es/suscripcion/tarifas-vigentes","_blank")' style="cursor:pointer;text-decoration:underline">tarifa vigente.</span>
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <style gs-x="0" gs-y="4" gs-w="1" gs-h="1" type="text/css" id="EV-DnD-Template-Col-CSS-82">
                      :root {
                        --backgroundButton: var(--base-grey-35);
                        --colorButton: var(--base-grey-100);
                        --borderButton: 1px solid var(--base-grey-80);
                        --borderRadius: 32px;
                        --backgroundButtonHover: #202020;
                        --colorButtonHover: #FFF;
                        --borderButtonHover: 1px solid var(--base-grey-50);
                        --backgroundButtonRecommended: #e4b016;
                        --colorButtonRecommended: #000;
                        --borderButtonRecommended: none;
                        --backgroundButtonRecommendedHover: #202020;
                        --colorButtonRecommendedHover: #FFF;
                        --borderButtonRecommendedHover: none
                      }

                      #product-container-muro button.btn.btn-default.product-select-btn {
                        background: var(--backgroundButton);
                        color: var(--colorButton);
                        border: var(--borderButton);
                        border-radius: var(--borderRadius)
                      }

                      #product-container-muro button.btn.btn-default.product-select-btn:hover {
                        background: var(--backgroundButtonHover);
                        color: var(--colorButtonHover);
                        border: var(--borderButtonHover)
                      }

                      #product-container-muro .product-item-container:has(.payment-plan-recommended) button.btn.btn-default.product-select-btn {
                        background: var(--backgroundButtonRecommended);
                        color: var(--colorButtonRecommended);
                        border: var(--borderButtonRecommended);
                        font-family: "ABCText Semibold", Georgia, Times New Roman, serif
                      }

                      #product-container-muro .product-item-container:has(.payment-plan-recommended) button.btn.btn-default.product-select-btn:hover {
                        background: var(--backgroundButtonRecommendedHover);
                        color: var(--colorButtonRecommendedHover);
                        border: var(--borderButtonRecommendedHover)
                      }

                      #product-container-muro .product-item-container button.btn.btn-default.product-select-btn:after {
                        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMycgaGVpZ2h0PScxMicgdmlld0JveD0nMCAwIDEzIDEyJyBmaWxsPSdub25lJz48cGF0aCBkPSdNNi4yOTg4MyAxMkw1LjUxMTMzIDExLjE5MzhMMTAuMTQyNiA2LjU2MjVIMC4yOTg4MjhWNS40Mzc1SDEwLjE0MjZMNS41MTEzMyAwLjgwNjI1TDYuMjk4ODMgMEwxMi4yOTg4IDZMNi4yOTg4MyAxMlonIGZpbGw9JyMyMDIwMjAnLz48L3N2Zz4=)
                      }

                      #product-container-muro .product-item-container button.btn.btn-default.product-select-btn:hover:after {
                        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMicgaGVpZ2h0PScxMicgdmlld0JveD0nMCAwIDEyIDEyJyBmaWxsPSdub25lJz48cGF0aCBkPSdNNiAxMkw1LjIxMjUgMTEuMTkzOEw5Ljg0Mzc1IDYuNTYyNUgwVjUuNDM3NUg5Ljg0Mzc1TDUuMjEyNSAwLjgwNjI1TDYgMEwxMiA2TDYgMTJaJyBmaWxsPSd3aGl0ZScvPjwvc3ZnPg==)
                      }

                      ev-engagement[group-name=paywall-abc] #paywall-abc,
                      ev-engagement[group-name=paywall-abc] .product-footer-info {
                        display: none
                      }
                    </style>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <script data-ev-engagement="" gs-x="1" gs-y="4" gs-w="1" gs-h="1" id="EV-DnD-Template-Col-JAVASCRIPT-80">
                      (function(window, document, undefined) {
                        const showRecommended = ["annual_12m_11000_11000_eur_abc"];
                        const showClaimer = ["monthly_1m_1099_1099_eur_abc"];
                        const claimerTextBold = 'Primer mes';
                        const claimerTextLight = '';
                        EV.Em.on(EV.Em.Event.PM_PROMO_ACTION, function(param) {
                          console.log("EM PROMO ACTION", param);
                          const product = param.detail;
                          const waitForOnePPlan = setInterval(() => {
                            if (product.paymentPlans.length === 1) {
                              clearInterval(waitForOnePPlan);
                              handleCustomWidget(product);
                              setTimeout(() => {
                                showProductsIfIsEveryProductReady(product, true);
                              }, 500);
                            }
                          }, 100);
                        });
                        EV.Em.on(EV.Em.Event.PRODUCT_SELECTION_LOADED, function(param) {
                          console.log("EM PRODUCT SELECTION LIGHT WIDGET LOADED", param);
                          const product = param.detail[0];
                          moveProducts();
                          handleCustomWidget(product);
                          handleCustomButtonText(product);
                        });

                        function handleCustomWidget(product) {
                          for (let paymentPlan of product.paymentPlans) {
                            createCustomPaymentPlanBox(product, paymentPlan);
                          }
                        }

                        function createCustomPaymentPlanBox(product, paymentPlan) {
                          const intervalPointer = setInterval(() => {
                            const productEls = document.querySelectorAll("#product-container-muro #product-" + product.name);
                            for (let productEl of productEls) {
                              if (productEl !== null) {
                                clearInterval(intervalPointer);
                                let PplanID = "#payment-plan-" + product.name + "-" + paymentPlan.name;
                                let pplanEl = productEl.querySelector(PplanID);
                                if (pplanEl === null) {
                                  continue;
                                }
                                if (product.paymentPlans.length == 1) {
                                  productEl.classList += " one-payment-plan";
                                  let productFeaturesEl = productEl.querySelector(".payment-plan-features");
                                  let productLinkEl = productEl.querySelector(".custom-feature");
                                  if (productFeaturesEl === null && paymentPlan.features && paymentPlan.features.length > 0) {
                                    addFeaturesPPlan(productEl, paymentPlan.features);
                                  } else if (productFeaturesEl === null && productLinkEl === null) {
                                    addCustomFeature(productEl);
                                  }
                                }
                                if (pplanEl) {
                                  pplanEl.textContent = "";
                                  //add checkbox
                                  createCheckbox(pplanEl);
                                  //add last hours claimer and recommended
                                  /*
                                  if (paymentPlan.id === product.autoSelectPlan) {
                                      addRecommendedBanner(pplanEl);
                                      addLastHoursClaimer(pplanEl);
                                      pplanEl.classList += " payment-plan-recommended";
                                  }
                                  */
                                  if (showRecommended.includes(paymentPlan.name) && pplanEl.parentElement.parentElement.parentElement.parentElement.querySelector(".recommended-banner") === null) {
                                    addRecommendedBanner(pplanEl, true);
                                    pplanEl.classList += " payment-plan-recommended";
                                  } else if (pplanEl.parentElement.parentElement.parentElement.parentElement.querySelector(".recommended-banner") === null) {
                                    addRecommendedBanner(pplanEl, false);
                                  }
                                  if (showClaimer.includes(paymentPlan.name)) {
                                    addLastHoursClaimer(pplanEl, true);
                                  } else {
                                    addLastHoursClaimer(pplanEl, false);
                                  }
                                  //add pplanName
                                  addPplanName(pplanEl, paymentPlan.displayName);
                                  //add price
                                  if (paymentPlan.trialPrice !== null) { // price with discount
                                    addStrikedPrice(pplanEl, paymentPlan.finalPrice, paymentPlan.currency.symbol, true);
                                    addFinalPrice(pplanEl, paymentPlan.trialPrice, paymentPlan.currency.symbol);
                                  } else { // price without discount
                                    addStrikedPrice(pplanEl, "", "", false);
                                    addFinalPrice(pplanEl, paymentPlan.finalPrice, paymentPlan.currency.symbol);
                                  }
                                  // add features
                                  if (product.paymentPlans.length > 1) {
                                    if (paymentPlan.id === product.autoSelectPlan && paymentPlan.features && paymentPlan.features.length > 0) {
                                      addFeaturesPPlan(pplanEl, paymentPlan.features);
                                    } else {
                                      addCustomFeature(pplanEl);
                                    }
                                  }
                                }
                                showProductsIfIsEveryProductReady(product, false);
                              }
                            }
                          }, 100);
                        }

                        function addRecommendedBanner(node, boolean) {
                          if (boolean) {
                            let recommendedEl = createCustomElement("span", "recommended-banner", "Recomendada");
                            node.parentElement.parentElement.parentElement.parentElement.prepend(recommendedEl)
                          } else {
                            let recommendedEl = createCustomElement("span", "recommended-banner visibility-hidden", "");
                            node.parentElement.parentElement.parentElement.parentElement.prepend(recommendedEl)
                          }
                        }

                        function createCheckbox(pplanEl) {
                          const checkbox = document.createElement("input");
                          checkbox.setAttribute("type", "checkbox");
                          checkbox.className = "plan-checkbox";
                          pplanEl.append(checkbox);
                        }

                        function addCustomFeature(node) {
                          let customFeature = createCustomElement("span", "custom-feature", "Renovación ");
                          let customLink = createCustomElement("a", "custom-feature-link", "consultar tarifas", "https://secure.abc.es/suscripcion/tarifas-vigentes");
                          customFeature.append(customLink);
                          node.append(customFeature);
                        }

                        function addFeaturesPPlan(node, pplanFeatures) {
                          let featureList = createCustomElement("ul", "payment-plan-features");
                          for (let feature of pplanFeatures) {
                            let featureEl = createCustomElement("li", "payment-plan-feature", feature);
                            featureList.append(featureEl);
                          }
                          node.append(featureList);
                        }

                        function addFinalPrice(pplanNode, price, currency) {
                          let priceContainer = createCustomElement("div", "payment-plan-final-price");
                          let priceArr = price.split(".");
                          let bigPrice = createCustomElement("span", "payment-plan-final-price-int", priceArr[0]);
                          let smallPriceText = (priceArr[1]) ? ("," + priceArr[1] + currency) : (",00" + currency);
                          let smallPrice = createCustomElement("span", "payment-plan-final-price-decimal", smallPriceText);
                          priceContainer.append(bigPrice, smallPrice);
                          pplanNode.append(priceContainer);
                        }

                        function addStrikedPrice(pplanNode, finalPrice, currency, boolean) {
                          let strikedPriceContainer = createCustomElement("div", "payment-plan-old-price");
                          let beforeText = createCustomElement("span", "payment-plan-old-price-text", "Antes ");
                          let price = finalPrice + currency;
                          let strikedPrice = createCustomElement("span", "payment-plan-old-price-striked", price);
                          if (!boolean) {
                            strikedPriceContainer.classList.add("visibility-hidden");
                          }
                          strikedPriceContainer.append(beforeText, strikedPrice);
                          pplanNode.append(strikedPriceContainer);
                        }

                        function addPplanName(pplanNode, pplanName) {
                          let pplanNameEl = createCustomElement("span", "payment-plan-name", pplanName);
                          pplanNode.append(pplanNameEl);
                        }

                        function addLastHoursClaimer(pplanNode, boolean) {
                          let lastHoursPromoEl = createCustomElement("span", "payment-plan-last-hours-offer");
                          let lastHoursEl;
                          let promoEl;
                          if (boolean) {
                            lastHoursEl = createCustomElement("span", "payment-plan-last-hours-offer-bold", claimerTextBold);
                            promoEl = createCustomElement("span", "payment-plan-last-hours-offer-light", claimerTextLight);
                          } else {
                            lastHoursPromoEl.classList.add("visibility-hidden");
                            lastHoursEl = createCustomElement("span", "payment-plan-last-hours-offer-bold", "");
                            promoEl = createCustomElement("span", "payment-plan-last-hours-offer-light", "");
                          }
                          lastHoursPromoEl.append(lastHoursEl, promoEl);
                          pplanNode.append(lastHoursPromoEl);
                        }

                        function createCustomElement(elementType, className, content, href) {
                          let customEl = document.createElement(elementType);
                          if (className) {
                            customEl.className = className;
                          }
                          if (content) {
                            customEl.textContent = content;
                          }
                          if (elementType === "a") {
                            customEl.href = href;
                            customEl.setAttribute("target", "_blank");
                          }
                          return customEl;
                        }

                        function handleCustomButtonText(product) {
                          const intervalPointer = setInterval(() => {
                            let cont = 0;
                            const productEls = document.querySelectorAll("#product-container-muro #product-" + product.name);
                            for (let productEl of productEls) {
                              cont++;
                              const button = productEl.querySelector("button.btn.btn-default.product-select-btn");
                              if (productEl && button) {
                                button.textContent = "Suscríbete";
                                clearInterval(intervalPointer);
                              }
                              if (cont <= 2000) {
                                clearInterval(intervalPointer);
                              }
                            }
                          }, 100);
                        }

                        function moveProducts() {
                          const container = document.querySelector("#product-container-muro");
                          const evElOne = document.querySelector("#ev_em_product_one_muro");
                          const evElTwo = document.querySelector("#ev_em_product_two_muro");
                          if (container && evElOne && evElTwo) {
                            container.textContent = "";
                            container.append(evElOne, evElTwo);
                          }
                        }
                        let totalNodes = document.querySelectorAll("ev-engagement[group-name='paywall-abc'] ev-em-product-selection");
                        let infoNodes = [];
                        totalNodes.forEach((element) => {
                          let obj = {
                            product: element.getAttribute("product-name"),
                            paymentPlan: element.getAttribute("payment-plans"),
                            hasPromoCode: element.hasAttribute("promo-code"),
                            readyToSend: false,
                          };
                          infoNodes.push(obj);
                        });

                        function showProductsIfIsEveryProductReady(product, promoAction) {
                          infoNodes.forEach((element) => {
                            if (element['product'] === product.name && (product.paymentPlans.some(plan => plan.name === element['paymentPlan']) || element['paymentPlan'] === null)) {
                              if (promoAction) {
                                // En el evento promoAction, establece readyToSend solo si promoCodeApplied es true
                                element.readyToSend = true;
                              } else {
                                // En el evento loaded, solo establece readyToSend si no requiere promoCode o si promoCodeApplied es true
                                if (!element.hasPromoCode || element.promoCodeApplied === true) {
                                  element.readyToSend = true;
                                }
                              }
                            }
                          });
                          if (infoNodes.every(item => item.readyToSend)) {
                            const element = document.querySelector("ev-engagement[group-name='paywall-abc'] #paywall-abc");
                            element.style.display = "block";
                            const footer = document.querySelector("ev-engagement[group-name='paywall-abc'] .product-footer-info");
                            footer.style.display = "inline-block";
                            let skeletonEl = document.querySelector("#skeleton-loader");
                            skeletonEl.style.display = "none";
                          }
                        }
                      }(window, document))
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ev-engagement>
        <div class="voc-paywall__link-row">
          <span class="voc-paywall__link">Si ya estás suscrito, <a href="https://secure.abc.es/identidad/inicio#vca=suscribete&amp;vso=abc&amp;vmc=on&amp;vli=cdn-ce-link-login" data-voc-vtm-id="comienzoSuscripcionON" data-voc-vtm-info="cdn-ce-link-login" data-mrf-link="https://secure.abc.es/identidad/inicio#vca=suscribete&amp;vso=abc&amp;vmc=on&amp;vli=cdn-ce-link-login" cmp-ltrk="Apertura" cmp-ltrk-idx="1" mrfobservableid="eac9ba55-92ec-4122-ab68-f8f6dfef7198">inicia sesión</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>