@use '../base/variables' as *;
@use '../base/variables-special' as *;

// -------------------------------
// ARTICLE HEADING
// -------------------------------

.voc-article.voc-article--detail-visual {
  .voc-title {
    font: 52px/45px $abcdr;
    text-transform: uppercase;
    letter-spacing: -2.4px;
    color: rgba($cb1, .8);

    @media (min-width: $screen-xs) {
      font-size: 60px;
      line-height: 52px;
    }
  }

  .voc-subtitle {
    width: 100%;
    max-width: unset;
    font: 20px/27px $abcdr;

    @media (min-width: $screen-xs) {
      font-size: 25px;
      line-height: 32px;
    }

    @media (min-width: $screen-smx) {
      width: 724px;
    }
  }

  .voc-title+.voc-subtitle {
    margin-top: 38px;
    margin-bottom: 0;
  }

  .voc-author {
    margin-top: 80px;

    &__name {
      font-size: 12px;
      line-height: normal;
    }

    &__subitem {
      &--1 {
        margin-right: 0;
      }
    }
  }

  .voc-info-container {
    padding-top: 70px;
  }
}

.voc-d.voc-d--visual {
  margin-top: 64px;
}