  <script src="//static.vocstatic.com/voonto2/latest/voonto.js" data-experiment="vocento/script"  data-evolok="true" data-evolok-terms="https://www.abc.es/contacto/aviso-legal.html" data-cmp="true" data-components="data-voc-component"></script>
  
  <script type="vocento/script" src="//static1.vocstatic.com/kraken/latest/kraken.js"></script>

  {{> ./svg-symbols }}
</body>
</html>