  <script type="vocento/script" src="//static1.vocstatic.com/kraken/latest/kraken.js"></script>
  <script src="https://static.vocstatic.com/voonto2/latest/voonto.js" data-experiment="vocento/script"  data-evolok="true" data-evolok-terms="https://www.abc.es/contacto/aviso-legal.html" data-cmp="true" data-components="data-voc-component"></script>

  {{!-- 
  <script src="/js/vendors/d3.min.js"></script>
  <script src="/js/vendors/gsap.min.js"></script>
  <script src="/js/vendors/ScrollTrigger.min.js"></script>
  <script src="/js/vendors/ScrambleTextPlugin.min.js"></script> 
  --}}

  {{> ./base/icons-svg-symbols}}
</body>
</html>