<div class="voc-footer">
  <div class="voc-heading">
    <div class="voc-heading__logo">
      <a href="https://www.abc.es/" title="Logo" class="voc-heading__link">
        <img src="https://s1.abcstatics.com/narwhal/1.3.26/assets/images/logo-ABC.svg" width="42" height="14" alt="Logo" class="voc-heading__img" />
      </a>
    </div>
    <span class="voc-heading__text">Copyright © DIARIO ABC, S.L.</span>
  </div>
  <div class="voc-footer__social">
    <div class="voc-to-top" data-voc-component="to-top">
      <span class="voc-to-top__text">Volver a arriba</span>
      <span class="voc-to-top__icon">
        <svg role="img" aria-hidden="true" viewBox="0 0 32 32">
          <g transform="translate(-1154 -167)">
            <rect data-name="Rectángulo 59" width="32" height="32" rx="16" transform="translate(1154 167)" />
            <path d="m1163.791 191.036-1.791-1.791 7.622-7.622 7.622 7.622-1.791 1.791-5.831-5.818-5.831 5.818m0-7.622-1.791-1.792 7.622-7.622 7.622 7.622-1.791 1.791-5.831-5.813Z" fill="#fff" />
          </g>
        </svg>
      </span>
    </div>
    <div class="voc-premium">
      <a class="voc-premium__link" href="//tienda.abc.es/#vca=suscribete&vso=abc&vmc=on&vli=btnfooter" title="ABC Premium" data-voc-vtm-id="comienzoSuscripcionON" data-voc-vtm-info="btnfooter">
        <span class="voc-premium__text">ABC Premium</span>
        <span class="voc-premium__icon">
          <svg role="img" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.047 19.047">
            <path id="Trazado_10" data-name="Trazado 10" d="M508.842.5a.717.717,0,0,1,1.364,0l2.024,5.658a.419.419,0,0,0,.14.192.391.391,0,0,0,.218.08l5.764.268a.734.734,0,0,1,.66.526.785.785,0,0,1-.239.832l-4.513,3.764a.421.421,0,0,0-.131.2.439.439,0,0,0-.005.242l1.538,5.824a.782.782,0,0,1-.274.82.7.7,0,0,1-.83.02l-4.813-3.332a.387.387,0,0,0-.443,0l-4.813,3.332a.7.7,0,0,1-.83-.02.782.782,0,0,1-.274-.82l1.538-5.824a.439.439,0,0,0-.005-.242.421.421,0,0,0-.131-.2l-4.513-3.764a.785.785,0,0,1-.239-.832.734.734,0,0,1,.66-.526l5.764-.268a.391.391,0,0,0,.218-.08.419.419,0,0,0,.14-.192Z" transform="translate(-500)" fill-rule="evenodd" />
          </svg>
        </span>
      </a>
    </div>
    <div class="voc-social-networks">
      <a href="https://www.facebook.com/ABCes/" title="Facebook" class="voc-social-networks__icon" data-voc-vtm-id="compartirrrss" data-voc-vtm-info="footer-facebook">
        <svg fill="#000000" role="img" aria-hidden="true" viewBox="0 0 32 32">
          <g transform="translate(-180 -167)">
            <rect data-name="Rectángulo 55" width="32" height="32" rx="16" transform="translate(180 167)" />
            <path d="M197.377 192.937V184.3h2.9l.432-3.364h-3.332v-2.15c0-.973.272-1.639 1.669-1.639h1.781v-3.013a24.229 24.229 0 0 0-2.594-.134c-2.568 0-4.328 1.569-4.328 4.449v2.482H191v3.364h2.905v8.643Z" fill="#ffffff" />
          </g>
        </svg>
      </a>
      <a href="https://x.com/abc_es" title="X" class="voc-social-networks__icon" data-voc-vtm-id="compartirrrss" data-voc-vtm-info="footer-twitter">
        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
          <g>
            <circle cx="16" cy="16" r="16"></circle>
            <path d="M20.58 8.87H23l-5.32 6.05 6.21 8.21h-4.87l-3.82-4.99-4.37 4.99H8.41l5.63-6.47-5.95-7.79h5l3.45 4.56 4.04-4.56Zm-.85 12.84h1.34l-8.69-11.48h-1.44l8.79 11.48Z"></path>
          </g>
        </svg>
      </a>
      <a href="https://instagram.com/abc_diario" title="Instagram" class="voc-social-networks__icon" data-voc-vtm-id="compartirrrss" data-voc-vtm-info="footer-instagram">
        <svg role="img" aria-hidden="true" viewBox="0 0 32 32">
          <g transform="translate(-275 -167)">
            <rect data-name="Rectángulo 58" width="32" height="32" rx="16" transform="translate(275 167)" />
            <g transform="translate(280.35 172.35)" fill="#fff">
              <path data-name="Trazado 22" d="M10.179 3.188c2.276 0 2.546.007 3.448.051a4.71 4.71 0 0 1 1.585.292 2.589 2.589 0 0 1 .979.639 2.663 2.663 0 0 1 .639.979 4.689 4.689 0 0 1 .292 1.585c.04.9.051 1.169.051 3.448s-.007 2.546-.051 3.448a4.71 4.71 0 0 1-.292 1.585 2.589 2.589 0 0 1-.639.979 2.663 2.663 0 0 1-.979.639 4.689 4.689 0 0 1-1.585.292c-.9.04-1.169.051-3.448.051s-2.546-.007-3.448-.051a4.71 4.71 0 0 1-1.585-.292 2.589 2.589 0 0 1-.979-.639 2.663 2.663 0 0 1-.639-.979 4.689 4.689 0 0 1-.292-1.585c-.04-.9-.051-1.169-.051-3.448s.007-2.546.051-3.448a4.71 4.71 0 0 1 .292-1.585 2.589 2.589 0 0 1 .639-.979 2.663 2.663 0 0 1 .979-.639 4.689 4.689 0 0 1 1.585-.292c.9-.044 1.173-.051 3.448-.051m0-1.538c-2.316 0-2.608.011-3.518.051a6.223 6.223 0 0 0-2.071.4 4.23 4.23 0 0 0-1.512.983 4.134 4.134 0 0 0-.978 1.51 6.3 6.3 0 0 0-.4 2.071c-.037.906-.047 1.2-.047 3.514s.011 2.608.051 3.518a6.2 6.2 0 0 0 .4 2.071 4.23 4.23 0 0 0 .983 1.512 4.134 4.134 0 0 0 1.512.983 6.3 6.3 0 0 0 2.071.4c.91.04 1.2.051 3.518.051s2.608-.011 3.518-.051a6.2 6.2 0 0 0 2.071-.4 4.23 4.23 0 0 0 1.512-.983 4.134 4.134 0 0 0 .983-1.512 6.3 6.3 0 0 0 .4-2.071c.04-.91.051-1.2.051-3.518s-.011-2.608-.051-3.518a6.2 6.2 0 0 0-.4-2.071 4.23 4.23 0 0 0-.983-1.512 4.134 4.134 0 0 0-1.518-.978 6.3 6.3 0 0 0-2.071-.4c-.913-.037-1.205-.047-3.521-.047Z" />
              <path data-name="Trazado 23" d="M10.18 5.8a4.38 4.38 0 1 0 4.38 4.38 4.381 4.381 0 0 0-4.38-4.38Zm0 7.221a2.842 2.842 0 1 1 2.842-2.842 2.84 2.84 0 0 1-2.842 2.842Z" />
              <circle data-name="Elipse 25" cx="1.023" cy="1.023" r="1.023" transform="translate(13.708 4.605)" />
            </g>
          </g>
        </svg>
      </a>
      <a href="https://es.linkedin.com/company/diario-abc" title="Linkedin" class="voc-social-networks__icon" data-voc-vtm-id="compartirrrss" data-voc-vtm-info="footer-linkedin">
        <svg role="img" aria-hidden="true" viewBox="0 0 32 32">
          <g transform="translate(-322 -167)">
            <rect data-name="Rectángulo 57" width="32" height="32" rx="16" transform="translate(322 167)" />
            <g fill="#fff">
              <path data-name="Rectángulo 62" d="M330.256 180.093h3.188v10.247h-3.188z" />
              <path data-name="Trazado 24" d="M331.85 178.693a1.847 1.847 0 1 1 1.847-1.846 1.846 1.846 0 0 1-1.847 1.846Z" />
              <path data-name="Trazado 25" d="M345.371 190.337h-3.185v-4.98c0-1.188-.02-2.717-1.656-2.717-1.656 0-1.908 1.294-1.908 2.632v5.065h-3.181v-10.244h3.052v1.4h.044a3.349 3.349 0 0 1 3.014-1.656c3.226 0 3.82 2.12 3.82 4.881Z" />
            </g>
          </g>
        </svg>
      </a>
    </div>
    <div class="voc-stores">
      <span class="voc-stores__text">Descarga la app</span>
      <a href="https://apps.apple.com/es/app/diario-abc/id336860348" title="Apple Store" class="voc-stores__icon">
        <svg role="img" aria-hidden="true" viewBox="0 0 32 32">
          <g data-name="ICN-Apple store" transform="translate(-790 -167)">
            <rect data-name="Rectángulo 60" width="32" height="32" rx="16" transform="translate(790 167)" />
            <g fill="#fff">
              <path d="M810.844 181.683a4.036 4.036 0 0 1 1.922-3.386 4.134 4.134 0 0 0-3.256-1.76c-1.369-.144-2.7.819-3.4.819s-1.781-.805-2.936-.782a4.334 4.334 0 0 0-3.651 2.225c-1.577 2.732-.401 6.746 1.111 8.953.756 1.082 1.64 2.289 2.8 2.246 1.131-.046 1.554-.721 2.919-.721s1.75.721 2.929.693c1.214-.018 1.979-1.085 2.708-2.177a8.92 8.92 0 0 0 1.239-2.522 3.9 3.9 0 0 1-2.385-3.588M808.599 175.092a3.973 3.973 0 0 0 .909-2.847 4.047 4.047 0 0 0-2.616 1.353 3.781 3.781 0 0 0-.933 2.747 3.343 3.343 0 0 0 2.64-1.248" />
            </g>
          </g>
        </svg>
      </a>
      <a href="https://play.google.com/store/apps/details?id=com.vocento.abc" title="Play Store" class="voc-stores__icon">
        <svg role="img" aria-hidden="true" viewBox="0 0 32 32">
          <g data-name="ICN-Play store" transform="translate(-837 -167)">
            <rect data-name="Rectángulo 61" width="32" height="32" rx="16" transform="translate(837 167)" />
            <g fill="#fff">
              <path d="M847.523 191.904c-.317-.085-.523-.4-.523-.886v-16.057a.852.852 0 0 1 .451-.865l7.891 8.948-7.819 8.86Z" />
              <path data-name="google-play-path" d="m848.609 191.563 9.5-5.383-2.316-2.623ZM858.172 179.837l-9.365-5.309 7 7.989ZM858.808 180.196l3.669 2.08c.695.394.7 1.029 0 1.426l-3.762 2.132-2.454-2.8 2.547-2.838Z" />
            </g>
          </g>
        </svg>
      </a>
    </div>
  </div>
  <section class="voc-footer__pages">
    <nav>
      <div class="voc-footer-nav">
        <ul class="voc-footer-nav__list">
          <li>
            <a href="https://www.vocento.com/#vca=link-footer&vmc=abc-es&vso=portada.portada&vli=vocento" title="Vocento">Vocento</a>
          </li>
          <li>
            <a href="/contacto/quienes-somos.html#vca=link-footer&vmc=abc-es&vso=portada.portada&vli=quienes-somos" title="Sobre nosotros">Sobre nosotros</a>
          </li>
          <li>
            <a href="/contacto/contacte.html#vca=link-footer&vmc=abc-es&vso=portada.portada&vli=contacto" title="Contacto">Contacto</a>
          </li>
          <li>
            <a href="https://www.vocento.com/politica-privacidad#vca=link-footer&vmc=abc-es&vso=portada.portada&vli=politica-privacidad" title="Política de privacidad">Política de privacidad</a>
          </li>
          <li>
            <a href="javascript:void(0);" class="cmpLink" title="Política de cookies">Política de cookies</a>
          </li>
          <li data-vtm-utiq style="display:none;">
            <a href="/servicio-utiq.html" title="Administrar Utiq">Administrar Utiq</a>
          </li>
          <li>
            <a href="/contacto/condiciones.html#vca=link-footer&vmc=abc-es&vso=portada.portada&vli=condiciones-uso" title="Condiciones de uso">Condiciones de uso</a>
          </li>
          <li>
            <a href="/contacto/aviso-legal.html#vca=link-footer&vmc=abc-es&vso=portada.portada&vli=aviso-legal" title="Aviso legal">Aviso legal</a>
          </li>
          <li>
            <a href="/reglamento-emfa.html#vca=link-footer&vmc=abc-es&vso=portada.portada&vli=reglamento-emfa" title="Reglamento UE 2024/1083">Reglamento UE 2024/1083</a>
          </li>
          <li>
            <a href="https://secure.abc.es/suscripcion/condiciones-contratacion#vca=link-footer&vmc=abc-es&vso=portada.portada&vli=condiciones-contratacion" title="Condiciones de contratación">Condiciones de contratación</a>
          </li>
          <li>
            <a href="https://www.abc.es/compromisos-periodisticos/#vca=link-footer&vmc=abc-es&vso=portada.portada&vli=compromisos-editoriales" title="Compromisos editoriales">Compromisos editoriales</a>
          </li>
        </ul>
      </div>
      <div class="voc-footer-nav">
        <ul class="voc-footer-nav__list">
          <li>
            <a href="https://www.abc.es/loteria-de-navidad/comprobar-loteria-navidad/" title="Comprobar Lotería Navidad" target="_self">Comprobar Lotería Navidad</a>
          </li>
          <li>
            <a href="https://www.abc.es/loteria-de-navidad/" title="Lotería Navidad" target="_self">Lotería Navidad</a>
          </li>
          <li>
            <a href="https://www.abc.es/loteria-de-navidad/localizador/" title="Buscar número Lotería Navidad" target="_self">Buscar número Lotería Navidad</a>
          </li>
          <li>
            <a href="https://horoscopo.abc.es/" title="horoscopo.abc.es" target="_self">Horóscopo</a>
          </li>
          <li>
            <a href="https://www.abc.es/play/television/programacion-tv/" title="Programación TV" target="_self">Programación TV</a>
          </li>
          <li>
            <a href="https://horoscopo.abc.es/horoscopo-chino/" title="horoscopo.abc.es" target="_self">Horóscopo Chino</a>
          </li>
          <li>
            <a href="https://www.abc.es/ultimas-noticias/" title="www.abc.es" target="_self">Últimas noticias</a>
          </li>
          <li>
            <a href="https://www.abc.es/loterias/" title="Loterías" target="_self">Loterías</a>
          </li>
          <li>
            <a href="https://www.abc.es/voz/noticias-del-dia/" title="Escuchar noticias del día" target="_self">Escuchar noticias del día</a>
          </li>
          <li>
            <a href="https://www.abc.es/noticias/podcast/" title="Pódcast" target="_self">Pódcast</a>
          </li>
          <li>
            <a href="https://www.laverdad.es/loteriadenavidad/comprobar-loteria-navidad/" title="Sorteo Navidad comprobar número - La Verdad" target="_self">Sorteo Navidad comprobar número - La Verdad</a>
          </li>
        </ul>
      </div>
    </nav>
  </section>
  <section class="voc-footer__corporate">
    <div class="voc-heading">
      <div class="voc-heading__logo">
        <a href="https://www.vocento.com/" title="Vocento" target="_blank" class="voc-heading__link">
          <img loading="lazy" src="https://s2.abcstatics.com/narwhal/1.3.26/assets/images/logo-vocento.svg" class="voc-heading__img" alt="Logo" width="93" height="14">
        </a>
        <div class="voc-heading__icon--arrow">
          <span data-voc-component="footer-arrow-menu">
            <svg role="img" aria-hidden="true" viewBox="0 0 19.387 7.193">
              <path data-name="Trazado 12" d="m.693.694 9.025 6 8.975-6" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
        </div>
      </div>
    </div>
    <div data-voc-component="nav-footer" class="voc-footer-toggle">
      <nav class="voc-footer-nav">
        <ul class="voc-footer-nav__list">
          <li>
            <a href="https://www.abc.es" title="ABC" target="_self">ABC</a>
          </li>
          <li>
            <a href="https://sevilla.abc.es" title="ABC Sevilla" target="_self">ABC Sevilla</a>
          </li>
          <li>
            <a href="https://www.hoy.es/" title="Hoy" target="_blank">Hoy</a>
          </li>
          <li>
            <a href="https://www.elcorreo.com/" title="El Correo" target="_blank">El Correo</a>
          </li>
          <li>
            <a href="https://www.diariovasco.com/" title="Diario Vasco" target="_blank">Diario Vasco</a>
          </li>
          <li>
            <a href="https://www.lasprovincias.es/" title="Las Provincias" target="_blank">Las Provincias</a>
          </li>
          <li>
            <a href="https://www.eldiariomontanes.es/" title="Diario Montañes" target="_blank">Diario Montañes</a>
          </li>
          <li>
            <a href="https://www.elnortedecastilla.es/" title="Norte de Castilla" target="_blank">Norte de Castilla</a>
          </li>
          <li>
            <a href="https://www.elcomercio.es/" title="El Comercio" target="_blank">El Comercio</a>
          </li>
          <li>
            <a href="https://www.lavozdigital.es" title="La Voz Digital" target="_blank">La Voz Digital</a>
          </li>
          <li>
            <a href="https://www.elnortedecastilla.es/" title="Norte de Castilla" target="_blank">Norte de Castilla</a>
          </li>
          <li>
            <a href="https://www.diariosur.es/" title="Sur" target="_blank">Sur</a>
          </li>
          <li>
            <a href="https://www.laverdad.es/" title="La Verdad" target="_blank">La Verdad</a>
          </li>
          <li>
            <a href="https://www.ideal.es/" title="Ideal" target="_blank">Ideal</a>
          </li>
          <li>
            <a href="https://www.larioja.com/" title="La Rioja" target="_blank">La Rioja</a>
          </li>
          <li>
            <a href="https://www.leonoticias.com/" title="Leonnoticias" target="_blank">Leonnoticias</a>
          </li>
          <li>
            <a href="https://www.burgosconecta.es/" title="Burgosconecta" target="_blank">Burgosconecta</a>
          </li>
          <li>
            <a href="https://www.huelva24.com/" title="Huelva24" target="_blank">Huelva24</a>
          </li>
        </ul>
      </nav>
      <nav class="voc-footer-nav">
        <ul class="voc-footer-nav__list">
          <li>
            <a href="https://www.xlsemanal.com/" title="XL Semanal" target="_blank">XL Semanal</a>
          </li>
          <li>
            <a href="https://www.mujerhoy.com/" title="Mujerhoy" target="_blank">Mujerhoy</a>
          </li>
          <li>
            <a href="https://oferplan.com/" title="Oferplan" target="_blank">Oferplan</a>
          </li>
          <li>
            <a href="https://www.womennow.es/" title="WomenNow" target="_blank">WomenNow</a>
          </li>
          <li>
            <a href="https://www.autocasion.com/" title="Autocasión" target="_blank">Autocasión</a>
          </li>
          <li>
            <a href="https://www.pisos.com/" title="Pisos.com" target="_blank">Pisos.com</a>
          </li>
          <li>
            <a href="https://www.unoauto.com/" title="Unoauto" target="_blank">Unoauto</a>
          </li>
          <li>
            <a href="https://www.turium.es/" title="Turium" target="_blank">Turium</a>
          </li>
          <li>
            <a href="https://www.welife.es/" title="Welife" target="_blank">Welife</a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
</div>