    <script src="//static.vocstatic.com/voonto2/latest/voonto.js" data-experiment="vocento/script" data-components="data-voc-component"></script>
    <script type="vocento/script" src="//s1.abcstatics.com/narwhal/latest/dom-ready.js"></script>
    <script type="vocento/script" src="//s1.abcstatics.com/narwhal/latest/click.js"></script>
    <script type="vocento/script" src="//s1.abcstatics.com/narwhal/latest/narwhal.js"></script>

     <script src="https://players.brightcove.net/55814260001/Bki6qnWf_default/index.min.js"></script>
  <script>
    // Inicializa el reproductor aquí, asegurándote de que #myVideoPlayer exista
    var player = bc('myVideoPlayer');
  </script>

</body>
</html>