<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>PPLL-ABC 2026</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>  
  {{!-- Estilos advertising mockup --}}
  <style>.v-adv .v-style-guide{background:#d9eeff;display:flex;justify-content:center;align-items:center;width:100%}.v-adv .v-style-guide span{color:#202020;font-size:15px;line-height:19px;font-family:Roboto,sans-serif}.v-adv--mlc .v-style-guide{min-height:60px}@media (min-width:699px){.v-adv--mlc .v-adv__w--2 .v-style-guide{width:800px}}.v-adv--cnt .v-adv__c .v-style-guide{display:flex;height:900px}.v-adv--lyr .v-style-guide{height:250px}.v-adv--rbp .v-adv__c .v-style-guide{align-items:center}.v-adv--rbc .v-style-guide{height:250px}@media (min-width:1025px){.v-adv--sky .v-style-guide{width:100%;height:100%}}.v-adv--ntv .v-adv__c .v-style-guide{align-items:center}.v-adv--rsp .v-style-guide{height:100%;min-height:572px}.v-adv--ntv .v-style-guide{background:#e5ffec}.v-adv--btl .v-style-guide{background:#fdf7d2}@media (max-width:699px){.v-adv--sty{display:block}}.hidden{display:none}.visible-xs{display:block}@media (min-width:699px){.visible-xs{display:none!important}}.visible-sm{display:block}@media (min-width:1025px){.visible-sm{display:none!important}}.visible-ms{display:block}@media (min-width:769px){.visible-ms{display:none!important}}.visible-md{display:block}@media (min-width:1025px){.visible-md{display:none}}.visible-lg{display:block}@media (min-width:1660px){.visible-lg{display:none}}@media (max-width:699px){.hidden-xs{display:none!important}}@media (max-width:1025px){.hidden-sm{display:none!important}}@media (max-width:769px){.hidden-ms{display:none!important}}@media (min-width:1025px){.hidden-md{display:none!important}}@media (min-width:1660px){.hidden-lg{display:none!important}}</style>