<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" lang="es">
<head>
  <meta charset="utf-8">
  <meta name="lang" content="es">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <link rel="preconnect" href="https://static.vocstatic.com">
  <link rel="preconnect" href="https://static1.vocstatic.com">
  <link rel="preconnect" href="https://s1.abcstatics.com">

  {{!-- NOTE: Estilos de la plantilla visual --}}
  <link rel="stylesheet" href="https://static1.vocstatic.com/voc26/latest/voc26-detail-special-visual.css">

  {{!-- NOTE: Js de voonto --}}
  <link rel="preload" as="script" href="//static.vocstatic.com/voonto2/latest/voonto.js">
  
  <title>{{metadata.infoContainer.title}}</title>

  {{!-- NOTE: Favicons --}}
  <link rel="shortcut icon" href="https://s1.abcstatics.com/comun/2018/img/iconos-metas/favicon-2016.ico" type="image/x-icon">
  <link rel="icon" href="https://s1.abcstatics.com/comun/2018/img/iconos-metas/favicon-2016.ico">
  <link rel="apple-touch-icon" href="https://s1.abcstatics.com/comun/2018/img/iconos-metas/upper-touch-icon.png">
  <link rel="apple-touch-icon" href="https://s1.abcstatics.com/comun/2018/img/iconos-metas/apple-touch-icon-60x60.png" sizes="60x60">
  <link rel="apple-touch-icon" href="https://s1.abcstatics.com/comun/2018/img/iconos-metas/apple-touch-icon-57x57.png" sizes="57x57">
  <link rel="apple-touch-icon" href="https://s1.abcstatics.com/comun/2018/img/iconos-metas/apple-touch-icon-72x72.png" sizes="72x72">
  <link rel="apple-touch-icon" href="https://s1.abcstatics.com/comun/2018/img/iconos-metas/apple-touch-icon-76x76.png" sizes="76x76">
  <link rel="apple-touch-icon" href="https://s1.abcstatics.com/comun/2018/img/iconos-metas/apple-touch-icon-114x114.png" sizes="114x114">
  <link rel="apple-touch-icon" href="https://s1.abcstatics.com/comun/2018/img/iconos-metas/apple-touch-icon-120x120.png" sizes="120x120">
  <link rel="apple-touch-icon" href="https://s1.abcstatics.com/comun/2018/img/iconos-metas/apple-touch-icon-144x144.png" sizes="144x144">
  <link rel="apple-touch-icon" href="https://s1.abcstatics.com/comun/2018/img/iconos-metas/apple-touch-icon-152x152.png" sizes="152x152">
  <link rel="apple-touch-icon" href="https://s1.abcstatics.com/comun/2018/img/iconos-metas/apple-touch-icon-180x180.png" sizes="180x180">
  <link rel="icon" type="image/png" href="https://s1.abcstatics.com/comun/2018/img/iconos-metas/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="https://s1.abcstatics.com/comun/2018/img/iconos-metas/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="https://s1.abcstatics.com/comun/2018/img/iconos-metas/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="https://s1.abcstatics.com/comun/2018/img/iconos-metas/favicon-192x192.png" sizes="192x192">
  <meta name="msapplication-square70x70logo" content="https://s1.abcstatics.com/comun/2018/img/iconos-metas/smalltile.png">
  <meta name="msapplication-wide310x150logo" content="https://s1.abcstatics.com/comun/2018/img/iconos-metas/widetile.png">
  <meta name="msapplication-square150x150logo" content="https://s1.abcstatics.com/comun/2018/img/iconos-metas/mediumtile.png">
  <meta name="msapplication-square310x310logo" content="https://s1.abcstatics.com/comun/2018/img/iconos-metas/largetile.png">
</head>
<body>  
  {{!-- Estilos advertising mockup --}}
  <style>.v-adv .v-style-guide{background:#d9eeff;display:flex;justify-content:center;align-items:center;width:100%}.v-adv .v-style-guide span{color:#202020;font-size:15px;line-height:19px;font-family:Roboto,sans-serif}.v-adv--mlc .v-style-guide{min-height:60px}@media (min-width:699px){.v-adv--mlc .v-adv__w--2 .v-style-guide{width:800px}}.v-adv--cnt .v-adv__c .v-style-guide{display:flex;height:900px}.v-adv--lyr .v-style-guide{height:250px}.v-adv--rbp .v-adv__c .v-style-guide{align-items:center}.v-adv--rbc .v-style-guide{height:250px}@media (min-width:1025px){.v-adv--sky .v-style-guide{width:100%;height:100%}}.v-adv--ntv .v-adv__c .v-style-guide{align-items:center}.v-adv--rsp .v-style-guide{height:100%;min-height:572px}.v-adv--ntv .v-style-guide{background:#e5ffec}.v-adv--btl .v-style-guide{background:#fdf7d2}@media (max-width:699px){.v-adv--sty{display:block}}.hidden{display:none}.visible-xs{display:block}@media (min-width:699px){.visible-xs{display:none!important}}.visible-sm{display:block}@media (min-width:1025px){.visible-sm{display:none!important}}.visible-ms{display:block}@media (min-width:769px){.visible-ms{display:none!important}}.visible-md{display:block}@media (min-width:1025px){.visible-md{display:none}}.visible-lg{display:block}@media (min-width:1660px){.visible-lg{display:none}}@media (max-width:699px){.hidden-xs{display:none!important}}@media (max-width:1025px){.hidden-sm{display:none!important}}@media (max-width:769px){.hidden-ms{display:none!important}}@media (min-width:1025px){.hidden-md{display:none!important}}@media (min-width:1660px){.hidden-lg{display:none!important}}</style>
  