<header class="v-h v-h--t1" data-voc-component="header">
  <div class="v-h__c">
    <div class="v-h-n">
      <div class="v-h-n__n">
        <ul class="v-h-n__u">
          <li class="v-h-n__l">
            <span class="v-h-n__p">Es noticia</span>
          </li>
          <li class="v-h-n__l">
            <a class="v-h-n__a" href="https://horoscopo.abc.es/" target="_self" title="Horoscopo" data-mrf-link="https://horoscopo.abc.es/">Horoscopo</a>
          </li>
          <li class="v-h-n__l">
            <a class="v-h-n__a" href="https://www.abc.es/espana/comunidad-valenciana/mercadona-busca-personal-trabajar-noches-2280-euros-20251002163600-nt.html" target="_self" title="Mercadona" data-mrf-link="https://www.abc.es/espana/comunidad-valenciana/mercadona-busca-personal-trabajar-noches-2280-euros-20251002163600-nt.html">Mercadona</a>
          </li>
          <li class="v-h-n__l">
            <a class="v-h-n__a" href="https://www.abc.es/loterias/" target="_self" title="Loterias" data-mrf-link="https://www.abc.es/loterias/">Loterias</a>
          </li>
          <li class="v-h-n__l">
            <a class="v-h-n__a" href="https://www.abc.es/eltiempo/" target="_self" title="Tiempo" data-mrf-link="https://www.abc.es/eltiempo/">Tiempo</a>
          </li>
          <li class="v-h-n__l">
            <a class="v-h-n__a" href="https://www.abc.es/esquelas/" target="_self" title="Esquelas" data-mrf-link="https://www.abc.es/esquelas/">Esquelas</a>
          </li>
          <li class="v-h-n__l">
            <a class="v-h-n__a" href="https://juegos.abc.es/" target="_self" title="Juegos" data-mrf-link="https://juegos.abc.es/">Juegos</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="v-h__g v-c">
      <div class="v-h__w v-h__w--1">
        <time class="v-h__p v-h__p--1">
          <span></span> 
        </time>
        <button class="v-hmb" popovertarget="header-open" aria-controls="primary-nav">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.375 17.75a.625.625 0 1 1 0 1.25H4.625a.625.625 0 1 1 0-1.25h14.75Zm-4.571-4.25a.625.625 0 0 1 0 1.25H4.625a.625.625 0 1 1 0-1.25h10.179Zm4.571-4.25a.625.625 0 1 1 0 1.25H4.625a.625.625 0 1 1 0-1.25h14.75Zm0-4.25a.625.625 0 1 1 0 1.25H4.625a.625.625 0 1 1 0-1.25h14.75Z"></path>
          </svg>
        </button>
      </div>
      <div class="v-h__w v-h__w--2">
        <h1 class="v-log v-log--1">
          <a href="https://www.abc.es" data-voc-vtm-id="logo-pt" data-voc-vtm-info="cabecera" class="v-log__a" title="ABC: últimas noticias y actualidad de España y el mundo" target="_self" rel="follow">
            <img class="v-log__i" src="https://s1.abcstatics.com/narwhal/1.2.225/assets/images/logo-ABC.svg" alt="ABC: últimas noticias y actualidad de España y el mundo" width="254" height="84">
          </a>
        </h1>
        <div class="v-h__n v-h__n--1">
          <ul class="v-h__u" id="edition-switch">
            <li class="v-h__l" title="Nacional" href="https://www.abc.es/" data_voc_vtm_id="cabecera-abc" data_voc_vtm_info="logo-pt-abc-cabecera-abc" data-voc-change-edition="nacional" target="_self" rel="follow">
              <a class="v-h__a is-active" title="Nacional" href="https://www.abc.es/" data_voc_vtm_id="cabecera-abc" data_voc_vtm_info="logo-pt-abc-cabecera-abc" data-voc-change-edition="nacional" target="_self" rel="follow">Nacional</a>
            </li>
            <li class="v-h__l" title="Sevilla" href="https://www.abc.es/sevilla/" data_voc_vtm_id="cabecera-abc" data_voc_vtm_info="logo-pt-abcdesevilla-cabecera-abc" data-voc-change-edition="sevilla" target="_self" rel="follow">
              <a class="v-h__a" title="Sevilla" href="https://www.abc.es/sevilla/" data_voc_vtm_id="cabecera-abc" data_voc_vtm_info="logo-pt-abcdesevilla-cabecera-abc" data-voc-change-edition="sevilla" target="_self" rel="follow">Sevilla</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="v-h__w v-h__w--3">
        <div class="v-btn-c">
          <a class="v-btn v-btn--1 v-btn-g v-btn--s" href="https://secure.abc.es/suscripcion" title="Suscribete a | ABC Premium" data-voc-vtm-id="suscribete" data-voc-vtm-info="click-cabecera">Suscribete a | ABC Premium</a>
          <ev-engagement style="visibility: hidden;" class="v-btn v-btn--1 v-btn-g v-btn--s" group-name="pastilla-abc" redirect="false"></ev-engagement>
          <a class="v-btn v-btn--2 v-btn--s v-btn-i v-btn-i--l gigya-login-link" href="https://secure.abc.es/identidad/inicio" title="Iniciar sesión" data-voc-vtm-id="iniciasesion" data-voc-vtm-info="click-cabecera">
            <span class="v-i">
              <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.01468 10.5285C3.58135 10.108 4.19868 9.77599 4.86668 9.53233C5.53457 9.28877 6.24546 9.16699 6.99935 9.16699C7.75324 9.16699 8.46413 9.28877 9.13202 9.53233C9.80002 9.77599 10.4173 10.108 10.984 10.5285C11.3985 10.0729 11.7268 9.5456 11.9692 8.94649C12.2115 8.34738 12.3327 7.69866 12.3327 7.00033C12.3327 5.52255 11.8132 4.26421 10.7743 3.22533C9.73546 2.18644 8.47713 1.66699 6.99935 1.66699C5.52157 1.66699 4.26324 2.18644 3.22435 3.22533C2.18546 4.26421 1.66602 5.52255 1.66602 7.00033C1.66602 7.69866 1.78718 8.34738 2.02952 8.94649C2.27185 9.5456 2.60024 10.0729 3.01468 10.5285ZM6.99952 7.50033C6.39085 7.50033 5.87757 7.29144 5.45968 6.87366C5.04168 6.45577 4.83268 5.94249 4.83268 5.33383C4.83268 4.72516 5.04157 4.21188 5.45935 3.79399C5.87724 3.37599 6.39052 3.16699 6.99918 3.16699C7.60785 3.16699 8.12113 3.37588 8.53902 3.79366C8.95702 4.21155 9.16602 4.72483 9.16602 5.33349C9.16602 5.94216 8.95713 6.45544 8.53935 6.87333C8.12146 7.29133 7.60818 7.50033 6.99952 7.50033ZM6.99935 13.3337C6.1199 13.3337 5.2949 13.1683 4.52435 12.8375C3.75379 12.5067 3.08352 12.0563 2.51352 11.4862C1.9434 10.9162 1.49296 10.2459 1.16218 9.47533C0.831405 8.70477 0.666016 7.87977 0.666016 7.00033C0.666016 6.12088 0.831405 5.29588 1.16218 4.52533C1.49296 3.75477 1.9434 3.08449 2.51352 2.51449C3.08352 1.94438 3.75379 1.49394 4.52435 1.16316C5.2949 0.832381 6.1199 0.666992 6.99935 0.666992C7.87879 0.666992 8.70379 0.832381 9.47435 1.16316C10.2449 1.49394 10.9152 1.94438 11.4852 2.51449C12.0553 3.08449 12.5057 3.75477 12.8365 4.52533C13.1673 5.29588 13.3327 6.12088 13.3327 7.00033C13.3327 7.87977 13.1673 8.70477 12.8365 9.47533C12.5057 10.2459 12.0553 10.9162 11.4852 11.4862C10.9152 12.0563 10.2449 12.5067 9.47435 12.8375C8.70379 13.1683 7.87879 13.3337 6.99935 13.3337ZM6.99935 12.3337C7.60102 12.3337 8.18113 12.2369 8.73968 12.0433C9.29824 11.8497 9.79418 11.5789 10.2275 11.2312C9.79418 10.896 9.30468 10.6349 8.75902 10.4478C8.21324 10.2606 7.62668 10.167 6.99935 10.167C6.37202 10.167 5.78441 10.2595 5.23652 10.4445C4.68863 10.6296 4.20018 10.8918 3.77118 11.2312C4.20452 11.5789 4.70046 11.8497 5.25902 12.0433C5.81757 12.2369 6.39768 12.3337 6.99935 12.3337ZM6.99935 6.50033C7.33102 6.50033 7.60835 6.38877 7.83135 6.16566C8.05446 5.94266 8.16602 5.66533 8.16602 5.33366C8.16602 5.00199 8.05446 4.72466 7.83135 4.50166C7.60835 4.27855 7.33102 4.16699 6.99935 4.16699C6.66768 4.16699 6.39035 4.27855 6.16735 4.50166C5.94424 4.72466 5.83268 5.00199 5.83268 5.33366C5.83268 5.66533 5.94424 5.94266 6.16735 6.16566C6.39035 6.38877 6.66768 6.50033 6.99935 6.50033Z"></path>
              </svg>
            </span>Iniciar sesión </a>
          <a class="v-btn v-btn--3 v-btn-b v-btn-i v-btn-i--l v-btn--s" href="/newsletters/" title="Newsletters" data-voc-vtm-id="newsletters" data-voc-vtm-info="click-cabecera">
            <span class="v-i">
              <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                <use href="#icon-newsletter"></use>
              </svg>
            </span>Newsletters </a>
        </div>
      </div>
      <div class="v-h__w v-h__w--4">
        <nav class="v-h__n v-h__n--2">
          <ul class="v-h__u">
            <li class="v-h__l" title="Portada">
              <a class="v-h__a" href="https://www.abc.es/" title="Portada" target="_self" rel="follow" data-voc-vtm-id="logo-pt" data-voc-vtm-info="secciones">Portada</a>
            </li>
            <li class="v-h__l" title="Opinión">
              <a class="v-h__a" href="https://www.abc.es/opinion/" title="Opinión" target="_self" rel="follow" data-voc-vtm-id="logo-pt" data-voc-vtm-info="secciones">Opinión</a>
            </li>
            <li class="v-h__l" title="España">
              <a class="v-h__a" href="https://www.abc.es/espana/" title="España" target="_self" rel="follow" data-voc-vtm-id="logo-pt" data-voc-vtm-info="secciones">España</a>
            </li>
            <li class="v-h__l" title="Madrid">
              <a class="v-h__a" href="https://www.abc.es/espana/madrid/" title="Madrid" target="_self" rel="follow" data-voc-vtm-id="logo-pt" data-voc-vtm-info="secciones">Madrid</a>
            </li>
            <li class="v-h__l" title="Internacional">
              <a class="v-h__a" href="https://www.abc.es/internacional/" title="Internacional" target="_self" rel="follow" data-voc-vtm-id="logo-pt" data-voc-vtm-info="secciones">Internacional</a>
            </li>
            <li class="v-h__l" title="Economía">
              <a class="v-h__a" href="https://www.abc.es/economia/" title="Economía" target="_self" rel="follow" data-voc-vtm-id="logo-pt" data-voc-vtm-info="secciones">Economía</a>
            </li>
            <li class="v-h__l" title="Sociedad">
              <a class="v-h__a" href="https://www.abc.es/sociedad/" title="Sociedad" target="_self" rel="follow" data-voc-vtm-id="logo-pt" data-voc-vtm-info="secciones">Sociedad</a>
            </li>
            <li class="v-h__l" title="Cultura">
              <a class="v-h__a" href="https://www.abc.es/cultura/" title="Cultura" target="_self" rel="follow" data-voc-vtm-id="logo-pt" data-voc-vtm-info="secciones">Cultura</a>
            </li>
            <li class="v-h__l" title="Deportes">
              <a class="v-h__a" href="https://www.abc.es/deportes/" title="Deportes" target="_self" rel="follow" data-voc-vtm-id="logo-pt" data-voc-vtm-info="secciones">Deportes</a>
            </li>
            <li class="v-h__l" title="Gente">
              <a class="v-h__a" href="https://www.abc.es/gente/" title="Gente" target="_self" rel="follow" data-voc-vtm-id="logo-pt" data-voc-vtm-info="secciones">Gente</a>
            </li>
            <li class="v-h__l" title="Play">
              <a class="v-h__a" href="https://www.abc.es/play/" title="Play" target="_self" rel="follow" data-voc-vtm-id="logo-pt" data-voc-vtm-info="secciones">Play</a>
            </li>
            <li class="v-h__l" title="Historia">
              <a class="v-h__a" href="https://www.abc.es/historia/" title="Historia" target="_self" rel="follow" data-voc-vtm-id="logo-pt" data-voc-vtm-info="secciones">Historia</a>
            </li>
            <li class="v-h__l" title="Última Hora">
              <a class="v-h__a" href="https://www.abc.es/ultima-hora" title="Última Hora" target="_self" rel="follow" data-voc-vtm-id="logo-pt" data-voc-vtm-info="secciones">Última Hora</a>
            </li>
          </ul>
        </nav>
        <div class="v-spr">
          <img src="https://s1.abcstatics.com/abc/www/multimedia/plantillas/logo-dia.svg" class="v-spr__i" width="158" height="24" alt="Patrocinio">
        </div>
      </div>
    </div>
  </div>
</header>

{{> ./header-menu-burger}}