<style>.v-h ev-engagement{visibility:hidden}</style>

{{!-- Bandera suscripción mobile > 1025px --}}
<div class="v-h-a v-c">
  <div class="v-h-a__c">
    <p class="v-h-a__p">6 meses por sólo 2€/mes</p>
    <a class="v-btn v-btn--s" href="#" title="[TEXTO ANCHOR TEXT]">Suscríbete</a>
  </div>
</div>

{{!-- Cabecera --}}
<header class="v-h v-h--t3" data-voc-component="header">
  <div class="v-h__c">
    <div class="v-h__g v-c">
      <div class="v-h__w v-h__w--1">
        <button class="v-hmb" popovertarget="header-open" aria-controls="primary-nav">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.375 17.75a.625.625 0 1 1 0 1.25H4.625a.625.625 0 1 1 0-1.25h14.75Zm-4.571-4.25a.625.625 0 0 1 0 1.25H4.625a.625.625 0 1 1 0-1.25h10.179Zm4.571-4.25a.625.625 0 1 1 0 1.25H4.625a.625.625 0 1 1 0-1.25h14.75Zm0-4.25a.625.625 0 1 1 0 1.25H4.625a.625.625 0 1 1 0-1.25h14.75Z"></path>
          </svg>
        </button>
      </div>
      <div class="v-h__w v-h__w--2">
        <div class="v-log v-log--1">
          <a href="#" class="v-log__a" title="[TEXTO ANCHOR TEXT]">
            <img class="v-log__i" src="assets/images/logos/logo-abc.svg" alt="[ALTERNATIVE TEXT]">
          </a>
        </div>
      </div>
      <div class="v-h__w v-h__w--3">
        <div class="v-btn-c">
          <a class="v-btn v-btn--1 v-btn-g v-btn--s" href="#" title="[TEXTO ANCHOR TEXT]">Suscríbete</a>
          <ev-engagement class="v-btn v-btn--1 v-btn-g v-btn--s" group-name="pastilla-abc" redirect="false" data-mrf-recirculation="Comienzo suscripción cabecera A"></ev-engagement>
          <a class="v-btn v-btn--2 v-btn-i v-btn-i--l v-btn--s" href="#" title="[TEXTO ANCHOR TEXT]">
            <span class="v-i">
              <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.01468 10.5285C3.58135 10.108 4.19868 9.77599 4.86668 9.53233C5.53457 9.28877 6.24546 9.16699 6.99935 9.16699C7.75324 9.16699 8.46413 9.28877 9.13202 9.53233C9.80002 9.77599 10.4173 10.108 10.984 10.5285C11.3985 10.0729 11.7268 9.5456 11.9692 8.94649C12.2115 8.34738 12.3327 7.69866 12.3327 7.00033C12.3327 5.52255 11.8132 4.26421 10.7743 3.22533C9.73546 2.18644 8.47713 1.66699 6.99935 1.66699C5.52157 1.66699 4.26324 2.18644 3.22435 3.22533C2.18546 4.26421 1.66602 5.52255 1.66602 7.00033C1.66602 7.69866 1.78718 8.34738 2.02952 8.94649C2.27185 9.5456 2.60024 10.0729 3.01468 10.5285ZM6.99952 7.50033C6.39085 7.50033 5.87757 7.29144 5.45968 6.87366C5.04168 6.45577 4.83268 5.94249 4.83268 5.33383C4.83268 4.72516 5.04157 4.21188 5.45935 3.79399C5.87724 3.37599 6.39052 3.16699 6.99918 3.16699C7.60785 3.16699 8.12113 3.37588 8.53902 3.79366C8.95702 4.21155 9.16602 4.72483 9.16602 5.33349C9.16602 5.94216 8.95713 6.45544 8.53935 6.87333C8.12146 7.29133 7.60818 7.50033 6.99952 7.50033ZM6.99935 13.3337C6.1199 13.3337 5.2949 13.1683 4.52435 12.8375C3.75379 12.5067 3.08352 12.0563 2.51352 11.4862C1.9434 10.9162 1.49296 10.2459 1.16218 9.47533C0.831405 8.70477 0.666016 7.87977 0.666016 7.00033C0.666016 6.12088 0.831405 5.29588 1.16218 4.52533C1.49296 3.75477 1.9434 3.08449 2.51352 2.51449C3.08352 1.94438 3.75379 1.49394 4.52435 1.16316C5.2949 0.832381 6.1199 0.666992 6.99935 0.666992C7.87879 0.666992 8.70379 0.832381 9.47435 1.16316C10.2449 1.49394 10.9152 1.94438 11.4852 2.51449C12.0553 3.08449 12.5057 3.75477 12.8365 4.52533C13.1673 5.29588 13.3327 6.12088 13.3327 7.00033C13.3327 7.87977 13.1673 8.70477 12.8365 9.47533C12.5057 10.2459 12.0553 10.9162 11.4852 11.4862C10.9152 12.0563 10.2449 12.5067 9.47435 12.8375C8.70379 13.1683 7.87879 13.3337 6.99935 13.3337ZM6.99935 12.3337C7.60102 12.3337 8.18113 12.2369 8.73968 12.0433C9.29824 11.8497 9.79418 11.5789 10.2275 11.2312C9.79418 10.896 9.30468 10.6349 8.75902 10.4478C8.21324 10.2606 7.62668 10.167 6.99935 10.167C6.37202 10.167 5.78441 10.2595 5.23652 10.4445C4.68863 10.6296 4.20018 10.8918 3.77118 11.2312C4.20452 11.5789 4.70046 11.8497 5.25902 12.0433C5.81757 12.2369 6.39768 12.3337 6.99935 12.3337ZM6.99935 6.50033C7.33102 6.50033 7.60835 6.38877 7.83135 6.16566C8.05446 5.94266 8.16602 5.66533 8.16602 5.33366C8.16602 5.00199 8.05446 4.72466 7.83135 4.50166C7.60835 4.27855 7.33102 4.16699 6.99935 4.16699C6.66768 4.16699 6.39035 4.27855 6.16735 4.50166C5.94424 4.72466 5.83268 5.00199 5.83268 5.33366C5.83268 5.66533 5.94424 5.94266 6.16735 6.16566C6.39035 6.38877 6.66768 6.50033 6.99935 6.50033Z"></path>
              </svg>
            </span>Iniciar sesión </a>
        </div>
      </div>
    </div>
  </div>
  <span class="v-hpr">
    <span class="v-hpr__c"></span>
  </span>
</header>

{{> ./header-menu-burger }}