<div class="v-c-cmp v-c-cmp--l">
  <!-- Generado por voc-ai2html v0.123.4 - 2026-03-27 14:54 -->
  <style media="screen,print">
    #v-g-nombre1-box {
      width: 100% !important;
      overflow: hidden;
      position: relative;
      margin: 0 auto !important;
    }

    #v-g-nombre1-box {
      container-type: inline-size;
      container-name: v-g-nombre1-box;
    }

    #v-g-nombre1-box {
      max-width: 1140px;
      margin-left: auto;
      margin-right: auto;
    }

    #v-g-nombre1-box,
    #v-g-nombre1-box .v-g-artboard {
      margin: 0 auto;
    }

    #v-g-nombre1-box p {
      margin: 0;
    }

    #v-g-nombre1-box .v-g-aiAbs {
      position: absolute;
    }

    #v-g-nombre1-box .v-g-aiImg {
      position: absolute;
      top: 0;
      display: block;
      width: 100% !important;
    }

    #v-g-nombre1-box .v-g-aiSymbol {
      position: absolute;
      box-sizing: border-box;
    }

    #v-g-nombre1-box .v-g-aiPointText p {
      white-space: nowrap;
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-XS {
      position: relative;
      overflow: hidden;
    }

    @container v-g-nombre1-box (width >=510px) {
      #v-g-2026-palio-sevilla-narrativas-nombre1-XS {
        display: none;
      }
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-XS p {
      font-family: Micrograph Regular, sans-serif;
      font-weight: regular;
      font-style: normal;
      line-height: 14px;
      opacity: 1;
      letter-spacing: 0em;
      font-size: 12px;
      text-align: left;
      color: rgb(0, 0, 0);
      text-transform: none;
      padding-bottom: 0;
      padding-top: 0;
      mix-blend-mode: normal;
      height: auto;
      position: static;
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-XS .v-g-pstyle0 {
      font-family: arial, sans-serif;
      font-weight: 400;
      line-height: 19px;
      height: 19px;
      font-size: 19px;
      text-align: center;
      color: rgb(71, 51, 113);
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-XS .v-g-pstyle1 {
      font-family: arial, sans-serif;
      font-weight: 400;
      color: rgb(71, 51, 113);
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-XS .v-g-pstyle2 {
      font-weight: 400;
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-XS .v-g-pstyle3 {
      font-family: arial, helvetica, sans-serif;
      font-weight: bold;
      height: 14px;
      text-align: center;
      color: rgb(255, 255, 255);
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-XS .v-g-pstyle4 {
      font-family: arial, sans-serif;
      font-weight: 400;
      line-height: 16px;
      height: 16px;
      font-size: 10px;
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-XS .v-g-cstyle0 {
      font-family: Micrograph Semibold, sans-serif;
      font-weight: 600;
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-M {
      position: relative;
      overflow: hidden;
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-M {
      display: none;
    }

    @container v-g-nombre1-box (width >=699px) and (width < 1025px) {
      #v-g-2026-palio-sevilla-narrativas-nombre1-M {
        display: block;
      }
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-M p {
      font-family: Micrograph Regular, sans-serif;
      font-weight: regular;
      font-style: normal;
      line-height: 17px;
      opacity: 1;
      letter-spacing: 0em;
      font-size: 14px;
      text-align: left;
      color: rgb(0, 0, 0);
      text-transform: none;
      padding-bottom: 0;
      padding-top: 0;
      mix-blend-mode: normal;
      height: auto;
      position: static;
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-M .v-g-pstyle0 {
      font-family: arial, sans-serif;
      font-weight: 400;
      line-height: 27px;
      height: 27px;
      font-size: 27px;
      text-align: center;
      color: rgb(71, 51, 113);
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-M .v-g-pstyle1 {
      font-family: arial, sans-serif;
      font-weight: 400;
      text-align: right;
      color: rgb(71, 51, 113);
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-M .v-g-pstyle2 {
      font-weight: 400;
      text-align: right;
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-M .v-g-pstyle3 {
      font-family: arial, sans-serif;
      font-weight: 400;
      color: rgb(71, 51, 113);
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-M .v-g-pstyle4 {
      font-weight: 400;
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-M .v-g-pstyle5 {
      font-family: arial, sans-serif;
      font-weight: 400;
      height: 17px;
      font-size: 11px;
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-M .v-g-cstyle0 {
      font-family: Micrograph Semibold, sans-serif;
      font-weight: 600;
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-L {
      position: relative;
      overflow: hidden;
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-L {
      display: none;
    }

    @container v-g-nombre1-box (width >=1025px) {
      #v-g-2026-palio-sevilla-narrativas-nombre1-L {
        display: block;
      }
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-L p {
      font-family: Micrograph Regular, sans-serif;
      font-weight: regular;
      font-style: normal;
      line-height: 25px;
      opacity: 1;
      letter-spacing: 0em;
      font-size: 21px;
      text-align: left;
      color: rgb(0, 0, 0);
      text-transform: none;
      padding-bottom: 0;
      padding-top: 0;
      mix-blend-mode: normal;
      height: auto;
      position: static;
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-L .v-g-pstyle0 {
      font-family: arial, sans-serif;
      font-weight: 400;
      line-height: 41px;
      height: 41px;
      font-size: 41px;
      text-align: center;
      color: rgb(71, 51, 113);
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-L .v-g-pstyle1 {
      font-family: arial, sans-serif;
      font-weight: 400;
      text-align: right;
      color: rgb(71, 51, 113);
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-L .v-g-pstyle2 {
      font-weight: 400;
      text-align: right;
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-L .v-g-pstyle3 {
      font-family: arial, sans-serif;
      font-weight: 400;
      color: rgb(71, 51, 113);
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-L .v-g-pstyle4 {
      font-weight: 400;
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-L .v-g-pstyle5 {
      font-family: arial, sans-serif;
      font-weight: 400;
      height: 25px;
      font-size: 16px;
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-L .v-g-cstyle0 {
      font-family: Micrograph Semibold, sans-serif;
      font-weight: 600;
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-S {
      position: relative;
      overflow: hidden;
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-S {
      display: none;
    }

    @container v-g-nombre1-box (width >=510px) and (width < 699px) {
      #v-g-2026-palio-sevilla-narrativas-nombre1-S {
        display: block;
      }
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-S p {
      font-family: Micrograph Regular, sans-serif;
      font-weight: regular;
      font-style: normal;
      line-height: 12px;
      opacity: 1;
      letter-spacing: 0em;
      font-size: 10px;
      text-align: left;
      color: rgb(0, 0, 0);
      text-transform: none;
      padding-bottom: 0;
      padding-top: 0;
      mix-blend-mode: normal;
      height: auto;
      position: static;
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-S .v-g-pstyle0 {
      font-family: arial, sans-serif;
      font-weight: 400;
      line-height: 19px;
      height: 19px;
      font-size: 19px;
      text-align: center;
      color: rgb(71, 51, 113);
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-S .v-g-pstyle1 {
      font-family: arial, sans-serif;
      font-weight: 400;
      text-align: right;
      color: rgb(71, 51, 113);
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-S .v-g-pstyle2 {
      font-weight: 400;
      text-align: right;
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-S .v-g-pstyle3 {
      font-family: arial, sans-serif;
      font-weight: 400;
      color: rgb(71, 51, 113);
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-S .v-g-pstyle4 {
      font-weight: 400;
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-S .v-g-pstyle5 {
      font-family: arial, sans-serif;
      font-weight: 400;
      height: 12px;
      font-size: 8px;
    }

    #v-g-2026-palio-sevilla-narrativas-nombre1-S .v-g-cstyle0 {
      font-family: Micrograph Semibold, sans-serif;
      font-weight: 600;
    }
  </style>
  <div id="v-g-nombre1-box" class="voc-ai2html">
    <!-- Mesa nombre1-XS -->
    <div id="v-g-2026-palio-sevilla-narrativas-nombre1-XS" class="v-g-artboard" style="margin-left: auto !important; margin-right: auto !important; position: relative;left: 0; transform: none;width:330px; height:1222.08413694808px;" data-aspect-ratio="0.27" data-min-width="0" data-max-width="509">
      <div style="display:none;"></div>
      <img id="v-g-2026-palio-sevilla-narrativas-nombre1-XS-img" class="v-g-palio-sevilla-narrativas-nombre1-XS-img v-g-aiImg" alt="" loading="lazy" src="https://s1.abcstatics.com/abc/www/multimedia/sevilla/2026/03/28/2026-palio-sevilla-narrativas-nombre1-XS.jpg">
      <div id="v-g-ai0-1" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText" style="top:5.6861%;margin-top:-20.5px;left:48.8882%;margin-left:-56px;width:112px;">
        <p class="v-g-pstyle0">Partes de </p>
        <p class="v-g-pstyle0">un palio</p>
      </div>
      <div id="v-g-ai0-2" class="v-g-anotaciones v-g-aiAbs" style="top:9.2465%;left:9.2222%;width:108px;">
        <p class="v-g-pstyle1">1. Varales</p>
      </div>
      <div id="v-g-ai0-3" class="v-g-anotaciones v-g-aiAbs" style="top:10.7194%;left:9.2222%;width:220px;">
        <p class="v-g-pstyle2">El palio va sostenido por doce varales, seis a cada lado del paso. Suelen ser de metal chapado en plata o de plata pura</p>
      </div>
      <div id="v-g-ai0-4" class="v-g-anotaciones v-g-aiAbs" style="top:15.2199%;left:9.4439%;width:108px;">
        <p class="v-g-pstyle1">2. Bambalinas</p>
      </div>
      <div id="v-g-ai0-5" class="v-g-anotaciones v-g-aiAbs" style="top:16.5291%;left:9.4439%;width:202px;">
        <p class="v-g-pstyle2">Son las caídas del palio por los cuatros costados. Así, están las traseras, las delanteras y las laterales</p>
      </div>
      <div id="v-g-ai0-6" class="v-g-anotaciones v-g-aiAbs" style="top:20.0477%;left:62.1849%;width:108px;">
        <p class="v-g-pstyle1">3. Techo de palio</p>
      </div>
      <div id="v-g-ai0-7" class="v-g-anotaciones v-g-aiAbs" style="top:21.6024%;left:62.4343%;width:93px;">
        <p class="v-g-pstyle2">Puede ser bordado sobre terciopelo o de malla. En la parte interior incorpora una ‘gloria’, que se ubica sobre la figura de la Virgen</p>
      </div>
      <div id="v-g-ai0-8" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText" style="top:24.2301%;margin-top:-8.1px;left:39.7911%;margin-left:-14px;width:28px;">
        <p class="v-g-pstyle3">2</p>
      </div>
      <div id="v-g-ai0-9" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText" style="top:25.4575%;margin-top:-8.1px;left:54.2026%;margin-left:-14px;width:28px;">
        <p class="v-g-pstyle3">1</p>
      </div>
      <div id="v-g-ai0-10" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText" style="top:29.7125%;margin-top:-8.1px;left:34.4697%;margin-left:-14px;width:28px;">
        <p class="v-g-pstyle3">3</p>
      </div>
      <div id="v-g-ai0-11" class="v-g-anotaciones v-g-aiAbs" style="top:33.1401%;left:62.1544%;width:108px;">
        <p class="v-g-pstyle1">4. Candelería</p>
      </div>
      <div id="v-g-ai0-12" class="v-g-anotaciones v-g-aiAbs" style="top:34.7767%;left:62.1544%;width:93px;">
        <p class="v-g-pstyle2">Conjunto de cirios que se disponen en la delantera del paso para aportar luz a la Virgen</p>
      </div>
      <div id="v-g-ai0-13" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText" style="top:37.1588%;margin-top:-8.1px;left:43.6712%;margin-left:-14px;width:28px;">
        <p class="v-g-pstyle3">4</p>
      </div>
      <div id="v-g-ai0-14" class="v-g-anotaciones v-g-aiAbs" style="top:42.9594%;left:61.9266%;width:108px;">
        <p class="v-g-pstyle1">5. Peana</p>
      </div>
      <div id="v-g-ai0-15" class="v-g-anotaciones v-g-aiAbs" style="top:44.2686%;left:61.9266%;width:92px;">
        <p class="v-g-pstyle2">La Virgen suele ir colocada encima de una peana de plata en el centro del paso</p>
      </div>
      <div id="v-g-ai0-16" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText" style="top:50.4149%;margin-top:-8.1px;left:37.5092%;margin-left:-14px;width:28px;">
        <p class="v-g-pstyle3">5</p>
      </div>
      <div id="v-g-ai0-17" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText" style="top:54.0971%;margin-top:-8.1px;left:43.0799%;margin-left:-14px;width:28px;">
        <p class="v-g-pstyle3">7</p>
      </div>
      <div id="v-g-ai0-18" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText" style="top:54.5063%;margin-top:-8.1px;left:68.6882%;margin-left:-14px;width:28px;">
        <p class="v-g-pstyle3">6</p>
      </div>
      <div id="v-g-ai0-19" class="v-g-anotaciones v-g-aiAbs" style="top:58.1793%;left:64.7765%;width:79px;">
        <p class="v-g-pstyle1">6. Maniguetas</p>
      </div>
      <div id="v-g-ai0-20" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText" style="top:59.2522%;margin-top:-8.1px;left:18.9683%;margin-left:-14px;width:28px;">
        <p class="v-g-pstyle3">8</p>
      </div>
      <div id="v-g-ai0-21" class="v-g-anotaciones v-g-aiAbs" style="top:59.734%;left:65.026%;width:90px;">
        <p class="v-g-pstyle2">Resto simbólico del palo que iba por dentro del paso. Están en las cuatro esquinas y en ella van los nazarenos más antiguos de las hermandad</p>
      </div>
      <div id="v-g-ai0-22" class="v-g-anotaciones v-g-aiAbs" style="top:60.716%;left:34.3409%;width:89px;">
        <p class="v-g-pstyle1">7. Respiraderos</p>
      </div>
      <div id="v-g-ai0-23" class="v-g-anotaciones v-g-aiAbs" style="top:62.1888%;left:34.5903%;width:88px;">
        <p class="v-g-pstyle2">Armazón de plata repujada que cubre la parihuela o cajón interior del paso, a través de los cuales ‘respiran’ los costaleros</p>
      </div>
      <div id="v-g-ai0-24" class="v-g-anotaciones v-g-aiAbs" style="top:64.3982%;left:9.3978%;width:79px;">
        <p class="v-g-pstyle1">8. Faldones</p>
      </div>
      <div id="v-g-ai0-25" class="v-g-anotaciones v-g-aiAbs" style="top:65.9529%;left:9.3978%;width:73px;">
        <p class="v-g-pstyle2">Telas que cubren la parte inferior del paso, desde la mesa hasta el suelo. Pueden ser lisos o llevar algún bordado. Suelen ser de terciopelo</p>
      </div>
      <div id="v-g-ai0-26" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText" style="top:82.2458%;margin-top:-8.1px;left:69.6859%;margin-left:-14px;width:28px;">
        <p class="v-g-pstyle3">9</p>
      </div>
      <div id="v-g-ai0-27" class="v-g-anotaciones v-g-aiAbs" style="top:82.2366%;left:9.2315%;width:132px;">
        <p class="v-g-pstyle1">9. Candelabros de cola</p>
      </div>
      <div id="v-g-ai0-28" class="v-g-anotaciones v-g-aiAbs" style="top:84.0368%;left:9.2315%;width:157px;">
        <p class="v-g-pstyle2">Iluminan la parte trasera del palio y el manto de la virgen. Los cirios van protegidos por guardabrisas</p>
      </div>
      <div id="v-g-ai0-29" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText" style="top:84.7006%;margin-top:-8.1px;left:78.2561%;margin-left:-17.5px;width:35px;">
        <p class="v-g-pstyle3">10</p>
      </div>
      <div id="v-g-ai0-30" class="v-g-anotaciones v-g-aiAbs" style="top:89.8465%;left:9.4717%;width:162px;">
        <p class="v-g-pstyle1">10. Jarritas de flores</p>
      </div>
      <div id="v-g-ai0-31" class="v-g-anotaciones v-g-aiAbs" style="top:91.4831%;left:9.7211%;width:192px;">
        <p class="v-g-pstyle2">En la parte delantera y en los laterales del paso van dispuestas unas jarritas para acoger el exorno floral de la Virgen</p>
      </div>
      <div id="v-g-ai0-32" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText" style="top:99.1454%;margin-top:-8.6px;left:16.912%;width:233px;">
        <p class="v-g-pstyle4">
          <span class="v-g-cstyle0">Fuente:</span> Elaboración propia / <span class="v-g-cstyle0">Gráfico:</span> A. Montes
        </p>
      </div>
    </div>
    <!-- Mesa nombre1-M -->
    <div id="v-g-2026-palio-sevilla-narrativas-nombre1-M" class="v-g-artboard" style="margin-left: auto !important; margin-right: auto !important; position: relative;left: 0; transform: none;width:699px; height:990.482449357112px;" data-aspect-ratio="0.706" data-min-width="699" data-max-width="1024">
      <div style="display:none;"></div>
      <img id="v-g-2026-palio-sevilla-narrativas-nombre1-M-img" class="v-g-palio-sevilla-narrativas-nombre1-M-img v-g-aiImg" alt="" loading="lazy" src="https://s1.abcstatics.com/abc/www/multimedia/sevilla/2026/03/28/2026-palio-sevilla-narrativas-nombre1-M.jpg">
      <div id="v-g-ai1-1" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText" style="top:10.4097%;margin-top:-29.1px;left:48.0858%;margin-left:-74.5px;width:149px;">
        <p class="v-g-pstyle0">Partes de </p>
        <p class="v-g-pstyle0">un palio</p>
      </div>
      <div id="v-g-ai1-2" class="v-g-anotaciones v-g-aiAbs" style="top:8.9855%;right:77.2712%;width:116px;">
        <p class="v-g-pstyle1">Varales</p>
      </div>
      <div id="v-g-ai1-3" class="v-g-anotaciones v-g-aiAbs" style="top:10.8028%;right:77.2404%;width:127px;">
        <p class="v-g-pstyle2">El palio va sostenido por doce varales, seis a cada lado del paso. Suelen ser de metal chapado en plata o de plata pura</p>
      </div>
      <div id="v-g-ai1-4" class="v-g-anotaciones v-g-aiAbs" style="top:11.0047%;left:75.0751%;width:116px;">
        <p class="v-g-pstyle3">Bambalinas</p>
      </div>
      <div id="v-g-ai1-5" class="v-g-anotaciones v-g-aiAbs" style="top:12.7211%;left:75.202%;width:114px;">
        <p class="v-g-pstyle4">Son las caídas del palio por los cuatros costados. Así, están las traseras, las delanteras y las laterales</p>
      </div>
      <div id="v-g-ai1-6" class="v-g-anotaciones v-g-aiAbs" style="top:26.5527%;left:75.1174%;width:116px;">
        <p class="v-g-pstyle3">Techo de palio</p>
      </div>
      <div id="v-g-ai1-7" class="v-g-anotaciones v-g-aiAbs" style="top:28.5719%;left:75.2443%;width:114px;">
        <p class="v-g-pstyle4">Puede ser bordado sobre terciopelo o de malla. En la parte interior incorpora una ‘gloria’, que se ubica sobre la figura de la Virgen</p>
      </div>
      <div id="v-g-ai1-8" class="v-g-anotaciones v-g-aiAbs" style="top:28.9758%;right:77.2712%;width:116px;">
        <p class="v-g-pstyle1">Candelería</p>
      </div>
      <div id="v-g-ai1-9" class="v-g-anotaciones v-g-aiAbs" style="top:31.096%;right:77.2592%;width:118px;">
        <p class="v-g-pstyle2">Conjunto de cirios que se disponen en la delantera del paso para aportar luz a la Virgen</p>
      </div>
      <div id="v-g-ai1-10" class="v-g-anotaciones v-g-aiAbs" style="top:43.4132%;right:77.2712%;width:116px;">
        <p class="v-g-pstyle1">Peana</p>
      </div>
      <div id="v-g-ai1-11" class="v-g-anotaciones v-g-aiAbs" style="top:45.1295%;right:77.2623%;width:118px;">
        <p class="v-g-pstyle2">La Virgen suele ir colocada encima de una peana de plata en el centro del paso</p>
      </div>
      <div id="v-g-ai1-12" class="v-g-anotaciones v-g-aiAbs" style="top:65.4227%;left:76.3015%;width:85px;">
        <p class="v-g-pstyle3">Maniguetas</p>
      </div>
      <div id="v-g-ai1-13" class="v-g-anotaciones v-g-aiAbs" style="top:67.5428%;left:76.4284%;width:103px;">
        <p class="v-g-pstyle4">Resto simbólico que queda de la prolongación del palo que iba por dentro del paso. Están situadas en las cuatro esquinas y en ella van los nazarenos más antiguos de las hermandad</p>
      </div>
      <div id="v-g-ai1-14" class="v-g-anotaciones v-g-aiAbs" style="top:69.764%;left:59.9965%;width:96px;">
        <p class="v-g-pstyle3">Respiraderos</p>
      </div>
      <div id="v-g-ai1-15" class="v-g-anotaciones v-g-aiAbs" style="top:71.7832%;left:60.1234%;width:95px;">
        <p class="v-g-pstyle4">Armazón de plata repujada que cubre la parihuela o cajón interior del paso, a través de los cuales ‘respiran’ los costaleros</p>
      </div>
      <div id="v-g-ai1-16" class="v-g-anotaciones v-g-aiAbs" style="top:71.8842%;left:42.1502%;width:85px;">
        <p class="v-g-pstyle3">Faldones</p>
      </div>
      <div id="v-g-ai1-17" class="v-g-anotaciones v-g-aiAbs" style="top:73.9034%;left:42.1502%;width:110px;">
        <p class="v-g-pstyle4">Telas que cubren la parte inferior del paso, desde la mesa hasta el suelo. Pueden ser lisos o llevar algún bordado. Suelen ser de terciopelo</p>
      </div>
      <div id="v-g-ai1-18" class="v-g-anotaciones v-g-aiAbs" style="top:80.4658%;left:4.6815%;width:85px;">
        <p class="v-g-pstyle3">Candelabros de cola</p>
      </div>
      <div id="v-g-ai1-19" class="v-g-anotaciones v-g-aiAbs" style="top:80.5668%;left:22.3117%;width:90px;">
        <p class="v-g-pstyle3">Jarritas de flores</p>
      </div>
      <div id="v-g-ai1-20" class="v-g-anotaciones v-g-aiAbs" style="top:84.3024%;left:22.4385%;width:123px;">
        <p class="v-g-pstyle4">En la parte delantera y en los laterales del paso van dispuestas unas jarritas para acoger el exorno floral de la Virgen</p>
      </div>
      <div id="v-g-ai1-21" class="v-g-anotaciones v-g-aiAbs" style="top:84.3024%;left:4.8084%;width:106px;">
        <p class="v-g-pstyle4">Iluminan la parte trasera del palio y el manto de la virgen. Los cirios van protegidos por guardabrisas</p>
      </div>
      <div id="v-g-ai1-22" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText" style="top:99.3533%;margin-top:-9.1px;left:31.8721%;width:249px;">
        <p class="v-g-pstyle5">
          <span class="v-g-cstyle0">Fuente:</span> Elaboración propia / <span class="v-g-cstyle0">Gráfico:</span> A. Montes
        </p>
      </div>
    </div>
    <!-- Mesa nombre1-L -->
    <div id="v-g-2026-palio-sevilla-narrativas-nombre1-L" class="v-g-artboard" style="margin-left: auto !important; margin-right: auto !important; position: relative;left: 0; transform: none;width:1025px; height:1473.14206544153px;" data-aspect-ratio="0.696" data-min-width="1025">
      <div style="display:none;"></div>
      <img id="v-g-2026-palio-sevilla-narrativas-nombre1-L-img" class="v-g-palio-sevilla-narrativas-nombre1-L-img v-g-aiImg" alt="" loading="lazy" src="https://s1.abcstatics.com/abc/www/multimedia/sevilla/2026/03/28/2026-palio-sevilla-narrativas-nombre1-L.jpg">
      <div id="v-g-ai2-1" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText" style="top:9.996%;margin-top:-43.3px;left:48.2974%;margin-left:-105.5px;width:211px;">
        <p class="v-g-pstyle0">Partes de </p>
        <p class="v-g-pstyle0">un palio</p>
      </div>
      <div id="v-g-ai2-2" class="v-g-anotaciones v-g-aiAbs" style="top:8.5531%;right:77.3545%;width:173px;">
        <p class="v-g-pstyle1">Varales</p>
      </div>
      <div id="v-g-ai2-3" class="v-g-anotaciones v-g-aiAbs" style="top:10.3181%;right:77.3572%;width:189px;">
        <p class="v-g-pstyle2">El palio va sostenido por doce varales, seis a cada lado del paso. Suelen ser de metal chapado en plata o de plata pura</p>
      </div>
      <div id="v-g-ai2-4" class="v-g-anotaciones v-g-aiAbs" style="top:10.5896%;left:75.6374%;width:173px;">
        <p class="v-g-pstyle3">Bambalinas</p>
      </div>
      <div id="v-g-ai2-5" class="v-g-anotaciones v-g-aiAbs" style="top:12.2867%;left:75.7659%;width:170px;">
        <p class="v-g-pstyle4">Son las caídas del palio por los cuatros costados. Así, están las traseras, las delanteras y las laterales</p>
      </div>
      <div id="v-g-ai2-6" class="v-g-anotaciones v-g-aiAbs" style="top:26.0667%;left:75.6802%;width:173px;">
        <p class="v-g-pstyle3">Techo de palio</p>
      </div>
      <div id="v-g-ai2-7" class="v-g-anotaciones v-g-aiAbs" style="top:28.1032%;left:75.8088%;width:169px;">
        <p class="v-g-pstyle4">Puede ser bordado sobre terciopelo o de malla. En la parte interior incorpora una ‘gloria’, que se ubica sobre la figura de la Virgen</p>
      </div>
      <div id="v-g-ai2-8" class="v-g-anotaciones v-g-aiAbs" style="top:28.4426%;right:77.3545%;width:173px;">
        <p class="v-g-pstyle1">Candelería</p>
      </div>
      <div id="v-g-ai2-9" class="v-g-anotaciones v-g-aiAbs" style="top:30.6148%;right:77.4373%;width:175px;">
        <p class="v-g-pstyle2">Conjunto de cirios que se disponen en la delantera del paso para aportar luz a la Virgen</p>
      </div>
      <div id="v-g-ai2-10" class="v-g-anotaciones v-g-aiAbs" style="top:42.9015%;right:77.3545%;width:173px;">
        <p class="v-g-pstyle1">Peana</p>
      </div>
      <div id="v-g-ai2-11" class="v-g-anotaciones v-g-aiAbs" style="top:44.6664%;right:77.4404%;width:175px;">
        <p class="v-g-pstyle2">La Virgen suele ir colocada encima de una peana de plata en el centro del paso</p>
      </div>
      <div id="v-g-ai2-12" class="v-g-anotaciones v-g-aiAbs" style="top:64.9632%;left:76.8803%;width:126px;">
        <p class="v-g-pstyle3">Maniguetas</p>
      </div>
      <div id="v-g-ai2-13" class="v-g-anotaciones v-g-aiAbs" style="top:66.9996%;left:77.0089%;width:153px;">
        <p class="v-g-pstyle4">Resto simbólico que queda de la prolongación del palo que iba por dentro del paso. Están situadas en las cuatro esquinas y en ella van los nazarenos más antiguos de las hermandad</p>
      </div>
      <div id="v-g-ai2-14" class="v-g-anotaciones v-g-aiAbs" style="top:69.3076%;left:60.3557%;width:142px;">
        <p class="v-g-pstyle3">Respiraderos</p>
      </div>
      <div id="v-g-ai2-15" class="v-g-anotaciones v-g-aiAbs" style="top:71.2762%;left:60.4842%;width:141px;">
        <p class="v-g-pstyle4">Armazón de plata repujada que cubre la parihuela o cajón interior del paso, a través de los cuales ‘respiran’ los costaleros</p>
      </div>
      <div id="v-g-ai2-16" class="v-g-anotaciones v-g-aiAbs" style="top:71.3441%;left:42.269%;width:126px;">
        <p class="v-g-pstyle3">Faldones</p>
      </div>
      <div id="v-g-ai2-17" class="v-g-anotaciones v-g-aiAbs" style="top:73.4484%;left:42.269%;width:163px;">
        <p class="v-g-pstyle4">Telas que cubren la parte inferior del paso, desde la mesa hasta el suelo. Pueden ser lisos o llevar algún bordado. Suelen ser de terciopelo</p>
      </div>
      <div id="v-g-ai2-18" class="v-g-anotaciones v-g-aiAbs" style="top:79.9651%;left:4.2957%;width:126px;">
        <p class="v-g-pstyle3">Candelabros de cola</p>
      </div>
      <div id="v-g-ai2-19" class="v-g-anotaciones v-g-aiAbs" style="top:80.1009%;left:22.1633%;width:134px;">
        <p class="v-g-pstyle3">Jarritas de flores</p>
      </div>
      <div id="v-g-ai2-20" class="v-g-anotaciones v-g-aiAbs" style="top:83.8344%;left:22.2919%;width:183px;">
        <p class="v-g-pstyle4">En la parte delantera y en los laterales del paso van dispuestas unas jarritas para acoger el exorno floral de la Virgen</p>
      </div>
      <div id="v-g-ai2-21" class="v-g-anotaciones v-g-aiAbs" style="top:83.8344%;left:4.4243%;width:158px;">
        <p class="v-g-pstyle4">Iluminan la parte trasera del palio y el manto de la virgen. Los cirios van protegidos por guardabrisas</p>
      </div>
      <div id="v-g-ai2-22" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText" style="top:98.8045%;margin-top:-13.5px;left:31.8525%;width:359px;">
        <p class="v-g-pstyle5">
          <span class="v-g-cstyle0">Fuente:</span> Elaboración propia / <span class="v-g-cstyle0">Gráfico:</span> A. Montes
        </p>
      </div>
    </div>
    <!-- Mesa nombre1-S -->
    <div id="v-g-2026-palio-sevilla-narrativas-nombre1-S" class="v-g-artboard" style="margin-left: auto !important; margin-right: auto !important; position: relative;left: 0; transform: none;width:510px; height:708.084136948082px;" data-aspect-ratio="0.72" data-min-width="510" data-max-width="698">
      <div style="display:none;"></div>
      <img id="v-g-2026-palio-sevilla-narrativas-nombre1-S-img" class="v-g-palio-sevilla-narrativas-nombre1-S-img v-g-aiImg" alt="" loading="lazy" src="https://s1.abcstatics.com/abc/www/multimedia/sevilla/2026/03/28/2026-palio-sevilla-narrativas-nombre1-S.jpg">
      <div id="v-g-ai3-1" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText" style="top:10.1133%;margin-top:-20.6px;left:48.1089%;margin-left:-56px;width:112px;">
        <p class="v-g-pstyle0">Partes de </p>
        <p class="v-g-pstyle0">un palio</p>
      </div>
      <div id="v-g-ai3-2" class="v-g-anotaciones v-g-aiAbs" style="top:8.6148%;right:76.5347%;width:82px;">
        <p class="v-g-pstyle1">Varales</p>
      </div>
      <div id="v-g-ai3-3" class="v-g-anotaciones v-g-aiAbs" style="top:10.3095%;right:76.4634%;width:90px;">
        <p class="v-g-pstyle2">El palio va sostenido por doce varales, seis a cada lado del paso. Suelen ser de metal chapado en plata o de plata pura</p>
      </div>
      <div id="v-g-ai3-4" class="v-g-anotaciones v-g-aiAbs" style="top:10.592%;left:74.2953%;width:82px;">
        <p class="v-g-pstyle3">Bambalinas</p>
      </div>
      <div id="v-g-ai3-5" class="v-g-anotaciones v-g-aiAbs" style="top:12.2867%;left:74.4184%;width:81px;">
        <p class="v-g-pstyle4">Son las caídas del palio por los cuatros costados. Así, están las traseras, las delanteras y las laterales</p>
      </div>
      <div id="v-g-ai3-6" class="v-g-anotaciones v-g-aiAbs" style="top:25.9856%;left:74.3363%;width:82px;">
        <p class="v-g-pstyle3">Techo de palio</p>
      </div>
      <div id="v-g-ai3-7" class="v-g-anotaciones v-g-aiAbs" style="top:27.9628%;left:74.4594%;width:81px;">
        <p class="v-g-pstyle4">Puede ser bordado sobre terciopelo o de malla. En la parte interior incorpora una ‘gloria’, que se ubica sobre la figura de la Virgen</p>
      </div>
      <div id="v-g-ai3-8" class="v-g-anotaciones v-g-aiAbs" style="top:28.3865%;right:76.5347%;width:82px;">
        <p class="v-g-pstyle1">Candelería</p>
      </div>
      <div id="v-g-ai3-9" class="v-g-anotaciones v-g-aiAbs" style="top:30.5048%;right:76.4086%;width:84px;">
        <p class="v-g-pstyle2">Conjunto de cirios que se disponen en la delantera del paso para aportar luz a la Virgen</p>
      </div>
      <div id="v-g-ai3-10" class="v-g-anotaciones v-g-aiAbs" style="top:42.6503%;right:76.5347%;width:82px;">
        <p class="v-g-pstyle1">Peana</p>
      </div>
      <div id="v-g-ai3-11" class="v-g-anotaciones v-g-aiAbs" style="top:44.4862%;right:76.4116%;width:84px;">
        <p class="v-g-pstyle2">La Virgen suele ir colocada encima de una peana de plata en el centro del paso</p>
      </div>
      <div id="v-g-ai3-12" class="v-g-anotaciones v-g-aiAbs" style="top:64.5404%;left:75.4855%;width:60px;">
        <p class="v-g-pstyle3">Maniguetas</p>
      </div>
      <div id="v-g-ai3-13" class="v-g-anotaciones v-g-aiAbs" style="top:66.6587%;left:75.6086%;width:73px;">
        <p class="v-g-pstyle4">Resto simbólico que queda de la prolongación del palo que iba por dentro del paso. Están situadas en las cuatro esquinas y en ella van los nazarenos más antiguos de las hermandad</p>
      </div>
      <div id="v-g-ai3-14" class="v-g-anotaciones v-g-aiAbs" style="top:68.9184%;left:59.6613%;width:68px;">
        <p class="v-g-pstyle3">Respiraderos</p>
      </div>
      <div id="v-g-ai3-15" class="v-g-anotaciones v-g-aiAbs" style="top:70.7543%;left:59.7844%;width:67px;">
        <p class="v-g-pstyle4">Armazón de plata repujada que cubre la parihuela o cajón interior del paso, a través de los cuales ‘respiran’ los costaleros</p>
      </div>
      <div id="v-g-ai3-16" class="v-g-anotaciones v-g-aiAbs" style="top:70.8955%;left:42.3413%;width:60px;">
        <p class="v-g-pstyle3">Faldones</p>
      </div>
      <div id="v-g-ai3-17" class="v-g-anotaciones v-g-aiAbs" style="top:73.0139%;left:42.3413%;width:78px;">
        <p class="v-g-pstyle4">Telas que cubren la parte inferior del paso, desde la mesa hasta el suelo. Pueden ser lisos o llevar algún bordado. Suelen ser de terciopelo</p>
      </div>
      <div id="v-g-ai3-18" class="v-g-anotaciones v-g-aiAbs" style="top:79.3691%;left:5.9776%;width:60px;">
        <p class="v-g-pstyle3">Candelabros de cola</p>
      </div>
      <div id="v-g-ai3-19" class="v-g-anotaciones v-g-aiAbs" style="top:79.5103%;left:23.0878%;width:64px;">
        <p class="v-g-pstyle3">Jarritas de flores</p>
      </div>
      <div id="v-g-ai3-20" class="v-g-anotaciones v-g-aiAbs" style="top:83.1822%;left:23.2109%;width:87px;">
        <p class="v-g-pstyle4">En la parte delantera y en los laterales del paso van dispuestas unas jarritas para acoger el exorno floral de la Virgen</p>
      </div>
      <div id="v-g-ai3-21" class="v-g-anotaciones v-g-aiAbs" style="top:83.3234%;left:6.1007%;width:75px;">
        <p class="v-g-pstyle4">Iluminan la parte trasera del palio y el manto de la virgen. Los cirios van protegidos por guardabrisas</p>
      </div>
      <div id="v-g-ai3-22" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText" style="top:98.0537%;margin-top:-6.3px;left:32.3664%;width:183px;">
        <p class="v-g-pstyle5">
          <span class="v-g-cstyle0">Fuente:</span> Elaboración propia / <span class="v-g-cstyle0">Gráfico:</span> A. Montes
        </p>
      </div>
    </div>
  </div>
  <!-- Final del voc-ai2html - 2026-03-27 14:54 -->
</div>