<div class="v-c-cmp v-c-cmp--l">
  <style media="screen,print">
    #v-g-01_infografia-box {
      width: 100% !important;
      overflow: hidden;
      position: relative;
      margin: 0 auto !important;
    }

    #v-g-01_infografia-box {
      container-type: inline-size;
      container-name: v-g-01_infografia-box;
    }

    #v-g-01_infografia-box {
      max-width: 1140px;
      margin-left: auto;
      margin-right: auto;
    }

    #v-g-01_infografia-box,
    #v-g-01_infografia-box .v-g-artboard {
      margin: 0 auto;
    }

    #v-g-01_infografia-box p {
      margin: 0;
    }

    #v-g-01_infografia-box .v-g-aiAbs {
      position: absolute;
    }

    #v-g-01_infografia-box .v-g-aiImg {
      position: absolute;
      top: 0;
      display: block;
      width: 100% !important;
    }

    #v-g-01_infografia-box .v-g-aiSymbol {
      position: absolute;
      box-sizing: border-box;
    }

    #v-g-01_infografia-box .v-g-aiPointText p {
      white-space: nowrap;
    }

    #v-g-01_infografia-01_infografia-XS {
      position: relative;
      overflow: hidden;
    }

    @container v-g-01_infografia-box (width >=510px) {
      #v-g-01_infografia-01_infografia-XS {
        display: none;
      }
    }

    #v-g-01_infografia-01_infografia-XS p {
      font-family: Micrograph Regular, sans-serif;
      font-weight: regular;
      font-style: normal;
      line-height: 19px;
      height: auto;
      opacity: 1;
      letter-spacing: 0em;
      font-size: 16px;
      text-align: left;
      color: rgb(249, 246, 238);
      text-transform: none;
      padding-bottom: 0;
      padding-top: 0;
      mix-blend-mode: normal;
      position: static;
    }

    #v-g-01_infografia-01_infografia-XS .v-g-pstyle0 {
      font-family: ABC Display Semibold, serif;
      font-weight: 600;
      line-height: 21px;
      height: 21px;
      font-size: 18px;
      color: rgb(255, 134, 14);
    }

    #v-g-01_infografia-01_infografia-XS .v-g-pstyle1 {
      font-family: ABC Display Semibold, serif;
      font-weight: 600;
      line-height: 21px;
      height: 21px;
      font-size: 18px;
    }

    #v-g-01_infografia-01_infografia-XS .v-g-pstyle2 {
      font-weight: 400;
      height: 19px;
    }

    #v-g-01_infografia-01_infografia-XS .v-g-pstyle3 {
      font-weight: 400;
      line-height: 17px;
      height: 17px;
      font-size: 14px;
      color: rgb(210, 210, 210);
    }

    #v-g-01_infografia-01_infografia-M {
      position: relative;
      overflow: hidden;
    }

    #v-g-01_infografia-01_infografia-M {
      display: none;
    }

    @container v-g-01_infografia-box (width >=699px) and (width < 1025px) {
      #v-g-01_infografia-01_infografia-M {
        display: block;
      }
    }

    #v-g-01_infografia-01_infografia-M p {
      font-family: Micrograph Regular, sans-serif;
      font-weight: regular;
      font-style: normal;
      line-height: 22px;
      height: auto;
      opacity: 1;
      letter-spacing: 0em;
      font-size: 18px;
      text-align: left;
      color: rgb(249, 246, 238);
      text-transform: none;
      padding-bottom: 0;
      padding-top: 0;
      mix-blend-mode: normal;
      position: static;
    }

    #v-g-01_infografia-01_infografia-M .v-g-pstyle0 {
      font-family: ABC Display Semibold, serif;
      font-weight: 600;
      line-height: 24px;
      height: 24px;
      font-size: 20px;
      color: rgb(255, 134, 14);
    }

    #v-g-01_infografia-01_infografia-M .v-g-pstyle1 {
      font-family: ABC Display Semibold, serif;
      font-weight: 600;
      line-height: 24px;
      height: 24px;
      font-size: 20px;
    }

    #v-g-01_infografia-01_infografia-M .v-g-pstyle2 {
      font-weight: 400;
      height: 22px;
    }

    #v-g-01_infografia-01_infografia-M .v-g-pstyle3 {
      font-weight: 400;
      line-height: 19px;
      height: 19px;
      font-size: 16px;
      color: rgb(210, 210, 210);
    }

    #v-g-01_infografia-01_infografia-L {
      position: relative;
      overflow: hidden;
    }

    #v-g-01_infografia-01_infografia-L {
      display: none;
    }

    @container v-g-01_infografia-box (width >=1025px) {
      #v-g-01_infografia-01_infografia-L {
        display: block;
      }
    }

    #v-g-01_infografia-01_infografia-L p {
      font-family: Micrograph Regular, sans-serif;
      font-weight: regular;
      font-style: normal;
      line-height: 22px;
      height: auto;
      opacity: 1;
      letter-spacing: 0em;
      font-size: 18px;
      text-align: left;
      color: rgb(249, 246, 238);
      text-transform: none;
      padding-bottom: 0;
      padding-top: 0;
      mix-blend-mode: normal;
      position: static;
    }

    #v-g-01_infografia-01_infografia-L .v-g-pstyle0 {
      font-family: ABC Display Semibold, serif;
      font-weight: 600;
      line-height: 24px;
      height: 24px;
      font-size: 20px;
      color: rgb(255, 134, 14);
    }

    #v-g-01_infografia-01_infografia-L .v-g-pstyle1 {
      font-family: ABC Display Semibold, serif;
      font-weight: 600;
      line-height: 24px;
      height: 24px;
      font-size: 20px;
    }

    #v-g-01_infografia-01_infografia-L .v-g-pstyle2 {
      font-weight: 400;
      height: 22px;
    }

    #v-g-01_infografia-01_infografia-L .v-g-pstyle3 {
      font-weight: 400;
      line-height: 19px;
      height: 19px;
      font-size: 16px;
      color: rgb(210, 210, 210);
    }

    #v-g-01_infografia-01_infografia-S {
      position: relative;
      overflow: hidden;
    }

    #v-g-01_infografia-01_infografia-S {
      display: none;
    }

    @container v-g-01_infografia-box (width >=510px) and (width < 699px) {
      #v-g-01_infografia-01_infografia-S {
        display: block;
      }
    }

    #v-g-01_infografia-01_infografia-S p {
      font-family: Micrograph Regular, sans-serif;
      font-weight: regular;
      font-style: normal;
      line-height: 22px;
      height: auto;
      opacity: 1;
      letter-spacing: 0em;
      font-size: 18px;
      text-align: left;
      color: rgb(249, 246, 238);
      text-transform: none;
      padding-bottom: 0;
      padding-top: 0;
      mix-blend-mode: normal;
      position: static;
    }

    #v-g-01_infografia-01_infografia-S .v-g-pstyle0 {
      font-family: ABC Display Semibold, serif;
      font-weight: 600;
      line-height: 24px;
      height: 24px;
      font-size: 20px;
      color: rgb(255, 134, 14);
    }

    #v-g-01_infografia-01_infografia-S .v-g-pstyle1 {
      font-family: ABC Display Semibold, serif;
      font-weight: 600;
      line-height: 24px;
      height: 24px;
      font-size: 20px;
    }

    #v-g-01_infografia-01_infografia-S .v-g-pstyle2 {
      font-weight: 400;
      height: 22px;
    }

    #v-g-01_infografia-01_infografia-S .v-g-pstyle3 {
      font-weight: 400;
      line-height: 18px;
      height: 18px;
      font-size: 15px;
      color: rgb(210, 210, 210);
    }
  </style>
  <div id="v-g-01_infografia-box" class="voc-ai2html"><!-- Mesa 01_infografia-XS -->
    <div id="v-g-01_infografia-01_infografia-XS" class="v-g-artboard"
      style="margin-left: auto !important; margin-right: auto !important; position: relative;left: 0; transform: none;width:330px; height:652.084136948082px;"
      data-aspect-ratio="0.506" data-min-width="0" data-max-width="509">
      <div style="display:none;"></div><img id="v-g-01_infografia-01_infografia-XS-img"
        class="v-g-01_infografia-01_infografia-XS-img v-g-aiImg" alt="" loading="lazy"
        src="https://s1.abcstatics.com/abc/www/multimedia/ciencia/2026/03/31/01_infografia-01_infografia-XS.png">
      <div id="v-g-ai0-1" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:5.5545%;margin-top:-11.2px;left:15.1742%;width:118px;">
        <p class="v-g-pstyle0">ARTEMIS II</p>
      </div>
      <div id="v-g-ai0-2" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:5.5545%;margin-top:-11.2px;left:62.4653%;width:99px;">
        <p class="v-g-pstyle1">APOLO 8 </p>
      </div>
      <div id="v-g-ai0-3" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:9.88%;margin-top:-10.4px;left:23.6018%;width:62px;">
        <p class="v-g-pstyle2">2026</p>
      </div>
      <div id="v-g-ai0-4" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:9.88%;margin-top:-10.4px;left:68.6759%;width:58px;">
        <p class="v-g-pstyle2">1968</p>
      </div>
      <div id="v-g-ai0-5" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:13.7138%;margin-top:-10.4px;left:24.9681%;width:57px;">
        <p class="v-g-pstyle2">SLS </p>
      </div>
      <div id="v-g-ai0-6" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:16.1675%;margin-top:-10.4px;left:63.5063%;width:92px;">
        <p class="v-g-pstyle2">Saturno V</p>
      </div>
      <div id="v-g-ai0-7" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:16.3209%;margin-top:-10.4px;left:5.6884%;width:180px;">
        <p class="v-g-pstyle2">Space Launch System</p>
      </div>
      <div id="v-g-ai0-8" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:20.1547%;margin-top:-10.4px;left:15.334%;width:117px;">
        <p class="v-g-pstyle2">95 toneladas</p>
      </div>
      <div id="v-g-ai0-9" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:20.1547%;margin-top:-10.4px;left:59.5896%;width:118px;">
        <p class="v-g-pstyle2">118 toneladas</p>
      </div>
      <div id="v-g-ai0-10" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:53.7394%;margin-top:-10.4px;left:46.0009%;width:74px;">
        <p class="v-g-pstyle2">110,6 m</p>
      </div>
      <div id="v-g-ai0-11" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:63.094%;margin-top:-10.4px;left:6.3039%;width:60px;">
        <p class="v-g-pstyle2">98 m</p>
      </div>
      <div id="v-g-ai0-12" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:96.5265%;margin-top:-9.4px;left:37.819%;width:128px;">
        <p class="v-g-pstyle3">Persona a escala</p>
      </div>
    </div><!-- Mesa 01_infografia-M -->
    <div id="v-g-01_infografia-01_infografia-M" class="v-g-artboard"
      style="margin-left: auto !important; margin-right: auto !important; position: relative;left: 0; transform: none;width:699px; height:736.48244935711px;"
      data-aspect-ratio="0.949" data-min-width="699" data-max-width="1024">
      <div style="display:none;"></div><img id="v-g-01_infografia-01_infografia-M-img"
        class="v-g-01_infografia-01_infografia-M-img v-g-aiImg" alt="" loading="lazy"
        src="https://s1.abcstatics.com/abc/www/multimedia/ciencia/2026/03/31/01_infografia-01_infografia-M.png">
      <div id="v-g-ai1-1" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:5.1658%;margin-top:-13px;left:22.8683%;width:131px;">
        <p class="v-g-pstyle0">ARTEMIS II</p>
      </div>
      <div id="v-g-ai1-2" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:5.1658%;margin-top:-13px;left:60.0269%;width:109px;">
        <p class="v-g-pstyle1">APOLO 8 </p>
      </div>
      <div id="v-g-ai1-3" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:9.5241%;margin-top:-12.1px;left:27.3895%;width:67px;">
        <p class="v-g-pstyle2">2026</p>
      </div>
      <div id="v-g-ai1-4" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:9.5241%;margin-top:-12.1px;left:63.3588%;width:62px;">
        <p class="v-g-pstyle2">1968</p>
      </div>
      <div id="v-g-ai1-5" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:13.3259%;margin-top:-12.1px;left:28.1225%;width:61px;">
        <p class="v-g-pstyle2">SLS </p>
      </div>
      <div id="v-g-ai1-6" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:15.9058%;margin-top:-12.1px;left:60.5854%;width:101px;">
        <p class="v-g-pstyle2">Saturno V</p>
      </div>
      <div id="v-g-ai1-7" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:16.0415%;margin-top:-12.1px;left:17.7793%;width:202px;">
        <p class="v-g-pstyle2">Space Launch System</p>
      </div>
      <div id="v-g-ai1-8" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:19.7076%;margin-top:-12.1px;left:22.9539%;width:129px;">
        <p class="v-g-pstyle2">95 toneladas</p>
      </div>
      <div id="v-g-ai1-9" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:19.7076%;margin-top:-12.1px;left:58.4842%;width:131px;">
        <p class="v-g-pstyle2">118 toneladas</p>
      </div>
      <div id="v-g-ai1-10" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:58.1335%;margin-top:-12.1px;left:71.5308%;width:81px;">
        <p class="v-g-pstyle2">110,6 m</p>
      </div>
      <div id="v-g-ai1-11" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:62.4785%;margin-top:-12.1px;left:39.485%;width:65px;">
        <p class="v-g-pstyle2">98 m</p>
      </div>
      <div id="v-g-ai1-12" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:95.7953%;margin-top:-10.5px;left:41.2017%;width:143px;">
        <p class="v-g-pstyle3">Persona a escala</p>
      </div>
    </div><!-- Mesa 01_infografia-L -->
    <div id="v-g-01_infografia-01_infografia-L" class="v-g-artboard"
      style="margin-left: auto !important; margin-right: auto !important; position: relative;left: 0; transform: none;width:1025px; height:725.142065441532px;"
      data-aspect-ratio="1.414" data-min-width="1025">
      <div style="display:none;"></div><img id="v-g-01_infografia-01_infografia-L-img"
        class="v-g-01_infografia-01_infografia-L-img v-g-aiImg" alt="" loading="lazy"
        src="https://s1.abcstatics.com/abc/www/multimedia/ciencia/2026/03/31/01_infografia-01_infografia-L.png">
      <div id="v-g-ai2-1" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:4.557%;margin-top:-13px;left:31.3999%;width:131px;">
        <p class="v-g-pstyle0">ARTEMIS II</p>
      </div>
      <div id="v-g-ai2-2" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:4.557%;margin-top:-13px;left:57.1306%;width:109px;">
        <p class="v-g-pstyle1">APOLO 8 </p>
      </div>
      <div id="v-g-ai2-3" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:8.9835%;margin-top:-12.1px;left:34.4832%;width:67px;">
        <p class="v-g-pstyle2">2026</p>
      </div>
      <div id="v-g-ai2-4" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:8.9835%;margin-top:-12.1px;left:59.4027%;width:63px;">
        <p class="v-g-pstyle2">1968</p>
      </div>
      <div id="v-g-ai2-5" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:12.8448%;margin-top:-12.1px;left:34.983%;width:61px;">
        <p class="v-g-pstyle2">SLS </p>
      </div>
      <div id="v-g-ai2-6" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:15.465%;margin-top:-12.1px;left:57.5114%;width:101px;">
        <p class="v-g-pstyle2">Saturno V</p>
      </div>
      <div id="v-g-ai2-7" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:15.6029%;margin-top:-12.1px;left:27.9295%;width:202px;">
        <p class="v-g-pstyle2">Space Launch System</p>
      </div>
      <div id="v-g-ai2-8" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:19.3263%;margin-top:-12.1px;left:31.4583%;width:129px;">
        <p class="v-g-pstyle2">95 toneladas</p>
      </div>
      <div id="v-g-ai2-9" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:19.3263%;margin-top:-12.1px;left:56.0785%;width:131px;">
        <p class="v-g-pstyle2">118 toneladas</p>
      </div>
      <div id="v-g-ai2-10" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:58.3531%;margin-top:-12.1px;left:64.6829%;width:81px;">
        <p class="v-g-pstyle2">110,6 m</p>
      </div>
      <div id="v-g-ai2-11" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:62.7661%;margin-top:-12.1px;left:42.8292%;width:65px;">
        <p class="v-g-pstyle2">98 m</p>
      </div>
      <div id="v-g-ai2-12" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:96.466%;margin-top:-10.5px;left:44%;width:143px;">
        <p class="v-g-pstyle3">Persona a escala</p>
      </div>
    </div><!-- Mesa 01_infografia-S -->
    <div id="v-g-01_infografia-01_infografia-S" class="v-g-artboard"
      style="margin-left: auto !important; margin-right: auto !important; position: relative;left: 0; transform: none;width:510px; height:730.084136948082px;"
      data-aspect-ratio="0.699" data-min-width="510" data-max-width="698">
      <div style="display:none;"></div><img id="v-g-01_infografia-01_infografia-S-img"
        class="v-g-01_infografia-01_infografia-S-img v-g-aiImg" alt="" loading="lazy"
        src="https://s1.abcstatics.com/abc/www/multimedia/ciencia/2026/03/31/01_infografia-01_infografia-S.png">
      <div id="v-g-ai3-1" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:4.8001%;margin-top:-13px;left:12.5195%;width:131px;">
        <p class="v-g-pstyle0">ARTEMIS II</p>
      </div>
      <div id="v-g-ai3-2" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:4.8001%;margin-top:-13px;left:64.8212%;width:109px;">
        <p class="v-g-pstyle1">APOLO 8 </p>
      </div>
      <div id="v-g-ai3-3" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:9.1966%;margin-top:-12.1px;left:18.7161%;width:67px;">
        <p class="v-g-pstyle2">2026</p>
      </div>
      <div id="v-g-ai3-4" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:9.1966%;margin-top:-12.1px;left:69.3877%;width:63px;">
        <p class="v-g-pstyle2">1968</p>
      </div>
      <div id="v-g-ai3-5" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:13.0318%;margin-top:-12.1px;left:19.7207%;width:61px;">
        <p class="v-g-pstyle2">SLS </p>
      </div>
      <div id="v-g-ai3-6" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:15.6342%;margin-top:-12.1px;left:65.5866%;width:101px;">
        <p class="v-g-pstyle2">Saturno V</p>
      </div>
      <div id="v-g-ai3-7" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:15.7712%;margin-top:-12.1px;left:5.5445%;width:202px;">
        <p class="v-g-pstyle2">Space Launch System</p>
      </div>
      <div id="v-g-ai3-8" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:19.4694%;margin-top:-12.1px;left:12.6368%;width:129px;">
        <p class="v-g-pstyle2">95 toneladas</p>
      </div>
      <div id="v-g-ai3-9" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:19.4694%;margin-top:-12.1px;left:62.7066%;width:131px;">
        <p class="v-g-pstyle2">118 toneladas</p>
      </div>
      <div id="v-g-ai3-10" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:58.2321%;margin-top:-12.1px;left:79.6079%;width:81px;">
        <p class="v-g-pstyle2">110,6 m</p>
      </div>
      <div id="v-g-ai3-11" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:62.6151%;margin-top:-12.1px;left:35.6863%;width:65px;">
        <p class="v-g-pstyle2">98 m</p>
      </div>
      <div id="v-g-ai3-12" class="v-g-anotaciones v-g-aiAbs v-g-aiPointText"
        style="top:96.0098%;margin-top:-10px;left:38.0392%;width:135px;">
        <p class="v-g-pstyle3">Persona a escala</p>
      </div>
    </div>
  </div><!-- Final del voc-ai2html - 2026-03-27 16:13 -->
</div>