<div class="v-c-cmp v-c-cmp--xl"><!-- Generado por voc-ai2html v0.123.4 - 2026-03-30 10:33 -->
  <style media="screen,print">
    #v-g-nombre1-box {
      width: 100% !important;
      overflow: hidden;
      position: relative;
      margin: 0 auto !important;
    }

    #v-g-nombre1-box {
      container-type: inline-size;
      container-name: v-g-nombre1-box;
    }

    #v-g-nombre1-box {
      max-width: 1140px;
      margin-left: auto;
      margin-right: auto;
    }

    #v-g-nombre1-box,
    #v-g-nombre1-box .v-g-artboard {
      margin: 0 auto;
    }

    #v-g-nombre1-box p {
      margin: 0;
    }

    #v-g-nombre1-box .v-g-aiAbs {
      position: absolute;
    }

    #v-g-nombre1-box .v-g-aiImg {
      position: absolute;
      top: 0;
      display: block;
      width: 100% !important;
    }

    #v-g-nombre1-box .v-g-aiSymbol {
      position: absolute;
      box-sizing: border-box;
    }

    #v-g-nombre1-box .v-g-aiPointText p {
      white-space: nowrap;
    }

    #v-g-07_infografia-nombre1-XS {
      position: relative;
      overflow: hidden;
    }

    @container v-g-nombre1-box (width >=510px) {
      #v-g-07_infografia-nombre1-XS {
        display: none;
      }
    }

    #v-g-07_infografia-nombre1-XS p {
      font-family: Micrograph Regular, sans-serif;
      font-weight: regular;
      font-style: normal;
      line-height: 19px;
      opacity: 1;
      letter-spacing: 0em;
      font-size: 16px;
      text-align: left;
      color: rgb(166, 166, 166);
      text-transform: none;
      padding-bottom: 0;
      padding-top: 0;
      mix-blend-mode: normal;
      height: auto;
      position: static;
    }

    #v-g-07_infografia-nombre1-XS .v-g-pstyle0 {
      font-family: ABC Display Semibold, serif;
      font-weight: 600;
      line-height: 24px;
      font-size: 20px;
      text-align: center;
      color: rgb(249, 246, 238);
    }

    #v-g-07_infografia-nombre1-XS .v-g-pstyle1 {
      font-weight: 400;
      text-align: center;
    }

    #v-g-07_infografia-nombre1-XS .v-g-pstyle2 {
      font-weight: 400;
      line-height: 17px;
      height: 17px;
      font-size: 14px;
    }

    #v-g-07_infografia-nombre1-XS .v-g-pstyle3 {
      font-family: Micrograph Semibold, sans-serif;
      font-weight: 600;
      line-height: 17px;
      height: 17px;
      font-size: 14px;
      color: rgb(249, 246, 238);
    }

    #v-g-07_infografia-nombre1-XS .v-g-pstyle4 {
      font-weight: 400;
      line-height: 17px;
      height: 17px;
      font-size: 14px;
      color: rgb(233, 233, 233);
    }

    #v-g-07_infografia-nombre1-XS .v-g-pstyle5 {
      font-weight: 400;
      line-height: 17px;
      font-size: 14px;
    }

    #v-g-07_infografia-nombre1-XS .v-g-pstyle6 {
      font-weight: 400;
      line-height: 17px;
      font-size: 14px;
      text-align: right;
      color: rgb(255, 134, 14);
    }

    #v-g-07_infografia-nombre1-M {
      position: relative;
      overflow: hidden;
    }

    #v-g-07_infografia-nombre1-M {
      display: none;
    }

    @container v-g-nombre1-box (width >=699px) and (width < 1025px) {
      #v-g-07_infografia-nombre1-M {
        display: block;
      }
    }

    #v-g-07_infografia-nombre1-M p {
      font-family: Micrograph Regular, sans-serif;
      font-weight: regular;
      font-style: normal;
      line-height: 19px;
      opacity: 1;
      letter-spacing: 0em;
      font-size: 16px;
      text-align: left;
      color: rgb(166, 166, 166);
      text-transform: none;
      padding-bottom: 0;
      padding-top: 0;
      mix-blend-mode: normal;
      height: auto;
      position: static;
    }

    #v-g-07_infografia-nombre1-M .v-g-pstyle0 {
      font-family: ABC Display Semibold, serif;
      font-weight: 600;
      line-height: 24px;
      height: 24px;
      font-size: 20px;
      color: rgb(249, 246, 238);
    }

    #v-g-07_infografia-nombre1-M .v-g-pstyle1 {
      font-weight: 400;
      text-align: center;
    }

    #v-g-07_infografia-nombre1-M .v-g-pstyle2 {
      font-family: arial, helvetica, sans-serif;
      line-height: 17px;
      height: 17px;
      font-size: 14px;
    }

    #v-g-07_infografia-nombre1-M .v-g-pstyle3 {
      font-weight: 400;
      height: 19px;
      color: rgb(249, 246, 238);
    }

    #v-g-07_infografia-nombre1-M .v-g-pstyle4 {
      font-family: Micrograph Semibold, sans-serif;
      font-weight: 600;
      line-height: 17px;
      height: 17px;
      font-size: 14px;
      color: rgb(249, 246, 238);
    }

    #v-g-07_infografia-nombre1-M .v-g-pstyle5 {
      font-weight: 400;
      color: rgb(249, 246, 238);
    }

    #v-g-07_infografia-nombre1-M .v-g-pstyle6 {
      font-weight: 400;
      text-align: right;
      color: rgb(255, 134, 14);
    }

    #v-g-07_infografia-nombre1-L {
      position: relative;
      overflow: hidden;
    }

    #v-g-07_infografia-nombre1-L {
      display: none;
    }

    @container v-g-nombre1-box (width >=1025px) {
      #v-g-07_infografia-nombre1-L {
        display: block;
      }
    }

    #v-g-07_infografia-nombre1-L p {
      font-family: Micrograph Regular, sans-serif;
      font-weight: regular;
      font-style: normal;
      line-height: 19px;
      opacity: 1;
      letter-spacing: 0em;
      font-size: 16px;
      text-align: left;
      color: rgb(166, 166, 166);
      text-transform: none;
      padding-bottom: 0;
      padding-top: 0;
      mix-blend-mode: normal;
      height: auto;
      position: static;
    }

    #v-g-07_infografia-nombre1-L .v-g-pstyle0 {
      font-family: ABC Display Semibold, serif;
      font-weight: 600;
      line-height: 24px;
      height: 24px;
      font-size: 20px;
      color: rgb(249, 246, 238);
    }

    #v-g-07_infografia-nombre1-L .v-g-pstyle1 {
      font-weight: 400;
      text-align: center;
    }

    #v-g-07_infografia-nombre1-L .v-g-pstyle2 {
      font-family: arial, helvetica, sans-serif;
      height: 19px;
    }

    #v-g-07_infografia-nombre1-L .v-g-pstyle3 {
      font-weight: 400;
      height: 19px;
      color: rgb(249, 246, 238);
    }

    #v-g-07_infografia-nombre1-L .v-g-pstyle4 {
      font-family: Micrograph Semibold, sans-serif;
      font-weight: 600;
      height: 19px;
      color: rgb(249, 246, 238);
    }

    #v-g-07_infografia-nombre1-L .v-g-pstyle5 {
      font-weight: 400;
      color: rgb(249, 246, 238);
    }

    #v-g-07_infografia-nombre1-L .v-g-pstyle6 {
      font-weight: 400;
      text-align: right;
      color: rgb(255, 134, 14);
    }

    #v-g-07_infografia-nombre1-S {
      position: relative;
      overflow: hidden;
    }

    #v-g-07_infografia-nombre1-S {
      display: none;
    }

    @container v-g-nombre1-box (width >=510px) and (width < 699px) {
      #v-g-07_infografia-nombre1-S {
        display: block;
      }
    }

    #v-g-07_infografia-nombre1-S p {
      font-family: Micrograph Regular, sans-serif;
      font-weight: regular;
      font-style: normal;
      line-height: 19px;
      opacity: 1;
      letter-spacing: 0em;
      font-size: 16px;
      text-align: left;
      color: rgb(166, 166, 166);
      text-transform: none;
      padding-bottom: 0;
      padding-top: 0;
      mix-blend-mode: normal;
      height: auto;
      position: static;
    }

    #v-g-07_infografia-nombre1-S .v-g-pstyle0 {
      font-family: ABC Display Semibold, serif;
      font-weight: 600;
      line-height: 24px;
      height: 24px;
      font-size: 20px;
      color: rgb(249, 246, 238);
    }

    #v-g-07_infografia-nombre1-S .v-g-pstyle1 {
      font-weight: 400;
      text-align: center;
    }

    #v-g-07_infografia-nombre1-S .v-g-pstyle2 {
      font-weight: 400;
      height: 19px;
    }

    #v-g-07_infografia-nombre1-S .v-g-pstyle3 {
      font-weight: 400;
      height: 19px;
      color: rgb(233, 233, 233);
    }

    #v-g-07_infografia-nombre1-S .v-g-pstyle4 {
      font-family: Micrograph Semibold, sans-serif;
      font-weight: 600;
      line-height: 17px;
      height: 17px;
      font-size: 14px;
      color: rgb(255, 255, 255);
    }

    #v-g-07_infografia-nombre1-S .v-g-pstyle5 {
      font-weight: 400;
    }

    #v-g-07_infografia-nombre1-S .v-g-pstyle6 {
      font-weight: 400;
      text-align: right;
      color: rgb(255, 134, 14);
    }
  </style>
  <div id="v-g-nombre1-box" class="voc-ai2html"><!-- Mesa nombre1-XS -->
    <div id="v-g-07_infografia-nombre1-XS" class="v-g-artboard"
      style="margin-left: auto !important; margin-right: auto !important; position: relative;left: 0; transform: none;width:330px; height:313.084136948082px;"
      data-aspect-ratio="1.054" data-min-width="0" data-max-width="509">
      <div style="display:none;"></div><img id="v-g-07_infografia-nombre1-XS-img"
        class="v-g-07_infografia-nombre1-XS-img v-g-aiImg" alt="" loading="lazy"
        src="https://s1.abcstatics.com/abc/www/multimedia/ciencia/2026/03/31/07_infografia-nombre1-XS.png">
      <div id="v-g-ai0-1" class="v-g-ai2html-settings v-g-aiAbs"
        style="top:7.3463%;left:50.0696%;margin-left:-38.1818%;width:252px;">
        <p class="v-g-pstyle0">DISTANCIA DE LA TIERRA A LA LUNA</p>
      </div>
      <div id="v-g-ai0-2" class="v-g-ai2html-settings v-g-aiAbs"
        style="top:27.1493%;left:50.0344%;margin-left:-42.2727%;width:279px;">
        <p class="v-g-pstyle1">Tardarán entre cuatro y seis horas para llegar a la EEI mientras que el viaje a la Luna
          se hará en unos tres días</p>
      </div>
      <div id="v-g-ai0-3" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:57.2973%;margin-top:-9.4px;left:41.7509%;width:81px;">
        <p class="v-g-pstyle2">(a escala)</p>
      </div>
      <div id="v-g-ai0-4" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:66.2741%;margin-top:-9.5px;left:38.7259%;width:103px;">
        <p class="v-g-pstyle3">384.400 km</p>
      </div>
      <div id="v-g-ai0-5" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:66.56%;margin-top:-9.4px;left:7.2054%;width:57px;">
        <p class="v-g-pstyle4">Tierra</p>
      </div>
      <div id="v-g-ai0-6" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:66.56%;margin-top:-9.4px;left:85.0842%;width:52px;">
        <p class="v-g-pstyle4">Luna</p>
      </div>
      <div id="v-g-ai0-7" class="v-g-ai2html-settings v-g-aiAbs" style="top:76.6567%;left:7.2054%;width:122px;">
        <p class="v-g-pstyle5">Órbita de la Estación Espacial Internacional</p>
      </div>
      <div id="v-g-ai0-8" class="v-g-ai2html-settings v-g-aiAbs" style="top:76.9761%;right:5.5668%;width:112px;">
        <p class="v-g-pstyle6">La misión Artemis llegará hasta los 400.000 km </p>
      </div>
    </div><!-- Mesa nombre1-M -->
    <div id="v-g-07_infografia-nombre1-M" class="v-g-artboard"
      style="margin-left: auto !important; margin-right: auto !important; position: relative;left: 0; transform: none;width:699px; height:285.482449357112px;"
      data-aspect-ratio="2.448" data-min-width="699" data-max-width="1024">
      <div style="display:none;"></div><img id="v-g-07_infografia-nombre1-M-img"
        class="v-g-07_infografia-nombre1-M-img v-g-aiImg" alt="" loading="lazy"
        src="https://s1.abcstatics.com/abc/www/multimedia/ciencia/2026/03/31/07_infografia-nombre1-M.png">
      <div id="v-g-ai1-1" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:12.2757%;margin-top:-13px;left:24.4618%;width:379px;">
        <p class="v-g-pstyle0">DISTANCIA DE LA TIERRA A LA LUNA</p>
      </div>
      <div id="v-g-ai1-2" class="v-g-ai2html-settings v-g-aiAbs"
        style="top:19.6159%;left:49.9791%;margin-left:-31.9742%;width:447px;">
        <p class="v-g-pstyle1">Tardarán entre cuatro y seis horas para llegar a la EEI mientras que el viaje a la Luna
          se hará en unos tres días</p>
      </div>
      <div id="v-g-ai1-3" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:50.3638%;margin-top:-9.8px;left:45.574%;width:83px;">
        <p class="v-g-pstyle2">(a escala)</p>
      </div>
      <div id="v-g-ai1-4" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:57.9775%;margin-top:-10.5px;left:3.6221%;width:62px;">
        <p class="v-g-pstyle3">Tierra</p>
      </div>
      <div id="v-g-ai1-5" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:59.7289%;margin-top:-10.5px;left:90.3988%;width:56px;">
        <p class="v-g-pstyle3">Luna</p>
      </div>
      <div id="v-g-ai1-6" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:60.0715%;margin-top:-9.5px;left:44.289%;width:103px;">
        <p class="v-g-pstyle4">384.400 km</p>
      </div>
      <div id="v-g-ai1-7" class="v-g-ai2html-settings v-g-aiAbs" style="top:72.8591%;left:2.9416%;width:148px;">
        <p class="v-g-pstyle5">Órbita de la Estación Espacial Internacional</p>
      </div>
      <div id="v-g-ai1-8" class="v-g-ai2html-settings v-g-aiAbs" style="top:73.2094%;right:2.7831%;width:129px;">
        <p class="v-g-pstyle6">La misión Artemis llegará hasta los 400.000 km </p>
      </div>
    </div><!-- Mesa nombre1-L -->
    <div id="v-g-07_infografia-nombre1-L" class="v-g-artboard"
      style="margin-left: auto !important; margin-right: auto !important; position: relative;left: 0; transform: none;width:1025px; height:320.142065441532px;"
      data-aspect-ratio="3.202" data-min-width="1025">
      <div style="display:none;"></div><img id="v-g-07_infografia-nombre1-L-img"
        class="v-g-07_infografia-nombre1-L-img v-g-aiImg" alt="" loading="lazy"
        src="https://s1.abcstatics.com/abc/www/multimedia/ciencia/2026/03/31/07_infografia-nombre1-L.png">
      <div id="v-g-ai2-1" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:10.9467%;margin-top:-13px;left:32.4932%;width:379px;">
        <p class="v-g-pstyle0">DISTANCIA DE LA TIERRA A LA LUNA</p>
      </div>
      <div id="v-g-ai2-2" class="v-g-ai2html-settings v-g-aiAbs"
        style="top:17.8046%;left:50.0092%;margin-left:-22.1951%;width:455px;">
        <p class="v-g-pstyle1">Tardarán entre cuatro y seis horas para llegar a la EEI mientras que el viaje a la Luna
          se hará en unos tres días</p>
      </div>
      <div id="v-g-ai2-3" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:47.155%;margin-top:-11px;left:46.5004%;width:92px;">
        <p class="v-g-pstyle2">(a escala)</p>
      </div>
      <div id="v-g-ai2-4" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:55.449%;margin-top:-10.5px;left:2.8046%;width:62px;">
        <p class="v-g-pstyle3">Tierra</p>
      </div>
      <div id="v-g-ai2-5" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:57.3607%;margin-top:-10.6px;left:45.4501%;width:115px;">
        <p class="v-g-pstyle4">384.400 km</p>
      </div>
      <div id="v-g-ai2-6" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:57.9479%;margin-top:-10.5px;left:93.0041%;width:56px;">
        <p class="v-g-pstyle3">Luna</p>
      </div>
      <div id="v-g-ai2-7" class="v-g-ai2html-settings v-g-aiAbs" style="top:74.6544%;left:2.1102%;width:132px;">
        <p class="v-g-pstyle5">Órbita de la Estación Espacial Internacional</p>
      </div>
      <div id="v-g-ai2-8" class="v-g-ai2html-settings v-g-aiAbs" style="top:74.9667%;right:1.9889%;width:127px;">
        <p class="v-g-pstyle6">La misión Artemis llegará hasta los 400.000 km </p>
      </div>
    </div><!-- Mesa nombre1-S -->
    <div id="v-g-07_infografia-nombre1-S" class="v-g-artboard"
      style="margin-left: auto !important; margin-right: auto !important; position: relative;left: 0; transform: none;width:510px; height:293.084136948082px;"
      data-aspect-ratio="1.74" data-min-width="510" data-max-width="698">
      <div style="display:none;"></div><img id="v-g-07_infografia-nombre1-S-img"
        class="v-g-07_infografia-nombre1-S-img v-g-aiImg" alt="" loading="lazy"
        src="https://s1.abcstatics.com/abc/www/multimedia/ciencia/2026/03/31/07_infografia-nombre1-S.png">
      <div id="v-g-ai3-1" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:11.6161%;margin-top:-13px;left:14.6995%;width:379px;">
        <p class="v-g-pstyle0">DISTANCIA DE LA TIERRA A LA LUNA</p>
      </div>
      <div id="v-g-ai3-2" class="v-g-ai2html-settings v-g-aiAbs"
        style="top:19.1071%;left:50.0189%;margin-left:-46.0784%;width:470px;">
        <p class="v-g-pstyle1">Tardarán entre cuatro y seis horas para llegar a la EEI mientras que el viaje a la Luna
          se hará en unos tres días</p>
      </div>
      <div id="v-g-ai3-3" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:46.9202%;margin-top:-10.5px;left:43.4395%;width:90px;">
        <p class="v-g-pstyle2">(a escala)</p>
      </div>
      <div id="v-g-ai3-4" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:58.521%;margin-top:-10.5px;left:4.8121%;width:62px;">
        <p class="v-g-pstyle3">Tierra</p>
      </div>
      <div id="v-g-ai3-5" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:58.521%;margin-top:-10.5px;left:88.5376%;width:56px;">
        <p class="v-g-pstyle3">Luna</p>
      </div>
      <div id="v-g-ai3-6" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:58.5135%;margin-top:-9.5px;left:42.0705%;width:103px;">
        <p class="v-g-pstyle4">384.400 km</p>
      </div>
      <div id="v-g-ai3-7" class="v-g-ai2html-settings v-g-aiAbs" style="top:72.3342%;left:4.8121%;width:145px;">
        <p class="v-g-pstyle5">Órbita de la Estación Espacial Internacional</p>
      </div>
      <div id="v-g-ai3-8" class="v-g-ai2html-settings v-g-aiAbs" style="top:72.6754%;right:3.8185%;width:131px;">
        <p class="v-g-pstyle6">La misión Artemis llegará hasta los 400.000 km </p>
      </div>
    </div>
  </div><!-- Final del voc-ai2html - 2026-03-30 10:33 -->
</div>