<div class="v-c-cmp "><!-- Generado por voc-ai2html v0.123.4 - 2026-03-27 10:54 -->
  <style media="screen,print">
    #v-g-nombre1-box {
      width: 100% !important;
      overflow: hidden;
      position: relative;
      margin: 0 auto !important;
    }

    #v-g-nombre1-box {
      container-type: inline-size;
      container-name: v-g-nombre1-box;
    }

    #v-g-nombre1-box {
      max-width: 1140px;
      margin-left: auto;
      margin-right: auto;
    }

    #v-g-nombre1-box,
    #v-g-nombre1-box .v-g-artboard {
      margin: 0 auto;
    }

    #v-g-nombre1-box p {
      margin: 0;
    }

    #v-g-nombre1-box .v-g-aiAbs {
      position: absolute;
    }

    #v-g-nombre1-box .v-g-aiImg {
      position: absolute;
      top: 0;
      display: block;
      width: 100% !important;
    }

    #v-g-nombre1-box .v-g-aiSymbol {
      position: absolute;
      box-sizing: border-box;
    }

    #v-g-nombre1-box .v-g-aiPointText p {
      white-space: nowrap;
    }

    #v-g-11_infografia-nombre1-XS {
      position: relative;
      overflow: hidden;
    }

    @container v-g-nombre1-box (width >=510px) {
      #v-g-11_infografia-nombre1-XS {
        display: none;
      }
    }

    #v-g-11_infografia-nombre1-XS p {
      font-family: Micrograph Semibold, sans-serif;
      font-weight: regular;
      font-style: normal;
      line-height: 17px;
      height: auto;
      opacity: 1;
      letter-spacing: 0em;
      font-size: 14px;
      text-align: left;
      color: rgb(249, 246, 238);
      text-transform: none;
      padding-bottom: 0;
      padding-top: 0;
      mix-blend-mode: normal;
      position: static;
    }

    #v-g-11_infografia-nombre1-XS .v-g-pstyle0 {
      font-family: ABC Display Semibold, serif;
      font-weight: 600;
      line-height: 22px;
      height: 22px;
      font-size: 18px;
    }

    #v-g-11_infografia-nombre1-XS .v-g-pstyle1 {
      font-weight: 600;
      height: 17px;
    }

    #v-g-11_infografia-nombre1-XS .v-g-pstyle2 {
      font-family: Micrograph Regular, sans-serif;
      font-weight: 400;
      height: 17px;
    }

    #v-g-11_infografia-nombre1-XS .v-g-pstyle3 {
      font-family: Micrograph Regular, sans-serif;
      font-weight: 400;
    }

    #v-g-11_infografia-nombre1-XS .v-g-pstyle4 {
      font-family: arial, sans-serif;
      font-weight: 400;
      line-height: 22px;
      height: 22px;
      font-size: 18px;
      color: rgb(255, 134, 14);
    }

    #v-g-11_infografia-nombre1-XS .v-g-pstyle5 {
      font-family: Micrograph Regular, sans-serif;
      font-weight: 400;
      text-align: right;
      color: rgb(166, 166, 166);
    }

    #v-g-11_infografia-nombre1-XS .v-g-pstyle6 {
      font-family: Micrograph Regular, sans-serif;
      font-weight: 400;
      text-align: right;
    }

    #v-g-11_infografia-nombre1-XS .v-g-pstyle7 {
      font-family: Micrograph Regular, sans-serif;
      font-weight: 400;
      line-height: 15px;
      height: 15px;
      font-size: 12px;
    }

    #v-g-11_infografia-nombre1-M {
      position: relative;
      overflow: hidden;
    }

    #v-g-11_infografia-nombre1-M {
      display: none;
    }

    @container v-g-nombre1-box (width >=699px) and (width < 1025px) {
      #v-g-11_infografia-nombre1-M {
        display: block;
      }
    }

    #v-g-11_infografia-nombre1-M p {
      font-family: Micrograph Semibold, sans-serif;
      font-weight: regular;
      font-style: normal;
      line-height: 19px;
      height: auto;
      opacity: 1;
      letter-spacing: 0em;
      font-size: 16px;
      text-align: left;
      color: rgb(249, 246, 238);
      text-transform: none;
      padding-bottom: 0;
      padding-top: 0;
      mix-blend-mode: normal;
      position: static;
    }

    #v-g-11_infografia-nombre1-M .v-g-pstyle0 {
      font-family: ABC Display Semibold, serif;
      font-weight: 600;
      line-height: 24px;
      height: 24px;
      font-size: 20px;
    }

    #v-g-11_infografia-nombre1-M .v-g-pstyle1 {
      font-weight: 600;
      height: 19px;
    }

    #v-g-11_infografia-nombre1-M .v-g-pstyle2 {
      font-family: Micrograph Regular, sans-serif;
      font-weight: 400;
      height: 19px;
    }

    #v-g-11_infografia-nombre1-M .v-g-pstyle3 {
      font-family: Micrograph Regular, sans-serif;
      font-weight: 400;
    }

    #v-g-11_infografia-nombre1-M .v-g-pstyle4 {
      font-family: ABC Display Semibold, serif;
      font-weight: 600;
      line-height: 24px;
      height: 24px;
      font-size: 20px;
      color: rgb(255, 134, 14);
    }

    #v-g-11_infografia-nombre1-M .v-g-pstyle5 {
      font-family: Micrograph Regular, sans-serif;
      font-weight: 400;
      text-align: center;
    }

    #v-g-11_infografia-nombre1-M .v-g-pstyle6 {
      font-family: Micrograph Regular, sans-serif;
      font-weight: 400;
      text-align: right;
    }

    #v-g-11_infografia-nombre1-M .v-g-pstyle7 {
      font-family: Micrograph Regular, sans-serif;
      font-weight: 400;
      text-align: right;
      color: rgb(166, 166, 166);
    }

    #v-g-11_infografia-nombre1-M .v-g-pstyle8 {
      font-family: Micrograph Regular, sans-serif;
      font-weight: 400;
      line-height: 17px;
      height: 17px;
      font-size: 14px;
    }

    #v-g-11_infografia-nombre1-L {
      position: relative;
      overflow: hidden;
    }

    #v-g-11_infografia-nombre1-L {
      display: none;
    }

    @container v-g-nombre1-box (width >=1025px) {
      #v-g-11_infografia-nombre1-L {
        display: block;
      }
    }

    #v-g-11_infografia-nombre1-L p {
      font-family: Micrograph Regular, sans-serif;
      font-weight: regular;
      font-style: normal;
      line-height: 19px;
      height: auto;
      opacity: 1;
      letter-spacing: 0em;
      font-size: 16px;
      text-align: left;
      color: rgb(249, 246, 238);
      text-transform: none;
      padding-bottom: 0;
      padding-top: 0;
      mix-blend-mode: normal;
      position: static;
    }

    #v-g-11_infografia-nombre1-L .v-g-pstyle0 {
      font-family: ABC Display Semibold, serif;
      font-weight: 600;
      line-height: 24px;
      height: 24px;
      font-size: 20px;
    }

    #v-g-11_infografia-nombre1-L .v-g-pstyle1 {
      font-family: Micrograph Semibold, sans-serif;
      font-weight: 600;
      height: 19px;
    }

    #v-g-11_infografia-nombre1-L .v-g-pstyle2 {
      font-weight: 400;
      height: 19px;
    }

    #v-g-11_infografia-nombre1-L .v-g-pstyle3 {
      font-weight: 400;
    }

    #v-g-11_infografia-nombre1-L .v-g-pstyle4 {
      font-family: ABC Display Semibold, serif;
      font-weight: 600;
      line-height: 24px;
      height: 24px;
      font-size: 20px;
      color: rgb(255, 134, 14);
    }

    #v-g-11_infografia-nombre1-L .v-g-pstyle5 {
      font-weight: 400;
      text-align: center;
    }

    #v-g-11_infografia-nombre1-L .v-g-pstyle6 {
      font-weight: 400;
      text-align: right;
    }

    #v-g-11_infografia-nombre1-L .v-g-pstyle7 {
      font-weight: 400;
      text-align: right;
      color: rgb(210, 210, 210);
    }

    #v-g-11_infografia-nombre1-L .v-g-pstyle8 {
      font-weight: 400;
      line-height: 17px;
      height: 17px;
      font-size: 14px;
    }

    #v-g-11_infografia-nombre1-S {
      position: relative;
      overflow: hidden;
    }

    #v-g-11_infografia-nombre1-S {
      display: none;
    }

    @container v-g-nombre1-box (width >=510px) and (width < 699px) {
      #v-g-11_infografia-nombre1-S {
        display: block;
      }
    }

    #v-g-11_infografia-nombre1-S p {
      font-family: Micrograph Regular, sans-serif;
      font-weight: regular;
      font-style: normal;
      line-height: 19px;
      opacity: 1;
      letter-spacing: 0em;
      font-size: 16px;
      text-align: left;
      color: rgb(249, 246, 238);
      text-transform: none;
      padding-bottom: 0;
      padding-top: 0;
      mix-blend-mode: normal;
      height: auto;
      position: static;
    }

    #v-g-11_infografia-nombre1-S .v-g-pstyle0 {
      font-family: ABC Display Semibold, serif;
      font-weight: 600;
      line-height: 24px;
      height: 24px;
      font-size: 20px;
    }

    #v-g-11_infografia-nombre1-S .v-g-pstyle1 {
      font-family: Micrograph Semibold, sans-serif;
      font-weight: 600;
      height: 19px;
    }

    #v-g-11_infografia-nombre1-S .v-g-pstyle2 {
      font-weight: 400;
      height: 19px;
    }

    #v-g-11_infografia-nombre1-S .v-g-pstyle3 {
      font-weight: 400;
    }

    #v-g-11_infografia-nombre1-S .v-g-pstyle4 {
      font-family: arial, sans-serif;
      font-weight: 400;
      line-height: 24px;
      height: 24px;
      font-size: 20px;
      color: rgb(255, 134, 14);
    }

    #v-g-11_infografia-nombre1-S .v-g-pstyle5 {
      font-weight: 400;
      text-align: center;
    }

    #v-g-11_infografia-nombre1-S .v-g-pstyle6 {
      font-weight: 400;
      text-align: right;
      color: rgb(166, 166, 166);
    }

    #v-g-11_infografia-nombre1-S .v-g-pstyle7 {
      font-weight: 400;
      text-align: right;
    }
  </style>
  <div id="v-g-nombre1-box" class="voc-ai2html"><!-- Mesa nombre1-XS -->
    <div id="v-g-11_infografia-nombre1-XS" class="v-g-artboard"
      style="margin-left: auto !important; margin-right: auto !important; position: relative;left: 0; transform: none;width:330px; height:1041.08413694808px;"
      data-aspect-ratio="0.317" data-min-width="0" data-max-width="509">
      <div style="display:none;"></div><img id="v-g-11_infografia-nombre1-XS-img"
        class="v-g-11_infografia-nombre1-XS-img v-g-aiImg" alt="" loading="lazy"
        src="https://s1.abcstatics.com/abc/www/multimedia/ciencia/2026/03/31/11_infografia-nombre1-XS.jpg">
      <div id="v-g-ai0-1" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:2.9368%;margin-top:-12.6px;left:12.788%;width:266px;">
        <p class="v-g-pstyle0">TRIPULACIÓN DEL APOLO 8 </p>
      </div>
      <div id="v-g-ai0-2" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:8.212%;margin-top:-9.5px;left:36.3199%;width:137px;">
        <p class="v-g-pstyle1">William A. Anders&nbsp;</p>
      </div>
      <div id="v-g-ai0-3" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:10.4111%;margin-top:-9.4px;left:31.157%;width:171px;">
        <p class="v-g-pstyle2">Piloto del módulo lunar </p>
      </div>
      <div id="v-g-ai0-4" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:12.044%;margin-top:-9.4px;left:45.6888%;width:73px;">
        <p class="v-g-pstyle2">35 años</p>
      </div>
      <div id="v-g-ai0-5" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:24.1569%;margin-top:-9.5px;left:6.7463%;width:119px;">
        <p class="v-g-pstyle1">James A. Lovell</p>
      </div>
      <div id="v-g-ai0-6" class="v-g-ai2html-settings v-g-aiAbs" style="top:24.8779%;left:6.1213%;width:128px;">
        <p class="v-g-pstyle3">Piloto del módulo de comando </p>
      </div>
      <div id="v-g-ai0-7" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:28.0951%;margin-top:-9.5px;left:58.5455%;width:111px;">
        <p class="v-g-pstyle1">Frank Borman</p>
      </div>
      <div id="v-g-ai0-8" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:29.1416%;margin-top:-9.4px;left:6.1213%;width:74px;">
        <p class="v-g-pstyle2">40 años</p>
      </div>
      <div id="v-g-ai0-9" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:30.1021%;margin-top:-9.4px;left:59.581%;width:108px;">
        <p class="v-g-pstyle2">Comandante </p>
      </div>
      <div id="v-g-ai0-10" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:31.8311%;margin-top:-9.4px;left:64.3392%;width:74px;">
        <p class="v-g-pstyle2">40 años</p>
      </div>
      <div id="v-g-ai0-11" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:51.4431%;margin-top:-12.6px;left:7.6826%;width:298px;">
        <p class="v-g-pstyle4"> TRIPULACIÓN DEL ARTEMIS II</p>
      </div>
      <div id="v-g-ai0-12" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:56.4309%;margin-top:-9.5px;left:34.9728%;width:117px;">
        <p class="v-g-pstyle1">Victor J. Glover</p>
      </div>
      <div id="v-g-ai0-13" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:58.438%;margin-top:-9.4px;left:44.0443%;width:59px;">
        <p class="v-g-pstyle2">Piloto</p>
      </div>
      <div id="v-g-ai0-14" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:60.167%;margin-top:-9.4px;left:41.7904%;width:74px;">
        <p class="v-g-pstyle2">49 años</p>
      </div>
      <div id="v-g-ai0-15" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:61.5218%;margin-top:-9.5px;left:6.2164%;width:116px;">
        <p class="v-g-pstyle1">Christina Koch</p>
      </div>
      <div id="v-g-ai0-16" class="v-g-ai2html-settings v-g-aiAbs" style="top:62.4349%;right:5.092%;width:125px;">
        <p class="v-g-pstyle5">Primer no estadounidense en llegar a la Luna</p>
      </div>
      <div id="v-g-ai0-17" class="v-g-ai2html-settings v-g-aiAbs" style="top:62.627%;left:6.1213%;width:92px;">
        <p class="v-g-pstyle3">Especialista de misión </p>
      </div>
      <div id="v-g-ai0-18" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:66.8907%;margin-top:-9.4px;left:6.1213%;width:72px;">
        <p class="v-g-pstyle2">47 años</p>
      </div>
      <div id="v-g-ai0-19" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:78.043%;margin-top:-9.5px;left:63.5658%;width:119px;">
        <p class="v-g-pstyle1">Jeremy Hansen</p>
      </div>
      <div id="v-g-ai0-20" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:80.0602%;margin-top:-9.5px;left:6.1213%;width:152px;">
        <p class="v-g-pstyle1">Gregory R. Wiseman</p>
      </div>
      <div id="v-g-ai0-21" class="v-g-ai2html-settings v-g-aiAbs" style="top:79.1483%;right:7.2387%;width:95px;">
        <p class="v-g-pstyle6">Especialista de misión de la CSA </p>
      </div>
      <div id="v-g-ai0-22" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:81.9712%;margin-top:-9.4px;left:6.1213%;width:115px;">
        <p class="v-g-pstyle2">Comandante </p>
      </div>
      <div id="v-g-ai0-23" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:83.412%;margin-top:-9.4px;left:77.3265%;width:73px;">
        <p class="v-g-pstyle2">50 años</p>
      </div>
      <div id="v-g-ai0-24" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:83.7001%;margin-top:-9.4px;left:6.1213%;width:73px;">
        <p class="v-g-pstyle2">50 años</p>
      </div>
      <div id="v-g-ai0-25" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:97.1484%;margin-top:-8.4px;left:39.2294%;width:90px;">
        <p class="v-g-pstyle7">Fotos: NASA</p>
      </div>
    </div><!-- Mesa nombre1-M -->
    <div id="v-g-11_infografia-nombre1-M" class="v-g-artboard"
      style="margin-left: auto !important; margin-right: auto !important; position: relative;left: 0; transform: none;width:699px; height:1884.48244935711px;"
      data-aspect-ratio="0.371" data-min-width="699" data-max-width="1024">
      <div style="display:none;"></div><img id="v-g-11_infografia-nombre1-M-img"
        class="v-g-11_infografia-nombre1-M-img v-g-aiImg" alt="" loading="lazy"
        src="https://s1.abcstatics.com/abc/www/multimedia/ciencia/2026/03/31/11_infografia-nombre1-M.jpg">
      <div id="v-g-ai1-1" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:1.844%;margin-top:-13.8px;left:30.752%;width:293px;">
        <p class="v-g-pstyle0">TRIPULACIÓN DEL APOLO 8 </p>
      </div>
      <div id="v-g-ai1-2" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:7.8343%;margin-top:-10.6px;left:41.0525%;width:154px;">
        <p class="v-g-pstyle1">William A. Anders&nbsp;</p>
      </div>
      <div id="v-g-ai1-3" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:9.1015%;margin-top:-10.5px;left:34.0671%;width:256px;">
        <p class="v-g-pstyle2">Piloto del módulo lunar | Militar </p>
      </div>
      <div id="v-g-ai1-4" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:10.1628%;margin-top:-10.5px;left:46.434%;width:80px;">
        <p class="v-g-pstyle2">35 años</p>
      </div>
      <div id="v-g-ai1-5" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:11.0712%;margin-top:-10.6px;left:9.722%;width:133px;">
        <p class="v-g-pstyle1">James A. Lovell</p>
      </div>
      <div id="v-g-ai1-6" class="v-g-ai2html-settings v-g-aiAbs" style="top:11.7804%;left:9.722%;width:157px;">
        <p class="v-g-pstyle3">Piloto del módulo de comando | Militar </p>
      </div>
      <div id="v-g-ai1-7" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:14.461%;margin-top:-10.5px;left:9.722%;width:81px;">
        <p class="v-g-pstyle2">40 años</p>
      </div>
      <div id="v-g-ai1-8" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:18.8718%;margin-top:-10.6px;left:74.0997%;width:124px;">
        <p class="v-g-pstyle1">Frank Borman</p>
      </div>
      <div id="v-g-ai1-9" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:20.139%;margin-top:-10.5px;left:74.0997%;width:184px;">
        <p class="v-g-pstyle2">Comandante | Militar </p>
      </div>
      <div id="v-g-ai1-10" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:21.2003%;margin-top:-10.5px;left:74.0997%;width:81px;">
        <p class="v-g-pstyle2">40 años</p>
      </div>
      <div id="v-g-ai1-11" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:53.7946%;margin-top:-13.8px;left:28.6698%;width:319px;">
        <p class="v-g-pstyle4"> TRIPULACIÓN DEL ARTEMIS II</p>
      </div>
      <div id="v-g-ai1-12" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:58.0337%;margin-top:-10.6px;left:42.9122%;width:131px;">
        <p class="v-g-pstyle1">Victor J. Glover</p>
      </div>
      <div id="v-g-ai1-13" class="v-g-ai2html-settings v-g-aiAbs"
        style="top:58.7429%;left:50.3749%;margin-left:-12.804%;width:179px;">
        <p class="v-g-pstyle5">Piloto | Piloto de caza e ingeniero de sistemas&nbsp; </p>
      </div>
      <div id="v-g-ai1-14" class="v-g-ai2html-settings v-g-aiAbs" style="top:60.8655%;left:46.4921%;width:59px;">
        <p class="v-g-pstyle3">49 años</p>
      </div>
      <div id="v-g-ai1-15" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:62.9688%;margin-top:-10.6px;left:80.0546%;width:132px;">
        <p class="v-g-pstyle1">Jeremy Hansen</p>
      </div>
      <div id="v-g-ai1-16" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:63.3402%;margin-top:-10.6px;left:4.8398%;width:130px;">
        <p class="v-g-pstyle1">Christina Koch</p>
      </div>
      <div id="v-g-ai1-17" class="v-g-ai2html-settings v-g-aiAbs" style="top:63.678%;right:4.2528%;width:170px;">
        <p class="v-g-pstyle6">Especialista de misión de la CSA | Físico y piloto de caza </p>
      </div>
      <div id="v-g-ai1-18" class="v-g-ai2html-settings v-g-aiAbs" style="top:64.1555%;left:4.8579%;width:144px;">
        <p class="v-g-pstyle3">Especialista de misión | Ingeniera eléctrica y física </p>
      </div>
      <div id="v-g-ai1-19" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:67.4199%;margin-top:-10.5px;left:87.5028%;width:80px;">
        <p class="v-g-pstyle2">50 años</p>
      </div>
      <div id="v-g-ai1-20" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:67.7383%;margin-top:-10.5px;left:4.8579%;width:79px;">
        <p class="v-g-pstyle2">47 años</p>
      </div>
      <div id="v-g-ai1-21" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:77.2433%;margin-top:-10.6px;left:38.7988%;width:171px;">
        <p class="v-g-pstyle1">Gregory R. Wiseman</p>
      </div>
      <div id="v-g-ai1-22" class="v-g-ai2html-settings v-g-aiAbs"
        style="top:77.9524%;left:49.4521%;margin-left:-13.5908%;width:190px;">
        <p class="v-g-pstyle5">Comandante | Ingeniero y aviador naval </p>
      </div>
      <div id="v-g-ai1-23" class="v-g-ai2html-settings v-g-aiAbs" style="top:79.2791%;right:8.8194%;width:147px;">
        <p class="v-g-pstyle7">Primer no estadounidense en llegar a la Luna</p>
      </div>
      <div id="v-g-ai1-24" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:80.633%;margin-top:-10.5px;left:45.6444%;width:80px;">
        <p class="v-g-pstyle2">50 años</p>
      </div>
      <div id="v-g-ai1-25" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:97.6071%;margin-top:-9.4px;left:47.9687%;width:100px;">
        <p class="v-g-pstyle8">Fotos: NASA</p>
      </div>
    </div><!-- Mesa nombre1-L -->
    <div id="v-g-11_infografia-nombre1-L" class="v-g-artboard"
      style="margin-left: auto !important; margin-right: auto !important; position: relative;left: 0; transform: none;width:1025px; height:1874.14206544153px;"
      data-aspect-ratio="0.547" data-min-width="1025">
      <div style="display:none;"></div><img id="v-g-11_infografia-nombre1-L-img"
        class="v-g-11_infografia-nombre1-L-img v-g-aiImg" alt="" loading="lazy"
        src="https://s1.abcstatics.com/abc/www/multimedia/ciencia/2026/03/31/11_infografia-nombre1-L.jpg">
      <div id="v-g-ai2-1" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:1.9075%;margin-top:-13.8px;left:36.8783%;width:293px;">
        <p class="v-g-pstyle0">TRIPULACIÓN DEL APOLO 8 </p>
      </div>
      <div id="v-g-ai2-2" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:7.9309%;margin-top:-10.6px;left:43.2328%;width:154px;">
        <p class="v-g-pstyle1">William A. Anders&nbsp;</p>
      </div>
      <div id="v-g-ai2-3" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:9.205%;margin-top:-10.5px;left:38.248%;width:256px;">
        <p class="v-g-pstyle2">Piloto del módulo lunar | Militar </p>
      </div>
      <div id="v-g-ai2-4" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:10.2722%;margin-top:-10.5px;left:46.6816%;width:80px;">
        <p class="v-g-pstyle2">35 años</p>
      </div>
      <div id="v-g-ai2-5" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:11.6659%;margin-top:-10.6px;left:21.9515%;width:133px;">
        <p class="v-g-pstyle1">James A. Lovell</p>
      </div>
      <div id="v-g-ai2-6" class="v-g-ai2html-settings v-g-aiAbs" style="top:12.1656%;left:21.7564%;width:154px;">
        <p class="v-g-pstyle3">Piloto del módulo de comando | Militar </p>
      </div>
      <div id="v-g-ai2-7" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:14.861%;margin-top:-10.5px;left:21.7563%;width:81px;">
        <p class="v-g-pstyle2">40 años</p>
      </div>
      <div id="v-g-ai2-8" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:19.0293%;margin-top:-10.6px;left:65.6588%;width:124px;">
        <p class="v-g-pstyle1">Frank Borman</p>
      </div>
      <div id="v-g-ai2-9" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:20.3035%;margin-top:-10.5px;left:65.6588%;width:184px;">
        <p class="v-g-pstyle2">Comandante | Militar </p>
      </div>
      <div id="v-g-ai2-10" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:21.3706%;margin-top:-10.5px;left:65.6588%;width:81px;">
        <p class="v-g-pstyle2">40 años</p>
      </div>
      <div id="v-g-ai2-11" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:54.1448%;margin-top:-13.8px;left:35.5559%;width:319px;">
        <p class="v-g-pstyle4"> TRIPULACIÓN DEL ARTEMIS II</p>
      </div>
      <div id="v-g-ai2-12" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:58.514%;margin-top:-10.6px;left:46.7835%;width:131px;">
        <p class="v-g-pstyle1">Victor J. Glover</p>
      </div>
      <div id="v-g-ai2-13" class="v-g-ai2html-settings v-g-aiAbs"
        style="top:59.2271%;left:52.2575%;margin-left:-9.122%;width:187px;">
        <p class="v-g-pstyle5">Piloto | Piloto de caza e ingeniero de sistemas&nbsp; </p>
      </div>
      <div id="v-g-ai2-14" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:61.7155%;margin-top:-10.6px;left:23.61%;width:130px;">
        <p class="v-g-pstyle1">Christina Koch</p>
      </div>
      <div id="v-g-ai2-15" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:61.9225%;margin-top:-10.5px;left:48.3413%;width:81px;">
        <p class="v-g-pstyle2">49 años</p>
      </div>
      <div id="v-g-ai2-16" class="v-g-ai2html-settings v-g-aiAbs" style="top:62.4286%;left:23.61%;width:156px;">
        <p class="v-g-pstyle3">Especialista de misión | Ingeniera eléctrica y física </p>
      </div>
      <div id="v-g-ai2-17" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:63.3696%;margin-top:-10.6px;left:70.9062%;width:132px;">
        <p class="v-g-pstyle1">Jeremy Hansen</p>
      </div>
      <div id="v-g-ai2-18" class="v-g-ai2html-settings v-g-aiAbs" style="top:64.0827%;right:18.3732%;width:161px;">
        <p class="v-g-pstyle6">Especialista de misión de la CSA | Físico y piloto de caza </p>
      </div>
      <div id="v-g-ai2-19" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:66.1911%;margin-top:-10.5px;left:23.61%;width:79px;">
        <p class="v-g-pstyle2">47 años</p>
      </div>
      <div id="v-g-ai2-20" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:67.8452%;margin-top:-10.5px;left:75.7747%;width:80px;">
        <p class="v-g-pstyle2">50 años</p>
      </div>
      <div id="v-g-ai2-21" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:77.7228%;margin-top:-10.6px;left:43.0775%;width:171px;">
        <p class="v-g-pstyle1">Gregory R. Wiseman</p>
      </div>
      <div id="v-g-ai2-22" class="v-g-ai2html-settings v-g-aiAbs"
        style="top:78.4359%;left:50.3235%;margin-left:-8.9756%;width:184px;">
        <p class="v-g-pstyle5">Comandante | Ingeniero y aviador naval </p>
      </div>
      <div id="v-g-ai2-23" class="v-g-ai2html-settings v-g-aiAbs" style="top:79.7165%;right:21.2327%;width:140px;">
        <p class="v-g-pstyle7">Primer no estadounidense en llegar a la Luna</p>
      </div>
      <div id="v-g-ai2-24" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:81.1313%;margin-top:-10.5px;left:46.2737%;width:80px;">
        <p class="v-g-pstyle2">50 años</p>
      </div>
      <div id="v-g-ai2-25" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:98.199%;margin-top:-9.4px;left:46.2777%;width:100px;">
        <p class="v-g-pstyle8">Fotos: NASA</p>
      </div>
    </div><!-- Mesa nombre1-S -->
    <div id="v-g-11_infografia-nombre1-S" class="v-g-artboard"
      style="margin-left: auto !important; margin-right: auto !important; position: relative;left: 0; transform: none;width:510px; height:1514.08413694808px;"
      data-aspect-ratio="0.337" data-min-width="510" data-max-width="698">
      <div style="display:none;"></div><img id="v-g-11_infografia-nombre1-S-img"
        class="v-g-11_infografia-nombre1-S-img v-g-aiImg" alt="" loading="lazy"
        src="https://s1.abcstatics.com/abc/www/multimedia/ciencia/2026/03/31/11_infografia-nombre1-S.jpg">
      <div id="v-g-ai3-1" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:2.4272%;margin-top:-13.8px;left:22.8915%;width:293px;">
        <p class="v-g-pstyle0">TRIPULACIÓN DEL APOLO 8 </p>
      </div>
      <div id="v-g-ai3-2" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:9.1564%;margin-top:-10.6px;left:40.7346%;width:154px;">
        <p class="v-g-pstyle1">William A. Anders&nbsp;</p>
      </div>
      <div id="v-g-ai3-3" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:10.8657%;margin-top:-10.5px;left:31.1606%;width:256px;">
        <p class="v-g-pstyle2">Piloto del módulo lunar | Militar </p>
      </div>
      <div id="v-g-ai3-4" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:12.1866%;margin-top:-10.5px;left:48.1106%;width:80px;">
        <p class="v-g-pstyle2">35 años</p>
      </div>
      <div id="v-g-ai3-5" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:24.7434%;margin-top:-10.6px;left:7.1213%;width:133px;">
        <p class="v-g-pstyle1">James A. Lovell</p>
      </div>
      <div id="v-g-ai3-6" class="v-g-ai2html-settings v-g-aiAbs" style="top:25.56%;left:6.617%;width:156px;">
        <p class="v-g-pstyle3">Piloto del módulo de comando | Militar </p>
      </div>
      <div id="v-g-ai3-7" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:28.9043%;margin-top:-10.6px;left:62.8916%;width:124px;">
        <p class="v-g-pstyle1">Frank Borman</p>
      </div>
      <div id="v-g-ai3-8" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:28.8964%;margin-top:-10.5px;left:6.617%;width:81px;">
        <p class="v-g-pstyle2">40 años</p>
      </div>
      <div id="v-g-ai3-9" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:30.4815%;margin-top:-10.5px;left:57.4291%;width:184px;">
        <p class="v-g-pstyle2">Comandante | Militar </p>
      </div>
      <div id="v-g-ai3-10" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:31.8024%;margin-top:-10.5px;left:67.19%;width:81px;">
        <p class="v-g-pstyle2">40 años</p>
      </div>
      <div id="v-g-ai3-11" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:53.8768%;margin-top:-13.7px;left:19.8202%;width:328px;">
        <p class="v-g-pstyle4"> TRIPULACIÓN DEL ARTEMIS II</p>
      </div>
      <div id="v-g-ai3-12" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:57.7667%;margin-top:-10.6px;left:40.6077%;width:131px;">
        <p class="v-g-pstyle1">Victor J. Glover</p>
      </div>
      <div id="v-g-ai3-13" class="v-g-ai2html-settings v-g-aiAbs"
        style="top:58.6493%;left:51.6782%;margin-left:-17.7451%;width:181px;">
        <p class="v-g-pstyle5">Piloto | Piloto de caza e ingeniero de sistemas&nbsp; </p>
      </div>
      <div id="v-g-ai3-14" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:61.7294%;margin-top:-10.6px;left:6.5923%;width:130px;">
        <p class="v-g-pstyle1">Christina Koch</p>
      </div>
      <div id="v-g-ai3-15" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:61.9857%;margin-top:-10.5px;left:44.3957%;width:81px;">
        <p class="v-g-pstyle2">49 años</p>
      </div>
      <div id="v-g-ai3-16" class="v-g-ai2html-settings v-g-aiAbs" style="top:62.5461%;left:6.617%;width:158px;">
        <p class="v-g-pstyle3">Especialista de misión | Ingeniera eléctrica y física </p>
      </div>
      <div id="v-g-ai3-17" class="v-g-ai2html-settings v-g-aiAbs" style="top:63.3386%;right:5.8916%;width:138px;">
        <p class="v-g-pstyle6">Primer no estadounidense en llegar a la Luna</p>
      </div>
      <div id="v-g-ai3-18" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:67.2034%;margin-top:-10.5px;left:6.617%;width:79px;">
        <p class="v-g-pstyle2">47 años</p>
      </div>
      <div id="v-g-ai3-19" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:77.8448%;margin-top:-10.6px;left:72.477%;width:132px;">
        <p class="v-g-pstyle1">Jeremy Hansen</p>
      </div>
      <div id="v-g-ai3-20" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:79.0336%;margin-top:-10.6px;left:18.5778%;width:171px;">
        <p class="v-g-pstyle1">Gregory R. Wiseman</p>
      </div>
      <div id="v-g-ai3-21" class="v-g-ai2html-settings v-g-aiAbs" style="top:78.5954%;right:5.9826%;width:169px;">
        <p class="v-g-pstyle7">Especialista de misión de la CSA | Físico y piloto de caza </p>
      </div>
      <div id="v-g-ai3-22" class="v-g-ai2html-settings v-g-aiAbs" style="top:79.9163%;left:18.5778%;width:137px;">
        <p class="v-g-pstyle3">Comandante | Ingeniero y aviador naval </p>
      </div>
      <div id="v-g-ai3-23" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:83.2527%;margin-top:-10.5px;left:18.5778%;width:80px;">
        <p class="v-g-pstyle2">50 años</p>
      </div>
      <div id="v-g-ai3-24" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:83.2527%;margin-top:-10.5px;left:82.6825%;width:80px;">
        <p class="v-g-pstyle2">50 años</p>
      </div>
      <div id="v-g-ai3-25" class="v-g-ai2html-settings v-g-aiAbs v-g-aiPointText"
        style="top:98.1131%;margin-top:-10.5px;left:41.1427%;width:111px;">
        <p class="v-g-pstyle2">Fotos: NASA</p>
      </div>
    </div>
  </div><!-- Final del voc-ai2html - 2026-03-27 10:54 -->
</div>