@use '../abstracts'as *;

.v-c-cmp {
  .v-cmp-crd {
    .v-cnt {
      margin-bottom: 40px;
      border: 0;

      &__c {
        justify-content: center;
      }

      &__t {
        align-items: flex-end;
        margin-bottom: 20px;
        font-size: 30px;

        &:before,
        &:after {
          content: '';
          position: relative;
        }

        &:before {
          top: 12px;
          left: 12px;
          width: 34px;
          height: 152px;
          background: url('https://s1.abcstatics.com/comun/especiales/bandas-latinas/images/flames-izq.svg') no-repeat;
        }

        &:after {
          top: 7px;
          right: 28px;
          width: 43px;
          height: 95px;
          background: url('https://s1.abcstatics.com/comun/especiales/bandas-latinas/images/flames-der.svg') no-repeat;
          background-size: contain;
        }
      }
    }

    .v-u {
      &__l {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 0;

        &:before {
          content: none;
        }
      }

      &__p {
        font-size: 16px;
        line-height: 24px;
        color: $cb1;
        opacity: 1;

        &:before,
        &:after {
          content: '/';
          transform: translateY(-2px);
          width: auto;
          height: auto;
          font-weight: bold;
          color: $ncp1;
          background: transparent;
          border-radius: unset;
        }
        &:before {
          margin-right: 8px;
        }

        &:after {
          margin-left: 8px;
        }

        a {
          color: $cb1;

          &:hover {
            color: $cb1;
          }
        }
      }
    }
  }
}