@use '../abstracts' as *;

.v-h.v-h--t3 {
  background: $cb2;

  &.is-fixed {
    .v-hpr {
      @media (min-width: $screen-sm) {
        background: #E7EBF1;
      }
    }
  }

  .v-h {
    &__w {
      &--3 {
        .v-btn { 
          &--2 {
            /*border-color: $cb2;
            color: $cb2;

            &:hover {
              opacity: .5;
            }  

            .v-i {
              svg {
                fill: $cb2;
              }
            }*/
          }
        }
      }
    }
  }

  .v-hmb {
    &:hover {
      svg {
        //fill: $cb1;
      }
    }

    svg {
      //fill: $cb2;
      transition: fill .3s;
    }
  }

  .v-hpr {
    @media (min-width: $screen-sm) {
      background: $ncp1;
      transition: background .3s;
    }
  }
}