@use '../base/variables'as *;

.v-c-cmp {
  .v-cmp-suh {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 64px;
    margin-bottom: 24px;
    font-family: $axs;
    font-size: 36px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color: $cb1;

    @media (min-width: $screen-xs) {
      gap: 32px;
    }

    &:before,
    &:after {
      content: '';
      flex: 0 0 auto;
      display: block;
      width: 54px;
      height: 23px;
      background-image: url('https://s1.abcstatics.com/comun/narrativas/redaccion/2026/06/25/ranking-camisetas-laroja/images/ladillo-deco.webp');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &:after {
      transform: scaleX(-1);
    }
  }
}