@use '../base/variables'as *;

.v-w {
  .v-cmp-suh {
    margin: 112px 0 32px;
    font-family: $axs;
    font-size: 40px;
    line-height: 1;
    color: $cp15;
    text-transform: uppercase;

    @media (min-width: $screen-xs) {
      margin: 136px 0 46px;
      font-size: 60px;
    }
  }
}