@use '../abstracts' as *;

.v-cmp-ply {
  &#teaser {
    scroll-margin-top: 100px;
  }

  .v-ply__t1 {
    display: block;
    text-align: center;
    font: 20px/116% $ads;
    margin-bottom: 24px;

    @media (min-width: $screen-xs) {
      font-size: 24px;
    }
  }

  .v-ply {
    &.is-empty {
      opacity: .55;
    }

    &.is-active {
      .v-ply__i svg {
        transform: none;

        &#icon-play {
          opacity: 1;
        }

        path {
          fill: $cb1;
        }
      }

      &.is-paused {
        .v-ply__i svg {
          &#icon-play {
            opacity: 1;
          }
        }
      }

      &.is-play {
        .v-ply__i svg {
          &#icon-play {
            opacity: 0;
          }
        }
      }
    }

    &__c {
      display: grid;
    }

    &__b {
      &:disabled {
        cursor: not-allowed;
        opacity: .55;
      }

      &:before {
        border-color: $cb1;
      }
    }

    &__i {
      width: auto;

      &:before {
        content: none;
      }
    }

    &__g {
      display: flex;
      align-items: initial;
      gap: 0;
    }

    #icon-play,
    #icon-pause {
      fill: $cb1;
    }

    &__t {
      display: none;
    }

    &__v {
      progress::-webkit-progress-value {
        background-color: $ncp1;
      }

      progress::-moz-progress-bar {
        background-color: $ncp1;
      }
    }

    .v-asn__i {
      background: $ncp1;
    }

    &__p {
      color: $cb1;
    }
  }
}