@use '../base/variables' as *;

.v-d-p {
  strong {
    display: inline;
    padding: 0 2px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    background: $cb2;
    background-image: linear-gradient(to top, #f3f178 40%, transparent 40%);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100% 0%;

    &.is-marked {
      animation: markerUp .5s ease-out forwards;
    }
  }
}