@use '../base/variables'as *;

.v-c-cmp {
  .v-cmp-smy {
    position: relative;
    margin: 190px 0 128px;
    z-index: 1;

    @media (min-width: $screen-sm) {
      margin-left: -110px;
      margin-right: -32px;
    }

    &:before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 20px;
      width: 60%;
      height: 120%;
      z-index: -1;
      background-image:
        linear-gradient(rgba(255,255,255,0.2) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,0.2) 1px, transparent 1px);
      background-size: 90px 50px;
      background-position: 30px 35px;
    }

    .v-a-inf-c {
      &:before {
        content: none;
      }
    }

    .v-a-t {
      display: block;
      max-width: 493px;
      font-family: $mcr;
      font-size: 32px;
      line-height: 140%;
      color: $cp6;
    }

    .v-pst {
      display: none;
    }
  }
}