{{!-- Animación sonido --}}

<span class="v-asn {{animationSoundClasses}}">
  <span class="v-asn__c">
    <span class="v-asn__i v-asn__i--1"></span>
    <span class="v-asn__i v-asn__i--2"></span>
    <span class="v-asn__i v-asn__i--3"></span>
    <span class="v-asn__i v-asn__i--4"></span>
    <span class="v-asn__i v-asn__i--5"></span>
  </span>
</span>