<div class="v-a v-a--t1">
  <div class="v-a-img-c">
    <figure class="v-a-fig">
      <div class="v-a-lnk">
        <img class="v-a-img" loading="lazy" src="https://picsum.photos/467/673" alt="[ALTERNATIVE TEXT]">
      </div>
    </figure>
  </div>
  <div class="v-a-inf-c">
    <h1 class="v-a-t">
      De <span>1903</span> A la generación Z <span>2026</span>
    </h1>
  </div>
</div>