<button class="v-s__b v-s__b--1 v-btn v-btn--l" id="more-articles">
  <span>{{title}}</span>
  <span class="v-i-2">
    <svg id="spinner" viewBox="0 0 48 48">
      <circle cx="24" cy="24" r="20" fill="none" stroke-width="5"></circle>
    </svg>
  </span>
</button>