<article class="v-a v-a--crd">
  <div class="v-a-img-c">
    <figure class="v-a-fig">
      <a href="#" class="v-a-lnk">
        <img class="v-a-img" loading="lazy" src="https://picsum.photos/467/673" alt="[ALTERNATIVE TEXT]">
      </a>
    </figure>
  </div>
  <div class="v-a-inf-c">
    <p class="v-a-p-t">
      <span class="v-a-p-t__p">Año</span>
    </p>
    <h2 class="v-a-t">
      <a href="#" title="[TEXTO ANCHOR TEXT]">Titular</a>
    </h2>
    <p class="v-a-s-t">Fecha de publicación</p>
  </div>
</article>