<div class="v-cnt v-cnt--t1">
  <div class="v-cnt__c">
    <div class="v-cnt__w v-cnt__w--1">
      <span id="border"></span>
      <p class="v-cnt__t">
        <span>{{title}}</span>
      </p>
    </div>
  </div>
</div>