<div class="v-c-cmp v-c-cmp--ab-m">
  <div class="v-cmp-cmb">
    <figure class="v-cmp-cmb__f">
      <div class="v-cmp-cmb__c">
        <button class="v-cmp-cmb__b v-cmp-cmb__b--1" popovertarget="zoom-horizontal">
          <img loading="lazy" src="https://s1.abcstatics.com/abc/www/multimedia/espana/2026/03/08/1460323203.jpg" class="v-cmp-cmb__i" width="680" height="476" alt="Imagen principal - Ultras, la &amp;#039;kale borroka&amp;#039; del fútbol">
        </button>
        <div id="zoom-horizontal" class="v-mdl v-mdl--t5 v-mdl--fw">
          <div class="v-mdl__c">
            <button class="v-x" popovertarget="zoom-horizontal" popovertargetaction="hide">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.0006 13.0635L8.75438 16.3095C8.60954 16.4545 8.43396 16.5254 8.22763 16.522C8.02113 16.5189 7.84546 16.4449 7.70063 16.3C7.55579 16.1552 7.48338 15.978 7.48338 15.7683C7.48338 15.5586 7.55579 15.3814 7.70063 15.2365L10.9371 12L7.69113 8.7788C7.54613 8.63396 7.47529 8.45671 7.47863 8.24705C7.48179 8.03755 7.55579 7.86038 7.70063 7.71555C7.84546 7.57055 8.02271 7.49805 8.23238 7.49805C8.44204 7.49805 8.6193 7.57055 8.76413 7.71555L12.0006 10.9615L15.2219 7.71555C15.3667 7.57055 15.5423 7.49805 15.7486 7.49805C15.9551 7.49805 16.1308 7.57055 16.2756 7.71555C16.4308 7.87055 16.5084 8.0503 16.5084 8.2548C16.5084 8.4593 16.4308 8.63396 16.2756 8.7788L13.0391 12L16.2851 15.2463C16.4301 15.3911 16.5026 15.5667 16.5026 15.773C16.5026 15.9795 16.4301 16.1552 16.2851 16.3C16.1301 16.4552 15.9504 16.5328 15.7459 16.5328C15.5414 16.5328 15.3667 16.4552 15.2219 16.3L12.0006 13.0635Z"></path>
              </svg>
            </button>
            <div class="v-mdl__w">
              <img loading="lazy" src="https://s1.abcstatics.com/abc/www/multimedia/espana/2026/03/08/1460323203.jpg" class="v-mdl__i" width="758" height="530" alt="Imagen principal - Ultras, la &amp;#039;kale borroka&amp;#039; del fútbol">
            </div>
          </div>
        </div>
        <span class="v-bdp"></span>
        <button class="v-cmp-cmb__b v-cmp-cmb__b--2" popovertarget="zoom-horizontal2">
          <img loading="lazy" src="https://s1.abcstatics.com/abc/www/multimedia/espana/2026/03/08/1478493771.jpg" class="v-cmp-cmb__i" width="448" height="312" alt="Imagen secundaria 1 - Ultras, la &amp;#039;kale borroka&amp;#039; del fútbol">
        </button>
        <div id="zoom-horizontal2" class="v-mdl v-mdl--t5 v-mdl--fw">
          <div class="v-mdl__c">
            <button class="v-x" popovertarget="zoom-horizontal2" popovertargetaction="hide">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.0006 13.0635L8.75438 16.3095C8.60954 16.4545 8.43396 16.5254 8.22763 16.522C8.02113 16.5189 7.84546 16.4449 7.70063 16.3C7.55579 16.1552 7.48338 15.978 7.48338 15.7683C7.48338 15.5586 7.55579 15.3814 7.70063 15.2365L10.9371 12L7.69113 8.7788C7.54613 8.63396 7.47529 8.45671 7.47863 8.24705C7.48179 8.03755 7.55579 7.86038 7.70063 7.71555C7.84546 7.57055 8.02271 7.49805 8.23238 7.49805C8.44204 7.49805 8.6193 7.57055 8.76413 7.71555L12.0006 10.9615L15.2219 7.71555C15.3667 7.57055 15.5423 7.49805 15.7486 7.49805C15.9551 7.49805 16.1308 7.57055 16.2756 7.71555C16.4308 7.87055 16.5084 8.0503 16.5084 8.2548C16.5084 8.4593 16.4308 8.63396 16.2756 8.7788L13.0391 12L16.2851 15.2463C16.4301 15.3911 16.5026 15.5667 16.5026 15.773C16.5026 15.9795 16.4301 16.1552 16.2851 16.3C16.1301 16.4552 15.9504 16.5328 15.7459 16.5328C15.5414 16.5328 15.3667 16.4552 15.2219 16.3L12.0006 13.0635Z"></path>
              </svg>
            </button>
            <div class="v-mdl__w">
              <img loading="lazy" src="https://s1.abcstatics.com/abc/www/multimedia/espana/2026/03/08/1478493771.jpg" class="v-mdl__i" width="464" height="324" alt="Imagen secundaria 1 - Ultras, la &amp;#039;kale borroka&amp;#039; del fútbol">
            </div>
          </div>
        </div>
        <span class="v-bdp"></span>
        <button class="v-cmp-cmb__b v-cmp-cmb__b--3" popovertarget="zoom-vertical">
          <img loading="lazy" src="https://s1.abcstatics.com/abc/www/multimedia/espana/2026/03/08/1461187732.jpg" class="v-cmp-cmb__i" width="205" height="312" alt="Imagen secundaria 2 - Ultras, la &amp;#039;kale borroka&amp;#039; del fútbol">
        </button>
        <div id="zoom-vertical" class="v-mdl v-mdl--t5 v-mdl--fw">
          <div class="v-mdl__c">
            <button class="v-x" popovertarget="zoom-vertical" popovertargetaction="hide">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.0006 13.0635L8.75438 16.3095C8.60954 16.4545 8.43396 16.5254 8.22763 16.522C8.02113 16.5189 7.84546 16.4449 7.70063 16.3C7.55579 16.1552 7.48338 15.978 7.48338 15.7683C7.48338 15.5586 7.55579 15.3814 7.70063 15.2365L10.9371 12L7.69113 8.7788C7.54613 8.63396 7.47529 8.45671 7.47863 8.24705C7.48179 8.03755 7.55579 7.86038 7.70063 7.71555C7.84546 7.57055 8.02271 7.49805 8.23238 7.49805C8.44204 7.49805 8.6193 7.57055 8.76413 7.71555L12.0006 10.9615L15.2219 7.71555C15.3667 7.57055 15.5423 7.49805 15.7486 7.49805C15.9551 7.49805 16.1308 7.57055 16.2756 7.71555C16.4308 7.87055 16.5084 8.0503 16.5084 8.2548C16.5084 8.4593 16.4308 8.63396 16.2756 8.7788L13.0391 12L16.2851 15.2463C16.4301 15.3911 16.5026 15.5667 16.5026 15.773C16.5026 15.9795 16.4301 16.1552 16.2851 16.3C16.1301 16.4552 15.9504 16.5328 15.7459 16.5328C15.5414 16.5328 15.3667 16.4552 15.2219 16.3L12.0006 13.0635Z"></path>
              </svg>
            </button>
            <div class="v-mdl__w">
              <img loading="lazy" src="https://s1.abcstatics.com/abc/www/multimedia/espana/2026/03/08/1461187732.jpg" class="v-mdl__i" width="278" height="496" alt="Imagen secundaria 2 - Ultras, la &amp;#039;kale borroka&amp;#039; del fútbol">
            </div>
          </div>
        </div>
        <span class="v-bdp"></span>
      </div>
      <figcaption class="v-fc">
        <span class="v-fc__p">(Ultras de Suburbios Firm junto a miembros de Pella Salvaje, también escindidos del Frente Atlético // Radicales de Indar Gorri apalean a un joven en plena batalla contra ultras de United Family, en Sevilla, en octubre de 2023 // Pancarta en los alrededores del Bernabéu, antes de un partido frente al Atlético, en la zona donde se reúnen los Ultras Sur, en enero de 2023.)</span>
      </figcaption>
    </figure>
  </div>
</div>