<div class="v-c-cmp">
  <div class="v-cmp-crd">
    <div class="v-cnt v-cnt--t3">
      <div class="v-cnt__c">
        <div class="v-cnt__w v-cnt__w--1">
          <h3 class="v-cnt__t">Créditos</h3>
        </div>
      </div>
    </div>
    <ul class="v-u v-u--t2">
      <li class="v-u__l">
        <p class="v-u__p">
          <span>Coordinación, formato y datos:</span>
          <a href="/autor/hugo-garrido-7467.html" title="Hugo Garrido">Hugo Garrido</a>
        </p>
      </li>
      <li class="v-u__l">
        <p class="v-u__p">
          <span>Dirección de arte:</span> Fernando Hernández
        </p>
      </li>
      <li class="v-u__l">
        <p class="v-u__p">
          <span>Diseño e ilustración:</span> Rodrigo Parrado
        </p>
      </li>
      <li class="v-u__l">
        <p class="v-u__p">
          <span>Desarrollo:</span> Diana Blanco
        </p>
      </li>
      <li class="v-u__l">
        <p class="v-u__p">
          <span>Infografía y gráficos:</span>
          <a href="/autor/julian-de-velasco-5205.html" title="Julián de Velasco">Julián de Velasco</a> y <a href="/autor/javier-torres-santodomingo-5206.html" title="Javier Torres Santodomingo">Javier Torres Santodomingo</a> y Marcos Jiménez de Antonio
        </p>
      </li>
      <li class="v-u__l">
        <p class="v-u__p">
          <span>Edición de vídeo:</span>
          <a href="/autor/juan-bitrian-6257.html" title="Juan Bitrian">Juan Bitrian</a>
        </p>
      </li>
    </ul>
  </div>
</div>