<div class="v-c-cmp">
  <div class="v-cmp-crd">
    <div class="v-cnt v-cnt--t3">
      <div class="v-cnt__c">
        <div class="v-cnt__w v-cnt__w--1">
          <h3 class="v-cnt__t">Créditos</h3>
        </div>
      </div>
    </div>
    <ul class="v-u v-u--t2">
      <li class="v-u__l">
        <p class="v-u__p">
          <span>Una historia de</span>
          <a href="#" title="[TEXTO ANCHOR TEXT]">Laura Velasco</a> y <a href="#" title="[TEXTO ANCHOR TEXT]">María Cobo</a>.
        </p>
      </li>
      <li class="v-u__l">
        <p class="v-u__p">
          <span>Producida por</span>
          <a href="#" title="[TEXTO ANCHOR TEXT]">Javier Martín</a> y <a href="#" title="[TEXTO ANCHOR TEXT]">Javier Morales</a>.
        </p>
      </li>
      <li class="v-u__l">
        <p class="v-u__p">
          <span>Ilustración de</span> Alicia Caboblanco.
        </p>
      </li>
    </ul>
  </div>
</div>