<div class="v-c-cmp">
  <div class="v-cmp-crd">
    <div class="v-cnt v-cnt--t3">
      <div class="v-cnt__c">
        <div class="v-cnt__w v-cnt__w--1">
          <h3 class="v-cnt__t">Créditos</h3>
        </div>
      </div>
    </div>
    <ul class="v-u v-u--t2">
      <li class="v-u__l">
        <p class="v-u__p">
          <span>Dirección y guión:</span>
          Luigi Gómez y Manuel Garre
        </p>
      </li>
      <li class="v-u__l">
        <p class="v-u__p">
          <span>Diseño sonoro:</span> Luigi Gómez
        </p>
      </li>
      <li class="v-u__l">
        <p class="v-u__p">
          <span>Producción técnica:</span> Iñigo Martín Ciordia
        </p>
      </li>
      <li class="v-u__l">
        <p class="v-u__p">
          <span>Ayuda en la investigación:</span> Carlos Hidalgo, Andrea Morán y Juan López Córcoles
        </p>
      </li>
      <li class="v-u__l">
        <p class="v-u__p">
          <span>Edición:</span> José Ángel Esteban
        </p>
      </li>
      <li class="v-u__l">
        <p class="v-u__p">
          <span>Ilustración:</span> Jorge Lawerta
        </p>
      </li>
      <li class="v-u__l">
        <p class="v-u__p">
          <span>Diseño:</span> Rodrigo Parrado
        </p>
      </li>
      <li class="v-u__l">
        <p class="v-u__p">
          <span>Desarrollo web:</span> Jorge García y Diana Blanco
        </p>
      </li>
      <li class="v-u__l">
        <p class="v-u__p">
          <span>Motion Graphics:</span> David Melero Arcos
        </p>
      </li>
      <li class="v-u__l">
        <p class="v-u__p">
          <span>Dirección de arte:</span> Fernando Hernández
        </p>
      </li>
      <li class="v-u__l">
        <p class="v-u__p">
          <span>Idea original:</span> <a href="https://www.abc.es/autor/agustin-pery-2166/">Agustín Pery</a>
        </p>
      </li>
      <li class="v-u__l">
        <p class="v-u__p">
          <span>Producción ejecutiva:</span> <a href="https://www.abc.es/autor/elena-de-miguel-5124/">Elena de Miguel</a>
        </p>
      </li>
    </ul>
  </div>
</div>
