<div class="v-c-cmp {{#if large}}v-c-cmp--l{{/if}}">
    <div class="v-cmp-m ">
      <div class="v-a v-a--cmp-m v-c-cmp--m-p">
        <div class="v-a-img-c v-a-img-c--fw-xs">
          <figure class="v-a-fig">
            <div class="v-a-lnk">
              <img loading="lazy" src="{{url}}" class="v-a-img" width="964" height="673" alt="{{txt}}">
            </div>
            <figcaption class="v-fc">
              <span class="v-fc__t">
                {{txt}}.
              </span>
              <span class="v-fc__p">
                {{author}}
              </span>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>