<div class="v-c-cmp v-n-mrg">
  <h3 class="v-cmp-suh">La vida en la 'jungla' de Calais (Francia)</h3>
</div>

<div class="v-c-cmp v-c-cmp--l">
  <div class="v-cmp-gli v-x-c" data-voc-component="gallery">
    <button class="v-x" data-voc-component="close">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          d="M12.0006 13.0635L8.75438 16.3095C8.60954 16.4545 8.43396 16.5254 8.22763 16.522C8.02113 16.5189 7.84546 16.4449 7.70063 16.3C7.55579 16.1552 7.48338 15.978 7.48338 15.7683C7.48338 15.5586 7.55579 15.3814 7.70063 15.2365L10.9371 12L7.69113 8.7788C7.54613 8.63396 7.47529 8.45671 7.47863 8.24705C7.48179 8.03755 7.55579 7.86038 7.70063 7.71555C7.84546 7.57055 8.02271 7.49805 8.23238 7.49805C8.44204 7.49805 8.6193 7.57055 8.76413 7.71555L12.0006 10.9615L15.2219 7.71555C15.3667 7.57055 15.5423 7.49805 15.7486 7.49805C15.9551 7.49805 16.1308 7.57055 16.2756 7.71555C16.4308 7.87055 16.5084 8.0503 16.5084 8.2548C16.5084 8.4593 16.4308 8.63396 16.2756 8.7788L13.0391 12L16.2851 15.2463C16.4301 15.3911 16.5026 15.5667 16.5026 15.773C16.5026 15.9795 16.4301 16.1552 16.2851 16.3C16.1301 16.4552 15.9504 16.5328 15.7459 16.5328C15.5414 16.5328 15.3667 16.4552 15.2219 16.3L12.0006 13.0635Z">
        </path>
      </svg>
    </button>
    <div class="v-sld v-sld--s1 v-sld--l1 not-touch is-sld" data-voc-component="slider">
      <div class="v-sld__c">
        <div class="v-sld__w">
          <ul class="v-sld__g">
            <div class="v-sld__s">
              <div class="v-a v-a--cmp-gli">
                <div class="v-a-img-c ">
                  <figure class="v-a-fig">
                    <button class="v-a-lnk">
                      <img loading="lazy"
                        src="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/02/18/1505178554.jpg"
                        class="v-a-img" width="964" height="675" alt="Imagen de Galeria ">
                    </button>
                    <figcaption class="v-fc">
                      <span class="v-fc__t">
                        Varios hombres encienden una pequeña hoguera para calentarse en Grande-Synthe.
                      </span>
                      <span class="v-fc__p">
                        (IGNACIO GIL)
                      </span>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div class="v-sld__s">
              <div class="v-a v-a--cmp-gli">
                <div class="v-a-img-c ">
                  <figure class="v-a-fig">
                    <button class="v-a-lnk">
                      <img loading="lazy"
                        src="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/02/18/1505178510.jpg"
                        class="v-a-img" width="964" height="675" alt="Imagen de Galeria ">
                    </button>
                    <figcaption class="v-fc">
                      <span class="v-fc__t">
                        Varias personas caminan en por un descampado cerca de la ciudad de Grande-Synthe, en la región
                        Norte-Paso de Calais de Francia.
                      </span>
                      <span class="v-fc__p">
                        (IGNACIO GIL)
                      </span>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div class="v-sld__s">
              <div class="v-a v-a--cmp-gli">
                <div class="v-a-img-c ">
                  <figure class="v-a-fig">
                    <button class="v-a-lnk">
                      <img loading="lazy"
                        src="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/02/18/1505178533.jpg"
                        class="v-a-img" width="964" height="675" alt="Imagen de Galeria ">
                    </button>
                    <figcaption class="v-fc">
                      <span class="v-fc__t">
                        Cada día, las personas que esperan a cruzar el Canal de la Mancha hacia Reino Unido, llevan
                        encima sus pertenencias. Aquí, un chico que espera su turno para comer en Grande-Synthe.
                      </span>
                      <span class="v-fc__p">
                        (IGNACIO GIL)
                      </span>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div class="v-sld__s">
              <div class="v-a v-a--cmp-gli">
                <div class="v-a-img-c ">
                  <figure class="v-a-fig">
                    <button class="v-a-lnk">
                      <img loading="lazy"
                        src="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/02/18/1505178509.jpg"
                        class="v-a-img" width="964" height="675" alt="Imagen de Galeria ">
                    </button>
                    <figcaption class="v-fc">
                      <span class="v-fc__t">
                        Una mujer eritrea camina con dos menores por Grande-Synthe.
                      </span>
                      <span class="v-fc__p">
                        (IGNACIO GIL)
                      </span>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div class="v-sld__s">
              <div class="v-a v-a--cmp-gli">
                <div class="v-a-img-c ">
                  <figure class="v-a-fig">
                    <button class="v-a-lnk">
                      <img loading="lazy"
                        src="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/02/18/1505178544.jpg"
                        class="v-a-img" width="964" height="675" alt="Imagen de Galeria ">
                    </button>
                    <figcaption class="v-fc">
                      <span class="v-fc__t">
                        Cientos de personas viven en tiendas de campaña rodeadas de basura y barro en un descampado en
                        Grande-Synthe.
                      </span>
                      <span class="v-fc__p">
                        (IGNACIO GIL)
                      </span>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </ul>
        </div>
        <div class="v-sld__b-c">
          <button class="v-sld__b v-sld__b--p ">
            <svg width="8" height="11" viewBox="0 0 8 11" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.98593 5.65079C0.98593 5.53029 1.00523 5.41809 1.04373 5.31429C1.08203 5.21039 1.14803 5.11169 1.24173 5.01799L5.73597 0.523769C5.87447 0.385439 6.04597 0.312098 6.25047 0.303768C6.45481 0.295438 6.63456 0.368769 6.78972 0.523769C6.93456 0.668769 7.00697 0.844439 7.00697 1.05077C7.00697 1.25711 6.93456 1.43277 6.78972 1.57777L2.73193 5.65079L6.78972 9.72379C6.92822 9.86229 7.00164 10.0338 7.00997 10.2383C7.01831 10.4428 6.94489 10.6226 6.78972 10.7778C6.64489 10.9226 6.46931 10.995 6.26297 10.995C6.05647 10.995 5.88081 10.9226 5.73597 10.7778L1.24173 6.28349C1.14803 6.18989 1.08203 6.09109 1.04373 5.98729C1.00523 5.88339 0.98593 5.77129 0.98593 5.65079Z">
              </path>
            </svg>
          </button>
          <button class="v-sld__b v-sld__b--n ">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="24" viewBox="0 0 14 24">
              <path data-name="Unión 31" d="M0,11.991.009,12,0,12.009,11.9,24,14,21.88,4.2,12,14,2.12,11.9,0Z"
                transform="translate(14 24) rotate(180)"></path>
            </svg>
          </button>
        </div>
        <div class="v-sld__d-c"><button class="v-sld__d"></button><button class="v-sld__d"></button><button
            class="v-sld__d"></button><button class="v-sld__d"></button><button class="v-sld__d"></button></div>
      </div>
    </div>
  </div>
</div>