<div class="v-c-cmp v-c-cmp--l " data-voc-scroll-story="">
  <div class="v-cmp-scs">
    <div class="v-cmp-scs__c">
      <div class="v-cmp-scs__w v-cmp-scs__w--1 scroll__graphic" style="top: 282px;">
        <figure class="v-cmp-scs__f" style="display: grid; grid-template-columns: 100%; height: 100%;">
          <div class="v-cmp-scs__g v-cmp-scs__g--0 img-index-0 SC-index-0" id="img-scroll-element"
            style="opacity: 1; z-index: 3; grid-area: 1 / 1;">
            <img class="v-cmp-scs__i v-cmp-scs__i--1"
              src="https://s1.abcstatics.com/abc/www/multimedia/ciencia/2026/03/31/1-scrolling_00-desk.jpg?width=964"
              alt="Scroll Story imagen 0">
          </div>
          <div class="v-cmp-scs__g v-cmp-scs__g--1 img-index-1 SC-index-0" id="img-scroll-element"
            style="opacity: 0; grid-area: 1 / 1;">
            <img class="v-cmp-scs__i v-cmp-scs__i--1"
              src="https://s1.abcstatics.com/abc/www/multimedia/ciencia/2026/03/31/1-scrolling_01-desk.jpg?width=964"
              alt="Scroll Story imagen 1">
          </div>
          <div class="v-cmp-scs__g v-cmp-scs__g--2 img-index-2 SC-index-0" id="img-scroll-element"
            style="opacity: 0; grid-area: 1 / 1;">
            <img class="v-cmp-scs__i v-cmp-scs__i--1"
              src="https://s1.abcstatics.com/abc/www/multimedia/ciencia/2026/03/31/1-scrolling_02-desk.jpg?width=964"
              alt="Scroll Story imagen 2">
          </div>
          <div class="v-cmp-scs__g v-cmp-scs__g--3 img-index-3 SC-index-0" id="img-scroll-element"
            style="opacity: 0; grid-area: 1 / 1;">
            <img class="v-cmp-scs__i v-cmp-scs__i--1"
              src="https://s1.abcstatics.com/abc/www/multimedia/ciencia/2026/03/31/1-scrolling_03-desk.jpg?width=964"
              alt="Scroll Story imagen 3">
          </div>
          <div class="v-cmp-scs__g v-cmp-scs__g--4 img-index-4 SC-index-0" id="img-scroll-element"
            style="opacity: 0; grid-area: 1 / 1;">
            <img class="v-cmp-scs__i v-cmp-scs__i--1"
              src="https://s1.abcstatics.com/abc/www/multimedia/ciencia/2026/03/31/1-scrolling_04-desk.jpg?width=964"
              alt="Scroll Story imagen 4">
          </div>
          <div class="v-cmp-scs__g v-cmp-scs__g--5 img-index-5 SC-index-0" id="img-scroll-element"
            style="opacity: 0; grid-area: 1 / 1;">
            <img class="v-cmp-scs__i v-cmp-scs__i--1"
              src="https://s1.abcstatics.com/abc/www/multimedia/ciencia/2026/03/31/1-scrolling_05-desk.jpg?width=964"
              alt="Scroll Story imagen 5">
          </div>
        </figure>
      </div>
      <div class="v-cmp-scs__w v-cmp-scs__w--2">
        <div class="v-cmp-scs__s is-active " data-step="1" data-voc-scroll-story-type="imagen"
          style="visibility: hidden; opacity: 1;" data-scrollama-index="0">
          <div class="v-cmp-scs__p">
          </div>
        </div>
        <div class="v-cmp-scs__s is-active " data-step="2" data-voc-scroll-story-type="imagen" style="opacity: 0;"
          data-scrollama-index="1">
          <h2 class="v-cmp-scs__t">1. INICIO DE LA MISIÓN</h2>
          <div class="v-cmp-scs__p">
            Orion está diseñada para adaptarse al 99 % de la población humana, un rango mayor que cualquier otro
            proyecto pasado, presente o futuro de la NASA
          </div>
        </div>
        <div class="v-cmp-scs__s is-active " data-step="3" data-voc-scroll-story-type="imagen" style="opacity: 0;"
          data-scrollama-index="2">
          <h2 class="v-cmp-scs__t">2. TEST DE MANEJO</h2>
          <div class="v-cmp-scs__p">
            Separación de la Orión para las pruebas de manejo manual
          </div>
        </div>
        <div class="v-cmp-scs__s is-active " data-step="4" data-voc-scroll-story-type="imagen" style=""
          data-scrollama-index="3">
          <h2 class="v-cmp-scs__t">3. VIAJE DE IDA</h2>
          <div class="v-cmp-scs__p">
            Una vez alcanzada la velocidad adecuada, la misión iniciará su trayectoria hacia la Luna
          </div>
        </div>
        <div class="v-cmp-scs__s is-active " data-step="5" data-voc-scroll-story-type="imagen" style=""
          data-scrollama-index="4">
          <h2 class="v-cmp-scs__t">4. SOBREVUELO LUNAR</h2>
          <div class="v-cmp-scs__p">
            La Orión alcanzará los 6.513 km de altitud en el punto más lejano del vuelo sobre la superficie
          </div>
        </div>
        <div class="v-cmp-scs__s is-active " data-step="6" data-voc-scroll-story-type="imagen" style=""
          data-scrollama-index="5">
          <h2 class="v-cmp-scs__t">5. VUELTA A LA TIERRA</h2>
          <div class="v-cmp-scs__p">
            Tras haber rodeado la Luna, Orión vuelve a la Tierra. Aprovechará la gravedad terrestre para regresar y
            amerizar en el Pacífico, donde un barco recogerá a la tripulación y la cápsula
          </div>
        </div>
        <div class="step" data-voc-scroll-story-type="endScroll" style="opacity: 0; margin-bottom: 20vh;"
          data-scrollama-index="6">
          <p class="step__text-post">
            AUX STEP FOR JS
          </p>
        </div>
      </div>
    </div>
  </div>
</div>