<div class="v-c-cmp v-c-cmp--xl " data-voc-scroll-story>
  <div class="v-cmp-scs">
    <div class="v-cmp-scs__c">
      <div class="v-cmp-scs__w v-cmp-scs__w--1 scroll__graphic" style="top: 60px; height: calc(100vh);">
        <figure class="v-cmp-scs__f" style="display: grid; grid-template-columns: 100%; height: 100%;">
          <div class="v-cmp-scs__g v-cmp-scs__g--0 img-index-0 SC-index-0" id="img-scroll-element"
            style="opacity: 0; grid-area: 1 / 1;">
            <img class="v-cmp-scs__i v-cmp-scs__i--1"
              src="https://s1.abcstatics.com/abc/www/multimedia/sevilla/2026/03/28/0sss-scroll-paso-1920x1170.jpg"
              alt="Scroll Story imagen 0">
          </div>
          <div class="v-cmp-scs__g v-cmp-scs__g--1 img-index-1 SC-index-0" id="img-scroll-element"
            style="opacity: 0; grid-area: 1 / 1;">
            <img class="v-cmp-scs__i v-cmp-scs__i--1"
              src="https://s1.abcstatics.com/abc/www/multimedia/sevilla/2026/03/28/1sss-scroll-paso-1920x1170.jpg"
              alt="Scroll Story imagen 1">
          </div>
          <div class="v-cmp-scs__g v-cmp-scs__g--2 img-index-2 SC-index-0" id="img-scroll-element"
            style="opacity: 1; z-index: 3; grid-area: 1 / 1;">
            <img class="v-cmp-scs__i v-cmp-scs__i--1"
              src="https://s1.abcstatics.com/abc/www/multimedia/sevilla/2026/03/28/2sss-scroll-paso-1920x1170.jpg"
              alt="Scroll Story imagen 2">
          </div>
          <div class="v-cmp-scs__g v-cmp-scs__g--3 img-index-3 SC-index-0" id="img-scroll-element"
            style="opacity: 0; grid-area: 1 / 1;">
            <img class="v-cmp-scs__i v-cmp-scs__i--1"
              src="https://s1.abcstatics.com/abc/www/multimedia/sevilla/2026/03/28/3sss-scroll-paso-1920x1170.jpg"
              alt="Scroll Story imagen 3">
          </div>
          <div class="v-cmp-scs__g v-cmp-scs__g--4 img-index-4 SC-index-0" id="img-scroll-element"
            style="opacity: 0; grid-area: 1 / 1;">
            <img class="v-cmp-scs__i v-cmp-scs__i--1"
              src="https://s1.abcstatics.com/abc/www/multimedia/sevilla/2026/03/28/4sss-scroll-paso2-1920x1170.jpg"
              alt="Scroll Story imagen 4">
          </div>
          <div class="v-cmp-scs__g v-cmp-scs__g--5 img-index-5 SC-index-0" id="img-scroll-element"
            style="opacity: 0; grid-area: 1 / 1;">
            <img class="v-cmp-scs__i v-cmp-scs__i--1"
              src="https://s1.abcstatics.com/abc/www/multimedia/sevilla/2026/03/28/5sss-scroll-paso-1920x1170.jpg"
              alt="Scroll Story imagen 5">
          </div>
          <div class="v-cmp-scs__g v-cmp-scs__g--6 img-index-6 SC-index-0" id="img-scroll-element"
            style="opacity: 0; grid-area: 1 / 1;">
            <img class="v-cmp-scs__i v-cmp-scs__i--1"
              src="https://s1.abcstatics.com/abc/www/multimedia/sevilla/2026/03/28/6sss-scroll-paso-1920x1170.jpg"
              alt="Scroll Story imagen 6">
          </div>
        </figure>
      </div>
      <div class="v-cmp-scs__w v-cmp-scs__w--2">
        <div class="v-cmp-scs__s is-active " data-step="1" data-voc-scroll-story-type="imagen" style="opacity: 1;"
          data-scrollama-index="0">
          <h2 class="v-cmp-scs__t">Partes de un paso de Cristo</h2>
          <div class="v-cmp-scs__p">
            Si la figura de Cristo va acompañada, en ese caso se denomina misterio
          </div>
        </div>
        <div class="v-cmp-scs__s is-active " data-step="2" data-voc-scroll-story-type="imagen" style="opacity: 1;"
          data-scrollama-index="1">
          <h2 class="v-cmp-scs__t">Canasto</h2>
          <div class="v-cmp-scs__p">
            De madera tallada con diseños de estilo barroco sobre él se dispone el Nazareno, el Crucificado, el Cautivo
            y el resto de figuras. Puede llevar cartelas o bajorrelieves en los que se representan pasajes de la Pasión.
          </div>
        </div>
        <div class="v-cmp-scs__s is-active " data-step="3" data-voc-scroll-story-type="imagen" style="opacity: 1;"
          data-scrollama-index="2">
          <h2 class="v-cmp-scs__t">Faldones</h2>
          <div class="v-cmp-scs__p">
            Telas que cubren la parte inferior del paso, desde la mesa hasta el suelo. Pueden ser lisos o con algún
            bordado. Suelen ser de terciopelo
          </div>
        </div>
        <div class="v-cmp-scs__s is-active " data-step="4" data-voc-scroll-story-type="imagen" style="opacity: 0;"
          data-scrollama-index="3">
          <div class="v-cmp-scs__p">
            Candelabros, faroles o hachones
          </div>
        </div>
        <div class="v-cmp-scs__s is-active " data-step="5" data-voc-scroll-story-type="imagen" style="opacity: 0;"
          data-scrollama-index="4">
          <h2 class="v-cmp-scs__t">Maniguetas</h2>
          <div class="v-cmp-scs__p">
            Resto simbólico que queda de la prolongación del palo que iba por dentro del paso. Situadas en las cuatro
            esquinas, en ella van los nazarenos más antiguos de la hermandad
          </div>
        </div>
        <div class="v-cmp-scs__s is-active " data-step="6" data-voc-scroll-story-type="imagen" style="opacity: 0;"
          data-scrollama-index="5">
          <h2 class="v-cmp-scs__t">Respiraderos</h2>
          <div class="v-cmp-scs__p">
            Armazones de madera, a veces sobredorada, que cubre el canasto
          </div>
        </div>
        <div class="v-cmp-scs__s is-active " data-step="7" data-voc-scroll-story-type="imagen" style="opacity: 0;"
          data-scrollama-index="6">
          <h2 class="v-cmp-scs__t">Parihuela</h2>
          <div class="v-cmp-scs__p">
            Estructura interior del paso, compuesto por zancos o patas y las trabajaderas horizontales, que luego cargan
            los costaleros con la cerviz
          </div>
        </div>
        <div class="step" data-voc-scroll-story-type="endScroll" style="opacity: 0; margin-bottom: 20vh;"
          data-scrollama-index="7">
          <p class="step__text-post">
            AUX STEP FOR JS
          </p>
        </div>
      </div>
    </div>
  </div>
</div>