<div class="v-c-cmp">
  <div class="v-cmp-smy">
    <div class="v-a v-a--cmp-smy v-a--p-l-md v-a--p-l-sm v-a--p-t-xs">
      <div class="v-a-inf-c">
        <p class="v-a-t">{{txt}}</p>
        <div class="v-pst"></div>
      </div>
    </div>
  </div>
</div>