<div class="v-c-cmp v-c-cmp--l">
  <div class="v-cmp-m">
    <div class="v-a v-a--cmp-m v-c-cmp--m-p">
      <div class="v-a-img-c v-a-img-c--fw-xs">
        <figure class="v-a-fig">
          {{!-- <div class="video-player">
            <div style="position: relative;">
              <div style="max-width: 100%;">
                  <video-js data-video-id="6339894872112" data-account="703745716001" data-player="r1GZ2K1el" data-embed="default" controls="" preload="" playsinline="" poster="https://picsum.photos/748/523" class="vjs-fluid">
                  </video-js>
                      </div>
              <script src="https://players.brightcove.net/703745716001/r1GZ2K1el_default/index.min.js"></script>
            </div>
          </div>                       --}}
        </figure>
      </div>
    </div>
  </div>
</div>