<div class="voc-c-container voc-c-container--wsm-max">
  <div class="v-c-cmp">
    <div class="v-cmp-cmb-2">
      <figure class="v-cmp-cmb-2__f">
        <div class="v-cmp-cmb-2__c">
          <div class="v-cmp-cmb-2__i-c v-cmp-cmb-2__i-c--1">
            <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2025/10/20/traslosincendios/assets/images/05.jpg" alt="" class="v-cmp-cmb-2__i">
          </div>
          <div class="v-cmp-cmb-2__i-c v-cmp-cmb-2__i-c--2">
            <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2025/10/20/traslosincendios/assets/images/06.jpg" alt="" class="v-cmp-cmb-2__i">
          </div>
          <figcaption class="v-fc">
            <span class="v-fc__t">Francisca Fernández, </span><span class="v-fc__p">nació en el barrio de Aldea, donde pasó la mayor parte de su vida. Recuerda una infancia sencilla, de trabajo y alegría, con el pueblo lleno de juventud y los días marcados por las estaciones. «Éramos felices con lo que teníamos», dice. Se casó, y crió a sus hijos en San Vicente. Habla del futuro sin ilusión, pero sin rencor. «Que vuelvan los castaños, aunque los que había, ya no volverán». <span class="v-fc__t">Pedro Álvarez Sánchez <span class="hd-xs">(derecha)</span> <span class="vs-xs">(abajo)</span></span> fue camionero, y hombre de familia. Pasaba largas jornadas en la carretera, pero siempre volvía al pueblo, donde le esperaban Francisca y la calma de su casa. Vive entregado a los suyos y a cuidar su tierra. Fotos: Álvaro ybarra zavala</span>
          </figcaption>
        </div>
      </figure>
    </div>
  </div>
</div>