<style>
  
</style>

<div class="voc-c-container voc-c-container--wsm-max">
  <div class="v-art-d">
    <div class="v-art-img-c">
      <figure class="v-art-f">
        <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2025/10/20/traslosincendios/assets/images/01.jpg" alt="" class="v-art-i v-art-i--1">
        <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2025/10/20/traslosincendios/assets/images/02.jpg" alt="" class="v-art-i v-art-i--2">
        <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2025/10/20/traslosincendios/assets/images/03.jpg" alt="" class="v-art-i v-art-i--3">
        <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2025/10/20/traslosincendios/assets/images/04.jpg" alt="" class="v-art-i v-art-i--4">
        <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2025/10/20/traslosincendios/assets/images/05.jpg" alt="" class="v-art-i v-art-i--5">
        <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2025/10/20/traslosincendios/assets/images/06.jpg" alt="" class="v-art-i v-art-i--6">
        <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2025/10/20/traslosincendios/assets/images/07.jpg" alt="" class="v-art-i v-art-i--7">
        <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2025/10/20/traslosincendios/assets/images/08.jpg" alt="" class="v-art-i v-art-i--8">
      </figure>
    </div>
    <div class="v-art-inf-c">
      <h2 class="v-sub">El fuego del 16 de agosto dejó San Vicente de Leira, en Valdeorras (Orense), al borde del olvido. Sus vecinos resisten entre la devastación, la soledad y la falta de respuestas, en un lugar donde el fuego no solo quemó los montes, sino también una forma de vida que el tiempo y el abandono ya habían empezado a borrar</h2>
      <h2 class="v-sub"><a href="">El rastro del fuego que arrasó San Vicente de Leira, en imágenes</a></h2>
    </div>
  </div>
</div>