<div class="voc-c-container voc-c-container--wsm-max">
  <div class="v-c-cmp">
    <div class="v-cmp-cmb-2">
      <figure class="v-cmp-cmb-2__f">
        <div class="v-cmp-cmb-2__c">
          <div class="v-cmp-cmb-2__i-c v-cmp-cmb-2__i-c--1">
            <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2025/10/20/traslosincendios/assets/images/07.jpg" alt="" class="v-cmp-cmb-2__i">
          </div>
          <div class="v-cmp-cmb-2__i-c v-cmp-cmb-2__i-c--2">
            <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2025/10/20/traslosincendios/assets/images/08.jpg" alt="" class="v-cmp-cmb-2__i">
          </div>
          <figcaption class="v-fc">
            <span class="v-fc__t">Clemente González, </span><span class="v-fc__p">nació en San Vicente de Leira, aunque la vida lo llevó lejos. Emigró joven al País Vasco, donde trabajó durante años y al que aún llama su «segunda casa». Habla con franqueza, entre la rabia y la resignación de quien ha visto el abandono demasiadas veces. Durante el incendio vio arder la casa donde nació, la de sus hermanos, y ayudó a otros vecinos a salvar lo poco que quedaba. Aún recuerda el calor, la impotencia y el silencio. «Ver cómo se quema todo y no poder hacer nada… eso duele de verdad». <span class="v-fc__t">Secundino Álvarez <span class="hd-xs">(derecha)</span> <span class="vs-xs">(abajo)</span></span> se marchó a Barcelona con 12 años. Volvía siempre que podía, cuatro o cinco veces al año, fiel al lugar al que sigue llamando casa. A veces recorre las ruinas con su cámara, fotografiando los primeros brotes verdes. Fotos: Álvaro ybarra zavala</span>
          </figcaption>
        </div>
      </figure>
    </div>
  </div>
</div>