<div class="voc-c-container voc-c-container--wsm-max">
  <div class="v-c-cmp">
    <div class="v-cmp-cmb-2">
      <figure class="v-cmp-cmb-2__f">
        <div class="v-cmp-cmb-2__c">
          <div class="v-cmp-cmb-2__i-c v-cmp-cmb-2__i-c--1">
            <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2025/10/20/traslosincendios/assets/images/01.jpg" alt="" class="v-cmp-cmb-2__i">
          </div>
          <div class="v-cmp-cmb-2__i-c v-cmp-cmb-2__i-c--2">
            <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2025/10/20/traslosincendios/assets/images/02.jpg" alt="" class="v-cmp-cmb-2__i">
          </div>
          <figcaption class="v-fc">
            <span class="v-fc__t">Constantino Fernández,</span><span class="v-fc__p">de 81 años, ha vivido en el pueblo casi toda su vida. No fue a la escuela, pero aprendió pronto el oficio de trabajar la tierra. Pasó por Melilla durante la mili y más tarde por Alemania, para regresar definitivamente. Se casó, tuvo 4 hijas y levantó un pequeño bar que durante años fue el punto de encuentro de los vecinos. <span class="v-fc__t">Joaquín Ovira <span class="hd-xs">(derecha)</span> <span class="vs-xs">(abajo)</span></span> trabajó en el monte, haciendo carbón, carros y vendiendo castañas. Emigró a Suiza, pero volvió pronto: «Aquí siempre fue mi sitio», dice. Recuerda un pueblo lleno de vida, con más de 600 personas. Hoy solo queda el eco de aquella vida. Fotos: Álvaro ybarra zavala</span>
          </figcaption>
        </div>
      </figure>
    </div>
  </div>
</div>