<div class="voc-c-container voc-c-container--wsm-max">
  <div class="v-c-cmp">
    <div class="v-cmp-cmb-2">
      <figure class="v-cmp-cmb-2__f">
        <div class="v-cmp-cmb-2__c">
          <div class="v-cmp-cmb-2__i-c v-cmp-cmb-2__i-c--1">
            <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2025/10/20/traslosincendios/assets/images/03.jpg" alt="" class="v-cmp-cmb-2__i">
          </div>
          <div class="v-cmp-cmb-2__i-c v-cmp-cmb-2__i-c--2">
            <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2025/10/20/traslosincendios/assets/images/04.jpg" alt="" class="v-cmp-cmb-2__i">
          </div>
          <figcaption class="v-fc">
            <span class="v-fc__t">Leopoldo Nogueira González,</span><span class="v-fc__p">76 años, ha pasado toda su vida en el pueblo donde nació y del que apenas quedan 16 vecinos. Junto a su esposa, es uno de los pocos que nunca se marcharon. Trabajó en el monte, y más tarde en las canteras de pizarra hasta su jubilación. Para él, el fuego no solo quemó casas: «Creo que nadie volverá a vivir aquí». <span class="v-fc__t">Mª Encarnación Fernández González <span class="hd-xs">(derecha)</span> <span class="vs-xs">(abajo)</span></span> habla despacio, con un gallego suave. Recuerda los días de infancia con el pueblo lleno de niños, los vecinos ayudándose unos a otros y el olor de las castañas asadas del otoño. Hoy ya no queda nada de aquello. Dice que el fuego se llevó la alegría del lugar. Fotos: Álvaro ybarra zavala</span>
          </figcaption>
        </div>
      </figure>
    </div>
  </div>
</div>