{{> base/head
  title="Vidas rotas"
}}

{{> base/header }}

<div class="voc-wrapper">
  <div class="voc-container">
    <div class="voc-article-container">
      <div class="voc-article voc-article--detail voc-article--detail-visual">
        <div class="voc-info-container">
          <p class="voc-pretitle">
            <span class="voc-pretitle__txt">Un año de la Dana</span>
          </p>
          <h1 class="voc-title">Vidas rotas</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="voc-container voc-container--wxs">
    <div class="voc-d voc-d--visual" data-voc-component="voc-d">
      <h2 class="voc-subtitle">
        Con este muro del recuerdo, ABC rinde homenaje a cada una de las víctimas para recordar que no son cifras, sino historias. Detrás de cada nombre hay una familia y un futuro que la tragedia arrebató.
      </h2>
    </div>
  </div>
  <div class="voc-container voc-container--spc">
    <div class="v-spc-names">
      <span>María Isabel Piris Rico, </span><span>Silverio Navarro Borrás, </span><span>Miguel Ángel Pérez Ferragud, </span><span>Enrique Miguel Magraner, </span><span>José Hernáiz Montoro, </span><span>Teresa Plaza Oliver, </span><span>José Luis Rodríguez Ogayar, </span><span>María Dolores Almansa LaCuesta, </span><span>Dolores Lacuesta Arnandis, </span><span>Roberto Grau Gómez, </span><span>Juan Luis Vila Raga, </span><span>Eugenio Toledo Alexandre, </span><span>Carlos González Castán, </span><span>Sara Carpio García, </span><span>Miguel Carpio Espí, </span><span>Manuel Álvarez Ruiz, </span><span>José Solano Algaba, </span><span>Francisco Doménech García, </span><span>Valentina Toro González, </span><span>José Sancho Martín, </span><span>Luis Valdés Asensio, </span><span>Manuel Alonso Ridaura, </span><span>Marina Company Candel, </span><span>Amparo Bou Chisvert, </span><span>Fernando Páez Robles, </span><span>Silvano Rentero García, </span><span>María Ribes Gil, </span><span>Isabel Ibáñez Escudero, </span><span>José Fernández Plasencia, </span><span>Bernardo Juárez Terrádez, </span><span>Francisco Caro Enríquez, </span><span>Concepción Moreno Martínez, </span><span>Antonio Martí Guillem, </span><span>Isabel Valero Puchades, </span><span>Luis Timoteo Muñoz Villanueva, </span><span>Francisco Antonio Murgui Lorente, </span><span>Felipe Lahoz Lafuente, </span><span>Jacinto Martín Villanueva, </span><span>Ramón Farinós Aznar, </span><span>José Ceba Arroyo, </span><span>María Luz Ayala García, </span><span>Nicasio Carmona Sánchez, </span><span>Isabel Ferrandis Rodrigo, </span><span>Rafael Subías Lorente, </span><span>Blas Muñoz Arévalo, </span><span>Zhihua Guo, </span><span>Mostafa Bouzad, </span><span>Hui Sun, </span><span>José Ruiz Torrecillas, </span><span>Fernando Durán Núñez, </span><span>María Luisa Zahonero Ferrer, </span><span>Francisco Moreno Garcés, </span><span>María Isabel Dominguez Baldrich, </span><span>Manuel Sánchez Blanch, </span><span>Francisco Rincón Carranzas, </span><span>Francisco José Sanchis Rodríguez, </span><span>Ángel Belencoso Cabañero, </span><span>Manuel Sales Esteve, </span><span>Leonardo Robespiel Zambrano Carranza, </span><span>Iluminada Ramírez Villalba, </span><span>Aurelio Martín Mateo, </span><span>Axinia Sandu, </span><span>Reshma Escribano Guillem, </span><span>Leonor March Paredes, </span><span>Rosa Calatayud Moreno, </span><span>María Dolors Muñoz Ferrando, </span><span>María del Carmen Lazo Martínez, </span><span>Miguel Antonio Piqueras Sáez, </span><span>Enrique Gómez Giménez, </span><span>Piedad Vico Durán, </span><span>Felipe García Monteagudo, </span><span>Antonio Alonso Comes, </span><span>María Consuelo Andrés López, </span><span>Miguel Daroqui Sainz, </span><span>Encarnación Juan Planells, </span><span>Florin Costel Besnea, </span><span>Luciano Bravo Morales, </span><span>José Vicente Fernando Comes, </span><span>Manuel Rosa García, </span><span>Guangming Hong, </span><span>Lorenza Marlene Villaverde Gaona, </span><span>Rubén Matías Calatayud, </span><span>Izan Matías Calatayud, </span><span>María Desamparados Montes Villar, </span><span>Antonina Morón Busons, </span><span>Manuel Venancio Pérez, </span><span>Rachid Elachqar, </span><span>Marius Serban, </span><span>Janine Brigith Mercado Rodríguez, </span><span>Vicente Tarancón Gómez, </span><span>Donald Leslie Turner, </span><span>Terry Elizabeth Turner, </span><span>Francisco José Quesada Moya, </span><span>Emeterio Mora Gómez, </span><span>Javier Mora Ruiz, </span><span>Javier Sánchez Coll, </span><span>Javier Sánchez Rocafull, </span><span>Eva María Canut Montoro, </span><span>Antonio Noblejas Sánchez-Migallón, </span><span>José Carlos Macario Gil, </span><span>Miguel Burdeos Baño, </span><span>Elvira Benita Martínez Álfaro, </span><span>Teresa Descalzo Sáez, </span><span>José Luis Marín Carbonell, </span><span>Miguel Morales Molina, </span><span>José Martínez Toral, </span><span>Jesús Andrés Mora Ruiz, </span><span>Yassine Sadiqui, </span><span>Sofiane Oumha, </span><span>María Luz Sánchez Gimeno, </span><span>María Sanz Gómez, </span><span>Colombina Argudo Sánchez, </span><span>Ángel Sánchez Ramírez, </span><span>Julia Rodríguez Pardo, </span><span>Anunciación Pérez Osma, </span><span>Enrique Ramos Iranzo, </span><span>Cándido Molina Pulgarín, </span><span>Paula Florica Serb, </span><span>Vasile Beleca, </span><span>Julián Baños Martínez, </span><span>Erika Ruiz Rodríguez, </span><span>Jorge Garrido Rosa, </span><span>Luis Ángel Saiz Rodríguez, </span><span>Juan Zacarías Bermúdez Marchante, </span><span>Juan Vicente Madrid Ferrando, </span><span>Silvanna Lochi, </span><span>Jorge Díaz Mullor, </span><span>Neizan Garrido Pagán, </span><span>Raquel Pagán Romero, </span><span>Sergio Llorens Navarro, </span><span>Slim Regaieg, </span><span>Susana Vicent Vidal, </span><span>Manuel Company Almenar, </span><span>Adolfo Torres Lafuente, </span><span>José Castillejo Belinchón, </span><span>Isabel Serradilla Sánchez, </span><span>Nieves Navas Aguilar, </span><span>Juan Mandingorra Poveda, </span><span>Jiaqi Wu, </span><span>Hipólita Ojeda Lara, </span><span>Vicente Paredes Pardo, </span><span>José Miguel Velert Ángel, </span><span>Isabel Izquierdo Sarriá, </span><span>Lourdes María García Martín, </span><span>Sergii Voitiuk, </span><span>Jesús Giménez Martínez, </span><span>María Asunción Tortajada Viñes, </span><span>Manuel Carmona García, </span><span>Jesús Martínez Parrón, </span><span>María Amparo Plo Bonafont, </span><span>José Antonio Salvador Martínez, </span><span>Nuría Martínez Sanchís, </span><span>Josefa Ramón Paredes, </span><span>Manuel Espinós López, </span><span>Dolores Espinós López, </span><span>Olga Leonor Fernández Arredondo, </span><span>Francisco Puertes Subies, </span><span>María José Sancho Bruñe, </span><span>José Vicente Izquierdo Pérez, </span><span>Teresa Peris Ferrandis, </span><span>Andrés Treviño Manso, </span><span>Angelina Charlotte Tarazona García, </span><span>Nelson Quijano Acevedo, </span><span>Joaquín Cantos Vicó, </span><span>María Pilar Sanchis Palop, </span><span>Miguel Manuel Bonilla Cantero, </span><span>Francisco Javier Sanchis Palop, </span><span>Sebastián Blanco García, </span><span>Ernesto Fuster Lázaro, </span><span>Nicolás Quintana García, </span><span>Encarnación Uceda González, </span><span>José Vicente Espuig López, </span><span>Emilia Benito Sáez, </span><span>Salvador Martínez Mas, </span><span>Reyes Gómez Rodríguez, </span><span>Juan Enrique Utiel Martínez, </span><span>Consuelo Desamparados Torrent Chisvert, </span><span>María Polo Ballesteros, </span><span>Salvador Martí Company, </span><span>Rafael Brisa Marqués, </span><span>Isaam Aslam Murgui, </span><span>Milagro del Consuelo Martínez Martínez, </span><span>Fidel Montero Romero, </span><span>Francisco Miguel Planells Martínez, </span><span>Jasmin Angels Aslam Murgui, </span><span>Francisca Porras Verdugo, </span><span>Rosa Pagés García, </span><span>Rafaela Nevado Nevado, </span><span>Ramón de la Fuente Muñoz, </span><span>Elvira López de las Heras, </span><span>Purificación Mora Serna, </span><span>José Pastor Ruiz, </span><span>Josefa Roser Almela, </span><span>Adelina Arce Tamarit, </span><span>María Adela Rodríguez Albert, </span><span>María de los Desamparados Latorre Escribá, </span><span>Carmén Vallés Gallar, </span><span>Lorenza Gutiérrez Urries, </span><span>Manuel Blesa Taengua, </span><span>María de los Desamparados García Cutanda, </span><span>Ángel Rafael Martínez Martínez, </span><span>Carmen Fenoll Ortiz, </span><span>Mohammed Belhadi, </span><span>Antonio Ruiz Fernández, </span><span>María Amparo Ibor Babiera, </span><span>Débora Gwendolyne Tristán Sanchís, </span><span>Azucena Vidal Brisa, </span><span>Ruben Lima Rábago, </span><span>María Benet Hernández, </span><span>Sixto Delgado Dominguez, </span><span>María Carmen Fernández Mendoza, </span><span>Concepción Torres Bau, </span><span>Carlos Mira del Toro, </span><span>Gabriel Socol, </span><span>Daniela Socol, </span><span>María Alexandra Socol, </span><span>Marian Chioveanu, </span><span>Manuel Mocholí Doménech, </span><span>Pedro José Bajo Navarro, </span><span>Manuel Moreno Ramos, </span><span>Rosa Martín García, </span><span>Josefa Baviera Yago, </span><span>José Javier Vicent Fas, </span><span>Francisco Ruiz Martínez, </span><span>Elisabet Gil Martínez</button>
    </div>

    <div class="v-spc-faces">
      <span class="v-spc-faces-txt">Clica sobre cada víctima para conocer su historia</span>

      <div class="v-spc-faces-grid">
        <div class="v-spc-loader">
          <div class="spinner"></div>
        </div>

        {{!-- NOTE: Aquí se rellenarán las personas por JS del google sheets --}}
        {{!-- <button class="v-spc-faces__itm" popovertarget="maria-piris">
          <figure class="v-spc-faces__img">
            <img src="assets/images/img-ph.jpg" alt="José Hernaiz">
          </figure>
          <span class="v-spc-faces__name">José Hernaiz</span>
        </button> --}}
      </div>
      
      <div id="maria-isabel-piris-rico" popover class="v-mdl-pop v-spc-pop">
        <div class="v-mdl__c v-mdl-pop__c">
          <div class="v-mdl-pop__h">
            <button class="v-x" popovertarget="" popovertargetaction="hide">
              <span class="v-i">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="a" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><path fill="#D9D9D9" d="M0 0h24v24H0z"/></mask><g mask="url(#a)"><path d="M6.4 19 5 17.6l5.6-5.6L5 6.4 6.4 5l5.6 5.6L17.6 5 19 6.4 13.4 12l5.6 5.6-1.4 1.4-5.6-5.6L6.4 19Z" fill="#1C1B1F"/></g></svg>
              </span>
            </span>
          </div>
          <div class="v-mdl-pop__w">
            <div class="v-mdl-pop__b v-mdl-pop__b--1">
              <figure class="v-spc-faces__img">
                <img id="pop-img" src="assets/images/dummy.jpg" alt="">
              </figure>
              <div class="v-spc-faces__info">
                <span id="pop-name" class="v-spc-faces__name"></span>
                <span id="pop-age" class="v-spc-faces__age"></span>
                <span id="pop-loc" class="v-spc-faces__loc"></span>
              </div>
            </div>

            <div class="v-mdl-pop__b v-mdl-pop__b--2">
              <p id="pop-desc" class="v-spc-faces__desc"></p>
            </div> 
          </div>
        </div>
      </div>

    </div>
  </div>
  
</div>

{{> base/footer }}

{{> js/special-script }}

{{> base/foot }}