{{> base/head }}

{{> base/header }}

<div class="voc-wrapper">
  <div class="voc-container">
    {{> level-selector }}

    {{> game }}
  </div>  
</div>

{{> modals/modal-how-to-play  
  popoverTarget="howToPlay"
  popoverName="'Cómo jugar'"
}}

{{> base/footer }}

{{> base/foot }}