{{> base/head }}

{{> base/header }}

<div class="voc-wrapper">
  {{> components/article-heading }}

  <div class="voc-container voc-container--wxs" data-mrf-recirculation="Apertura">
    <div class="voc-d voc-d--visual" data-voc-component="voc-d">
      {{> components/author }}    

      {{> components/navigation-and-map}}

      <p class="voc-p" style="">Frente a Sant Jordi, 10, sobre las escaleras que se usan para bajar al cauce del Barranco del Poyo, el agua puso su primer pie en la acera y desencadenó <strong>la barbarie </strong>de coches, ramas, piedras y muertos que hizo de la ribera de Paiporta, <span class="paywall pw-open">un barrio residencial de la Horta Sud de Valencia, el mayor tanatorio al aire libre de la historia reciente de España. </span></p>

      {{> layout/paywall-content }}
    </div>
  </div>
</div>

{{> components/icons-svg-use }}

{{> base/footer }}

{{> js/special-script }}

{{> base/foot }}