{{> ./base/head }}

  <div class="v-w">
    <main class="v-w-c v-d-c">
      <article class="v-d-w"> {{!-- Contenido articulo --}}
        <div class="v-c">
          <div class="v-d v-d--1 v-d--s v-d--abc">

            <div class="paywall">


              <p class="v-d-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, reprehenderit dolor esse accusamus fuga, aliquid reiciendis doloribus praesentium quisquam dolorum illum! Repudiandae dolorem cumque iure sed mollitia doloribus porro ullam.</p>

              <p class="v-d-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, reprehenderit dolor esse accusamus fuga, aliquid reiciendis doloribus praesentium quisquam dolorum illum! Repudiandae dolorem cumque iure sed mollitia doloribus porro ullam.</p>

              <p class="v-d-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, reprehenderit dolor esse accusamus fuga, aliquid reiciendis doloribus praesentium quisquam dolorum illum! Repudiandae dolorem cumque iure sed mollitia doloribus porro ullam.</p>

              <p class="v-d-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, reprehenderit dolor esse accusamus fuga, aliquid reiciendis doloribus praesentium quisquam dolorum illum! Repudiandae dolorem cumque iure sed mollitia doloribus porro ullam.</p>








              <div class="v-c-cmp">
                <div class="v-n-scrolly">
                  <div class="v-n-scrolly__sticky">
                    <div class="v-n-scrolly__bg">
                      <div class="static">
                        <p class="v-d-p">Texto superior estatico</p>
                        <span class="v-d-sub">Subtitulo del texto superior estatico</span>
                      </div>
                      <div class="bg-c">
                        <div class="bg-item" data-bg="0">
                          <p class="cosas">Cosas 1</p>
                        </div>
                        <div class="bg-item" data-bg="1">
                          <p class="cosas">Cosas 2</p>
                        </div>
                        <div class="bg-item" data-bg="2">
                          <p class="cosas">Cosas 3</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="v-n-scrolly__steps">
                    <div class="step" data-step="0" data-bg="0">
                      <p>Texto 1</p>
                    </div>
                    <div class="step" data-step="1" data-bg="1">
                      <p>Texto 2</p>
                    </div>
                    <div class="step" data-step="2" data-bg="2">
                      <p>Texto 3</p>
                    </div>
                  </div>
                </div>
              </div>





              <p class="v-d-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, reprehenderit dolor esse accusamus fuga, aliquid reiciendis doloribus praesentium quisquam dolorum illum! Repudiandae dolorem cumque iure sed mollitia doloribus porro ullam.</p>

              <p class="v-d-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, reprehenderit dolor esse accusamus fuga, aliquid reiciendis doloribus praesentium quisquam dolorum illum! Repudiandae dolorem cumque iure sed mollitia doloribus porro ullam.</p>

              <p class="v-d-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, reprehenderit dolor esse accusamus fuga, aliquid reiciendis doloribus praesentium quisquam dolorum illum! Repudiandae dolorem cumque iure sed mollitia doloribus porro ullam.</p>

              <p class="v-d-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, reprehenderit dolor esse accusamus fuga, aliquid reiciendis doloribus praesentium quisquam dolorum illum! Repudiandae dolorem cumque iure sed mollitia doloribus porro ullam.</p>

            </div>
          </div>
        </div>
      </article>
    </main>

{{> ./base/foot }}