<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Wave Up Transition</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.2/lottie.min.js"></script>

  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .fondo {
      width: 100%;
      height: 100dvh;
      background: #e63946;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .blanco {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: white;
    }

    .onda {
      position: absolute;
      bottom: -150px;
    }

    svg {
      width: 100%;
      height: 150px;
      display: block;
      rotate: 180deg;
      position: relative;
      top: -1px;
    }

    p {
      display: block;
      max-width: 500px;
      margin: 200px auto 500px;
      font: 18px/1 Helvetica;
      text-align: center;
    }

    #lottie {
      position: absolute;
      rotate: 180deg;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  </style>
</head>

<body>

  <div class="fondo">
    <div id="lottie"></div>
    <div class="blanco">
      <div class="onda">
        <svg viewBox="0 0 1440 150" preserveAspectRatio="none">
          <path id="wave" fill="white" d="M0,60 C300,120 600,0 900,60 C1200,120 1440,0 1440,60 L1440,150 L0,150 Z">
          </path>
        </svg>
      </div>
    </div>
    <img src="https://s1.abcstatics.com/comun/especiales/bandas-latinas/images/abc_apertura.png">
  </div>

  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, dolorum quae at in rem nulla excepturi minima
    facere rerum, illum quasi libero, iste perferendis. Reiciendis voluptas explicabo modi ratione velit?</p>

  <script>
    document.addEventListener("DOMContentLoaded", () => {

      const wave = document.querySelector("#wave");

      // 🌊 Animación continua de la onda
      gsap.to(wave, {
        duration: 0.7,
        repeat: -1,
        yoyo: true,
        ease: "sine.inOut",
        attr: {
          d: "M0,60 C300,0 600,120 900,60 C1200,0 1440,120 1440,60 L1440,150 L0,150 Z"
        }
      });

      // 🎬 LOTTIE
      const animation = lottie.loadAnimation({
        container: document.getElementById('lottie'),
        renderer: 'svg',
        loop: false,
        autoplay: true,
        path: 'https://s1.abcstatics.com//comun/narrativas/redaccion/2026/04/12/bandaslatinas/json/cabecera-bandas-latinas-ojo.json'
      });

      let started = false;

      // ⏱ Esperar a que el JSON esté listo
      animation.addEventListener('DOMLoaded', () => {

        // 🔄 Control por progreso real del Lottie
        animation.addEventListener('enterFrame', () => {

          const progress = animation.currentFrame / animation.totalFrames;

          // 👉 Ajusta este valor (0.6 = 60%)
          if (progress > 0.4 && !started) {
            started = true;

            // ⬆️ Subida de la pantalla blanca
            gsap.to(".blanco", {
              y: "-120%",
              duration: 1.5,
              ease: "power2.inOut"
            });
          }

        });

      });

    });
  </script>

</body>

</html>