<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <style>
    body {
      background-color: black;
    }

    h2 {
      color: white;
    }

    .preh__st {
      margin-top: 50px;
      display: inline;
      background: red;
      color: #fff;
      padding: 4px 8px;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
    }

    .preh__bottom {
      margin: 50px;
      max-width: 500px;
      width: 100%;
      margin: 200px auto;
      text-align: center;
    }
  </style>
  

  <div class="preh__bottom">
    <div class="preh-t-c">
      <h2 class="preh__t">
        <span>Los pedófilos que</span>
        <span>acechan a tu</span>
        <span>hijo en Roblox</span>
        <span>(y tú ni te enteras)</span>
      </h2>
      <span class="preh__st">La falta de moderación activa y las recompensas virtuales convierten plataformas de videojuegos en territorios delictivos casi impunes contra los menores</span>
    </div>
  </div>


</body>
</html>