{{> base/head }}

<div class="v-w">
  <main class="v-w-c v-d-c">
    <article class="v-d-w">
      {{!-- Include superior a la cabecera --}}
      {{> ./includes/pre-header-scroll }}

      <div class="v-c">
        {{!-- Contenido --}}
        <div class="v-d v-d--1 v-d--s v-d--abc">
          <p class="v-d-p">Lo anterior no es una ficción. Es la historia de Sade, un cristiano en un país musulmán que dejó su tierra perseguido por su fe. “Temía por mi vida, así que tuve que irme”, cuenta. Sade lleva más de una década como inmigrante irregular en suelo europeo.</p>
          <p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, cerca de 300 personas aguardan de manera ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>
          <p class="v-d-p">Lo anterior no es una ficción. Es la historia de Sade, un cristiano en un país musulmán que dejó su tierra perseguido por su fe. “Temía por mi vida, así que tuve que irme”, cuenta. Sade lleva más de una década como inmigrante irregular en suelo europeo.</p>
          <p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, cerca de 300 personas aguardan de manera ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>

          {{!-- NOTE: Scrolling zoom silueta / transicion con opacidad al video --}}
          {{> ./includes/scroll-zoom-morph-media 
              name="Nombre"
              age="00"
              title="«Declaración declaración declaración declaración declaración»"
          }}

          <p class="v-d-p">Lo anterior no es una ficción. Es la historia de Sade, un cristiano en un país musulmán que dejó su tierra perseguido por su fe. “Temía por mi vida, así que tuve que irme”, cuenta. Sade lleva más de una década como inmigrante irregular en suelo europeo.</p>
          <p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, cerca de 300 personas aguardan de manera ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>
          <p class="v-d-p">Lo anterior no es una ficción. Es la historia de Sade, un cristiano en un país musulmán que dejó su tierra perseguido por su fe. “Temía por mi vida, así que tuve que irme”, cuenta. Sade lleva más de una década como inmigrante irregular en suelo europeo.</p>
          <p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, cerca de 300 personas aguardan de manera ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>

          {{!-- NOTE: Scrolling zoom silueta / transicion con opacidad al video --}}
          {{> ./includes/scroll-zoom-morph-media 
              name="Nombre 2"
              age="20"
              title="Declaración 2 declaración 2 declaración 2 declaración 2 declaración 2"
          }}

          <p class="v-d-p">Lo anterior no es una ficción. Es la historia de Sade, un cristiano en un país musulmán que dejó su tierra perseguido por su fe. “Temía por mi vida, así que tuve que irme”, cuenta. Sade lleva más de una década como inmigrante irregular en suelo europeo.</p>
          <p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, cerca de 300 personas aguardan de manera ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>
          <p class="v-d-p">Lo anterior no es una ficción. Es la historia de Sade, un cristiano en un país musulmán que dejó su tierra perseguido por su fe. “Temía por mi vida, así que tuve que irme”, cuenta. Sade lleva más de una década como inmigrante irregular en suelo europeo.</p>
          <p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, cerca de 300 personas aguardan de manera ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>

           {{!-- NOTE: Scrolling zoom silueta horizontal / transicion con opacidad al video --}}
          {{> ./includes/scroll-zoom-morph-media 
              horizontal="true"
              name="Nombre 3"
              age="30"
              title="Declaración 3 declaración 3 declaración 3 declaración 3 declaración 3"
          }}

          <p class="v-d-p">Lo anterior no es una ficción. Es la historia de Sade, un cristiano en un país musulmán que dejó su tierra perseguido por su fe. “Temía por mi vida, así que tuve que irme”, cuenta. Sade lleva más de una década como inmigrante irregular en suelo europeo.</p>
          <p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, cerca de 300 personas aguardan de manera ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>
          <p class="v-d-p">Lo anterior no es una ficción. Es la historia de Sade, un cristiano en un país musulmán que dejó su tierra perseguido por su fe. “Temía por mi vida, así que tuve que irme”, cuenta. Sade lleva más de una década como inmigrante irregular en suelo europeo.</p>
          <p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, cerca de 300 personas aguardan de manera ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>
        </div>
      </div>
    </article>
  </main>
</div>

{{> base/foot }}