<p class="v-d-p">Lo anterior no es una ficción. Es la historia de Sade, un cristiano en un país musulmán que dejó su tierra perseguido por su fe. “Temía por mi vida, así que tuve que irme”, cuenta. Sade lleva más de una década como inmigrante irregular en suelo europeo.</p>
{{!-- 
<div class="v-c-cmp">
  {{> ./includes/zoom-ship }}
</div>

<p class="v-d-p">Lo anterior no es una ficción. Es la historia de Sade, un cristiano en un país musulmán que dejó su tierra perseguido por su fe. “Temía por mi vida, así que tuve que irme”, cuenta. Sade lleva más de una década como inmigrante irregular en suelo europeo.</p> --}}

<div class="v-c-cmp">
  {{> ./includes/ai2html-1 }}
</div>

<p class="v-d-p">Lo anterior no es una ficción. Es la historia de Sade, un cristiano en un país musulmán que dejó su tierra perseguido por su fe. “Temía por mi vida, así que tuve que irme”, cuenta. Sade lleva más de una década como inmigrante irregular en suelo europeo.</p>