<div class="v-d-n">
  <div class="v-d-n__c">
    <div class="v-d-n__w v-d-n__w--1">
      <div class="v-tpc" data-voc-component="topics">
        <div class="v-tpc__n">
          <ul class="v-tpc__u">
            <li class="v-tpc__l">
              <button class="v-tpc__b">
                <span class="v-b-i">
                  <svg width="8" height="5" viewBox="0 0 8 5" xmlns="http://www.w3.org/2000/svg">
                    <use href="#icon-down-arrow"></use>
                  </svg>
                </span>Más temas </button>
            </li>
            <li class="v-tpc__l">
              <a href="https://www.abc.es/noticias/refugiados/" class="v-tpc__a" title="Refugiados">Refugiados</a>
            </li>
            <li class="v-tpc__l">
              <a href="https://www.abc.es/noticias/inmigracion/" class="v-tpc__a" title="Inmigración">Inmigración</a>
            </li>
            <li class="v-tpc__l">
              <a href="https://www.abc.es/noticias/dinamarca/" class="v-tpc__a" title="Dinamarca">Dinamarca</a>
            </li>
            <li class="v-tpc__l">
              <a href="https://www.abc.es/noticias/union-europea/" class="v-tpc__a" title="Unión Europea">Unión Europea</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="v-d-n__w v-d-n__w--2">
      <div data-voc-comments="abc-comments-footer-button" data-voc-comments-stream-id="b9e8df88-0b47-11f1-8cbc-b52ff4097b21" data-voc-vtm-id="btncomentar" data-voc-vtm-info="abrir-comentarios">
        <button class="v-btn v-btn-i v-btn-i--l v-btn--m">
          <span class="v-i">
            <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 16V1.56021C0 1.12422 0.14737 0.75519 0.44211 0.45311C0.73684 0.15104 1.09691 0 1.52232 0H14.4777C14.9031 0 15.2632 0.15104 15.5579 0.45311C15.8526 0.75519 16 1.12422 16 1.56021V11.3858C16 11.8218 15.8526 12.1908 15.5579 12.4929C15.2632 12.795 14.9031 12.946 14.4777 12.946H2.97979L0 16ZM2.44211 11.6514H14.4777C14.5425 11.6514 14.6019 11.6237 14.6558 11.5684C14.7098 11.5131 14.7368 11.4523 14.7368 11.3858V1.56021C14.7368 1.49376 14.7098 1.43291 14.6558 1.37767C14.6019 1.32229 14.5425 1.2946 14.4777 1.2946H1.52232C1.45747 1.2946 1.39811 1.32229 1.34421 1.37767C1.29018 1.43291 1.26316 1.49376 1.26316 1.56021V12.8466L2.44211 11.6514Z"></path>
            </svg>
          </span>8 comentarios </button>
      </div>
      <button class="v-btn v-btn-i v-btn-i--l v-btn-b v-btn--m" data-voc-vtm-id="reportar-error" data-voc-vtm-info="reporte-error" popovertarget="open-report-error">
        <span class="v-i">
          <svg width="100%" height="100%" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.125 11.1731V18.1562C6.125 18.3422 6.06207 18.498 5.93622 18.6237C5.81036 18.7496 5.65447 18.8125 5.46853 18.8125C5.28245 18.8125 5.12662 18.7496 5.00106 18.6237C4.87535 18.498 4.8125 18.3422 4.8125 18.1562V3.8535C4.8125 3.62935 4.88833 3.44152 5.04 3.29C5.19152 3.13833 5.37935 3.0625 5.6035 3.0625H16.7226C16.8662 3.0625 16.9956 3.09575 17.1106 3.16225C17.2258 3.2286 17.3173 3.31494 17.3849 3.42125C17.4526 3.52756 17.4946 3.64583 17.5109 3.77606C17.5271 3.90615 17.5053 4.03885 17.4455 4.17419L16.1455 7.11791L17.4455 10.0614C17.5053 10.1967 17.5271 10.3294 17.5109 10.4595C17.4946 10.5898 17.4526 10.708 17.3849 10.8143C17.3173 10.9207 17.2258 11.007 17.1106 11.0733C16.9956 11.1398 16.8662 11.1731 16.7226 11.1731H6.125ZM6.125 9.86059H15.9537L15.0063 7.75731C14.9132 7.55825 14.8667 7.34497 14.8667 7.11747C14.8667 6.88997 14.9132 6.67691 15.0063 6.47828L15.9537 4.375H6.125V9.86059Z"></path>
          </svg>
        </span>Reportar un error </button>
    </div>
  </div>
</div>