<p class="v-d-p">Lo anterior no es una ficción. Es la historia de Sade, un cristiano en un país musulmán que dejó su tierra perseguido por su fe. “Temía por mi vida, así que tuve que irme”, cuenta. Sade lleva más de una década como inmigrante irregular en suelo europeo.</p>
<p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, cerca de 300 personas aguardan de manera ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>

{{!-- NOTE: Scrolling zoom morph silueta / transicion con opacidad al video --}}
{{> ../includes/scroll-zoom-morph-media 
    name="Nombre"
    age="00"
    title="Declaración declaración declaración declaración declaración"
}}

<p class="v-d-p">Apenas lleva unos días en la ciudad francesa, viviendo en una tienda de campaña sobre un suelo embarrado y lleno de basura. El objetivo es Reino Unido, como el de las cerca de 3.000 personas que durante el pasado diciembre pasaron por allí a la espera de que el tiempo arreciara para poder cruzar por el Canal de La Mancha, según las estimaciones de organizaciones como Utopia 56, que trabajan en el terreno. Todos esperan su turno en la conocida como ‘Jungla’ de Calais. “Es la única salida que me queda”, asegura el somalí exiliado.</p>
<p class="v-d-p">“Salí de Somalia hace 13 años. Llegué primero a Turquía, donde pedí asilo, y no me lo dieron. Luego probé suerte en Austria y tampoco”, explica mientras la fila de la comida avanza lentamente. Fue en Austria, donde la policía registró sus datos. Un simple procedimiento, la toma de sus huellas dactilares, que ha condicionado sus opciones de futuro. La toma de huellas es uno de los trámites del Reglamento de Dublín aprobado en la UE. Este es el mecanismo que fija qué Estado miembro debe asumir la tramitación de una solicitud de asilo, generalmente el país de primera entrada del migrante.</p>
<p class="v-d-p">Tras la experiencia fallida en Austria, por el boca a boca, Sade escucha que en los países nórdicos quizás podría tener una posibilidad de regularizar su situación. Así, recala en la capital danesa, Copenhague, donde permaneció desde 2022 hasta el pasado otoño, tres meses antes de acampar en Calais, a finales del año pasado.</p>
<p class="v-d-p">Si en 2014, cuando dejó su tierra natal, hubiera ido directamente a Dinamarca, quizás ahora su estatus sería diferente. Entonces, era más probable que te concedieran un permiso de residencia, primero de cinco años y después, con el tiempo y cumpliendo una serie de requisitos (como aprender danés y tener una estabilidad económica) podías conseguir una residencia permanente.</p>

{{!-- /// Grafico de barras --}}
{{!-- Insertar cuando esté --}}

<p class="v-d-p">“Hice lo que me pidieron: aprendí danés en mi tiempo allí. Estuve viviendo en lugares de acogida y gracias a la ayuda de mis amigos daneses pude ir saliendo adelante”. Probó suerte y no la tuvo. Desde que este somalí llegó a Europa, allá por 2014, el modelo migratorio danés ha cambiado completamente y no es lo que se imaginaba.</p>
<p class="v-d-p">Durante la crisis migratoria y de refugiados de 2015 y 2016, el país atrajo la atención internacional por la implementación de políticas duras.</p>
<p class="v-d-p">En esa época, Dinamarca registraba la mayor tasa de solicitudes de asilo en Europa y acogieron aproximadamente a 31.000 refugiados sirios. Con esos números, los monumentos de bienvenida a los inmigrantes dejaron paso a los lemas de “Danskerne Forst” (los daneses primero), que comenzaron a sonar con fuerza. Para 2015, el Partido Popular Danés, formación populista con un fuerte discurso antiinmigración, era la segunda fuerza en el parlamento.</p>
<p class="v-d-p">En una década, el país ha pasado de registrar la mayor tasa de solicitudes de asilo en Europa a marcar el paso a la Unión Europea con su modelo de políticas migratorias, un giro que comenzó con un gobierno de liberales y conservadores y que la socialdemocracia, una vez en el poder, hizo suyo y potenció hasta instaurar el denominado “cambio de paradigma”. Así es el modelo danés que ha inspirado a la UE en la elaboración del Pacto de Migración y Asilo, el conjunto de normas y XXXX que forman el marco en materia de inmigración comunitario y que entra en vigor en junio.</p>
<p class="v-d-p">El tono de la política migratoria danesa no cambió con la elección en 2019 de una nueva presidenta de izquierdas: la socialdemócrata Mette Frederiksen, que sigue en el poder, ahora en coalición con XXXX y XXXXX.</p>
<p class="v-d-p">Bajo su mandato se crea la Agencia Danesa de Retorno y todos los permisos de residencia humanitaria han pasado a concederse de forma temporal. Ya no cabe esperar un tiempo con la vista puesta en conseguir la residencia permanente, no al menos de forma generalizada.</p>
<p class="v-d-p">La Agencia Danesa de Retorno es considerada otra política de éxito y que muchos países en Europa comienzan a aplicar o quieren copiar. Este organismo gestiona varios tipos de centros donde viven temporalmente las personas que deben abandonar Dinamarca, son los denominados udrejsecentre (centros de salida). Uno de esos centros es el de Sjaalsmark, donde viven solicitantes a los que se les ha rechazado el asilo.</p>
<p class="v-d-p">A una hora en transporte público del centro de Copenhague se llega a una especie de complejo militar con varios barracones. Aquí se encuentra Seydou, un senegalés de 23 años. Alto y pertrechado con un plumas blanco que se abrocha hasta arriba (es invierno y la temperatura roza el bajo cero) camina por los alrededores del centro.</p>
<p class="v-d-p">Nos saluda educadamente y en cuanto le decimos que somos españoles, sonríe: “Hola amigos”, dice en un perfecto castellano. Cuando tenía 17 años salió de Senegal y tras atravesar medio desierto por Mauritania y Argelia, llegó a Libia donde se embarcó rumbo a Italia. Dos días después de llegar tomó un autobús que lo dejó en Bilbao.</p>

{{!-- NOTE: Scrolling zoom morph silueta / transicion con opacidad al video --}}
{{> ../includes/scroll-zoom-morph-media 
    name="Nombre 2"
    age="20"
    title="Declaración 2 declaración 2 declaración 2 declaración 2 declaración 2"
}}

<p class="v-d-p">“Llegué a Bilbao porque quería ser jugador de baloncesto profesional y ahí igual me ayudaban”; explica. En su tiempo en el País Vasco logró aprender alguna que otra palabra en euskera y hacerse aficionado del Athletic. Sin embargo, y como le pasó a Sade, a través de redes sociales había visto que en Dinamarca podría encontrar un futuro mejor. En autobús se volvió a recorrer Europa. No le valió de mucho.</p>
<p class="v-d-p">En Holanda tomaron sus huellas y esa identificación será lo que le repetirán una y otra vez en Dinamarca para explicarle por qué ahí no tienen ninguna posibilidad: “no puedes pedir asilo aquí, solo en Holanda”. Otra vez el Reglamento de Dublín.</p>
<p class="v-d-p">Seydou deja que los días pasen en este centro de retorno de Sjaalsmark. Las condiciones de vida no son fáciles. Una vuelta por el centro lo deja claro. Todas las personas preguntadas que estaban viviendo en el centro coinciden en las quejas: mala comida, frío en las habitaciones, escasos baños a compartir con decenas de personas y poca ayuda económica (tienen una asignación quincenal de 120 coronas danesas, unos 16 euros al cambio).</p>
<p class="v-d-p">Los únicos que parecen contentos son los refugiados de Ucrania. Desde hace varios días, han ido llegando varios ucranianos que escapan de una guerra que ya se acerca a su cuarto año. Zola y Nikita son una pareja de jóvenes recién llegados a Dinamarca. “Nos fuimos dejando allí a la familia porque no queríamos seguir en mitad de una guerra y porque tampoco queríamos ser movilizados por el Ejército”, explica Zola. “Estamos muy agradecidos por el trato de Dinamarca y ahora estamos esperando a que nos procesen la petición de asilo”.</p>

{{!-- /// Infografía reglamento Dublín --}}
{{!-- Insertar cuando esté --}}

<p class="v-d-p">Un proceso por el que han pasado desde 2022, unas 54.500 personas ucranianas que han obtenido una residencia temporal, según datos de la Comisión Europea. Los demás, sirios, afganos, iraquíes… se sienten perdidos y sin saber muy bien qué hacer. Muchos, como Seydou, pondrán rumbo a otro país europeo, a probar suerte.</p>
<p class="v-d-p">Dinamarca ha contribuido a desplazar el debate europeo hacia posturas más restrictivas en materia migratoria y ha impulsado propuestas consideradas por los estados miembros como “innovadoras”.</p>
<p class="v-d-p">La creación de estos centros de retorno, algunos llamados también centros de detención, como el de Sjaalsmark es un ejemplo de ello.</p>
<p class="v-d-p">El nuevo pacto migratorio de la Unión Europea, acordado en 2024 y que se pondrá en marcha en junio de este año con el apoyo de todos los miembros excepto Polonia y Hungría, abre la puerta a crear  los “return hubs” o centros destinados a gestionar expulsiones y armonizar las normas de retorno a escala europea. Muy similares a los daneses.</p>
<p class="v-d-p">El planteamiento de externalizar la gestión de las peticiones de asilo y expulsión a terceros países considerados “seguros” del que habla ese nuevo pacto de la UE también bebe de la política danesa.</p>
<p class="v-d-p">En 2021, durante la primera legislatura del Gobierno de Frederiksen, Copenhague anunció su intentión de trasladar a Ruanda a los solicitantes de asilo y gestionar allí sus expedientes. Poco después, en 2022, Reino Unido, durante el Gobierno Boris Johnson, planteó la misma idea, con la firma incluso de un acuerdo con el país africano.</p>
<p class="v-d-p">Italia también implantó la misma estrategia con Albania, aunque los tribunales italianos la frenaron. Ahora, según el nuevo pacto europeo, países como Serbia, Kosovo, Marruecos o Túnez, considerados “seguros”, podrán recibir de países europeos solicitantes de asilo y tramitar desde ahí sus expedientes.</p>
<p class="v-d-p">En definitiva,aunque no se puede decir que la Unión Europea ha adoptado en su totalidad el modelo migratorio de Dinamarca como referencia oficial, sí ha tomado gran parte de sus ideas y tendencias que van en la misma dirección.</p>

{{!-- /// Mapa de lineas de Calais con la siluetas --}}
{{!-- Insertar cuando esté --}}

{{!-- Video ancianos + sumario o dato --}}
{{> ../includes/sumario-video }}

<p class="v-d-p">Las consecuencias de las políticas migratorias más restrictivas llevan un tiempo dejándose notar en los llamados puntos calientes de la inmigración irregular. Allí  no solo llegan las personas que recientemente han salido de sus países de origen, sino también los que han sido expulsados de otros países de la UE. Volvemos a Calais, al norte de Francia.</p>
<p class="v-d-p">La razón para querer atravesar el Canal de la Mancha hasta las playas de Dover es sencilla: Reino Unido no aplica el Reglamento de Dublín por el que el primer país de la UE al que entran y donde los registran suele ser el encargado de tramitar su asilo.</p>
<p class="v-d-p">Al abandonar la Unión Europea el 31 de enero de 2020, las islas británicas se han convertido en una especie de limbo legal para estas personas y no tienen que ser devueltas al primer país de entrada de la UE. Además, el idioma juega un papel importante, ya que la gran mayoría de las personas que llegan hasta las playas de Calais para cruzar hablan inglés.</p>
<p class="v-d-p">Uno de los que ha logrado cruzar es Sade, el somalí cuya solicitud fue rechazada tras vivir cuatro años en Dinamarca y aprender el idioma. “En septiembre de 2025 me dijeron que podía vivir como cristiano en mi país y que si no, debería volver a Austria, donde tenían mis huellas. Así que puse rumbo a Reino Unido”.</p>

{{!-- /// Scroll story imagen horizonal--}}
{{> includes/scroll-hzn-img }}

<p class="v-d-p">Tuvo “suerte”, explica por mensaje días después de dejarlo en Calais. “En el primer intento, el 13 de diciembre, la Policía francesa nos detuvo en el momento antes de salir. Lo volví a intentar el 20 y funcionó”, escribe a través de Whatsapp.</p>
<p class="v-d-p">No tuvo la misma fortuna Mali, un joven también somalí que durante meses estuvo viviendo en un descampado a las afueras de Grande-Synthe. Con 25 años ya ha arriesgado varias veces su vida con el objetivo de llegar a Reino Unido. Dice que quiere llegar a Mánchester, donde tiene algún conocido.</p>
<p class="v-d-p">El día a día de estas personas en Calais no es nada fácil. Hay jóvenes, familias con niños y personas mayores. Todos viven en tiendas de campaña levantadas de aquella manera en un barrizal. Llegan hasta este punto de Francia desde muchas partes del mundo. Está Lukas, 37 años, de Georgia; Hanna, 28 años, de Eritrea; Aylar, 15 años de Irán…</p>
<p class="v-d-p">“Decidí irme de Somalia porque allí llega un momento que tienes que elegir: o coger un fusil y unirte a los terroristas o irte de allí, así que me fui”, explica Mali mientras camina por una de las playas francesas. En el horizonte está su sueño, Reino Unido. “Está cerca, un día despejado se puede ver la otra orilla, pero el mar es muy peligroso”, dice.</p>
<p class="v-d-p">Para cruzar, primero tienen que pagar a las mafias una cantidad que puede rondar los 1.500 euros y además, comprar un chaleco salvavidas, con un precio que va de los 50 a los 70 euros.</p>
<p class="v-d-p">El 13 de diciembre, Malí intentó cruzar. Pero no tuvo suerte. Las mafias con las que había hablado le engañaron y se quedaron con su dinero y con su oportunidad de cruzar al otro lado. “No sé qué hacer”, nos escribió por whatsapp un día después del fallido intento. Días más tarde nos informa de que ha regresado a París, donde cree que puede pedir asilo. Después, perdemos toda comunicación con él.</p>

{{!-- /// Fotogalería --}}
{{!-- Insertar cuando esté --}}

<p class="v-d-p">Cruzar hacia el otro lado desde Calais y llegar a Dover no es nada fácil. El recorrido son unos 40 kilómetros en línea recta y con mar agitado la travesía puede durar entre cinco y ocho horas.</p>
<p class="v-d-p">Desde 2018, esta ruta ha sido elegida por casi 200.000 personas. Antes, apenas era transitada, pero el endurecimiento de controles de Reino Unido para impedir la entrada de personas escondidas en camiones o en los ferries que cruzaban el Eurotúnel, ha convertido la vía marítima en la ruta habitual. Solo el año pasado, llegaron más de 41.000 personas a Reino Unido. Fue el segundo dato más alto desde que hay registros.</p>
<p class="v-d-p">Las cifras son motivo de preocupación en Downing Street y desembocaron en un cambio de la política migratoria sin precedentes en un Reino Unido, ya con los laboristas en el Gobierno. Con Dinamarca como referente, una delegación inglesa viajó el año pasado a Copenhague para informarse de primera mano de cómo en una década el país había reducido en un 90% las solicitudes de asilo, según datos de Eurostat.</p>

{{!-- /// Imagen --}}
{{!-- Insertar cuando esté --}}

<p class="v-d-p">El pasado noviembre, la ministra del Interior británica, Shabana Mahmood, anunció condiciones mucho más estrictas para los refugiados en un intento por restar atractivo al Reino Unido, tal y como ya hiciera Dinamarca. Según las nuevas normas, las personas a las que se les conceda el asilo tendrán que esperar hasta 20 años, en lugar de los cinco actuales, antes de solicitar la residencia permanente.</p>
<p class="v-d-p">“Los cambios en la política de inmigración del Reino Unido harán que el acceso al estatus permanente sea considerablemente más restrictivo. La política se basa en tres ideas básicas: hacer que el estatus migratorio sea más temporal para los refugiados y las personas con ingresos bajos o nulos, restringir el acceso de los recién llegados al sistema de bienestar durante periodos de tiempo más largos; e impedir que personas que vinieron a trabajar accedan al estatus permanente”, explica en una entrevista por correo electrónico con ABC la Dra. Madeleine Sumption, directora del Observatorio de Migración de la Universidad de Oxford.</p>
<p class="v-d-p">Un claro ejemplo de este cambio regulatorio son Abdolkhani y de Algonami, dos sudaneses que llegaron en etapas muy diferentes a Reino Unido. Los dos viven en Cardiff, en Gales. El primero llegó hace 14 años, el segundo hace tan solo uno. Los dos cruzaron el Canal de la Mancha y el viaje anterior que hicieron hasta llegar a Europa fue muy similar: desiertos, mares, mafias…</p>
<p class="v-d-p">Abdolkhani pidió asilo una vez llegó a Cardiff y después de varios años, le concedieron la residencia permanente. Ahora ya posee la ciudadanía británica.  “Fue difícil el viaje pero una vez aquí me pude poner a trabajar rápido y adaptarme a la vida de la ciudad”, explica mientras conduce su taxi. Ahora Abdolkahni  ayuda a recién llegados como Algonami a empezar una nueva vida. “Las cosas han cambiado mucho desde que llegué. Hay mucha más exigencia para conseguir el asilo, aunque sea temporal. Antes no era así”.</p>
<p class="v-d-p">El cambio de estas políticas ya lo sufre su amigo Algonami. Ha conseguido el asilo temporal. Salió de El Fasher, Sudán en 2024, en plena guerra. Ahora estudia enfermería, pero no sabe si dentro de cinco años podrá quedarse como Abdolkhani en Reino Unido.</p>
<p class="v-d-p">“Agradezco que me dejen quedarme, pero que sea temporal hace que viva siempre nervioso. No puedo volver a Sudán”, explica con cierto nerviosismo.</p>
<p class="v-d-p">La nueva política británica además planea revisar la situación de los refugiados con mayor regularidad y, si determina que sus países se han vuelto seguros, se les ordenará que regresen.</p>
<p class="v-d-p">La misma estrategia que lleva casi una década llevando a cabo Dinamarca, ha comenzado a seguirla Reino Unido y marcará este año en la política migratoria europea, que pone en marcha el nuevo pacto migratorio que se firmó en 2024.</p>

{{!-- Creditos --}}
{{> ../kraken-components/credits }}

