<div class="v-ath__w v-ath__w--1">
  <div class="v-ath__u v-ath__u--1" role="group">
    <div class="v-ath__l v-ath__l--2" role="none">
      <button class="v-ath__b v-ath__b--1 v-btn v-btn-b v-btn-i v-btn-i--l v-btn--s v-i-t" snackbartarget="msg-1" data-id="b9e8df88-0b47-11f1-8cbc-b52ff4097b21" data-portals-widget="save-article" data-voc-vtm-id="guardar" data-voc-vtm-info="guardar-noticia" data-voc-get-data-for-snack-bar-vtm-info="guardar-noticia" aria-label="Guardar noticia" data-awakened="true">
        <span class="v-i-t__i">
          <span class="v-i v-i--1">
            <svg width="14" height="16" viewBox="0 0 14 16" xmlns="http://www.w3.org/2000/svg">
              <use href="#icon-save-news-1"></use>
            </svg>
          </span>
          <span class="v-i v-i--2">
            <svg width="15" height="16" viewBox="0 0 15 16" xmlns="http://www.w3.org/2000/svg">
              <use href="#icon-save-news-2"></use>
            </svg>
          </span>
          <span class="v-i v-i--3">
            <svg width="14" height="16" viewBox="0 0 14 16" xmlns="http://www.w3.org/2000/svg">
              <use href="#icon-save-news-3"></use>
            </svg>
          </span>
        </span>
      </button>
    </div>
    <div role="none" class="v-ath__l v-ath__l--3" popovertarget="modal-2c">
      <div class="v-ath__b v-ath__b--2 v-btn v-btn-b v-btn-i v-btn-i--l v-btn--s v-btn-d">
        <span class="v-i">
          <svg width="24" height="24" viewBox="4 4 16 16" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.27539 18.5524V11.2838H6.19941C5.86638 11.2838 5.58322 11.1655 5.34993 10.9289C5.11664 10.6922 5 10.4051 5 10.0674V8.32716C5 7.98951 5.11664 7.70236 5.34993 7.46574C5.58322 7.22911 5.86638 7.11079 6.19941 7.11079H9.08257C8.97125 6.9804 8.89559 6.83353 8.85559 6.67017C8.81559 6.50695 8.79559 6.33551 8.79559 6.15588C8.79559 5.55703 9.00224 5.04801 9.41553 4.6288C9.82882 4.2096 10.3307 4 10.9211 4C11.2237 4 11.5041 4.06439 11.7622 4.19319C12.0203 4.32211 12.251 4.49434 12.4544 4.70988C12.6578 4.48607 12.8886 4.31183 13.1468 4.18718C13.4048 4.06239 13.6851 4 13.9878 4C14.5783 4 15.0802 4.2096 15.4935 4.6288C15.9068 5.04801 16.1134 5.55703 16.1134 6.15588C16.1134 6.33351 16.0914 6.50241 16.0473 6.66256C16.0032 6.82272 15.9296 6.97213 15.8264 7.11079H18.8006C19.1336 7.11079 19.4168 7.22911 19.6501 7.46574C19.8834 7.70236 20 7.98951 20 8.32716V10.0674C20 10.4051 19.8834 10.6922 19.6501 10.9289C19.4168 11.1655 19.1336 11.2838 18.8006 11.2838H18.7246V18.5524C18.7246 18.9505 18.5849 19.2913 18.3054 19.5748C18.0259 19.8583 17.69 20 17.2976 20H7.70237C7.31 20 6.97408 19.8583 6.69461 19.5748C6.41513 19.2913 6.27539 18.9505 6.27539 18.5524ZM13.9878 5.20116C13.7211 5.20116 13.4975 5.29264 13.3171 5.47562C13.1367 5.6586 13.0465 5.88535 13.0465 6.15588C13.0465 6.4264 13.1367 6.65315 13.3171 6.83613C13.4975 7.01924 13.7211 7.11079 13.9878 7.11079C14.2545 7.11079 14.4781 7.01924 14.6586 6.83613C14.839 6.65315 14.9292 6.4264 14.9292 6.15588C14.9292 5.88535 14.839 5.6586 14.6586 5.47562C14.4781 5.29264 14.2545 5.20116 13.9878 5.20116ZM9.9798 6.15588C9.9798 6.4264 10.07 6.65315 10.2504 6.83613C10.4308 7.01924 10.6543 7.11079 10.9211 7.11079C11.1878 7.11079 11.4113 7.01924 11.5917 6.83613C11.7721 6.65315 11.8623 6.4264 11.8623 6.15588C11.8623 5.88535 11.7721 5.6586 11.5917 5.47562C11.4113 5.29264 11.1878 5.20116 10.9211 5.20116C10.6543 5.20116 10.4308 5.29264 10.2504 5.47562C10.07 5.6586 9.9798 5.88535 9.9798 6.15588ZM6.18421 8.31175V10.0829H11.9079V8.31175H6.18421ZM11.9079 18.7988V11.2838H7.45941V18.5524C7.45941 18.6243 7.48224 18.6834 7.52789 18.7296C7.57342 18.7758 7.63158 18.7988 7.70237 18.7988H11.9079ZM13.0921 18.7988H17.2976C17.3684 18.7988 17.4266 18.7758 17.4721 18.7296C17.5178 18.6834 17.5406 18.6243 17.5406 18.5524V11.2838H13.0921V18.7988ZM18.8158 10.0829V8.31175H13.0921V10.0829H18.8158Z"></path>
          </svg>
        </span>
        <ev-share-article-btn widget-count="10" share-article-group="articleShare-abc" data-voc-button-open-gift-news="" data-voc-vtm-id="regalar" data-voc-vtm-info="clic-detalle-noticia-regalar-noticia" style="display:none">
          <div>
            <button class="share-article-btn">Share Article</button>
          </div>
          <ev-engagement group-name="articleShare-abc" article-sharing="true"></ev-engagement>
        </ev-share-article-btn>Regala esta noticia
      </div>
    </div>
    <div class="v-ath__l v-ath__l--4" role="none">
      <div class="v-ath__n">
        <a class="v-btn v-btn--1 v-btn-b v-btn-i v-btn--s" data-voc-social-sharer="whatsapp" data-voc-share-wa="" data-voc-vtm-id="compartirrrss" data-voc-vtm-info="fixed-whatsapp" title="Compartir en Whatsapp" action="share/whatsapp/share">
          <span class="v-i">
            <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <use href="#icon-share-wh"></use>
            </svg>
          </span>
        </a>
        <a class="v-btn v-btn--2 v-btn-b v-btn-i v-btn--s" data-voc-social-sharer="facebook" data-voc-vtm-id="compartirrrss" data-voc-vtm-info="fixed-facebook" title="Compartir en Facebook">
          <span class="v-i">
            <svg width="7" height="14" viewBox="0 0 7 14" xmlns="http://www.w3.org/2000/svg">
              <use href="#icon-share-fb"></use>
            </svg>
          </span>
        </a>
        <a class="v-btn v-btn--3 v-btn-b v-btn-i v-btn--s" data-voc-social-sharer="twitter" data-voc-vtm-id="compartirrrss" data-voc-vtm-info="fixed-twitter" title="Compartir en X">
          <span class="v-i">
            <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
              <use href="#icon-share-tw"></use>
            </svg>
          </span>
        </a>
        <button class="v-btn v-btn--4 v-btn-b v-btn-i v-btn--s" popovertarget="open-social-share-detail">
          <span class="v-i">
            <svg width="17" height="14" viewBox="0 0 17 14" xmlns="http://www.w3.org/2000/svg">
              <use href="#icon-share-open-panel"></use>
            </svg>
          </span>
        </button>
      </div>
    </div>
    <div class="v-ath__l v-ath__l--5" data-voc-comments="abc-comments-header-button" data-voc-comments-stream-id="b9e8df88-0b47-11f1-8cbc-b52ff4097b21" data-voc-vtm-id="btncomentar" data-voc-vtm-info="abrir-comentarios">
      <button class="v-ath__b v-ath__b--3 v-btn v-btn-b v-btn-i v-btn-i--l v-btn--s">
        <span class="v-i">
          <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 16V1.56021C0 1.12422 0.14737 0.75519 0.44211 0.45311C0.73684 0.15104 1.09691 0 1.52232 0H14.4777C14.9031 0 15.2632 0.15104 15.5579 0.45311C15.8526 0.75519 16 1.12422 16 1.56021V11.3858C16 11.8218 15.8526 12.1908 15.5579 12.4929C15.2632 12.795 14.9031 12.946 14.4777 12.946H2.97979L0 16ZM2.44211 11.6514H14.4777C14.5425 11.6514 14.6019 11.6237 14.6558 11.5684C14.7098 11.5131 14.7368 11.4523 14.7368 11.3858V1.56021C14.7368 1.49376 14.7098 1.43291 14.6558 1.37767C14.6019 1.32229 14.5425 1.2946 14.4777 1.2946H1.52232C1.45747 1.2946 1.39811 1.32229 1.34421 1.37767C1.29018 1.43291 1.26316 1.49376 1.26316 1.56021V12.8466L2.44211 11.6514Z"></path>
          </svg>
        </span>6 </button>
    </div>
  </div>
</div>
