<p class="v-d-p">Lo anterior no es una ficción. Es la historia de Sade, un cristiano en un país musulmán que dejó su tierra perseguido por su fe. “Temía por mi vida, así que tuve que irme”, cuenta. Sade lleva más de una década como inmigrante irregular en suelo europeo.</p>

<p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, <strong>cerca de 300 personas aguardan de manera</strong> ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>

<p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, cerca de 300 personas aguardan de manera ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>

<p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, cerca de 300 personas aguardan de manera ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>

<p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, cerca de 300 personas aguardan de manera ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>

<div class="v-c-cmp">
  {{> ./includes/cintillo 
    svgCintillo1=true
    title="El fin de una central"
  }}
</div>

<p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, cerca de 300 personas aguardan de manera ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>

<p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, cerca de 300 personas aguardan de manera ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>

<p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, cerca de 300 personas aguardan de manera ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>

<p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, cerca de 300 personas aguardan de manera ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>

<p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, cerca de 300 personas aguardan de manera ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>

<p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, <strong>cerca de 300 personas aguardan de manera</strong> ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>