{{!-- NOTE: Article heading --}}
<div class="voc-container voc-container--wxs" data-mrf-recirculation="Apertura">
  <div class="voc-article-container">
    <div class="voc-article voc-article--detail voc-article--detail-visual">
      <div class="voc-info-container {{#if config.infoContainerDark}}voc-info-container--dark{{/if}}">
        {{!-- NOTE: ABC Premium badge --}}
        {{#if config.ABCPremiumBadge}}
          <p class="voc-pretitle">
            <span class="voc-pretitle__prm">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 154 24">
                <use href="#icon-premium-pretitle"></use>
              </svg>
            </span>
          </p>
        {{/if}}

        {{!-- NOTE: Titulo --}}
        <h1 class="voc-title">{{config.title}}</h1>

        {{!-- NOTE: Componente autor/autores --}}
        {{> components/author }}
      </div>
    </div>
  </div>
</div>