<div class="v-c-cmp">
  {{> ./includes/methode-2-pizarra-fidel }}
</div>

<div class="v-c-cmp">
  {{> ./includes/methode-3-texto-pre-che-ninos }} 
</div>

<div class="v-c-cmp">
  {{> ./includes/methode-4-che-ninos }} 
</div>

<div class="v-c-cmp">
  {{> ./includes/methode-5-abuelos-granma }} 
</div>

<div class="v-c-cmp">
  {{> ./includes/methode-6-mapa-trump-rubio }} 
</div>

<div class="v-c-cmp">
  {{> ./includes/methode-7-cuatro-revolucionarios }} 
</div>

<div class="v-c-cmp">
  {{> ./includes/methode-8-fidel-atril }} 
</div>

<div class="v-c-cmp">
  {{> ./includes/methode-9-pre-bloqueo }} 
</div>

<div class="v-c-cmp">
  {{> ./includes/methode-10-muro-che-reportera }} 
</div>

<div class="v-c-cmp">
  {{> ./includes/methode-11-mapamundi-plato }} 
</div>

<div class="v-c-cmp">
  {{> ./includes/methode-12-coche-f1-scrolling }} 
</div>

{{!-- <div class="v-c-cmp">
  {{> ./includes/methode-13-bocadillo-cerdo }} 
</div> --}}

{{!-- <div class="v-c-cmp">
  {{> ./includes/methode-14-fotos-fractura }} 
</div> --}}

{{!-- <div class="v-c-cmp">
  {{> ./includes/methode-15-padre-paseando-gente }} 
</div> --}}

{{!-- <div class="v-c-cmp">
  {{> ./includes/methode-16-apagon-bandera-cuba }} 
</div> --}}

{{!-- <div class="v-c-cmp">
  {{> ./includes/methode-17-balseros }} 
</div> --}}

{{!-- <div class="v-c-cmp">
  {{> ./includes/methode-18-autor-declamando }} 
</div> --}}