<div class="v-ath__w v-ath__w--2">
  <figure class="v-ath__f">
    <img class="v-ath__i" loading="lazy" src="https://s1.abcstatics.com/comun/2015/img/autor/autor-1588-foto-7.jpeg?width=90" alt="Javier Ansorena (texto)">
  </figure>
  <div class="v-ath__g">
    <p class="v-ath__p v-ath__p--1">
      <a href="https://www.abc.es/autor/javier-ansorena-1588/" title="Javier Ansorena (texto)" data-mrf-link="https://www.abc.es/autor/javier-ansorena-1588/" cmp-ltrk="Autor" cmp-ltrk-idx="0" mrfobservableid="6d9a5484-0512-4e2f-bebf-f79f530a92fd">Javier Ansorena (texto) <span class="v-b-i">
          <svg viewBox="0 0 14 24">
            <use href="#icon-author"></use>
          </svg>
        </span>
      </a>
    </p>
    <p class="v-ath__p v-ath__p--2">
      <span>Nueva York</span>
    </p>
  </div>
  <time class="v-ath__p v-ath__p--3" datetime="2026-03-13T11:16:03Z">13/03/2026 <span>Actualizado a las 12:16h.</span>
  </time>
  <button class="v-ath__b v-ath__b--4 v-btn v-btn-i v-btn-i--l v-btn--s" snackbartarget="msg-1" data-voc-vtm-id="btn-seguirautor" data-voc-vtm-info="javier-ansorena-texto" data-voc-follow-author-id="1588" data-voc-follow-author-name="javier-ansorena-texto" data-voc-get-data-for-snack-bar-vtm-info="seguir-autor-javier-ansorena-texto" data-voc-follow-author="" aria-label="Seguir autor">
    <span class="v-i">
      <svg viewBox="0 0 24 24">
        <line class="line line-1" x1="12" y1="2" x2="12" y2="22"></line>
        <line class="line line-2" x1="2" y1="12" x2="22" y2="12"></line>
        <path class="line line-3" d="M5 13 L10 18 L19 6"></path>
      </svg>
    </span>
  </button>
</div>