<div class="v-w-c v-w-c--2">
  <div class="v-c">
    <div class="v-g v-g--ab-c">
      <div class="v-g__c">
        <div class="v-adv v-adv--cnt">
          <div class="v-adv__c">
            <div class="v-style-guide"><span>OUTBRAIN</span></div>
          </div>
        </div>
      </div>
      <div class="v-g__c v-adv-s">
        <div class="v-adv v-adv--rbp">
          <div class="v-adv__c">
            <div class="v-style-guide"><span>robapáginas</span></div>
          </div>
        </div>
        <div class="v-adv v-adv--ntv v-adv--stk">
          <div class="v-adv__c">
            <div class="v-style-guide"><span>boton_native</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="v-c">
    <div class="v-c-dwc">
      <div class="v-dwc v-dwc-t v-dwc-t--4">
        <div class="v-r v-r-bdr-v-md v-r-bdr-v-tl v-r-bdr-h-ts v-r-bdr-h-xs">
          <div class="v-r__c v-r__c--1 v-r-c-md-8 v-r-c-tl-6 v-r-c-ts-12">
            <div class="v-r-s v-r-s-md-2 v-r-s-sm-2 v-r-s-xs-2 v-r-bdr-v-md v-r-bdr-v-sm">
              <div class="v-r-s__c v-r-s__c--1">
                <article class="v-a v-a--n v-a--n4c v-a--n4c-2 v-a--p-t v-a--v-m">
                  <div class="v-a-img-c">
                    <figure class="v-a-fig"><a href="#" class="v-a-lnk" title="[TEXTO ANCHOR TEXT]"><img class="v-a-img"
                          loading="lazy" src="https://picsum.photos/748/523" alt="[ALTERNATIVE TEXT]"></a>
                      <figcaption class="v-fc"><span class="v-fc__t">La presidenta del Congreso.</span><span
                          class="v-fc__p">(Jaime García)</span></figcaption>
                    </figure>
                  </div>
                  <div class="v-a-inf-c">
                    <p class="v-a-p-t"><a href="#" title="[TEXTO ANCHOR TEXT]"><span
                          class="v-a-p-t__p">Finanzas</span></a></p>
                    <p class="v-a-t"><a href="#" title="[TEXTO ANCHOR TEXT]">Comprar criptomonedas a crédito, la última
                        práctica para invertir en este mercado</a></p>
                    <div class="v-op">
                      <div class="v-op__c"><span class="v-op__t">Rosalía Sanchez</span></div>
                    </div>
                  </div>
                </article>
              </div>
              <div class="v-r-s__c v-r-s__c--2">
                <article class="v-a v-a--n v-a--n4c v-a--n4c-3 v-a--n4c-x v-a--v-m">
                  <div class="v-a-inf-c">
                    <p class="v-a-p-t"><a href="#" title="[TEXTO ANCHOR TEXT]"><span
                          class="v-a-p-t__p">Finanzas</span></a></p>
                    <p class="v-a-t"><a href="#" title="[TEXTO ANCHOR TEXT]">Comprar criptomonedas a crédito, la última
                        práctica para invertir en este mercado</a></p>
                    <p class="v-a-s-t">La Comisón advierte en sus alegaciones al TJUE de que el perdón va contra el
                      Estado de Derecho</p>
                    <div class="v-op">
                      <div class="v-op__c"><span class="v-op__t">Rosalía Sanchez</span></div>
                    </div>
                    <div class="v-prp">
                      <ul class="v-prp__u">
                        <li class="v-prp__l">
                          <h3 class="v-prp__t"><a class="v-prp__a" href="#" title="[TEXTO ANCHOR TEXT]">La juez de
                              Badajoz califica la «maniobra» de aforamiento de Miguel Ángel Gallardo de «fraude de
                              ley»</a></h3>
                        </li>
                      </ul>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
          <div class="v-r__c v-r__c--1 v-r-c-md-8 v-r-c-tl-6 v-r-c-ts-12">
            <div class="v-r-s v-r-s-md-2 v-r-s-sm-2 v-r-s-xs-2 v-r-bdr-v-md v-r-bdr-v-sm">
              <div class="v-r-s__c v-r-s__c--3">
                <article class="v-a v-a--n v-a--n4c v-a--n4c-2 v-a--p-t v-a--v-m">
                  <div class="v-a-img-c">
                    <figure class="v-a-fig"><a href="#" class="v-a-lnk" title="[TEXTO ANCHOR TEXT]"><img class="v-a-img"
                          loading="lazy" src="https://picsum.photos/748/523" alt="[ALTERNATIVE TEXT]"></a>
                      <figcaption class="v-fc"><span class="v-fc__t">La presidenta del Congreso.</span><span
                          class="v-fc__p">(Jaime García)</span></figcaption>
                    </figure>
                  </div>
                  <div class="v-a-inf-c">
                    <p class="v-a-p-t"><a href="#" title="[TEXTO ANCHOR TEXT]"><span
                          class="v-a-p-t__p">Bienestar</span></a></p>
                    <p class="v-a-t"><a href="#" title="[TEXTO ANCHOR TEXT]">Trump enviará ciudadanos europeos detenidos
                        a la base de Guantánamo</a></p>
                    <div class="v-op">
                      <div class="v-op__c"><span class="v-op__t">Rosalía Sanchez</span></div>
                    </div>
                  </div>
                </article>
              </div>
              <div class="v-r-s__c v-r-s__c--4">
                <div class="v-c-mdl">
                  <div class="v-mdl-bsn">
                    <article class="v-a v-a--n v-a--n4c v-a--n4c-2 v-a--p-t v-a--v-m">
                      <div class="v-a-img-c">
                        <figure class="v-a-fig"><a href="#" class="v-a-lnk" title="[TEXTO ANCHOR TEXT]"><img
                              class="v-a-img" loading="lazy" src="https://picsum.photos/748/523"
                              alt="[ALTERNATIVE TEXT]"></a></figure>
                      </div>
                      <div class="v-a-inf-c">
                        <p class="v-a-p-t"><a href="#" title="[TEXTO ANCHOR TEXT]"><span
                              class="v-a-p-t__p">Ofertas</span></a></p>
                        <p class="v-a-t"><a href="#" title="[TEXTO ANCHOR TEXT]">Las mejores ofertas en teatros de
                            Madrid</a></p>
                        <div class="v-log"><a href="#" class="v-log__a" title="[TEXTO ANCHOR TEXT]"><img
                              class="v-log__i" src="https://picsum.photos/112/30" alt="[ALTERNATIVE TEXT]"></a></div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="v-adv v-adv--mft">
    <div class="v-adv__c v-c">
      <div class="v-style-guide"><span>megabanner_tres</span></div>
    </div>
  </div>
</div>