<span class="paywall">
  {{> layout/article-paywall-content }}

  {{> components/credits }}
</span>

<section class="voc-btn__container voc-btn__container--s-between">
  {{!-- Note: Boton Reportar un error --}}
  {{ components/btn-report-error }}
</section>