<div class="img-txt-g">
  <figure class="img-txt-g__f">
    <img src="assets/images/image1.png" alt="">
  </figure>

  <div class="img-txt-g__c">
    <span class="img-txt-g__t"><b>Antonio Fofirca</b><br>Hay un diamante en Carabanchel</span>

    <p class="voc-p voc-p--1">Dicen que algunas personas nacen para bailar bajo la tormenta. Antonio Fofirca, en cambio, nació para controlarla. A sus 22 años, este madrileño de origen rumano camina por el mundo con una sonrisa tranquila y los puños listos, incluso en ocasiones cerrados, como si cada paso por el caminar de la vida fuese un equilibrio entre la paz y el combate. En el gimnasio The Black Panther, donde vive –literalmente– mientras se prepara para el gran evento WOW 25 el 13 de diciembre en el Madrid Arena, su presencia es un contraste: entrena como un depredador, pero habla como un amigo, su sonrisa transmite cercanía y algún chiste todavía no lanzado.</p>

    <div class="voc-img-container voc-img-container--1">
      <figure class="voc-img-figure voc-img-figure--v">
        <img src="assets/images/img-1.jpg" alt="" class="voc-img">
        <figcaption class="voc-figcaption-container">
          <span class="voc-figcaption voc-figcaption--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac mattis magna. Aliquam scelerisque dapibus neque eu scelerisque. Fusce sit amet finibus purus. Mauris mattis massa nunc.</span>
        </figcaption>
      </figure>

      <figure class="voc-img-figure voc-img-figure--h">
        <img src="assets/images/img-2.jpg" alt="" class="voc-img">
        <figcaption class="voc-figcaption-container">
          <span class="voc-figcaption voc-figcaption--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac mattis magna. Aliquam scelerisque dapibus neque eu scelerisque. Fusce sit amet finibus purus. Mauris mattis massa nunc.</span>
        </figcaption>
      </figure>

      <figure class="voc-img-figure voc-img-figure--h">
        <img src="assets/images/img-3.jpg" alt="" class="voc-img">
        <figcaption class="voc-figcaption-container">
          <span class="voc-figcaption voc-figcaption--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac mattis magna. Aliquam scelerisque dapibus neque eu scelerisque. Fusce sit amet finibus purus. Mauris mattis massa nunc.</span>
        </figcaption>
      </figure>
    </div>

    <p class="voc-p voc-p--2">Fofirca no quiere perder el tiempo, por eso durante el 'training camp' abandona su Alcalá de Henares natal para residir en un colchón sobre la buhardilla del club radicado en Carabanchel. Entrenar, comer, dormir y repetir. No apunta otra fórmula: la rutina es monástica. Este luchador aprendió a servir en 'su Alcalá', en el bar de su familia, que fue como su universidad de la vida, donde atendía mesas o recogía platos; así desarrolló una mirada humana y el sentido de la responsabilidad que lleva grabado en morse en cada decibelio que desprenden los castañazos sobre el saco y que le acompaña en cada incursión al octágono. Una disciplina aprendida entre cafés y cucharillas, pero pulida a base de sangre, sudor, lágrimas, golpes y sumisiones.</p>

    <p class="voc-p voc-p--3">Pero lo que Fofirca no hace es ser servil con sus rivales: ha sido dos veces campeón de España de artes marciales mixtas en su etapa amateur y ahora su apodo, El Diamante, refleja las expectativas que genera sobre el panorama nacional de esta disciplina, donde busca su tercera victoria profesional, tratando de mantener su récord invicto. Pero lo fascinante de Antonio no son las estadísticas: es su manera de estar. Sus amigos lo llaman cuando hay conflictos, no para ganar peleas, sino para evitarlas. Cuando suba a la jaula del Madrid Arena, no representará solo su nombre: llevará el ruido del bar familiar al amanecer, las calles de Alcalá de Henares, la herencia rumana y la calma de quien sabe que la agresividad, si se entiende bien, también puede ser un camino hacia la paz. Antonio Fofirca no pelea para destruir, lo hace para demostrar que incluso el corazón más sereno puede aprender a rugir. Y, dicho sea de paso, para tratar de ser un futuro campeón de la UFC.</p>

    <div class="voc-img-container voc-img-container--2 voc-img-container--v">
      <figure class="voc-img-figure voc-img-figure--v">
        <img src="assets/images/img-4.jpg" alt="" class="voc-img">
        <figcaption class="voc-figcaption-container">
          <span class="voc-figcaption voc-figcaption--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac mattis magna. Aliquam scelerisque dapibus neque eu scelerisque. Fusce sit amet finibus purus. Mauris mattis massa nunc.</span>
        </figcaption>
      </figure>
    </div>

    <div class="voc-img-container voc-img-container--3 voc-img-container--h">
      <figure class="voc-img-figure voc-img-figure--h">
        <img src="assets/images/img-5.jpg" alt="" class="voc-img">
        <figcaption class="voc-figcaption-container">
          <span class="voc-figcaption voc-figcaption--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac mattis magna. Aliquam scelerisque dapibus neque eu scelerisque. Fusce sit amet finibus purus. Mauris mattis massa nunc.</span>
        </figcaption>
      </figure>
    </div>
  </div>

</div>