<div class="v-w-c v-w-c--2">
  <div class="v-c">
    <div class="v-g v-g--ab-c">
      <div class="v-g__c">
        <div class="v-adv v-adv--cnt">
          <div class="v-adv__c">
            <div class="v-style-guide"><span>OUTBRAIN</span></div>
          </div>
        </div>
      </div>
      <div class="v-g__c v-adv-s">
        <div class="v-adv v-adv--rbp">
          <div class="v-adv__c">
            <div class="v-style-guide"><span>robapáginas</span></div>
          </div>
        </div>
        <div class="v-adv v-adv--ntv v-adv--stk">
          <div class="v-adv__c">
            <div class="v-style-guide"><span>boton_native</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="v-adv v-adv--mft">
    <div class="v-adv__c v-c">
      <div class="v-style-guide"><span>megabanner_tres</span></div>
    </div>
  </div>
</div>