<div class="v-ath__w v-ath__w--2">
  <figure class="v-ath__f">
    <img class="v-ath__i" loading="lazy" src="https://s1.abcstatics.com/comun/2015/img/autor/autor-1616-foto-10.jpeg?width=90" alt="Elena Calvo">
  </figure>
  <div class="v-ath__g">
    <p class="v-ath__p v-ath__p--1">
      <a href="https://www.abc.es/autor/elena-calvo-1616/" title="Elena Calvo" data-mrf-link="https://www.abc.es/autor/elena-calvo-1616/" cmp-ltrk="Autor" cmp-ltrk-idx="0" mrfobservableid="341ee53b-4400-4964-855c-f1a4a33d45dc">Elena Calvo <span class="v-b-i">
          <svg viewBox="0 0 14 24">
            <use href="#icon-author"></use>
          </svg>
        </span>
      </a>
    </p>
    <p class="v-ath__p v-ath__p--2"></p>
  </div>
  <time class="v-ath__p v-ath__p--3" datetime="2026-02-26T19:34:28Z">26/02/2026 <span>Actualizado a las 20:34h.</span>
  </time>
  <button class="v-ath__b v-ath__b--4 v-btn v-btn-i v-btn-i--l v-btn--s" snackbartarget="msg-2" data-voc-vtm-id="btn-seguirautor" data-voc-vtm-info="elena-calvo" data-voc-follow-author-id="1616" data-voc-follow-author-name="elena-calvo" data-voc-get-data-for-snack-bar-vtm-info="seguir-autor-elena-calvo" data-voc-follow-author="" aria-label="Seguir autor">
    <span class="v-i">
      <svg viewBox="0 0 24 24">
        <line class="line line-1" x1="12" y1="2" x2="12" y2="22"></line>
        <line class="line line-2" x1="2" y1="12" x2="22" y2="12"></line>
        <path class="line line-3" d="M5 13 L10 18 L19 6"></path>
      </svg>
    </span>
  </button>
</div>