<p class="v-d-p">Son ultras, de extrema derecha, pero también de extrema izquierda, y a pesar de eso sus odios y alianzas no responden siempre a unas ideas políticas. Utilizan el fútbol para dar salida a su violencia ciega.</p>
<p class="v-d-p">Proliferan en casi todos los estadios, sobre todo de Primera y Segunda División -el Villarreal es la excepción-, pero también en divisiones inferiores, y suponen un problema de primer orden para la Policía; más concretamente para los especialistas de la Comisaría General y brigadas provinciales de Información, que son los que intentan poner coto a sus desmanes, a veces sin toda la colaboración deseable de la administración y del propio sistema judicial. Pero no desisten. No pueden hacerlo, porque hay vidas en juego, como ya se ha visto en varias ocasiones.</p>

<div class="v-c-cmp">
  {{> includes/map-popover }}
</div>

<p class="v-d-p">Aitor Zabaleta era hincha de la Real Sociedad y el 8 de diciembre de 1998 encontró la muerte delante del Vicente Calderón, donde iba a asistir a un partido entre su equipo y el Atlético de Madrid, el de vuelta de una eliminatoria copera. Ricardo Guerra, miembro de Bastón, escisión aún más violenta que el Frente Atlético, de corte neonazi, le asestó una certera cuchillada que le alcanzó el corazón y que acabó con su vida en pocos segundos.</p>
<p class="v-d-p">La novia de Aitor lo vio todo, sin poder hacer nada. En el encuentro de ida, en San Sebastián, el autobús de Bastión había sido apedreado por ultras donostiarras. Como sucede casi siempre, la violencia generó más violencia.</p>
<p class="v-d-p">El 30 de noviembre de 2014 Francisco Javier Romero Taboada, hincha del Dépor, murió ahogado en el río Manzanares, a poca distancia del Vicente Calderón, durante una mañana de algaradas entre su grupo ultra, los Riazor Blues, y el Frente Atlético. Los aficionados más violentos de los dos equipos mantienen una rivalidad extrema y ese episodio fue la muestra más brutal de ella.</p>

{{> kraken-components/combo-3 }}

<p class="v-d-p">«Sí, esos casos están en el imaginario y removieron conciencias, pero lo cierto es que episodios similares se pueden producir cada fin de semana sin que la sociedad ni siquiera se lo plantee. Todos, absolutamente todos los sábados y domingos -entre semana también si hay partido-, se producen incidentes graves, cada vez más violentos». De los últimos, por ejemplo, los sucesos de la semana pasada, el 26 de febrero, en la grada del Sadar, después de un partido de Liga entre el Osasuna y el Real Madrid.</p>
<p class="v-d-p">Al finalizar el encuentro, la Policía tuvo que cargar con contundencia dentro del estadio por unos incidentes desatados cuando los vigilantes de seguridad identificaban a un individuo que había lanzado una botella al campo. El lugar donde se produjo la refriega, en la zona del Graderío Sur, complicó mucho el trabajo de los agentes. Hubo heridos y detenidos.</p>
<p class="v-d-p">Ni siquiera es determinante la importancia del evento deportivo concreto. El verano pasado, por ejemplo, un chaval de Gandía resultó herido muy grave por la brutal paliza que le propinaron los Biris, la peña ultra del Sevilla, y eso que el partido que ambos equipos jugaban era un amistoso de pretemporada, sin nada en juego.</p>

<div class="v-c-cmp">
  {{> includes/parallax }}
</div>

<p class="v-d-p">La enumeración de casos graves sería interminable. Las cifras empiezan a ser muy llamativas. En la temporada pasada hubo 66 incidentes y 199 detenidos, según la estadística registrada por la Policía Nacional. En los primeros cinco meses de la actual ya van 61, y 165 detenidos -sin duda los datos habrán aumentado cuando se publican estas líneas-, así que la tendencia al alza es más que evidente.</p>
<p class="v-d-p">«Cada fin de semana hay broncas; los agentes de Información, junto con las unidades de intervención y las de seguridad ciudadana montan dispositivos de prevención con grandes resultados, pero es complicado impedir al cien por cien todos los incidentes», explican las fuentes policiales consultadas por ABC. «Se dan situaciones de peligro extremo; muchas veces la propia Policía se extraña de que no haya consecuencias más graves», añaden.</p>

<div class="v-c-cmp">
  {{> includes/sumario 
      cifra="364"
      cifraTxt="detenidos"
      txt="En operaciones policiales desde el comienzo de la temporada 2024-25 hasta este enero de este año"
  }}
</div>

<p class="v-d-p">Para ser eficaces en combatir este ámbito criminal el trabajo policial tiene que estar acompañado por una respuesta administrativa y judicial potente, lo que no siempre sucede. «Lo más eficaz, cuando se trata de incidentes sin graves consecuencias, es el alejamiento, que está previsto en la Ley del Deporte», explican las fuentes policiales. Si no se cumple, el infractor comete un delito de quebrantamiento de condena, que lleva aparejada una multa de entre 60.000 a 300.000 euros, por lo que nadie se arriesga a ese castigo.</p>
<p class="v-d-p">Sin embargo, eso es sobre el papel, porque las delegaciones del Gobierno, en el día a día, actúan en función de quién está involucrado, las características de un grupo determinado, si la sanción a imponer va a ser más o menos popular... Que prosperen las propuestas se convierte así en una especie de lotería, aunque también es verdad que en no pocas ocasiones los asuntos caducan porque las delegaciones no llegan a todo.</p>

<div class="v-c-cmp">
  {{> includes/animacion-01}}
</div>

<p class="v-d-p">La vía penal es, probablemente, salvo en delitos muy graves, menos eficaz. La multa que se impone es de 400 euros y se acusa de riña tumultuaria. Pero tiene un problema: si no hay lesiones graves y no se denuncia, el delito no existe. «Y por supuesto, nunca se denuncian, lo que deja abierta la puerta a la venganza, que siempre será más violenta», explican las fuentes. «Salvo que haya asociado a la riña otro delito como daños, o desórdenes, la Policía no puede hacer nada», añaden.</p>
<p class="v-d-p">Los grupos están formados por individuos de entre 16 y 30 años, mayoritariamente varones muy radicalizados -las pocas mujeres que hay no participan en los incidentes-, y multirreincidentes. Los mayores son los que dirigen las operaciones, y si alguien quiere entrar en el grupo tiene que conocer a alguien que dé razón de él y ganarse la confianza del resto.</p>
<p class="v-d-p">En cuanto al nivel educativo de los integrantes, los hay hasta universitarios. Una parte importante tiene antecedentes policiales por desórdenes, violencia doméstica, atentado a la autoridad y cada peña ultra tiene un bar o centro de referencia.</p>

<div class="v-c-cmp v-c-cmp--l">
  {{> includes/red-relations }}
</div>

<p class="v-d-p">«Pero no todo lo que hay detrás de una pancarta es violento; los que sí lo son saben a quien utilizar», precisan las fuentes. Por supuesto, la Policía los conoce muy bien, ellos lo saben y toman medidas de seguridad de todo tipo. Alguno lleva armas blancas y lo normal es que intenten sorprender al grupo rival cuando están en superioridad numérica y fuertemente armados. Se autofinancian, a veces con merchandising y trapicheo de drogas, y no se sabe si alguno de ellos recibe dinero o ayudas de su club.</p>
<p class="v-d-p">Hay otra modalidad, ya implantada en España, en la que los grupos ultras quedan en un punto concreto para pelearse, pero de forma más 'civilizada', con reglas. Es lo que se conocen como 'Drakkas', un formato de pelea cuerpo a cuerpo, con un número acordado de miembros de cada grupo y en el que se prohíbe el uso de armas blancas o golpear al rival cuando está en el suelo.Por ejemplo hubo una, muy conocida, entre hinchas de Feyenoord con el Frente Atlético que perdió éste.</p>

<div class="v-c-cmp">
  {{> includes/animacion-02}}
</div>

<p class="v-d-p">La lista de grupos ultra es larga, pero si hubiera que hacer una clasificación entre los más peligrosos estarían el Frente Atlético, los Biris, Supporters Gol Sur, Bukaneros o United Family, entre otros. Después de la pandemia se produjo la eclosión del fenómeno en todo el territorio nacional y nuestra realidad es similar a la que hay en cualquier país de la Unión Europea, aunque es en Italia donde la situación es más preocupante.</p>
<p class="v-d-p">«La gravedad de los incidentes va en aumento» insisten las fuentes consultadas, que recuerdan, por ejemplo, los incidentes a las puertas del Estadio de Vallecas, entre los Bukaneros del Rayo Vallecano y un grupo ultra del equipo polaco Lech Poznan. «Ahora se pegan en medio de lanzamientos de pirotecnia y eso produce una sensación de estar en medio de una guerra. Es muy, muy peligroso, pero es que lo mismo sucedió hace poco en un Sevilla-Betis».</p>

<div class="v-c-cmp">
  {{> includes/sumario 
      txt="Ahora en las peleas entre radicales se utiliza también material pirotécnico: «Es como estar dentro de una guerra»"
  }}
</div>

<p class="v-d-p">Utilizan las redes sociales, donde son muy activos, para grabar sus acciones y les encanta dar publicidad de sus 'hazañas' porque les hace sentirse más fuertes, aunque por supuesto pixelan sus rostros para evitar ser identificados por la Policía. Las 'quedadas', obviamente, se hacen en foros restringidos.</p>
<p class="v-d-p">Los ultras son asiduos a los gimnasios y practican artes marciales, viajan por toda España, incluso cuando su equipo no juega, porque para ellos es más importante la violencia que su pasión por el fútbol. En ocasiones, dos de ellos se alían contra un tercero y si la mañana del partido son detectados por las Fuerzas de Seguridad se marchan a sus ciudades porque no van a poder cumplir sus objetivos.</p>
<p class="v-d-p">Eso sí; todos tienen un elemento común, sean del grupo que sean: el odio a la Policía, que es la que les impide campar a sus anchas y organizar algaradas que por su violencia y fanatismo recuerdan a la felizmente superada kale borroka proetarra. De hecho, un ertzaina murió de un infarto en febrero de 2018 tras los enfrentamientos entre radicales del Athletic de Bilbao y el Spartak de Moscú. Ahora hay muchas posibilidades de que un hecho similar se vuelva a producir.</p>