<div class="v-ath__w v-ath__w--2">
  <div class="v-ath__g">
    <p class="v-ath__p v-ath__p--1">
      <a href="https://www.abc.es/autor/ana-i-martinez-1384/" title="Ana I. Martínez"
        data-mrf-link="https://www.abc.es/autor/ana-i-martinez-1384/" cmp-ltrk="Autor" cmp-ltrk-idx="0"
        mrfobservableid="81f0fb28-dc5c-4d7c-9d8f-8bf6f485395a">
        Ana I. Martínez</a> y
      <a href="https://www.abc.es/autor/hugo-garrido-7467/" title="Hugo Garrido"
        data-mrf-link="https://www.abc.es/autor/hugo-garrido-7467/" cmp-ltrk="Autor" cmp-ltrk-idx="1"
        mrfobservableid="e6a35d7f-e69a-4bf5-a072-927dc8f0799e">
        Hugo Garrido</a>
    </p>
    <p class="v-ath__p v-ath__p--2">
    </p>
  </div>
  <time class="v-ath__p v-ath__p--3" datetime="2026-04-26T07:18:34Z">
    24/04/2026
    <span>
      Actualizado 26/04/2026 - 09:18h.
    </span>
  </time>
</div>