<p class="v-d-p" style="">«En el actual escenario las tensiones se mantienen, Irán no puede volver a la normalidad, las
  sanciones económicas permanecen y continúa el bloqueo de todos sus activos — prosigue— . Este limbo es complicado
  porque conforme vaya pasando el tiempo, más insostenible va a ser para ellos».</p>
<div class="v-c-cmp">
  <div class="v-n-img-det v-n-img-det--no-det">
    <div class="v-a-img-c v-a-img-c--fw-xs">
      <figure class="v-a-fig">
        <div class="v-a-lnk">
          <img class="v-a-img" loading="lazy"
            src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/26/anunciosmasvistoregimenirani/images/mural-mano.webp"
            aria-hidden="true">
        </div>
        <figcaption class="v-fc">
          <span class="v-fc__t">Cartel en la fachada de un edificio en la plaza de Vanak. En letras grandes, ‘Para
            siempre en manos de Irán’. En el cuadro inferior: ‘Trump no pudo hacer nada. El control del Estrecho de
            Ormuz estará en manos de Irán’.</span>
          <span class="v-fc__p">Abeidin Taherkenareh (EFE)</span>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
<p class="v-d-p" style="">El análisis anterior en nada coincide con lo que Teherán transmite a sus ciudadanos y al
  mundo. Desde hace unas semanas, en la plaza Vanak de Teherán, cuelga una gran pancarta propagandística muy
  significativa.</p>
<p class="v-d-p" style="">En ella se aprecia cómo una mano con el puño cerrado agarra con fuerza una tela azul que
  simula el mar con varios barcos dibujados. Los navíos no pueden avanzar porque el puño se lo impide. 'Siempre en manos
  de Irán', reza la gran lona en referencia al estrecho de Ormuz. Con esta imagen, el Gobierno iraní pretende lanzar un
  mensaje muy claro a EE.UU. e Israel.</p>
<div class="v-c-cmp">
  <div class="v-n-img-det v-n-img-det--no-det">
    <div class="v-a-img-c v-a-img-c--fw-xs">
      <figure class="v-a-fig">
        <div class="v-a-lnk">
          <img class="v-a-img" loading="lazy"
            src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/26/anunciosmasvistoregimenirani/images/mural-redes.webp"
            aria-hidden="true">
        </div>
        <figcaption class="v-fc">
          <span class="v-fc__t">‘El estrecho de Ormuz permanecerá cerrado’, reza esta lona en la plaza de la Revolución
            donde tres hombres con uniforme de la Guardia Revolucionaria han capturado un dron de EE.UU., cazas de
            combate y helicópteros de ataque.</span>
          <span class="v-fc__p">Atta Kenare (AFP)</span>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
<p class="v-d-p" style="">También reciente es otra gran pancarta situada en la plaza Enghelab de la capital. En ella las
  fuerzas armadas iraníes, con el mar de fondo, sostienen en sus manos una red de pescadores en la que no hay peces: han
  capturado barcos y aviones estadounidenses. 'Todo el Golfo Pérsico es nuestro coto de caza', dice.</p>
<p class="v-d-p" style="">Otra representación popular es «la valla publicitaria en la plaza Enghelab (plaza de la
  Revolución), con una bandera estadounidense en la que se representan a portaaviones de EE.UU bajo un bombardeo con el
  lema «Si siembras vientos, recoges tempestades'», añade Paolo Cossarini, profesor del Grado en Ciencias Políticas y
  Gestión Pública de la Universidad Internacional de La Rioja (UNIR).</p>
<p class="v-d-p" style="">«También en la plaza Valiasr hay una representación de misiles contra Israel y con el lema en
  hebreo 'Preparad vuestros ataúdes'».</p>
<div class="v-c-cmp">
  <div class="v-n-img-det v-n-img-det--no-det">
    <div class="v-a-img-c v-a-img-c--fw-xs">
      <figure class="v-a-fig">
        <div class="v-a-lnk">
          <img class="v-a-img" loading="lazy"
            src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/26/anunciosmasvistoregimenirani/images/mural-portaviones.webp"
            aria-hidden="true">
        </div>
        <figcaption class="v-fc">
          <span class="v-fc__t">Dos mujeres pasean por la plaza de la Revolución (Plaza Enqelab). Al fondo, una lona de
            un portaviones en el que los impactos de bombardeos y la estela blanca y ensangrentada del agua forman la
            bandera de EE.UU.</span>
          <span class="v-fc__p">Atta Kenare (AFP)</span>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
<p class="v-d-p" style="">Este tipo de acciones no son nuevas. Lo novedoso es la celeridad con la que están cambiando
  los murales, una narración casi en tiempo real de lo que está sucediendo en esta guerra, siempre desde el punto de
  vista del régimen de los ayatolás.</p>
<p class="v-d-p" style="">«Es una propaganda totalmente desmesurada porque no guarda mucha relación con la realidad
  sobre el campo de batalla», apunta Gil Guerrero.</p>
<div class="v-c-cmp">
  <h4 class="dw-t">Localizaciones más relevantes de murales en Teherán</h4>
  <p class="dw-s">Pulsa sobre los puntos para ver más información</p>
</div>
<div class="v-c-cmp">
  <div>
    <iframe title="Las localizaciones de los murales más relevantes" aria-label="Mapas de ubicación"
      id="datawrapper-chart-ooci1" src="https://datawrapper.dwcdn.net/ooci1/4/" scrolling="no" frameborder="0"
      style="width:0;border-width:medium;border-style:none;border-color:currentcolor;border-image:initial;min-width:100%!important;height:642px"
      height="660" data-external="1"></iframe>
  </div>
  <script>
    window.addEventListener("message", function (a) {
      if (void 0 !== a.data["datawrapper-height"]) {
        var e = document.querySelectorAll("iframe");
        for (var t in a.data["datawrapper-height"])
          for (var r, i = 0; r = e[i]; i++)
            if (r.contentWindow === a.source) {
              var d = a.data["datawrapper-height"][t] + "px";
              r.style.height = d
            }
      }
    })
  </script>
</div>
<p class="v-d-p" style="">«Cualquier persona que haya viajado a Irán en los últimos 47 años sabe que estas grandes lonas
  han estado omnipresentes», recuerda el docente de la Universidad de Navarra.</p>
<p class="v-d-p" style="">«La tónica siempre es la misma: mensajes antiamericanos, antiisraelí, crítica al consumismo,
  al capitalismo de los Estados Unidos, describen a Israel como una especie de cáncer gigantesco que oprime a los
  musulmanes…».</p>
<p class="v-d-p" style="">No sólo estas grandes lonas contra EE.UU. e Israel o exaltando al nuevo líder supremo de Irán,
  Mojtaba Khamenei, e incluso a sus predecesores, son protagonistas en el país. A ellas se les unen acciones
  propagandísticas en redes sociales y los murales que salpican la geografía de esta república.</p>
<div class="v-c-cmp">
  <div class="v-n-cmp-suh">
    <h3>La tradición del muralismo iraní</h3>
  </div>
</div>
<p class="v-d-p" style="">«El muralismo o la utilización del espacio público con fines ideológicos en realidad comienza
  antes de la revolución pero con ella explota y se vuelve viral», explica a ABC Raffaele Mauriello, profesor de la
  facultad de Literatura Persa y Lenguas Extranjeras en la Universidad Allameh Tabataba'i de Teherán.</p>
<p class="v-d-p" style="">Las paredes de las calles de Teherán, así como de otras grandes ciudades, reflejan las luchas
  ideológicas y propaganda política desde hace varias décadas.</p>
<div class="v-c-cmp v-n-mrg">
  <h3 class="v-cmp-suh">Murales en la antigua embajada de EE.UU.</h3>
</div>
<div class="v-c-cmp v-c-cmp--l">
  <div class="v-cmp-gli v-x-c" data-voc-component="gallery">
    <button class="v-x" data-voc-component="close">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          d="M12.0006 13.0635L8.75438 16.3095C8.60954 16.4545 8.43396 16.5254 8.22763 16.522C8.02113 16.5189 7.84546 16.4449 7.70063 16.3C7.55579 16.1552 7.48338 15.978 7.48338 15.7683C7.48338 15.5586 7.55579 15.3814 7.70063 15.2365L10.9371 12L7.69113 8.7788C7.54613 8.63396 7.47529 8.45671 7.47863 8.24705C7.48179 8.03755 7.55579 7.86038 7.70063 7.71555C7.84546 7.57055 8.02271 7.49805 8.23238 7.49805C8.44204 7.49805 8.6193 7.57055 8.76413 7.71555L12.0006 10.9615L15.2219 7.71555C15.3667 7.57055 15.5423 7.49805 15.7486 7.49805C15.9551 7.49805 16.1308 7.57055 16.2756 7.71555C16.4308 7.87055 16.5084 8.0503 16.5084 8.2548C16.5084 8.4593 16.4308 8.63396 16.2756 8.7788L13.0391 12L16.2851 15.2463C16.4301 15.3911 16.5026 15.5667 16.5026 15.773C16.5026 15.9795 16.4301 16.1552 16.2851 16.3C16.1301 16.4552 15.9504 16.5328 15.7459 16.5328C15.5414 16.5328 15.3667 16.4552 15.2219 16.3L12.0006 13.0635Z">
        </path>
      </svg>
    </button>
    <div class="v-sld v-sld--s1 v-sld--l1 not-touch is-sld" data-voc-component="slider">
      <div class="v-sld__c">
        <div class="v-sld__w">
          <ul class="v-sld__g" style="transition:transform .5s ease-in-out;transform:translateX(-100%)">
            <div class="v-sld__s">
              <div class="v-a v-a--cmp-gli">
                <div class="v-a-img-c">
                  <figure class="v-a-fig">
                    <button class="v-a-lnk">
                      <img loading="lazy"
                        src="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/04/26/7.1510501102-abril%202024.jpg"
                        class="v-a-img" width="964" height="675" alt="Imagen de Galeria ">
                    </button>
                    <figcaption class="v-fc">
                      <span class="v-fc__t">Mural que representa una manifestación de exaltación del líder supremo. En
                        los carteles se pide «Muerte a América» y las mujeres dan su «vida por el líder». .</span>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div class="v-sld__s is-active">
              <div class="v-a v-a--cmp-gli">
                <div class="v-a-img-c">
                  <figure class="v-a-fig">
                    <button class="v-a-lnk">
                      <img loading="lazy"
                        src="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/04/26/1.1510504688.jpg"
                        class="v-a-img" width="964" height="675" alt="Imagen de Galeria ">
                    </button>
                    <figcaption class="v-fc">
                      <span class="v-fc__t">Una mujer camina frente a un mural contra Israel en la fachada del reciento
                        que en su día albergó la embajada de EE.UU. en Teherán.</span>
                      <span class="v-fc__p">(AFP)</span>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div class="v-sld__s">
              <div class="v-a v-a--cmp-gli">
                <div class="v-a-img-c">
                  <figure class="v-a-fig">
                    <button class="v-a-lnk">
                      <img loading="lazy"
                        src="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/04/26/2.1510413896.jpg"
                        class="v-a-img" width="964" height="675" alt="Imagen de Galeria ">
                    </button>
                    <figcaption class="v-fc">
                      <span class="v-fc__t">Mural contra EEUU en una de las paredes de la antigua embajada de EE.UU. en
                        Teherán.</span>
                      <span class="v-fc__p">(Majid Asgaripour (WANA/Reuters))</span>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div class="v-sld__s">
              <div class="v-a v-a--cmp-gli">
                <div class="v-a-img-c">
                  <figure class="v-a-fig">
                    <button class="v-a-lnk">
                      <img loading="lazy"
                        src="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/04/26/3.1510399631.jpg"
                        class="v-a-img" width="964" height="675" alt="Imagen de Galeria ">
                    </button>
                    <figcaption class="v-fc">
                      <span class="v-fc__t">Pintada de un portaviones estadonunidense atacado por misiles con los
                        colores de la bandera de Irán.</span>
                      <span class="v-fc__p">(Atta Kenare (AFP))</span>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div class="v-sld__s">
              <div class="v-a v-a--cmp-gli">
                <div class="v-a-img-c">
                  <figure class="v-a-fig">
                    <button class="v-a-lnk">
                      <img loading="lazy"
                        src="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/04/26/4.1510501137-suceso%20junio%202019.jpg"
                        class="v-a-img" width="964" height="675" alt="Imagen de Galeria ">
                    </button>
                    <figcaption class="v-fc">
                      <span class="v-fc__t">Pintada de un dron estadounidense modelo Global Hawk, como el derribado por
                        la Guardia Revolucionaria, en junio de 2019, alcanzado por un impacto de artillería .</span>
                      <span class="v-fc__p">(Atta Kenare (AFP))</span>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div class="v-sld__s">
              <div class="v-a v-a--cmp-gli">
                <div class="v-a-img-c">
                  <figure class="v-a-fig">
                    <button class="v-a-lnk">
                      <img loading="lazy"
                        src="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/04/26/7.1510501102-abril%202024.jpg"
                        class="v-a-img" width="964" height="675" alt="Imagen de Galeria ">
                    </button>
                    <figcaption class="v-fc">
                      <span class="v-fc__t">Mural que representa una manifestación de exaltación del líder supremo. En
                        los carteles se pide «Muerte a América» y las mujeres dan su «vida por el líder». .</span>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div class="v-sld__s">
              <div class="v-a v-a--cmp-gli">
                <div class="v-a-img-c">
                  <figure class="v-a-fig">
                    <button class="v-a-lnk">
                      <img loading="lazy"
                        src="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/04/26/1.1510504688.jpg"
                        class="v-a-img" width="964" height="675" alt="Imagen de Galeria ">
                    </button>
                    <figcaption class="v-fc">
                      <span class="v-fc__t">Una mujer camina frente a un mural contra Israel en la fachada del reciento
                        que en su día albergó la embajada de EE.UU. en Teherán.</span>
                      <span class="v-fc__p">(AFP)</span>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </ul>
        </div>
        <div class="v-sld__b-c">
          <button class="v-sld__b v-sld__b--p">
            <svg width="8" height="11" viewBox="0 0 8 11" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.98593 5.65079C0.98593 5.53029 1.00523 5.41809 1.04373 5.31429C1.08203 5.21039 1.14803 5.11169 1.24173 5.01799L5.73597 0.523769C5.87447 0.385439 6.04597 0.312098 6.25047 0.303768C6.45481 0.295438 6.63456 0.368769 6.78972 0.523769C6.93456 0.668769 7.00697 0.844439 7.00697 1.05077C7.00697 1.25711 6.93456 1.43277 6.78972 1.57777L2.73193 5.65079L6.78972 9.72379C6.92822 9.86229 7.00164 10.0338 7.00997 10.2383C7.01831 10.4428 6.94489 10.6226 6.78972 10.7778C6.64489 10.9226 6.46931 10.995 6.26297 10.995C6.05647 10.995 5.88081 10.9226 5.73597 10.7778L1.24173 6.28349C1.14803 6.18989 1.08203 6.09109 1.04373 5.98729C1.00523 5.88339 0.98593 5.77129 0.98593 5.65079Z">
              </path>
            </svg>
          </button>
          <button class="v-sld__b v-sld__b--n">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="24" viewBox="0 0 14 24">
              <path data-name="Unión 31" d="M0,11.991.009,12,0,12.009,11.9,24,14,21.88,4.2,12,14,2.12,11.9,0Z"
                transform="translate(14 24) rotate(180)"></path>
            </svg>
          </button>
        </div>
        <div class="v-sld__d-c">
          <button class="v-sld__d is-active"></button>
          <button class="v-sld__d"></button>
          <button class="v-sld__d"></button>
          <button class="v-sld__d"></button>
          <button class="v-sld__d"></button>
        </div>
      </div>
    </div>
  </div>
</div>
<p class="v-d-p" style="">Así, donde se situaba la antigua embajada de EE.UU. en Teherán, tomada el 4 de noviembre de
  1979 por estudiantes seguidores del fundador de la República Islámica, Ruholá Jomeini, es hoy un museo que refleja la
  hostilidad entre ambos países. Una pintura con la Estatua de la Libertad mutilada no sorprende ya a los iraníes.</p>
<p class="v-d-p" style="">Todas las pinturas «reflejan también los cambios dentro de la ideología o de quien tiene el
  poder en algún momento dentro de la historia de la República Islámica», recuerda Mauriello, por lo que han ido
  evolucionando.</p>
<div class="v-c-cmp">
  <div class="v-n-img-det v-n-img-det--no-det">
    <div class="v-a-img-c v-a-img-c--fw-xs">
      <figure class="v-a-fig">
        <div class="v-a-lnk">
          <img class="v-a-img" loading="lazy"
            src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/26/anunciosmasvistoregimenirani/images/mural-ayatola.webp"
            aria-hidden="true">
        </div>
        <figcaption class="v-fc">
          <span class="v-fc__t">Mural en Teherán del nuevo líder supremo iraní, el ayatollah Mojtaba Khamenei,
            caracterizado como guerrero. En el texto principal: ‘Mojtaba, después de Ali [en referencia a su padre],
            toma la espada en su mano’.</span>
          <span class="v-fc__p">Atta Kenare (AFP)</span>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
<p class="v-d-p" style="">En la misma línea se sitúa Gil Guerrero, quien habla de «una tradición íntimamente ligada a
  este régimen y cuya estética recuerda a los carteles revolucionarios marxistas, comunistas pero con tintes
  islamistas».</p>
<p class="v-d-p" style="">Mauriello recuerda cómo «hubo ocho años de guerra entre Irán e Irak (1980-1988) y medio millón
  de personas fallecidas. Las ciudades estaban llenas de murales gigantes de mártires. Pero esta tendencia fue cambiando
  con el tránsito hacia la fase posrevolucionaria del país».</p>
<p class="v-d-p" style="">«Los murales se hicieron más pequeños. De hecho, ahora la tendencia son fotos pequeñas
  situadas en las esquinas de las calles. Se sigue representando a los mártires. Y lo de las niñas de Minab está dentro
  de este marco».</p>
<div class="v-c-cmp">
  <div class="v-n-cmp-suh">
    <h3>Campaña por la masacre de Minab</h3>
  </div>
</div>
<p class="v-d-p" style="">El historiador y lingüista se refiere al impacto de un misil estadounidense contra una escuela
  de primaria en la localidad iraní de Minab, donde murieron 165 menores.</p>
<p class="v-d-p" style="">Para que nadie se olvide, en la plaza Tajrish de Teherán están las imágenes de algunas de las
  menores asesinadas en el primer día de la ofensiva israelí-estadounidense, el 28 de febrero. En paralelo, en la plaza
  Valiasr se han colocado zapatillas y mochilas de forma simbólica en la calle, en honor a las estudiantes.</p>
<div class="v-c-cmp v-c-cmp--l">
  <div class="v-cmp-cmb">
    <figure class="v-cmp-cmb__f">
      <div class="v-cmp-cmb__c">
        <button class="v-cmp-cmb__b v-cmp-cmb__b--1" popovertarget="zoom-horizontal">
          <img loading="lazy" src="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/04/26/1510497464.jpg"
            class="v-cmp-cmb__i" width="964" height="675"
            alt="Imagen principal - Lego, IA y murales: La propaganda de Irán contra Trump">
        </button>
        <div id="zoom-horizontal" class="v-mdl v-mdl--t5 v-mdl--fw">
          <div class="v-mdl__c">
            <button class="v-x" popovertarget="zoom-horizontal" popovertargetaction="hide">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12.0006 13.0635L8.75438 16.3095C8.60954 16.4545 8.43396 16.5254 8.22763 16.522C8.02113 16.5189 7.84546 16.4449 7.70063 16.3C7.55579 16.1552 7.48338 15.978 7.48338 15.7683C7.48338 15.5586 7.55579 15.3814 7.70063 15.2365L10.9371 12L7.69113 8.7788C7.54613 8.63396 7.47529 8.45671 7.47863 8.24705C7.48179 8.03755 7.55579 7.86038 7.70063 7.71555C7.84546 7.57055 8.02271 7.49805 8.23238 7.49805C8.44204 7.49805 8.6193 7.57055 8.76413 7.71555L12.0006 10.9615L15.2219 7.71555C15.3667 7.57055 15.5423 7.49805 15.7486 7.49805C15.9551 7.49805 16.1308 7.57055 16.2756 7.71555C16.4308 7.87055 16.5084 8.0503 16.5084 8.2548C16.5084 8.4593 16.4308 8.63396 16.2756 8.7788L13.0391 12L16.2851 15.2463C16.4301 15.3911 16.5026 15.5667 16.5026 15.773C16.5026 15.9795 16.4301 16.1552 16.2851 16.3C16.1301 16.4552 15.9504 16.5328 15.7459 16.5328C15.5414 16.5328 15.3667 16.4552 15.2219 16.3L12.0006 13.0635Z">
                </path>
              </svg>
            </button>
            <div class="v-mdl__w">
              <img loading="lazy"
                src="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/04/26/1510497464.jpg"
                class="v-mdl__i" width="964" height="675"
                alt="Imagen principal - Lego, IA y murales: La propaganda de Irán contra Trump">
            </div>
          </div>
        </div>
        <span class="v-bdp"></span>
        <button class="v-cmp-cmb__b v-cmp-cmb__b--2" popovertarget="zoom-horizontal2">
          <img loading="lazy"
            src="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/04/26/mottaki-upi.jpeg"
            class="v-cmp-cmb__i" width="631" height="454"
            alt="Imagen secundaria 1 - Lego, IA y murales: La propaganda de Irán contra Trump">
        </button>
        <div id="zoom-horizontal2" class="v-mdl v-mdl--t5 v-mdl--fw">
          <div class="v-mdl__c">
            <button class="v-x" popovertarget="zoom-horizontal2" popovertargetaction="hide">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12.0006 13.0635L8.75438 16.3095C8.60954 16.4545 8.43396 16.5254 8.22763 16.522C8.02113 16.5189 7.84546 16.4449 7.70063 16.3C7.55579 16.1552 7.48338 15.978 7.48338 15.7683C7.48338 15.5586 7.55579 15.3814 7.70063 15.2365L10.9371 12L7.69113 8.7788C7.54613 8.63396 7.47529 8.45671 7.47863 8.24705C7.48179 8.03755 7.55579 7.86038 7.70063 7.71555C7.84546 7.57055 8.02271 7.49805 8.23238 7.49805C8.44204 7.49805 8.6193 7.57055 8.76413 7.71555L12.0006 10.9615L15.2219 7.71555C15.3667 7.57055 15.5423 7.49805 15.7486 7.49805C15.9551 7.49805 16.1308 7.57055 16.2756 7.71555C16.4308 7.87055 16.5084 8.0503 16.5084 8.2548C16.5084 8.4593 16.4308 8.63396 16.2756 8.7788L13.0391 12L16.2851 15.2463C16.4301 15.3911 16.5026 15.5667 16.5026 15.773C16.5026 15.9795 16.4301 16.1552 16.2851 16.3C16.1301 16.4552 15.9504 16.5328 15.7459 16.5328C15.5414 16.5328 15.3667 16.4552 15.2219 16.3L12.0006 13.0635Z">
                </path>
              </svg>
            </button>
            <div class="v-mdl__w">
              <img loading="lazy"
                src="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/04/26/mottaki-upi.jpeg"
                class="v-mdl__i" width="631" height="454"
                alt="Imagen secundaria 1 - Lego, IA y murales: La propaganda de Irán contra Trump">
            </div>
          </div>
        </div>
        <span class="v-bdp"></span>
        <button class="v-cmp-cmb__b v-cmp-cmb__b--3" popovertarget="zoom-vertical">
          <img loading="lazy" src="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/04/26/1510452608.jpg"
            class="v-cmp-cmb__i" width="303" height="454"
            alt="Imagen secundaria 2 - Lego, IA y murales: La propaganda de Irán contra Trump">
        </button>
        <div id="zoom-vertical" class="v-mdl v-mdl--t5 v-mdl--fw">
          <div class="v-mdl__c">
            <button class="v-x" popovertarget="zoom-vertical" popovertargetaction="hide">
              <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12.0006 13.0635L8.75438 16.3095C8.60954 16.4545 8.43396 16.5254 8.22763 16.522C8.02113 16.5189 7.84546 16.4449 7.70063 16.3C7.55579 16.1552 7.48338 15.978 7.48338 15.7683C7.48338 15.5586 7.55579 15.3814 7.70063 15.2365L10.9371 12L7.69113 8.7788C7.54613 8.63396 7.47529 8.45671 7.47863 8.24705C7.48179 8.03755 7.55579 7.86038 7.70063 7.71555C7.84546 7.57055 8.02271 7.49805 8.23238 7.49805C8.44204 7.49805 8.6193 7.57055 8.76413 7.71555L12.0006 10.9615L15.2219 7.71555C15.3667 7.57055 15.5423 7.49805 15.7486 7.49805C15.9551 7.49805 16.1308 7.57055 16.2756 7.71555C16.4308 7.87055 16.5084 8.0503 16.5084 8.2548C16.5084 8.4593 16.4308 8.63396 16.2756 8.7788L13.0391 12L16.2851 15.2463C16.4301 15.3911 16.5026 15.5667 16.5026 15.773C16.5026 15.9795 16.4301 16.1552 16.2851 16.3C16.1301 16.4552 15.9504 16.5328 15.7459 16.5328C15.5414 16.5328 15.3667 16.4552 15.2219 16.3L12.0006 13.0635Z">
                </path>
              </svg>
            </button>
            <div class="v-mdl__w">
              <img loading="lazy"
                src="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/04/26/1510452608.jpg"
                class="v-mdl__i" width="303" height="454"
                alt="Imagen secundaria 2 - Lego, IA y murales: La propaganda de Irán contra Trump">
            </div>
          </div>
        </div>
        <span class="v-bdp"></span>
      </div>
      <figcaption class="v-fc">
        <span class="v-fc__p">(Calzado y mochilas de niñas fallecidas en la escuela de Minab (Abedin Taherkenareh
          EFE/EPA) // El representante de Irán ante la UIP, Manouchehr Mottaki, con la mochila ensengrentada de una de
          las víctimas (Embajada de Irán en Sudáfrica, en X) // Lonas con la cara de algunas de las estudiantes muertas
          por el bombardeo (Abedin Taherkenareh EFE/EPA)</span>
      </figcaption>
    </figure>
  </div>
</div>
<p class="v-d-p" style="">«Están tratando de explotar todo lo que pueden este bombardeo como si ese crimen pudiera tapar
  o limpiar el otro que cometió la República Islámica de Irán en enero con la matanza de miles de civiles», recuerda el
  experto de la Universidad de Navarra.</p>
<p class="v-d-p" style="">El uso de lonas con fotografías de algunas de las niñas y la acción de denuncia con calzado y
  material escolar no son hechos aislados, sino que responden a un despliegue sincronizado que ilustra muy bien cómo
  está utilizando el régimen iraní la propaganda de cara al exterior en esta guerra.</p>
  

<div class="v-c-cmp v-c-cmp--ab-m">
  <div class="v-cmp-m">
    <div class="v-a v-a--cmp-m v-c-cmp--m-p">
      <div class="v-a-img-c">
        <figure class="v-a-fig">
          <div class="video-player">
            <div style="position: relative;">
              <div style="max-width: 100%;">
                  <video-js data-video-id="6393786545112" data-account="703745716001" data-player="r1GZ2K1el" data-embed="default" controls="" preload="" playsinline="" poster="https://picsum.photos/748/523" class="vjs-fluid">
                  </video-js>
                      </div>
              <script src="https://players.brightcove.net/703745716001/r1GZ2K1el_default/index.min.js"></script>
            </div>
          </div>                      
        </figure>
      </div>
    </div>
  </div>
</div>

<p class="v-d-p" style="">Hace unos días, en el marco de la Asamblea de la Unión Interparlamentaria (UIP), celebrada en
  Turquía, el representante de Irán ante el organismo, el exministro de Exteriores Manouchehr Mottaki reprendía al
  representante de Bahréin, a quien acusaba de colaborar en la ofensiva de EE.UU. e Israel contra Irán.</p>
<p class="v-d-p" style="">Puesto en pie, Mottaki agitó una mochila ensangrentada de una de las víctimas de la masacre en
  la escuela antes de subirse al escenario. Al día siguiente, las fotos de denuncia con los rostros de las víctimas ya
  estaban en las calles y horas más tarde se desplegaría la representación callejera con material escolar y zapatillas.
</p>
<div class="v-c-cmp">
  <div class="twitter-tweet twitter-tweet-rendered"
    style="display:flex;max-width:609px;width:100%;margin-top:10px;margin-bottom:10px">
    <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"
      class="" title="X Post"
      src="https://platform.twitter.com/embed/Tweet.html?dnt=false&amp;embedId=twitter-widget-0&amp;features=eyJ0ZndfdGltZWxpbmVfbGlzdCI6eyJidWNrZXQiOltdLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X2ZvbGxvd2VyX2NvdW50X3N1bnNldCI6eyJidWNrZXQiOnRydWUsInZlcnNpb24iOm51bGx9LCJ0ZndfdHdlZXRfZWRpdF9iYWNrZW5kIjp7ImJ1Y2tldCI6Im9uIiwidmVyc2lvbiI6bnVsbH0sInRmd19yZWZzcmNfc2Vzc2lvbiI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9LCJ0ZndfZm9zbnJfc29mdF9pbnRlcnZlbnRpb25zX2VuYWJsZWQiOnsiYnVja2V0Ijoib24iLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X21peGVkX21lZGlhXzE1ODk3Ijp7ImJ1Y2tldCI6InRyZWF0bWVudCIsInZlcnNpb24iOm51bGx9LCJ0ZndfZXhwZXJpbWVudHNfY29va2llX2V4cGlyYXRpb24iOnsiYnVja2V0IjoxMjA5NjAwLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X3Nob3dfYmlyZHdhdGNoX3Bpdm90c19lbmFibGVkIjp7ImJ1Y2tldCI6Im9uIiwidmVyc2lvbiI6bnVsbH0sInRmd19kdXBsaWNhdGVfc2NyaWJlc190b19zZXR0aW5ncyI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9LCJ0ZndfdXNlX3Byb2ZpbGVfaW1hZ2Vfc2hhcGVfZW5hYmxlZCI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9LCJ0ZndfdmlkZW9faGxzX2R5bmFtaWNfbWFuaWZlc3RzXzE1MDgyIjp7ImJ1Y2tldCI6InRydWVfYml0cmF0ZSIsInZlcnNpb24iOm51bGx9LCJ0ZndfbGVnYWN5X3RpbWVsaW5lX3N1bnNldCI6eyJidWNrZXQiOnRydWUsInZlcnNpb24iOm51bGx9LCJ0ZndfdHdlZXRfZWRpdF9mcm9udGVuZCI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9fQ%3D%3D&amp;frame=false&amp;hideCard=false&amp;hideThread=false&amp;id=2045959339962437991&amp;lang=es&amp;maxWidth=609px&amp;origin=https%3A%2F%2Fwww.abc.es%2Finternacional%2Fnarrativa-propaganda-iran-20260426205725-nt.html&amp;sessionId=96b12017417532264c8b84ab57870b5b31f37dc1&amp;siteScreenName=ABC_Mundo&amp;theme=light&amp;widgetsVersion=2615f7e52b7e0%3A1702314776716&amp;width=550px"
      style="position:static;visibility:visible;width:609px;height:609px;display:block;flex-grow:1"
      data-tweet-id="2045959339962437991"></iframe>
  </div>
  <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8" type="cookiewall/script"></script>
</div>
<p class="v-d-p" style="">No ha sido el único campo de difusión: la misma jornada en la que se produjo la escena en la
  Asamblea de la UIP, un vídeo generado con IA difundido en RRSS recreaba el momento con el representante iraní
  caracterizado como una figura de LEGO.</p>
<div class="v-c-cmp">
  <div class="v-n-cmp-suh">
    <h3>La propaganda como arma</h3>
  </div>
</div>
<p class="v-d-p" style="">Para Gonzalo Sarasqueta, doctor en Ciencias Políticas y profesor en la Universidad Camilo José
  Cela (UCJC), lo que el gobierno iraní está aplicando es el concepto de 'efecto bandera', es decir, «aglutinar a la
  población en torno a una amenaza externa. Es tan antiguo como el conflicto humano. En sistemas políticos cerrados o
  autocráticos, lo que se busca es <strong>asociar el espacio público con la autoridad del Estado</strong>. Y en el caso
  iraní también es propia la presencia del poder religioso en la vida cotidiana. </p>
<p class="v-d-p" style="">Con sus acciones, Irán busca demonizar el enemigo externo mediante un lenguaje visual y
  religioso y reforzar la moral interna de la sociedad transmitiendo un espíritu de resiliencia e, incluso, de victoria.
  Todo ello también contribuye a la legitimación del poder político. Cabe recordar que estamos ante un sistema que hasta
  hace poco estaba crujiendo».</p>
<div class="v-c-cmp">
  <div class="v-n-cmp-suh">
    <h3>Una estética cambiante</h3>
  </div>
</div>
<p class="v-d-p" style="">Los murales que hoy se ven en las paredes de la antigua embajada de EE.UU. en Teherán también
  han evolucionado.</p>
<div class="v-c-cmp">
  <div class="v-n-img-det">
    <div class="v-a-img-c v-a-img-c--fw-xs">
      <figure class="v-a-fig">
        <div class="v-a-lnk">
          <img class="v-a-img" loading="lazy"
            src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/26/anunciosmasvistoregimenirani/images/mural-1510501072.webp"
            alt="[ALTERNATIVE TEXT]">
        </div>
        <figcaption class="v-fc">
          <span class="v-fc__t">Un hombre pasa junto a un mural que refleja la resistencia y sacrificio del pueblo
            iraní.</span>
          <span class="v-fc__p">Atta Kenare (AFP)</span>
        </figcaption>
      </figure>
    </div>
    <div class="v-n-img-det__d">
      <div class="v-n-img-det__box">
        <span class="v-n-img-det__t">Iwo Jima</span>
        <p class="v-n-img-det__p">Alzado de la bandera iraní en un terreno de batalla, como en la icónica fotografía de
          soldados de EE.UU. en Iwo Jima (Japón), en la II GM.</p>
      </div>
      <figure class="v-n-img-det__fig">
        <img
          src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/26/anunciosmasvistoregimenirani/images/detalle-1510501072.webp"
          alt="" class="v-n-img-det__img">
      </figure>
    </div>
  </div>
</div>
<p class="v-d-p" style="">«Se cambiaron en 2019 por los que vemos hoy y que yo defino como más 'pop'. El objetivo es el
  mismo: mostrar la enemistad entre Irán y Estados Unidos pero la manera de presentarlo es diferente por lo que es
  evidente que hay jóvenes haciendo esto. Quiero decir, hay cambios generacionales en quien tiene el poder», explica
  Mauriello</p>
<p class="v-d-p" style="">Pero hay algo aún más llamativo. Tanto el docente de la Universidad Allameh Tabataba'i como el
  de la Universidad de Navarra coinciden en la evolución de la estética y del mensaje de estos murales tras 47 años de
  República Islámica.</p>
<div class="v-c-cmp">
  <div class="v-n-img-det">
    <div class="v-a-img-c v-a-img-c--fw-xs">
      <figure class="v-a-fig">
        <div class="v-a-lnk">
          <img class="v-a-img" loading="lazy"
            src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/26/anunciosmasvistoregimenirani/images/mural-1510146891.webp"
            alt="[ALTERNATIVE TEXT]">
        </div>
        <figcaption class="v-fc">
          <span class="v-fc__t">Valla publicitaria gigante que hace referencia al estrecho de Ormuz en una concurrida
            calle de Teherán.</span>
          <span class="v-fc__p">Atta Kenare (AFP)</span>
        </figcaption>
      </figure>
    </div>
    <div class="v-n-img-det__d">
      <div class="v-n-img-det__box">
        <span class="v-n-img-det__t">Rais Ali Delvari</span>
        <p class="v-n-img-det__p">Héroe nacional que lideró la resistencia contra los británicos durante la invasión de
          Irán, en 1915.</p>
      </div>
      <figure class="v-n-img-det__fig">
        <img
          src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/26/anunciosmasvistoregimenirani/images/detalle-1510146891.webp"
          alt="" class="v-n-img-det__img">
      </figure>
    </div>
  </div>
</div>
<p class="v-d-p" style="">«Mientras que los murales y carteles de los 70' y 80' tenían una estética muy asociada a
  movimientos de protestas marxistas, comunistas, izquierdistas —recuerda Gil—, en los últimos años se han vuelto más
  tradicionales. Están recuperando imágenes de figuras históricas muy asociadas a la Persia preislámica, a su etapa
  monárquica».</p>
<p class="v-d-p" style="">«No hay que olvidar que la república iraní siempre ha desdeñado todo ese pasado monárquico,
  pero en los últimos años trata de surfear una ola de creciente nacionalismo entre la población. El régimen
  <strong>está tratando de apropiarse de ese pasado</strong>y equipara las contiendas contra Roma a las de los iraníes
  contra los americanos».
</p>
<div class="v-c-cmp">
  <div class="v-n-cmp-suh">
    <h3>Muñecos de Lego contra Trump</h3>
  </div>
</div>
<p class="v-d-p" style="">El ejemplo más significativo de la nueva realidad y esa conexión con las nuevas generaciones
  son los vídeos virales hechos mediante IA, entre los que destacan los que utilizan una estética al estilo Lego.
  «Equipo iraní de animación al estilo Lego. Rápido, instantáneo, explosivo». Así se define Explosive Media en la red
  social X, donde los usuarios pueden encontrar clips protagonizados por los famosos muñecos.</p>
<div class="v-c-cmp">
  <div class="twitter-tweet twitter-tweet-rendered"
    style="display:flex;max-width:609px;width:100%;margin-top:10px;margin-bottom:10px">
    <iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"
      class="" title="X Post"
      src="https://platform.twitter.com/embed/Tweet.html?dnt=false&amp;embedId=twitter-widget-1&amp;features=eyJ0ZndfdGltZWxpbmVfbGlzdCI6eyJidWNrZXQiOltdLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X2ZvbGxvd2VyX2NvdW50X3N1bnNldCI6eyJidWNrZXQiOnRydWUsInZlcnNpb24iOm51bGx9LCJ0ZndfdHdlZXRfZWRpdF9iYWNrZW5kIjp7ImJ1Y2tldCI6Im9uIiwidmVyc2lvbiI6bnVsbH0sInRmd19yZWZzcmNfc2Vzc2lvbiI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9LCJ0ZndfZm9zbnJfc29mdF9pbnRlcnZlbnRpb25zX2VuYWJsZWQiOnsiYnVja2V0Ijoib24iLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X21peGVkX21lZGlhXzE1ODk3Ijp7ImJ1Y2tldCI6InRyZWF0bWVudCIsInZlcnNpb24iOm51bGx9LCJ0ZndfZXhwZXJpbWVudHNfY29va2llX2V4cGlyYXRpb24iOnsiYnVja2V0IjoxMjA5NjAwLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X3Nob3dfYmlyZHdhdGNoX3Bpdm90c19lbmFibGVkIjp7ImJ1Y2tldCI6Im9uIiwidmVyc2lvbiI6bnVsbH0sInRmd19kdXBsaWNhdGVfc2NyaWJlc190b19zZXR0aW5ncyI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9LCJ0ZndfdXNlX3Byb2ZpbGVfaW1hZ2Vfc2hhcGVfZW5hYmxlZCI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9LCJ0ZndfdmlkZW9faGxzX2R5bmFtaWNfbWFuaWZlc3RzXzE1MDgyIjp7ImJ1Y2tldCI6InRydWVfYml0cmF0ZSIsInZlcnNpb24iOm51bGx9LCJ0ZndfbGVnYWN5X3RpbWVsaW5lX3N1bnNldCI6eyJidWNrZXQiOnRydWUsInZlcnNpb24iOm51bGx9LCJ0ZndfdHdlZXRfZWRpdF9mcm9udGVuZCI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9fQ%3D%3D&amp;frame=false&amp;hideCard=false&amp;hideThread=false&amp;id=2040042089656795341&amp;lang=es&amp;maxWidth=609px&amp;origin=https%3A%2F%2Fwww.abc.es%2Finternacional%2Fnarrativa-propaganda-iran-20260426205725-nt.html&amp;sessionId=96b12017417532264c8b84ab57870b5b31f37dc1&amp;siteScreenName=ABC_Mundo&amp;theme=light&amp;widgetsVersion=2615f7e52b7e0%3A1702314776716&amp;width=550px"
      style="position:static;visibility:visible;width:609px;height:343px;display:block;flex-grow:1"
      data-tweet-id="2040042089656795341"></iframe>
  </div>
  <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8" type="cookiewall/script"></script>
</div>
<p class="v-d-p" style="">El mensaje es el mismo: Irán se resiste al omnipotente opresor estadounidense. Aunque han
  concedido entrevistas a medios como BBC, CNN, CBS y Al Jazeera, no se sabe realmente quién está detrás. Aseguran ser
  independientes, aunque confirman que el régimen iraní es uno de sus clientes. La tecnológica estadounidense Meta ha
  cerrado sus perfiles en Youtube e Instagram, donde sus vídeos acumulaban decenas de millones de visualizaciones.</p>
<p class="v-d-p" style="">El uso de la estética de Lego «es muy interesante por varias razones», comenta Sarasqueta.
  «Para empezar porque los Lego son un producto de origen danés. Recordemos que el último país que se enfrentó a Donald
  Trump y, digamos, le ganó fue Mette Frederiksen, la primera ministra danesa socialdemócrata, con el tema de
  Groenlandia».</p>
<div class="v-c-cmp">
  <div class="twitter-tweet twitter-tweet-rendered"
    style="display:flex;max-width:609px;width:100%;margin-top:10px;margin-bottom:10px">
    <iframe id="twitter-widget-2" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"
      class="" title="X Post"
      src="https://platform.twitter.com/embed/Tweet.html?dnt=false&amp;embedId=twitter-widget-2&amp;features=eyJ0ZndfdGltZWxpbmVfbGlzdCI6eyJidWNrZXQiOltdLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X2ZvbGxvd2VyX2NvdW50X3N1bnNldCI6eyJidWNrZXQiOnRydWUsInZlcnNpb24iOm51bGx9LCJ0ZndfdHdlZXRfZWRpdF9iYWNrZW5kIjp7ImJ1Y2tldCI6Im9uIiwidmVyc2lvbiI6bnVsbH0sInRmd19yZWZzcmNfc2Vzc2lvbiI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9LCJ0ZndfZm9zbnJfc29mdF9pbnRlcnZlbnRpb25zX2VuYWJsZWQiOnsiYnVja2V0Ijoib24iLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X21peGVkX21lZGlhXzE1ODk3Ijp7ImJ1Y2tldCI6InRyZWF0bWVudCIsInZlcnNpb24iOm51bGx9LCJ0ZndfZXhwZXJpbWVudHNfY29va2llX2V4cGlyYXRpb24iOnsiYnVja2V0IjoxMjA5NjAwLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X3Nob3dfYmlyZHdhdGNoX3Bpdm90c19lbmFibGVkIjp7ImJ1Y2tldCI6Im9uIiwidmVyc2lvbiI6bnVsbH0sInRmd19kdXBsaWNhdGVfc2NyaWJlc190b19zZXR0aW5ncyI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9LCJ0ZndfdXNlX3Byb2ZpbGVfaW1hZ2Vfc2hhcGVfZW5hYmxlZCI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9LCJ0ZndfdmlkZW9faGxzX2R5bmFtaWNfbWFuaWZlc3RzXzE1MDgyIjp7ImJ1Y2tldCI6InRydWVfYml0cmF0ZSIsInZlcnNpb24iOm51bGx9LCJ0ZndfbGVnYWN5X3RpbWVsaW5lX3N1bnNldCI6eyJidWNrZXQiOnRydWUsInZlcnNpb24iOm51bGx9LCJ0ZndfdHdlZXRfZWRpdF9mcm9udGVuZCI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9fQ%3D%3D&amp;frame=false&amp;hideCard=false&amp;hideThread=false&amp;id=2040792300616331738&amp;lang=es&amp;maxWidth=609px&amp;origin=https%3A%2F%2Fwww.abc.es%2Finternacional%2Fnarrativa-propaganda-iran-20260426205725-nt.html&amp;sessionId=96b12017417532264c8b84ab57870b5b31f37dc1&amp;siteScreenName=ABC_Mundo&amp;theme=light&amp;widgetsVersion=2615f7e52b7e0%3A1702314776716&amp;width=550px"
      style="position:static;visibility:visible;width:609px;height:337px;display:block;flex-grow:1"
      data-tweet-id="2040792300616331738"></iframe>
  </div>
  <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8" type="cookiewall/script"></script>
</div>
<p class="v-d-p" style="">Y añade: «A través de estos vídeos se demuestra cómo el régimen tiene un consumo occidental y,
  por último, destaca la manera tan brutal de comunicarse, muy estilo Trump, agresiva, hiperbólica… A través de un
  contenido entretenido como son los Lego explican de manera sencilla algo muy complejo como es una guerra».</p>
<p class="v-d-p" style="">Además, en los vídeos <strong>predominan dos colores: el rojo y el verde</strong>. «Son los
  colores del chiismo», apunta Mauriello, « <strong>el primero para los malos y el segundo para los buenos</strong>».
  «Al final —sigue— cuentan una historia, o mejor dicho, su historia, desde una perspectiva iraní, enmarcado en una
  forma con elementos visuales y mensajes muy significativos y de carácter internacional». </p>
<div class="v-c-cmp">
  <div class="v-n-cmp-suh">
    <h3>La difusión en redes sociales</h3>
  </div>
</div>
<p class="v-d-p" style="">Además de la actividad de Explosive Media, parte de las cuentas oficiales de las embajadas de
  la república también intentan hacer llegar sus interesados mensajes. «Es un poco irónico», apunta Gil, «porque ellos
  <strong>hacen propaganda en las redes sociales y prohíben a los habitantes entrar en ellas</strong>».
</p>
<div class="v-c-cmp">
  <div class="twitter-tweet twitter-tweet-rendered"
    style="display:flex;max-width:609px;width:100%;margin-top:10px;margin-bottom:10px">
    <iframe id="twitter-widget-3" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"
      class="" title="X Post"
      src="https://platform.twitter.com/embed/Tweet.html?dnt=false&amp;embedId=twitter-widget-3&amp;features=eyJ0ZndfdGltZWxpbmVfbGlzdCI6eyJidWNrZXQiOltdLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X2ZvbGxvd2VyX2NvdW50X3N1bnNldCI6eyJidWNrZXQiOnRydWUsInZlcnNpb24iOm51bGx9LCJ0ZndfdHdlZXRfZWRpdF9iYWNrZW5kIjp7ImJ1Y2tldCI6Im9uIiwidmVyc2lvbiI6bnVsbH0sInRmd19yZWZzcmNfc2Vzc2lvbiI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9LCJ0ZndfZm9zbnJfc29mdF9pbnRlcnZlbnRpb25zX2VuYWJsZWQiOnsiYnVja2V0Ijoib24iLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X21peGVkX21lZGlhXzE1ODk3Ijp7ImJ1Y2tldCI6InRyZWF0bWVudCIsInZlcnNpb24iOm51bGx9LCJ0ZndfZXhwZXJpbWVudHNfY29va2llX2V4cGlyYXRpb24iOnsiYnVja2V0IjoxMjA5NjAwLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X3Nob3dfYmlyZHdhdGNoX3Bpdm90c19lbmFibGVkIjp7ImJ1Y2tldCI6Im9uIiwidmVyc2lvbiI6bnVsbH0sInRmd19kdXBsaWNhdGVfc2NyaWJlc190b19zZXR0aW5ncyI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9LCJ0ZndfdXNlX3Byb2ZpbGVfaW1hZ2Vfc2hhcGVfZW5hYmxlZCI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9LCJ0ZndfdmlkZW9faGxzX2R5bmFtaWNfbWFuaWZlc3RzXzE1MDgyIjp7ImJ1Y2tldCI6InRydWVfYml0cmF0ZSIsInZlcnNpb24iOm51bGx9LCJ0ZndfbGVnYWN5X3RpbWVsaW5lX3N1bnNldCI6eyJidWNrZXQiOnRydWUsInZlcnNpb24iOm51bGx9LCJ0ZndfdHdlZXRfZWRpdF9mcm9udGVuZCI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9fQ%3D%3D&amp;frame=false&amp;hideCard=false&amp;hideThread=false&amp;id=2044138040650805495&amp;lang=es&amp;maxWidth=609px&amp;origin=https%3A%2F%2Fwww.abc.es%2Finternacional%2Fnarrativa-propaganda-iran-20260426205725-nt.html&amp;sessionId=96b12017417532264c8b84ab57870b5b31f37dc1&amp;siteScreenName=ABC_Mundo&amp;theme=light&amp;widgetsVersion=2615f7e52b7e0%3A1702314776716&amp;width=550px"
      style="position:static;visibility:visible;width:609px;height:609px;display:block;flex-grow:1"
      data-tweet-id="2044138040650805495"></iframe>
  </div>
  <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8" type="cookiewall/script"></script>
</div>
<p class="v-d-p" style="">«Llevan meses completamente aislados del resto del mundo. Son mensajes de consumo para
  extranjeros. Y también copian un poco el estilo de Trump. En mi opinión es una especie de venganza simbólica frente a
  un enemigo con el que militarmente no pueden hacer nada».</p>
<p class="v-d-p" style="">La embajada de Irán en Tayikistán tiene un tuit fijado de un vídeo hecho con IA basado en la
  imagen que publicó Donald Trump como si fuera Jesucristo en la que el mismo Jesús le da un puñetazo. Una ilustración
  de Trump con el cerebro desconectado con una clavija lejos del enchufe o sus relaciones con Jeffrey Epstein son otros
  de los muchos ejemplos que difunde la entidad. En esta misma línea actúan otras embajadas iraníes.</p>
<div class="v-c-cmp">
  <div class="twitter-tweet twitter-tweet-rendered"
    style="display:flex;max-width:609px;width:100%;margin-top:10px;margin-bottom:10px">
    <iframe id="twitter-widget-4" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"
      class="" title="X Post"
      src="https://platform.twitter.com/embed/Tweet.html?dnt=false&amp;embedId=twitter-widget-4&amp;features=eyJ0ZndfdGltZWxpbmVfbGlzdCI6eyJidWNrZXQiOltdLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X2ZvbGxvd2VyX2NvdW50X3N1bnNldCI6eyJidWNrZXQiOnRydWUsInZlcnNpb24iOm51bGx9LCJ0ZndfdHdlZXRfZWRpdF9iYWNrZW5kIjp7ImJ1Y2tldCI6Im9uIiwidmVyc2lvbiI6bnVsbH0sInRmd19yZWZzcmNfc2Vzc2lvbiI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9LCJ0ZndfZm9zbnJfc29mdF9pbnRlcnZlbnRpb25zX2VuYWJsZWQiOnsiYnVja2V0Ijoib24iLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X21peGVkX21lZGlhXzE1ODk3Ijp7ImJ1Y2tldCI6InRyZWF0bWVudCIsInZlcnNpb24iOm51bGx9LCJ0ZndfZXhwZXJpbWVudHNfY29va2llX2V4cGlyYXRpb24iOnsiYnVja2V0IjoxMjA5NjAwLCJ2ZXJzaW9uIjpudWxsfSwidGZ3X3Nob3dfYmlyZHdhdGNoX3Bpdm90c19lbmFibGVkIjp7ImJ1Y2tldCI6Im9uIiwidmVyc2lvbiI6bnVsbH0sInRmd19kdXBsaWNhdGVfc2NyaWJlc190b19zZXR0aW5ncyI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9LCJ0ZndfdXNlX3Byb2ZpbGVfaW1hZ2Vfc2hhcGVfZW5hYmxlZCI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9LCJ0ZndfdmlkZW9faGxzX2R5bmFtaWNfbWFuaWZlc3RzXzE1MDgyIjp7ImJ1Y2tldCI6InRydWVfYml0cmF0ZSIsInZlcnNpb24iOm51bGx9LCJ0ZndfbGVnYWN5X3RpbWVsaW5lX3N1bnNldCI6eyJidWNrZXQiOnRydWUsInZlcnNpb24iOm51bGx9LCJ0ZndfdHdlZXRfZWRpdF9mcm9udGVuZCI6eyJidWNrZXQiOiJvbiIsInZlcnNpb24iOm51bGx9fQ%3D%3D&amp;frame=false&amp;hideCard=false&amp;hideThread=false&amp;id=2038652674137014317&amp;lang=es&amp;maxWidth=609px&amp;origin=https%3A%2F%2Fwww.abc.es%2Finternacional%2Fnarrativa-propaganda-iran-20260426205725-nt.html&amp;sessionId=96b12017417532264c8b84ab57870b5b31f37dc1&amp;siteScreenName=ABC_Mundo&amp;theme=light&amp;widgetsVersion=2615f7e52b7e0%3A1702314776716&amp;width=550px"
      style="position:static;visibility:visible;width:609px;height:343px;display:block;flex-grow:1"
      data-tweet-id="2038652674137014317"></iframe>
  </div>
  <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8" type="cookiewall/script"></script>
</div>
<p class="v-d-p" style="">«Los perfiles de las embajadas de Irán han tenido un margen de maniobra muy limitado hasta
  ahora, lo cuál es una paradoja. Apenas tenían seguidores, tuiteaban muy poco porque en Irán hay tantas divisiones
  políticas que da miedo hacer algo que no guste al poder.</p>
<p class="v-d-p" style="">Llevo más de 30 años en esto y <strong>es la primera vez que veo cómo ese inmovilismo se ha
    roto</strong>. Es muy interesante porque parece que tienen libertad e independencia. Y eso se suma a esa tesis que
  ya hemos comentado de cómo la República Islámica intenta atraer a nuevas generaciones», explica Mauriello. </p>
<p class="v-d-p" style="">Con estas acciones digitales, el régimen busca «adecuarse al periodo histórico en el que
  vivimos para tratar de lograr un impacto porque la sociedad iraní está inmunizada ante tanta pintura o cartel»,
  concluye Gil.</p>