
<p class="v-d-p">Elena pensaba que cuando Lucas, su hijo de diez años, jugaba con el iPad en el sofá estaba simplemente "construyendo mundos". Para la arquitecta de 42 años, 'Roblox', la plataforma global en línea donde los usuarios comparten, diseñan sus creaciones y juegan a millones de videojuegos creados por otros, era “una versión moderna de Lego”. Pero un martes por la tarde, el silencio cambió de textura.</p>

<p class="v-d-p">"Me dio por girar la cabeza y vi que Lucas estaba rígido frente a la pantalla", recuerda Elena, sentada en el mismo sofá donde comenzó la pesadilla. "Estaba escribiendo, y eso lo tenemos prohibido. Cuando me acerqué, cerró la pestaña de un golpe”, recuerda. “Tuvimos una bronca fuerte; él estaba muy nervioso y a la defensiva. Le quité el iPad y lo mandé a la cama".</p>

<p class="v-d-p">Elena había marcado las reglas con su hijo desde hace tiempo. Está a favor de una educación con pantallas, pero monitorizada. El castigo no trajo la paz: durante los dos días siguientes, Lucas se convirtió en una sombra; apenas hablaba y evitaba el contacto visual.</p>

<p class="v-d-p">La verdad surgió el jueves por la tarde, cuando Lucas entró en la cocina y puso el iPad -recuperado a escondidas- sobre la mesa y, sin decir una palabra, empezó a deslizar la pantalla.</p>

{{!-- NOTE: Sumario --}}
<div class="v-c-cmp">
  {{> ./includes/sumario sumarios.sumario1 }}
</div>

<p class="v-d-p">Elena sintió que el mundo se detenía. En la bandeja de mensajes directos de Instagram -aplicación que, en secreto su hijo utilizaba-, aparecía el nombre de un usuario fuera del grupo de amigos de su hijo. Al entrar, aparecían fotos de una sola visualización ya abiertas, acompañadas de amenazas y promesas de recompensas dentro de 'Roblox' si Lucas enviaba material similar.</p>

<p class="v-d-p">Elena descubrió entonces cómo se había gestado la conversación. No fue un error del sistema, sino una técnica de evasión meticulosa muy común en los chats de los mundos digitales. Es muy fácil burlar estos sistemas. Cuando Elena preguntó a su hijo por qué había empezado a hablar con un desconocido, Lucas confesó que el mensaje original del chat de 'Roblox', decía: “- sigue me - en atsni - lee al revés”.</p>

<p class="v-d-p">"Insta". Instagram. El depredador estaba sacando a Lucas de ‘Roblox’ para llevarlo a un territorio donde no hay filtros de palabras prohibidas y el intercambio de imágenes es fluido y directo.</p>

<p class="v-d-p">“Era un amigo que hice en el juego que me iba a dar ‘Robux’ y ‘Brainrots’...”</p>

<p class="v-d-p">“Me pidió fotos sin camiseta. Dijo que era un reto del juego...”</p>

{{!-- NOTE: Sumario --}}
<div class="v-c-cmp">
  {{> ./includes/sumario sumarios.sumario2 }}
</div>

<p class="v-d-p">Lucas no es una cifra en una estadística, es el rostro de una vulnerabilidad que las grandes tecnológicas han preferido ignorar en su carrera por la dominación del metaverso.</p>

<p class="v-d-p">Para Jorge Bermúdez, fiscal especializado en ciberdelincuencia...</p>

{{!-- NOTE: Sumario --}}
<div class="v-c-cmp">
  {{> ./includes/sumario sumarios.sumario3 }}
</div>

<p class="v-d-p">‘Second Life’, explica, no es un juego: es un simulador de vida sin límites morales...</p>

{{!-- NOTE: Sumario --}}
<div class="v-c-cmp">
  {{> ./includes/sumario sumarios.sumario4 }}
</div>

<p class="v-d-p">En estos rincones, se ha detectado el uso sistemático de una gramática visual...</p>

{{!-- NOTE: Sumario --}}
<div class="v-c-cmp">
  {{> ./includes/sumario sumarios.sumario5 }}
</div>

<p class="v-d-p">"Lo que más me duele es que ya no puedo dejarle solo con una pantalla"...</p>

{{!-- NOTE: Sumario --}}
<div class="v-c-cmp">
  {{> ./includes/sumario sumarios.sumario6 }}
</div>