<div class="v-ath__w v-ath__w--2">
  <div class="v-ath__g">
    <p class="v-ath__p v-ath__p--1">
      <a href="https://www.abc.es/autor/carlota-perez-4237/" title="Carlota Pérez (texto)">Carlota Pérez (texto)</a> e Ignacio Gil (fotos y vídeos)
    </p>
    <p class="v-ath__p v-ath__p--2">
      <span>Copenhague (Dinamarca), Calais (Francia) y Cardiff (Gales)</span>
    </p>
  </div>
  <time class="v-ath__p v-ath__p--3" datetime="2026-02-18T10:02:15Z">16/02/2026 <span>Actualizado 18/02/2026 - 11:02h.</span>
  </time>
</div>