<p class="v-d-p">Estos días la Tierra contiene el aliento ante el inminente (y de nuevo histórico) lanzamiento de la misión Artemis 2. Y en cierto modo resulta inevitable que la memoria colectiva vuelva al mes de diciembre de 1968.</p>
<p class="v-d-p">Aquella Navidad, Frank Borman, Jim Lovell y Bill Anders se convirtieron en los primeros seres humanos en abandonar la gravedad terrestre para rodear la Luna a bordo del Apolo 8. Fue una gesta de audacia, miedo y... urgencia política.</p>

{{!-- NOTE: Rutas Semana Santa --}}
<div class="v-c-cmp">
  {{> ./includes/ss-routes }}
</div>

<p class="v-d-p">Estos días la Tierra contiene el aliento ante el inminente (y de nuevo histórico) lanzamiento de la misión Artemis 2. Y en cierto modo resulta inevitable que la memoria colectiva vuelva al mes de diciembre de 1968.</p>
<p class="v-d-p">Aquella Navidad, Frank Borman, Jim Lovell y Bill Anders se convirtieron en los primeros seres humanos en abandonar la gravedad terrestre para rodear la Luna a bordo del Apolo 8. Fue una gesta de audacia, miedo y... urgencia política.</p>

{{!-- NOTE: Mapa puntos Semana Santa --}}
<div class="v-c-cmp">
  {{> ./includes/ss-map }}
</div>

<p class="v-d-p">Estos días la Tierra contiene el aliento ante el inminente (y de nuevo histórico) lanzamiento de la misión Artemis 2. Y en cierto modo resulta inevitable que la memoria colectiva vuelva al mes de diciembre de 1968.</p>
<p class="v-d-p">Aquella Navidad, Frank Borman, Jim Lovell y Bill Anders se convirtieron en los primeros seres humanos en abandonar la gravedad terrestre para rodear la Luna a bordo del Apolo 8. Fue una gesta de audacia, miedo y... urgencia política.</p>
