{{!-- NOTE: Lineas electrocardiograma titular --}}
{{> includes/lines-title }}

{{!-- NOTE: Grid de 4 doctores --}}
{{> includes/grid-doctors gridDoctors1 }}    

{{!-- NOTE: Audio player --}}
{{> includes/audio-player }}    

{{!-- NOTE: Perfil médico --}}
{{> includes/doctor-profile }}

{{!-- NOTE: Busca mensajes --}}
{{> includes/busca-message }}

{{!-- NOTE: Caja heading --}}
{{> includes/box-heading 
  title="Urgencias"
}}

{{!-- NOTE: Caja heading timer --}}
{{> includes/box-heading 
    isTimer=true
    hours="15"
    minutes="28"
}}

<p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, cerca de 300 personas aguardan de manera ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>

{{!-- NOTE: Lifeline --}}
{{> includes/lifeline }}
<p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, cerca de 300 personas aguardan de manera ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>

<p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, cerca de 300 personas aguardan de manera ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>

{{!-- NOTE: Audio player --}}
{{> includes/audio-player__old }}

<p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, cerca de 300 personas aguardan de manera ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>

<p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, cerca de 300 personas aguardan de manera ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>

{{!-- NOTE: Caja heading timer --}}
{{> includes/box-heading 
    isTimer=true
    class="timer-02 in-detail"
    hours="15"
    minutes="28"
}}

<p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, cerca de 300 personas aguardan de manera ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>

<p class="v-d-p">A sus 45 años, espera su turno en una gran cola de gente. Hace frío y llueve, pero ese va a ser el único alimento caliente que ingiera en el día: una especie de pasta con verduras de color amarillo. Como él, cerca de 300 personas aguardan de manera ordenada en un descampado a las afueras de Grande-Synthe, una comuna de Francia en la región de Norte-Paso de Calais (Francia).</p>

