<p class="v-d-p">Una grúa descomunal se estremece junto a un rascacielos en construcción, todavía un esqueleto de cemento y acero en el Midtown de Nueva York. El chirrido de la máquina gigante es por el viento del final del invierno, que la bambolea. Como las mallas que recubren las vallas para que no entren curiosos a la obra. Pero allí no hay nadie. Ni curiosos ni currelas.</p>
<p class="v-d-p">Son las ocho de la mañana y esto debería ser un estruendo de hormigoneras y volquetes, de radiales y taladro mecánico. Y solo se mueve lo que se deja empujar por el viento.</p>
<p class="v-d-p">La obra, que debe levantar el último fichaje del ‘skyline’ de Manhattan está parada. Como el resto de construcciones de Nueva York. Como la gran mayoría de los trabajos en la ciudad en los que hay que mover una pala mecánica o juntar dos ladrillos.</p>

{{!-- NOTE: Video block 1 con 2 videos - Construccion 01 y 02 --}}
<div class="v-c-cmp">
  {{> ./includes/videos-block
    id="1"
    twoVideos=true
    video1="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/03/14/01%20CONSTRUCCI%C3%93N_A.mp4"
    video2="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/03/14/01%20CONSTRUCCI%C3%93N_B.mp4"
  }}
</div>

<p class="v-d-p">Mike, el jefe de forjado de esta obra, supo que algo iba mal hace un mes, cuando empezó todo. Como cada día, se metió en el metro a las seis de la mañana. El tren llegó a su parada en la avenida Nostrand, en Brooklyn, pero no había ni rastro del paisanaje habitual.</p>
<p class="v-d-p">A esa hora, el metro lo llena gente con bota dura, vaquero gastado, chaleco amarillo, jersey gordo, casco y tartera. Vienen de barrios más lejanos. De Broadway Junction, de Jamaica, de East New York. La mayoría son hispanos. Más tarde, a partir de las siete o siete y media, son otros pasajeros: oficinistas, profesionales, comerciantes, estudiantes… El porcentaje de los que hablan español entonces cae.</p>
<p class="v-d-p">Ese tren semivacío fue para Mike el anuncio de lo inexplicable. De la noche a la mañana, se esfumó una parte de la ciudad: los inmigrantes indocumentados. Los ‘sin papeles’, como se llaman a sí mismos. Los ‘ilegales’, que les dicen los que les miran con peores ojos. Medio millón de personas, en una ciudad de 8,5 millones, según las estadísticas, que con probabilidad dejan a muchos fuera del recuento.</p>
<p class="v-d-p">Nadie sabe qué pasó con ellos. Desaparecieron y aparecieron en sus países de origen. Una pesadilla para algunos, un sueño para quienes ven en ellos el freno a la grandeza de EE.UU.</p>

{{!-- NOTE: Scroll telling grafico 1 --}}
{{!-- Insertar --}}

<p class="v-d-p">Ocurrió en medio de un clima de tensión en EE.UU. con la mano dura del nuevo presidente, Donald Trump, en inmigración. El presidente de EE.UU. creció en un barrio acomodado de Queens, pero vecino de otros que ahora nutren de trabajadores ‘sin papeles’ y baratos a la ciudad. Y logró su primera fortuna en proyectos inmobiliarios como los que ahora están parados.</p>
<p class="v-d-p">Su célebre Torre Trump, donde tiene su residencia, que hoy es un imán de turistas, contó con el esfuerzo de indocumentados polacos hace casi medio siglo. Y eso que era una época en la que la inmigración ilegal era mucho más limitada que en los últimos años. Después, utilizó indocumentados en campos de golf para las labores que muchas veces solo hacen ellos: limpieza, jardinería, reformas… Nada diferente de lo que hace todo el mundo en el país.</p>
<p class="v-d-p">En su regreso al poder, Trump prometió «el mayor programa de deportación de la historia», la expulsión de millones de personas. Su Administración decía que la prioridad sería ir a por «los peores», los criminales, los peligrosos. Pero sus altos cargos también advertían de que cualquiera en situación irregular podía ser deportado. Después llegó el caos de las redadas masivas en Los Ángeles, Chicago o, sobre todo, Mineápolis.</p>

{{!-- NOTE: Video block 2 con 2 videos - Cocina 01 y 02 --}}
<div class="v-c-cmp">
  {{> ./includes/videos-block
    id="2"
    twoVideos=true
    video1="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/03/14/03%20COCINA%20A.mp4"
    video2="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/03/14/03%20COCINA%20B.mp4"
  }}
</div>

<p class="v-d-p">Entre alegaciones de detenciones arbitrarias, incluso de ciudadanos, y protestas contra el despliegue de miles de agentes federales, dos ciudadanos murieron por disparos de la policía en medio de la tensión. Dos muertes innecesarias a todas luces, que convirtieron la mano dura migratoria, uno de los fuertes de Trump, en un problema político para el presidente. Pero la facción más extremista pedía que se hiciera realidad la promesa electoral: ‘Send them all back’, ‘echadlos a todos’.</p>
<p class="v-d-p">Y, de repente, todos se han ido. Nadie sabe por qué ni cómo. Lo que queda es la huella de su presencia, el impacto de su desaparición. “En todos los rascacielos en los que yo he trabajado, el porcentaje de indocumentados ha sido del 60%-70%”, contaba Melvin, guatemalteco, antes de evaporarse como por arte de magia.</p>
<p class="v-d-p">«Sin nosotros, no se construye ni un solo edificio», añadía en un momento en el que los precios disparados de la vivienda exigen lo contrario: levantarlos a toda velocidad. La mayoría de sus compañeros han sido hispanos. De Perú, de Ecuador, de Centroamérica.</p>

{{!-- NOTE: Foto disturbios en Mineapolis --}}
{{!-- Insertar --}}

<p class="v-d-p">En los últimos años han llegado también rusos, jamaicanos, africanos. Trabajan más rápido y más barato que los locales, afiliados al sindicato sectorial. Y, ante todo, parecen insustituibles. Son el sector con más trabajadores indocumentados de Nueva York: cerca de 30.000 personas, según los últimos datos, de 2022, con probabilidad por debajo de la realidad.</p>
<p class="v-d-p">Ese número no incluye los cerca de 13.000 carpinteros o más de 6.000 pintores.</p>
<p class="v-d-p">El último trabajo de Melvin antes de desaparecer fue en la renovación del Flatiron, el emblemático edificio de principios del siglo XX, con su planta triangular, recortada por Quinta Avenida y Broadway. Antes, trabajó en la torre de lujo que se construyó sobre la fábrica abandonada de Domino Sugar, en Williamsburg, un barrio ‘cool’ de Brooklyn.</p>
<p class="v-d-p">Todas las construcciones del Nueva York contemporáneo -de los rascacielos refulgentes con firma de arquitecto famoso hasta viviendas sociales-llevan la firma de los indocumentados. Muchos de ellos, como Melvin, pagando además impuestos con los que después no obtienen beneficios sociales.</p>

{{!-- NOTE: Sumario texto con cifra --}}
<div class="v-c-cmp">
  {{> ./includes/sumario 
    classes="n-sumr--1"
    number="3.100 millones" 
    txt="Impuestos pagados por inmigrantes en el estado de Nueva York en 2022" 
  }}
</div>

<p class="v-d-p">Erik es el jefe de obra en el Flatiron, donde se desempeñaba Melvin.  Pasa horas al teléfono. No hay manos para acabar el proyecto. Los afiliados al sindicato son pocos y hacen trabajos muy regulados. No ponen un clavo si no está en su convenio. Lleva días tratando de encontrar gente cualificada para acabar la maldita renovación, con clientes multimillonarios impacientes. Baja a la calle a buscar un bocado, a ver si le inspira una hamburguesa o un ramen caliente.</p>
<p class="v-d-p">Abajo, en el coqueto Madison Square Park no están los grupos de ‘nannies’, de cuidadoras, que suelen pasar allí parte de la mañana con sus carritos. Las hispanas y las chinas han sido las más demandadas. Para que el niño aprenda español o mandarín sin esfuerzo. La mayoría son indocumentadas.</p>
<p class="v-d-p">Desde hace un mes, no hay quien cuide a los niños ni a los ancianos. Otro trabajo ingrato, mal pagado, pese a los precios disparados de Nueva York, que los estadounidenses no hacen. Ni siquiera para sus familiares. Decenas de miles de familias están desesperadas, sin poder ir al trabajo. Limpiando la caca de pequeños y mayores.</p>

{{!-- NOTE: Scroll telling grafico 2 --}}
{{!-- Insertar --}}

<p class="v-d-p">A punto de doblar la esquina para llegar a su restaurante favorito, Erik se para en seco. Ha olvidado que la práctica totalidad de los restaurantes de Nueva York están cerrados. Porque viven también de los ‘sin papeles’.</p>
<p class="v-d-p">«Se iría todo a la mierda». Así resumía Ralph, un chef responsable de cuatro restaurantes de la ciudad, lo que podía pasar antes de que, en efecto, ocurriera. «Yo puedo crear un plato. Pero sin ellos no hago nada».</p>
<p class="v-d-p">Habla de la gente que llega «a las seis de la mañana, limpia seis cajas de pollos, prepara cuatro ‘filet mignon’, saca las espinas del pescado». De gente que friega las cocinas, lava la vajilla, recibe los pedidos a primera hora, saca la basura, limpia al acabar. «Los estadounidenses no quieren hacer esto. Para ellos, fregar es un fracaso social».</p>

{{!-- NOTE: Parallax / Video que se hace grande --}}
<div class="v-c-cmp">
  {{> ./includes/parallax 
      video="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/03/14/02%20TRANSPORTES%20A.mp4"
  }}
</div>

<p class="v-d-p">También son indocumentados la mayoría de los cocineros de línea, el puesto más demandado. En Nueva York son mexicanos y guatemaltecos, en su inmensa mayoría. Para Ralph, «tienen talento y son máquinas de trabajar», y cobran menos que los estadounidenses. Pero no es cuestión de pagar menos. No hay recambio.</p>
<p class="v-d-p">Son «la cara que no se ve» en los restaurantes. «En todos los restaurantes», aclaraba. «De los tres estrellas Michelin a las pizzerías de porciones a 1,50 dólares». Entre las escasas excepciones: los ‘omakase’ de más alto nivel, donde no se puede cenar por menos de 300 dólares y en los que todo lo hacen los japoneses.</p>
<p class="v-d-p">Pero los escasos restaurantes que siguen abiertos tienen otros problemas. Pedir comida a domicilio es casi imposible, a no ser que sea el propio dueño del restaurante el que suba a una bicicleta eléctrica para hacer el reparto. La gran mayoría de los ‘deliveristas’ -de ‘delivery’, ‘envío’- son ‘sin papeles’.</p>

{{!-- NOTE: Sumario texto --}}
<div class="v-c-cmp">
  {{> ./includes/sumario 
    txt="El 28 % de los jefes de cocina, chefs o pinches son personas sin papeles" 
  }}
</div>

<p class="v-d-p">En la calle 11 con la Segunda Avenida, en el East Village, en los bajos de un centro islámico, se juntaban cientos todos los días, con la acera convertida en un aparcamiento de bicicletas y ‘scooters’. Ahora no hay rastro de ellos.</p>
<p class="v-d-p">La solución es el supermercado, aunque a muchos neoyorquinos les aterra cocinar, no saben freír un huevo. «Falta de todo», protesta Martha, una clienta desde el cercano supermercado Whole Foods, en la calle 14.</p>
<p class="v-d-p">Hay otra realidad afectada por la desaparición de los indocumentados: el trabajo en el campo. Muchos de los que doblan el lomo en las cosechas no tienen papeles. Todavía es invierno y no se nota tanto. Pero, ¿quién se va a achicharrar el próximo verano para recoger la fruta?</p>

{{!-- NOTE: Video block 3 con 3 videos - Estetica 01, 02 y 03 --}}
<div class="v-c-cmp">
  {{> ./includes/videos-block
    id="3"
    twoVideos=true
    threeVideos=true
    video1="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/03/14/04%20EST%C3%89TICA%20A.mp4"
    video2="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/03/14/04%20EST%C3%89TICA%20B.mp4"
    video3="https://s1.abcstatics.com/abc/www/multimedia/internacional/2026/03/14/04%20EST%C3%89TICA%20C.mp4"
  }}
</div>

<p class="v-d-p">La escasez también tiene que ver con otros problemas: han desaparecido camioneros, transportistas, repartidores, muchos operando con licencias irregulares. Es otra bomba en la cadena de suministro, que ha disparado los precios para casi todo. Falta gente también en almacenes, en preparación de envíos…</p>
<p class="v-d-p">La inflación y la  ausencia de productos en el pasillo de las verduras no es el mayor problema para Martha. Lleva un mes sin su limpiadora, una colombiana que atravesó la peligrosa selva del Darién y el desierto de Chihuahua para entrar de forma ilegal hace más de treinta años. Era como de la familia. Lleva un mes sin Marta, ‘sin h’, mexicana, la última niñera de sus hijos.</p>
<p class="v-d-p">Lleva un mes sin Fabricio, el peruano que saca a pasear a su perra. Lleva un mes sin hacerse las uñas porque solo dos de las diez chicas que se pegan el día respirando químicos en su centro cosmético eran legales.</p>

{{!-- NOTE: Sumario texto --}}
<div class="v-c-cmp">
  {{> ./includes/sumario 
    txt="Hay quien ve inseguridad en su ausencia: el metro desolado, negocios cerrados y calles despobladas" 
  }}
</div>

<p class="v-d-p">Nadie entiende lo que ha pasado. ¿Será un milagro obrado por el presidente?, piensan algunos fieles del trumpismo. Son los que confían en que, tras un periodo de adaptación, la marcha de los ‘ilegales’ mejorará una ciudad desbordada.</p>
<p class="v-d-p">La entrada masiva de inmigrantes indocumentados en el final de la presidencia de Joe Biden ha asfixiado los recursos municipales, como protestó tantas veces el anterior alcalde, Eric Adams. Los albergues públicos serán ahora para los necesitados de Nueva York, la presión en los hospitales y en servicios sociales se desplomará. Y muchos, en medio de la constante vinculación entre inmigrantes y criminalidad que hace Trump, confían en que Nueva York será una ciudad más segura.</p>
<p class="v-d-p">Aunque se calcula que solo el 7% de los indocumentados tenían algún antecedente criminal y las estadísticas no soportan esa idea: entre 2022 y comienzos de 2025 llegaron a la ciudad cerca de 220.000 de ‘sin papeles’ y los índices de criminalidad han bajado o se han mantenido estables.</p>

{{!-- NOTE: Bloque que no se que es --}}
{{!-- Insertar --}}

<p class="v-d-p">Para algunos es suficiente con que ya no haya sensación de inseguridad. La que daban esos adolescentes venezolanos haciendo el loco con sus motos o el ejército de subsaharianos vendiendo falsificaciones en Canal Street. Pero otros ven inseguridad en su ausencia: el metro desolado, los negocios cerrados, las calles despobladas.</p>
<p class="v-d-p">Otros vacíos son mucho más difíciles de llevar. El pupitre del compañero, el banco de la iglesia, la parrilla de los domingos, la zaga del equipo en la liga de fútbol.</p>
<p class="v-d-p">Y otros, imposibles de cubrir: hasta la desaparición masiva, casi un millón de neoyorquinos eran miembros de familia en la que al menos uno de sus miembros era indocumentado. Para ellos, el suceso inexplicable, el debate político y social que un día se convirtió en realidad, supone que ya no tienen a un padre, a una hermana, a un abuelo.</p>