<p class="v-d-p">Estos días la Tierra contiene el aliento ante el inminente (y de nuevo histórico) lanzamiento de la misión Artemis 2. Y en cierto modo resulta inevitable que la memoria colectiva vuelva al mes de diciembre de 1968.</p>
<p class="v-d-p">Aquella Navidad, Frank Borman, Jim Lovell y Bill Anders se convirtieron en los primeros seres humanos en abandonar la gravedad terrestre para rodear la Luna a bordo del Apolo 8. Fue una gesta de audacia, miedo y... urgencia política.</p>

{{!-- NOTE: Rutas Semana Santa --}}
<div class="v-c-cmp">
  {{> ./includes/ss-routes }}
</div>

<p class="v-d-p">Estos días la Tierra contiene el aliento ante el inminente (y de nuevo histórico) lanzamiento de la misión Artemis 2. Y en cierto modo resulta inevitable que la memoria colectiva vuelva al mes de diciembre de 1968.</p>
<p class="v-d-p">Aquella Navidad, Frank Borman, Jim Lovell y Bill Anders se convirtieron en los primeros seres humanos en abandonar la gravedad terrestre para rodear la Luna a bordo del Apolo 8. Fue una gesta de audacia, miedo y... urgencia política.</p>

{{!-- NOTE: Mapa puntos Semana Santa --}}
<div class="v-c-cmp">
  {{> ./includes/ss-map }}
</div>

<p class="v-d-p">Estos días la Tierra contiene el aliento ante el inminente (y de nuevo histórico) lanzamiento de la misión Artemis 2. Y en cierto modo resulta inevitable que la memoria colectiva vuelva al mes de diciembre de 1968.</p>
<p class="v-d-p">Aquella Navidad, Frank Borman, Jim Lovell y Bill Anders se convirtieron en los primeros seres humanos en abandonar la gravedad terrestre para rodear la Luna a bordo del Apolo 8. Fue una gesta de audacia, miedo y... urgencia política.</p>

{{!-- NOTE: Ladillo Kraken --}}
{{> ./kraken-components/ladillo 
  txt="SUmario sumario sumario sumario sumario suamrio"
}}

<p class="v-d-p">Estos días la Tierra contiene el aliento ante el inminente (y de nuevo histórico) lanzamiento de la misión Artemis 2. Y en cierto modo resulta inevitable que la memoria colectiva vuelva al mes de diciembre de 1968.</p>
<p class="v-d-p">Aquella Navidad, Frank Borman, Jim Lovell y Bill Anders se convirtieron en los primeros seres humanos en abandonar la gravedad terrestre para rodear la Luna a bordo del Apolo 8. Fue una gesta de audacia, miedo y... urgencia política.</p>

{{!-- NOTE: Cifra --}}
<div class="v-c-cmp">
  <div class="v-n-ss-cifra-c">
    {{> ./includes/ss-cifra 
      number="4,6"
      icon-silla=true
      txt="Millones de ingresos por sillas"
    }}
    {{> ./includes/ss-cifra 
      number="1.861"
      icon-policia=true
      txt="Agentes de policía"
    }}
  </div>
</div>

<p class="v-d-p">Estos días la Tierra contiene el aliento ante el inminente (y de nuevo histórico) lanzamiento de la misión Artemis 2. Y en cierto modo resulta inevitable que la memoria colectiva vuelva al mes de diciembre de 1968.</p>
<p class="v-d-p">Aquella Navidad, Frank Borman, Jim Lovell y Bill Anders se convirtieron en los primeros seres humanos en abandonar la gravedad terrestre para rodear la Luna a bordo del Apolo 8. Fue una gesta de audacia, miedo y... urgencia política.</p>

<p class="v-d-p">Estos días la Tierra contiene el aliento ante el inminente (y de nuevo histórico) lanzamiento de la misión Artemis 2. Y en cierto modo resulta inevitable que la memoria colectiva vuelva al mes de diciembre de 1968.</p>
<p class="v-d-p">Aquella Navidad, Frank Borman, Jim Lovell y Bill Anders se convirtieron en los primeros seres humanos en abandonar la gravedad terrestre para rodear la Luna a bordo del Apolo 8. Fue una gesta de audacia, miedo y... urgencia política.</p>

{{!-- NOTE: Cifra --}}
<div class="v-c-cmp">
  <div class="v-n-ss-cifra-c">
    {{> ./includes/ss-cifra 
      number="45"
      icon-musica=true
      txt="Bandas de música"
    }}
    {{> ./includes/ss-cifra 
      number="6.000"
      icon-balcon=true
      txt="Euros de media por alquiler de balcón"
    }}
  </div>
</div>

<p class="v-d-p">Estos días la Tierra contiene el aliento ante el inminente (y de nuevo histórico) lanzamiento de la misión Artemis 2. Y en cierto modo resulta inevitable que la memoria colectiva vuelva al mes de diciembre de 1968.</p>
<p class="v-d-p">Aquella Navidad, Frank Borman, Jim Lovell y Bill Anders se convirtieron en los primeros seres humanos en abandonar la gravedad terrestre para rodear la Luna a bordo del Apolo 8. Fue una gesta de audacia, miedo y... urgencia política.</p>

<p class="v-d-p">Estos días la Tierra contiene el aliento ante el inminente (y de nuevo histórico) lanzamiento de la misión Artemis 2. Y en cierto modo resulta inevitable que la memoria colectiva vuelva al mes de diciembre de 1968.</p>
<p class="v-d-p">Aquella Navidad, Frank Borman, Jim Lovell y Bill Anders se convirtieron en los primeros seres humanos en abandonar la gravedad terrestre para rodear la Luna a bordo del Apolo 8. Fue una gesta de audacia, miedo y... urgencia política.</p>
