<p class="v-d-p">Elena pensaba que cuando Lucas, su hijo de diez años, jugaba con el iPad en el sofá estaba simplemente "construyendo mundos". Para la arquitecta, de 42 años, 'Roblox', la plataforma global en línea donde los usuarios comparten, diseñan sus creaciones y juegan a millones de videojuegos creados por otros, era “una versión moderna de Lego”. Pero un martes por la tarde, el silencio cambió de textura. </p>
<p class="v-d-p">"Me dio por girar la cabeza y vi que Lucas estaba rígido frente a la pantalla", recuerda Elena, sentada en el mismo sofá donde comenzó la pesadilla. "Estaba escribiendo, y eso lo tenemos prohibido. Cuando me acerqué, cerró la pestaña de un golpe”, recuerda. “Tuvimos una bronca fuerte; él estaba muy nervioso y a la defensiva. Le quité el iPad y lo mandé a la cama". </p>
<p class="v-d-p">Elena había marcado las reglas con su hijo desde hace tiempo. Está a favor de una educación con pantallas, pero monitorizada. El castigo no trajo la paz: durante los dos días siguientes, Lucas se convirtió en una sombra; apenas hablaba y evitaba el contacto visual. La verdad surgió el jueves por la tarde, cuando Lucas entró en la cocina y puso el iPad –recuperado a escondidas– sobre la mesa y, sin decir palabra, empezó a deslizar la pantalla. </p>

{{!-- NOTE: Ladillo --}}
<div class="v-c-cmp">
  {{> ./includes/ladillo ladillos.ladillo1 }}
</div>

{{!-- NOTE: Imagen post ladillo --}}
<div class="v-c-cmp">
  <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/22/pederastas-en-videojuegos/images/img-ladillo-01.jpg" alt="">
</div>

<p class="v-d-p">Elena sintió que el mundo se detenía. En la bandeja de mensajes directos de Instagram –aplicación que, en secreto, su hijo utilizaba–, aparecía el nombre de un usuario fuera del grupo de amigos de su hijo. Al entrar, aparecían fotos de una sola visualización ya abiertas, acompañadas de amenazas y promesas de recompensas dentro de 'Roblox' si Lucas enviaba material similar. </p>
<p class="v-d-p">Elena descubrió entonces cómo se había gestado la conversación: por una técnica de evasión meticulosa muy común en los chats de los mundos digitales. Cuando Elena preguntó a su hijo por qué había empezado a hablar con un desconocido, Lucas confesó que el mensaje original del chat de 'Roblox', decía: </p>
<p class="v-d-p">“- sigue me - en atsni - lee al revés” </p>
<p class="v-d-p">"Insta". Instagram. El depredador estaba sacando a Lucas de ‘Roblox’ para llevarlo a un territorio donde no hay filtros de palabras prohibidas y el intercambio de imágenes es fluido y directo. </p>
<p class="v-d-p">"Era un amigo que hice en el juego que me iba a dar ‘Robux’ (la moneda utilizada en 'Roblox') y ‘Brainrots’ (personajes virtuales del juego ‘Steal a Brainrot’, dentro de ‘Roblox’”), dice Lucas, con la voz apenas por encima de un susurro, mientras juguetea con su colgante. "Me pidió que le enviara fotos de mi cara para 'ver si era real'”, cuenta el niño.</p>

{{!-- NOTE: Imagen a insertar --}}
<div class="v-c-cmp">
</div>

<p class="v-d-p">“¿Las enviaste?”, le pregunto, a lo que me responde asintiendo con la cabeza y nada más. Elena mira hacia otro lado y añade: “de frente y de perfil”. Guardan silencio mientras escribo. Lucas continúa el relato, con timidez: “Me pidió fotos sin camiseta. Dijo que era un reto del juego y que, si no lo hacía, me borraría la cuenta". El ambiente se vuelve más cargado, y pregunto de nuevo: “Y… ¿las enviaste?”. Esta vez, lo niega: “Me dio miedo”. Ahí fue cuando avisó a su madre.</p>
<p class="v-d-p">Lucas es el rostro de una vulnerabilidad que las grandes tecnológicas han preferido ignorar en su carrera por la dominación del metaverso: la aparición de adultos que intentan conseguir contenido sexual de menores mediante la utilización de mundos digitales en los que las consecuencias legales no son directas o se vuelven inaplicables.</p>
<p class="v-d-p">Para Jorge Bermúdez, fiscal especializado en ciberdelincuencia, el error es pensar que existe un perfil reconocible. “Es un delito transversal. Puede ser un chaval de veintipocos años o un sexagenario, gente perfectamente funcional, con trabajo, incluso familia”.</p>
<p class="v-d-p">Lo que sí identifica es una constante: “Es una apetencia sexual desordenada. Un fallo en el cableado cerebral que hace que donde cualquier persona siente protección, ellos sientan excitación. El proceso de acercamiento es siempre el mismo”, explica Bermúdez. “Se hacen pasar por un igual y, cuando detectan vulnerabilidad, trasladan la conversación a un canal más privado: Instagram, Telegram, WhatsApp… y ahí es donde se consuma el delito”</p>

{{!-- NOTE: Ladillo --}}
<div class="v-c-cmp">
  {{> ./includes/ladillo ladillos.ladillo2 }}
</div>

{{!-- NOTE: Imagen post ladillo --}}
<div class="v-c-cmp">
  <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/22/pederastas-en-videojuegos/images/img-ladillo-02.jpg" alt="">
</div>

<p class="v-d-p">Mientras el gran público se maravilla con gráficos de última generación, existe un submundo de infraestructuras olvidadas, los llamados "mundos digitales muertos". Son videojuegos masivos (MMO) de principios de los 2000, servidores que perdieron su base de usuarios hace una década. Para un depredador, estas necrópolis digitales son el paraíso de la impunidad. Al no haber moderación activa, estos espacios se convierten en "zonas de caída" para material ilegal.</p>
<p class="v-d-p">"Son como almacenes abandonados en los muelles de una ciudad", explica David Osorio, analista de una unidad de investigación en una empresa privada de ciberseguridad. "Los criminales utilizan estos juegos 'zombis' para encontrarse, intercambiar enlaces de servidores privados y distribuir pornografía infantil lejos de los ojos de Google". La falta de actualizaciones de seguridad permite que los usuarios oculten sus direcciones IP con facilidad. </p>
<p class="v-d-p">Si nadie juega, nadie mira; si nadie mira, todo está permitido. Desde la Fiscalía, sin embargo, el rastreo no siempre es imposible, aunque sí cada vez más complejo: “El problema viene cuando utilizan sistemas como el CGNAT, donde una misma IP puede estar compartida por cientos de usuarios. Ahí la investigación se vuelve mucho más lenta”. </p>

{{!-- NOTE: Sumario --}}
<div class="v-c-cmp">
  {{> ./includes/sumario sumarios.sumario1 }}
</div>

<p class="v-d-p">Para entender lo que ocurre en las profundidades de los mundos muertos hay que hablar con Gabriel, conocido en internet como “Infu”. Su función es la de un “investigador inmersivo”: recorre los rincones más oscuros de internet. </p>
<p class="v-d-p">Su motivación nace de una cicatriz: a los 12 años fue víctima de abuso sexual: “Al procesarlo años después, decidí investigar para que otros no sufrieran lo mismo”, confiesa. Desde entonces, ha pasado años mapeando crímenes en mundos digitales y documentándolos en sus distintos canales de YouTube.</p>

{{!-- NOTE: Ladillo --}}
<div class="v-c-cmp">
  {{> ./includes/ladillo ladillos.ladillo3 }}
</div>

{{!-- NOTE: Imagen post ladillo --}}
<div class="v-c-cmp">
  <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/22/pederastas-en-videojuegos/images/img-ladillo-03.jpg" alt="">
</div>

<p class="v-d-p">‘Second Life’, explica, no es un juego: “Es un simulador de vida sin límites morales”. En sus años de investigación, Gabriel ha detectado patrones de normalización del abuso, codificados mediante avatares, símbolos y estructuras de acceso restringido. </p>
<p class="v-d-p">“Desde fuera, muchos piensan que nada es verdad, pero dentro hay fotografías reales de menores, tráfico de pornografía infantil y simulaciones de abuso. A la gente le cuesta creer que esto es real, porque… –pausa, y suspira–: es asqueroso”.</p>
<p class="v-d-p">La forma de identificar a estas personas es a través de sus avatares, pues no buscan discreción: los avatares de niños son el indicador más claro, y no son baratos. </p>
<p class="v-d-p">“Un avatar completo puede costar unos 100 dólares y, la mayoría de veces, son hechos por encargo. Algunos piden genitales infantiles detallados para reproducir abusos sexuales dentro del simulador”, denuncia Gabriel.</p>

{{!-- NOTE: Sumario --}}
<div class="v-c-cmp">
  {{> ./includes/sumario sumarios.sumario2 }}
</div> 

<p class="v-d-p">Los artistas 3D participan porque la industria mueve grandes sumas de dinero y hay una demanda sostenida. “Se visten de niños para identificarse entre sí. A la mínima que paseas con un avatar de niño en un mapa infantil, se acercan a preguntar qué haces allí y qué es lo que buscas”.</p>
<p class="v-d-p">Para no ser detectados, los depredadores compran servidores o parcelas enteras, controlando quién entra y quién sale, con costes que pueden superar los 350 dólares iniciales y cuotas mensuales de mantenimiento. Otros recurren al mercado de alquiler de parcelas. </p>
<p class="v-d-p">Estos servidores funcionan por "invitación única": no aparecen en los buscadores del juego. Aquí, los avatares infantiles hiperrealistas son utilizados en simulacros de abuso que sirven como preludio al contacto físico en el mundo real.</p>
<p class="v-d-p">“Actualmente, los mapas más turbios son ‘Pinky Playground’ y ‘Family Swimming Pool’. No importa a la hora que entres: siempre encuentras algo. ‘Hidden Lakes’ es más preocupante”, comenta.</p>

{{!-- NOTE: Sumario --}}
<div class="v-c-cmp">
  {{> ./includes/sumario sumarios.sumario3 }}
</div> 

<p class="v-d-p">“Allí están mucho más pendientes. Me infiltré, y lo que vi fue horrible. Solo recreaban situaciones de abusos sexuales con niños. En internet ya había usuarios que hablaban de que ahí pasaban cosas extrañas, pero no tenían pruebas. Yo sí pude documentarlo todo”, explica. </p>
<p class="v-d-p">“El propio administrador del mapa lo negó públicamente cuando lo crearon, pero cuando se enteró de mi infiltración, cerró el acceso”. Una vez establecido el contacto, el tráfico de material de pornografía infantil se traslada a chats como qTox y otras redes cifradas y sin geolocalización. “Es un terreno donde ni la empresa a cargo puede intervenir”, dice Gabriel. </p>
<p class="v-d-p">En este ecosistema, la estructura protege completamente a quienes operan con fines ilegales, mientras el mundo exterior apenas puede rastrear sus movimientos. “Muchos usuarios tienen un código de acceso a chats en su perfil. Si reportas el chat antes de entrar, se cae en diez segundos porque obviamente contiene material ilegal”. </p>

{{!-- NOTE: Ladillo --}}
<div class="v-c-cmp">
  {{> ./includes/ladillo ladillos.ladillo4 }}
</div> 

{{!-- NOTE: Imagen post ladillo --}}
<div class="v-c-cmp">
  <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/22/pederastas-en-videojuegos/images/img-ladillo-04.jpg" alt="">
</div>

<p class="v-d-p">Las plataformas digitales suelen eludir su responsabilidad culpando a los usuarios o a fallos técnicos en lugar de mejorar su estructura. Un ejemplo claro ocurrió en Roblox, donde la empresa expulsó permanentemente a Schlep, un YouTuber que denunciaba a depredadores de menores dentro del juego, bajo el pretexto de que su activismo "entorpecía los protocolos internos". </p>
<p class="v-d-p">Su expulsión desató una oleada de protestas bajo los hashtags #FreeSchlep y #BoycottRoblox, exigiendo al CEO, David Baszucki, una seguridad más responsable. Sin embargo, Baszucki avivó la polémica al calificar la presencia de depredadores como una "oportunidad" para innovar tecnológicamente dentro del juego.</p>
<p class="v-d-p">“Se mueven entre plataformas”, dice Gabriel. “Lamentablemente, ‘Roblox’ es mucho más peligroso. El contacto con menores es más cercano. Muchos usuarios pasaron de ‘Second Life’ a ‘Roblox’ justo por eso. Lo único que me reconforta un poco es que casi medio YouTube se dedica a informar acerca de 'Roblox'”.</p>

{{!-- NOTE: Sumario --}}
<div class="v-c-cmp">
  {{> ./includes/sumario sumarios.sumario4 }}
</div> 

<p class="v-d-p">El fiscal Bermúdez es tajante al respecto: “Mientras no les suponga un perjuicio económico o reputacional claro, la reacción suele ser limitada. Son empresas, buscan el beneficio”. Y añade una figura jurídica clave: “En derecho español existe la comisión por omisión. Si tienes la obligación de impedir un resultado y no actúas, puedes ser responsable”.</p>
<p class="v-d-p">A comienzos de 2024, un ensayo publicado por un usuario bajo el seudónimo Roberto Bartos en la plataforma Medium agitó a la comunidad al hacer acusaciones sobre comportamiento inapropiado de empleados de Linden Lab -empresa responsable de ‘Second Life’-, incluido personal en posiciones de liderazgo, y denunciar la proliferación de contenido sexualizado para avatares infantiles. </p>
<p class="v-d-p">La entidad siguió la fórmula habitual: una negación de irregularidades y la afirmación de una política de “tolerancia cero” frente a conductas dañinas. Días después, el reportaje de Bartos fue silenciado por la compañía. </p>

{{!-- NOTE: Ladillo --}}
<div class="v-c-cmp">
  {{> ./includes/ladillo ladillos.ladillo5 }}
</div> 

{{!-- NOTE: Imagen post ladillo --}}
<div class="v-c-cmp">
  <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/22/pederastas-en-videojuegos/images/img-ladillo-05.jpg" alt="">
</div>

<p class="v-d-p">Aunque la sensación de impunidad es frecuente, las detenciones existen y son constantes. Según explica Bermúdez, muchas investigaciones parten de una denuncia familiar. “Se ven constantemente. En cuanto se detecta un positivo -ya sea por aviso de una plataforma o por una IP vinculada a intercambio de archivos- se identifica al abonado, se autoriza un registro y, si el material está en los dispositivos, se produce la detención”. </p>
<p class="v-d-p">Matiza que el intercambio de material suele ser más sencillo de perseguir que el acoso individual: “Cuando hay archivos de contenido -vídeos, imágenes- la evidencia es esencial. El problema es cuando el sospechoso ha destruido el material o utiliza sistemas de cifrado avanzados”. </p>
<p class="v-d-p">Aun así, en los últimos años se han producido múltiples arrestos de adultos que contactaban con menores a través de redes sociales y plataformas digitales, especialmente tras la pandemia, cuando los delitos se dispararon durante el confinamiento.</p>

{{!-- NOTE: Sumario --}}
<div class="v-c-cmp">
  {{> ./includes/sumario sumarios.sumario5 }}
</div> 

<p class="v-d-p">"Lo que más me duele es que ya no puedo dejarle solo con una pantalla", dice Elena, en el recibidor de su casa, justo cuando estoy a punto de irme. "Siento que le han robado un trozo de su infancia. Lucas ha aprendido demasiado pronto que el mundo es un lugar donde la gente miente para hacerte daño". </p>
<p class="v-d-p">El daño de Lucas es una cicatriz en la confianza social de una generación. Hemos construido rascacielos de datos y ciudades de luz virtual, pero hemos olvidado ponerles cimientos éticos. Mientras David Baszucki y los otros señores del metaverso sigan tratando la seguridad infantil como una variable de ajuste en un balance de resultados, las necrópolis digitales seguirán creciendo. </p>
<p class="v-d-p">El ciberespacio es un patio de recreo de cristal: hermoso a la distancia, pero lleno de reflejos engañosos y esquinas donde, si te cortas, la sangre es real.</p>

{{!-- NOTE: Video .webm --}}
<div class="v-c-cmp">
  {{> ./includes/video-webm }}
</div>