<div class="v-ath__w v-ath__w--2">
  <figure class="v-ath__f">
    <img class="v-ath__i" loading="lazy" src="https://s1.abcstatics.com/comun/2015/img/autor/autor-1424-foto-9.jpeg?width=90" alt="Pablo Muñoz (texto)">
  </figure>
  <div class="v-ath__g">
    <p class="v-ath__p v-ath__p--1">
      <a href="https://www.abc.es/autor/pablo-munoz-1424/" title="Pablo Muñoz (texto)" data-mrf-link="https://www.abc.es/autor/pablo-munoz-1424/" cmp-ltrk="Autor" cmp-ltrk-idx="0" mrfobservableid="b128ccc8-6a8a-4e95-80c4-7db66b8eeeb6">Pablo Muñoz (texto) <span class="v-b-i">
          <svg viewBox="0 0 14 24">
            <use href="#icon-author"></use>
          </svg>
        </span>
      </a>
    </p>
    <p class="v-ath__p v-ath__p--2"></p>
  </div>
  <time class="v-ath__p v-ath__p--3" datetime="2026-03-05T19:33:46Z">05/03/2026 <span>Actualizado a las 20:33h.</span>
  </time>
  <button class="v-ath__b v-ath__b--4 v-btn v-btn-i v-btn-i--l v-btn--s" snackbartarget="msg-1" data-voc-vtm-id="btn-seguirautor" data-voc-vtm-info="pablo-munoz-texto" data-voc-follow-author-id="1424" data-voc-follow-author-name="pablo-munoz-texto" data-voc-get-data-for-snack-bar-vtm-info="seguir-autor-pablo-munoz-texto" data-voc-follow-author="" aria-label="Seguir autor">
    <span class="v-i">
      <svg viewBox="0 0 24 24">
        <line class="line line-1" x1="12" y1="2" x2="12" y2="22"></line>
        <line class="line line-2" x1="2" y1="12" x2="22" y2="12"></line>
        <path class="line line-3" d="M5 13 L10 18 L19 6"></path>
      </svg>
    </span>
  </button>
</div>