<p class="v-d-p" style="">Su envergadura trasciende su principal aspecto, el religioso, para adquirir también un importante plano familiar, social, cultural y artístico e incluso económico y turístico. Así, durante una semana, la capital andaluza vive por y para las cofradías, un acontecimiento que atraviesa de forma transversal a la sociedad sevillana.</p>

{{!-- NOTE: Ladillo Kraken --}}
{{> ./kraken-components/ladillo 
  txt="La carrera oficial, escenario común de las cofradías"
}}

<p class="v-d-p" style="">La carrera oficial de la Semana Santa de Sevilla tiene su origen en el siglo XVIII, después de que se estableciera que todas las hermandades debían ir con sus pasos a la Catedral. Aunque ha sufrido algunos cambios, el recorrido común actual se realiza desde 1917 y consta de 1.070 metros de longitud a lo largo de los cuales se distribuyen las 35.500 sillas en las que los abonados ven pasar las procesiones.</p>
<p class="v-d-p" style="">Todas las cofradías entran por la Campana, donde se sitúan el palquillo de autoridades y las cámaras de televisión. Desde ahí discurren unas detrás de otras hasta la Catedral, el primer templo de la ciudad, donde hacen estación de penitencia los cerca de 70.000 nazarenos y más de 120 pasos que salen a la calle entre el Domingo de Ramos y el de Resurrección.</p>

{{!-- NOTE: Ai2Html - Scroll horizontal --}}
<div class="v-c-cmp v-c-cmp--xl">
  <style media="screen,print">
    #b-voc-ScrollWrapp,
    #b-voc-ScrollWrapp .g-artboard {
      margin: 0 auto
    }

    #b-voc-ScrollWrapp p {
      margin: 0
    }

    #b-voc-ScrollWrapp .g-aiAbs {
      position: absolute
    }

    #b-voc-ScrollWrapp .g-aiImg {
      position: absolute;
      top: 0;
      display: block;
      width: 100% !important
    }

    #b-voc-ScrollWrapp .g-aiSymbol {
      position: absolute;
      box-sizing: border-box
    }

    #b-voc-ScrollWrapp .g-aiPointText p {
      white-space: nowrap
    }

    #g-scroll-horz-semanasanta-scroll {
      position: relative;
      overflow: hidden
    }

    #g-scroll-horz-semanasanta-scroll p {
      font-family: Micrograph Regular, sans-serif;
      font-weight: regular;
      font-style: normal;
      line-height: 19px;
      opacity: 1;
      letter-spacing: 0;
      font-size: 16px;
      text-align: left;
      color: #202121;
      text-transform: none;
      padding-bottom: 0;
      padding-top: 0;
      mix-blend-mode: normal;
      height: auto;
      position: absolute
    }

    #g-scroll-horz-semanasanta-scroll .g-pstyle0 {
      font-family: ABC XCond Semibold, sans-serif;
      font-weight: 600;
      line-height: 58px;
      height: 58px;
      font-size: 48px;
      color: #473371
    }

    #g-scroll-horz-semanasanta-scroll .g-pstyle1 {
      font-weight: 500;
      line-height: 22px;
      font-size: 18px;
      color: #473371
    }

    #g-scroll-horz-semanasanta-scroll .g-pstyle2 {
      font-weight: 500;
      line-height: 20px;
      font-size: 17px;
      text-align: right
    }

    #g-scroll-horz-semanasanta-scroll .g-pstyle3 {
      font-weight: 700;
      line-height: 14px;
      font-size: 12px;
      color: #473371
    }

    #g-scroll-horz-semanasanta-scroll .g-pstyle4 {
      font-weight: 400
    }

    #g-scroll-horz-semanasanta-scroll .g-pstyle5 {
      font-weight: 400;
      line-height: 21px
    }

    #g-scroll-horz-semanasanta-scroll .g-pstyle6 {
      font-weight: 500;
      line-height: 22px;
      font-size: 18px
    }

    #g-scroll-horz-semanasanta-scroll .g-pstyle7 {
      font-weight: 500;
      line-height: 20px;
      font-size: 17px
    }

    #g-scroll-horz-semanasanta-scroll .g-pstyle8 {
      font-weight: 500;
      line-height: 18px;
      height: 18px;
      font-size: 15px;
      text-align: center
    }

    #g-scroll-horz-semanasanta-scroll .g-pstyle9 {
      font-family: ABC XCond Semibold, sans-serif;
      font-weight: 600;
      line-height: 48px;
      font-size: 48px;
      color: #473371
    }

    #g-scroll-horz-semanasanta-scroll .g-pstyle10 {
      font-weight: 500;
      line-height: 18px;
      font-size: 15px;
      text-align: center
    }

    #g-scroll-horz-semanasanta-scroll .g-pstyle11 {
      font-weight: 500;
      line-height: 21px;
      font-size: 17px;
      text-align: center
    }

    #g-scroll-horz-semanasanta-scroll .g-pstyle12 {
      font-family: ABC XCond Semibold, sans-serif;
      font-weight: 600;
      line-height: 58px;
      font-size: 48px;
      color: #473371
    }

    #g-scroll-horz-semanasanta-scroll .g-pstyle13 {
      font-weight: 500;
      line-height: 21px;
      font-size: 17px
    }

    #g-scroll-horz-semanasanta-scroll .g-pstyle14 {
      font-weight: 500;
      line-height: 21px;
      font-size: 17px;
      text-align: right
    }

    #g-scroll-horz-semanasanta-scroll .g-pstyle15 {
      font-weight: 500;
      line-height: 14px;
      height: 14px;
      font-size: 12px
    }

    #g-scroll-horz-semanasanta-scroll .g-cstyle0 {
      font-family: Micrograph Semibold, sans-serif;
      font-weight: 600;
      font-style: normal
    }

    .b-voc-scroll-wrapper {
      width: 100%
    }

    .b-voc-scroll-sticky {
      width: 100%;
      position: sticky;
      top: 0;
      overflow: hidden;
      height: 100vh;
      display: flex;
      align-items: center
    }

    .b-voc-scroll-contenido {
      position: relative;
      left: 0;
      top: 0
    }
  </style>
  <div id="b-voc-ScrollWrapp" class="b-voc-scroll-wrapper">
    <div class="b-voc-scroll-sticky" id="sticky">
      <div class="b-voc-scroll-contenido" id="belscrollcontenido" style="">
        <div id="g-scroll-horz-semanasanta-scroll" class="g-artboard" style="width:3643px;height:1200px" data-aspect-ratio="3.036" data-min-width="0">
          <div style="padding:0"></div>
          <img id="g-scroll-horz-semanasanta-scroll-img" class="g-scroll-horz-semanasanta-scroll-img g-aiImg" alt="" src="https://s1.abcstatics.com/abc/www/multimedia/sevilla/2026/03/28/scroll-horz-semanasanta-scroll.jpg">
          <div id="g-ai0-1" class="g-settings g-aiAbs g-aiPointText" style="top:33.2063%;margin-top:-30.5px;left:3.1933%;width:289px">
            <p class="g-pstyle0">CARRERA OFICIAL</p>
          </div>
          <div id="g-ai0-2" class="g-settings g-aiAbs" style="top:33%;left:33.7268%;width:3.5959%">
            <p class="g-pstyle1">Calle Sierpres</p>
          </div>
          <div id="g-ai0-3" class="g-settings g-aiAbs" style="top:33%;left:49.1628%;width:4.4743%">
            <p class="g-pstyle1">Plaza San Francisco</p>
          </div>
          <div id="g-ai0-4" class="g-settings g-aiAbs" style="top:33.3333%;right:28.1087%;width:3.9253%">
            <p class="g-pstyle2">A partir de este punto, cada cofradía coge su propio itinerario</p>
          </div>
          <div id="g-ai0-5" class="g-settings g-aiAbs" style="top:33.3333%;left:84.0699%;width:4.6116%">
            <p class="g-pstyle3">FINAL DE LA CARRERA</p>
          </div>
          <div id="g-ai0-6" class="g-settings g-aiAbs" style="top:33.4167%;left:16.1588%;width:2.5254%">
            <p class="g-pstyle3">COMIENZO</p>
          </div>
          <div id="g-ai0-7" class="g-settings g-aiAbs" style="top:34.9167%;left:16.1588%;width:3.9253%">
            <p class="g-pstyle1">Calle Campana</p>
          </div>
          <div id="g-ai0-8" class="g-settings g-aiAbs" style="top:35%;left:84.0699%;width:4.8586%">
            <p class="g-pstyle1">Puerta de Palos</p>
          </div>
          <div id="g-ai0-9" class="g-settings g-aiAbs" style="top:35.5833%;left:33.7268%;width:4.0351%">
            <p class="g-pstyle4">La vía más larga y estrecha de la Carrera Oficial. Hace poco se retiraron sillas en aras de la seguridad.</p>
          </div>
          <div id="g-ai0-10" class="g-settings g-aiAbs" style="top:35.75%;left:49.1902%;width:4.639%">
            <p class="g-pstyle4">Los palcos se localizan a espaldas del Ayuntamiento y sus precios son los más caros de la Carrera (van de los 749 y los 1.016 euros).</p>
          </div>
          <div id="g-ai0-11" class="g-settings g-aiAbs" style="top:36.1667%;left:3.2208%;width:9.6075%">
            <p class="g-pstyle5">Su configuración actual data de 1917, aunque su origen se remonta a 1777. Todas las cofradías entran por la Campana y discurren hasta la Catedral, donde hacen estación de penitencia.</p>
          </div>
          <div id="g-ai0-12" class="g-settings g-aiAbs" style="top:37.5%;left:16.1588%;width:5.2978%">
            <p class="g-pstyle4">Punto en el que se sitúa el palquillo de autoridades donde las hermandades piden la venia para realizar el recorrido común hasta la Catedral.</p>
          </div>
          <div id="g-ai0-13" class="g-settings g-aiAbs" style="top:37.8333%;left:84.0699%;width:6.1762%">
            <p class="g-pstyle4">Las cofradías salen por esta puerta que se ubica bajo la Giralda. En la plaza de la Virgen de los Reyes, sus caminos se separan y comienza el regreso a las iglesias.</p>
          </div>
          <div id="g-ai0-14" class="g-settings g-aiAbs" style="top:46%;left:3.1659%;width:4.9959%">
            <p class="g-pstyle6">Nazarenos que llegan a pasar por la Carrera</p>
          </div>
          <div id="g-ai0-15" class="g-settings g-aiAbs" style="top:46.4167%;left:77.9028%;width:3.2116%">
            <p class="g-pstyle7">Recorrido por el interior de la Catedral</p>
          </div>
          <div id="g-ai0-16" class="g-settings g-aiAbs g-aiPointText" style="transform:matrix(-.1311,-.9914,.9914,-.1311,0,0);transform-origin:50% 55.0490606972043%;-webkit-transform:matrix(-.1311,-.9914,.9914,-.1311,0,0);-webkit-transform-origin:50% 55.0490606972043%;-ms-transform:matrix(-.1311,-.9914,.9914,-.1311,0,0);-ms-transform-origin:50% 55.0490606972043%;top:50.2419%;margin-top:-9.9px;left:70.1088%;margin-left:-55px;width:110px">
            <p class="g-pstyle8">C/ Alemanes</p>
          </div>
          <div id="g-ai0-17" class="g-settings g-aiAbs" style="top:49.6667%;left:3.1371%;width:2.6077%">
            <p class="g-pstyle9">67.000</p>
          </div>
          <div id="g-ai0-18" class="g-settings g-aiAbs" style="top:50.1667%;left:84.7415%;margin-left:-1.4823%;width:2.9646%">
            <p class="g-pstyle10">Archivo General de Indias</p>
          </div>
          <div id="g-ai0-19" class="g-settings g-aiAbs g-aiPointText" style="transform:matrix(.9845,-.1756,.1756,.9845,0,0);transform-origin:50% 55.0493096646943%;-webkit-transform:matrix(.9845,-.1756,.1756,.9845,0,0);-webkit-transform-origin:50% 55.0493096646943%;-ms-transform:matrix(.9845,-.1756,.1756,.9845,0,0);-ms-transform-origin:50% 55.0493096646943%;top:53.2419%;margin-top:-9.9px;left:62.5006%;margin-left:-76.5px;width:153px">
            <p class="g-pstyle8">C/ Hernando Colón</p>
          </div>
          <div id="g-ai0-20" class="g-settings g-aiAbs g-aiPointText" style="transform:matrix(.2512,-.9679,.9679,.2512,0,0);transform-origin:50% 55.0493096646943%;-webkit-transform:matrix(.2512,-.9679,.9679,.2512,0,0);-webkit-transform-origin:50% 55.0493096646943%;-ms-transform:matrix(.2512,-.9679,.9679,.2512,0,0);-ms-transform-origin:50% 55.0493096646943%;top:56.2419%;margin-top:-9.9px;left:26.347%;margin-left:-47px;width:94px">
            <p class="g-pstyle8">C/ Imagen</p>
          </div>
          <div id="g-ai0-21" class="g-settings g-aiAbs" style="top:55.1667%;left:3.1659%;width:4.2822%">
            <p class="g-pstyle6">Número de pasos</p>
          </div>
          <div id="g-ai0-22" class="g-settings g-aiAbs" style="top:56.8333%;left:74.8585%;margin-left:-1.5921%;width:3.1842%">
            <p class="g-pstyle11">CATEDRAL</p>
          </div>
          <div id="g-ai0-23" class="g-settings g-aiAbs" style="top:56.3333%;left:3.1371%;width:2.5254%">
            <p class="g-pstyle12">122</p>
          </div>
          <div id="g-ai0-24" class="g-settings g-aiAbs" style="top:58.75%;left:83.8503%;width:4.6116%">
            <p class="g-pstyle3">ENTRADA A LA CATEDRAL</p>
          </div>
          <div id="g-ai0-25" class="g-settings g-aiAbs" style="top:60.25%;left:83.8503%;width:4.8586%">
            <p class="g-pstyle1">Puerta de San Miguel</p>
          </div>
          <div id="g-ai0-26" class="g-settings g-aiAbs" style="top:61.9167%;left:27.5323%;width:3.6783%">
            <p class="g-pstyle13">Palquillo de autoridades</p>
          </div>
          <div id="g-ai0-27" class="g-settings g-aiAbs" style="top:62.5%;left:3.1659%;width:3.4038%">
            <p class="g-pstyle6">Longitud del itinerario</p>
          </div>
          <div id="g-ai0-28" class="g-settings g-aiAbs" style="top:62.8333%;left:83.8503%;width:6.4782%">
            <p class="g-pstyle4">Todas las cofradías penetran en la Catedral a través de esta puerta. Los pasos que llevan música pasan a ir en silencio durante el recorrido por las naves del templo metropolitano.</p>
          </div>
          <div id="g-ai0-29" class="g-settings g-aiAbs" style="top:63.9167%;left:56.1271%;margin-left:-1.8117%;width:3.6234%">
            <p class="g-pstyle10">Ayuntamiento</p>
          </div>
          <div id="g-ai0-30" class="g-settings g-aiAbs" style="top:65.25%;left:68.6156%;width:5.5723%">
            <p class="g-pstyle1">Avda. de la Constitución</p>
          </div>
          <div id="g-ai0-31" class="g-settings g-aiAbs" style="top:65.6667%;right:75.1304%;width:2.2783%">
            <p class="g-pstyle14">Llegada de las cofradías</p>
          </div>
          <div id="g-ai0-32" class="g-settings g-aiAbs" style="top:65.5%;left:3.1371%;width:2.5254%">
            <p class="g-pstyle12">1.070</p>
          </div>
          <div id="g-ai0-33" class="g-settings g-aiAbs" style="top:67.8333%;left:68.6705%;width:6.9448%">
            <p class="g-pstyle4">Se trata de la calle más amplia, donde se contemplan los cortejos de forma más espaciosa antes de su entrada en la Catedral.</p>
          </div>
          <div id="g-ai0-34" class="g-settings g-aiAbs g-aiPointText" style="transform:matrix(.2512,-.9679,.9679,.2512,0,0);transform-origin:50% 55.0493096646943%;-webkit-transform:matrix(.2512,-.9679,.9679,.2512,0,0);-webkit-transform-origin:50% 55.0493096646943%;-ms-transform:matrix(.2512,-.9679,.9679,.2512,0,0);-ms-transform-origin:50% 55.0493096646943%;top:71.6585%;margin-top:-9.9px;left:25.5205%;margin-left:-54.5px;width:109px">
            <p class="g-pstyle8">C/ Campana</p>
          </div>
          <div id="g-ai0-35" class="g-settings g-aiAbs" style="top:69.6667%;left:41.0095%;margin-left:-1.8117%;width:3.6234%">
            <p class="g-pstyle10">C/ Tenuán</p>
          </div>
          <div id="g-ai0-36" class="g-settings g-aiAbs" style="top:69.75%;left:3.1933%;width:3.4038%">
            <p class="g-pstyle1">metros</p>
          </div>
          <div id="g-ai0-37" class="g-settings g-aiAbs" style="top:69.75%;left:34.7378%;margin-left:-1.8117%;width:3.6234%">
            <p class="g-pstyle10">C/ Velázquez</p>
          </div>
          <div id="g-ai0-38" class="g-settings g-aiAbs" style="top:71.5%;left:56.0697%;margin-left:-1.3588%;width:2.7175%">
            <p class="g-pstyle10">Plaza Nueva</p>
          </div>
          <div id="g-ai0-39" class="g-settings g-aiAbs g-aiPointText" style="top:73.4877%;margin-top:-7.9px;left:3.175%;width:278px">
            <p class="g-pstyle15">
              <span class="g-cstyle0">Fuente:</span>Elaboración propia / <span class="g-cstyle0">Gráfico:</span>A. Montes
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function scrollControl() {
      const scrollWrappers = document.querySelectorAll('.b-voc-scroll-wrapper');
      scrollWrappers.forEach(wrapper => {
        const sticky = wrapper.querySelector('.b-voc-scroll-sticky');
        const contenido = wrapper.querySelector('.b-voc-scroll-contenido');
        if (sticky && contenido) {
          const idpos1 = sticky.getBoundingClientRect().top;
          const maxWidth = contenido.scrollWidth;
          wrapper.style.height = (maxWidth - window.innerWidth + window.innerHeight) + 'px';
          const scrollPos = wrapper.getBoundingClientRect().top;
          if (idpos1 == 0) {
            contenido.style.left = (scrollPos) + 'px';
          }
        }
      });
      requestAnimationFrame(scrollControl);
    }
    window.requestAnimationFrame(scrollControl);
  </script>
</div>

<p class="v-d-p" style="">Pese a que el precio de las sillas sube paulatinamente, estas cuentan con una larga lista de espera de sevillanos. Los ingresos que dejan repercuten directamente en las subvenciones que reciben todas las hermandades.</p>
<p class="v-d-p" style="">La carrera oficial se encuentra en pleno Centro de la capital hispalense. Mientras algunas hermandades están muy cerca y apenas pasan cuatro horas en la calle, las que acuden desde los barrios periféricos deben recorrer largos kilometrajes (en torno a 10,5 kilómetros las dos cofradías que llegan desde más lejos, San Pablo y el Cerro) para llegar desde su templo y regresar al mismo.</p>
<p class="v-d-p" style="">Algunas salidas procesionales duran entre 14 y 15 horas. Hay otras, las más nuevas, que salen solamente por sus barrios en las jornadas del Viernes de Dolores y el Sábado de Pasión, algunas por la imposibilidad física de llegar al Casco Antiguo, y otras por la falta de espacio en la Semana Santa, donde cada año las cofradías son más largas y tardan más en pasar.</p>

{{!-- NOTE: Ladillo Kraken --}}
{{> ./kraken-components/ladillo 
  txt="Sevilla, ciudad de la Semana Santa"
}}

<p class="v-d-p" style="">Fuera de la carrera oficial se vive otra Semana Santa en la que el público y las hermandades son uno. El callejero de Sevilla adquiere un protagonismo muy especial por ser el escenario en movimiento por el que discurren las cofradías y en el que todo el mundo puede disfrutarlas. Se mire donde se mire hay pasos y nazarenos.</p>

{{!-- NOTE: Rutas Semana Santa --}}
<div class="v-c-cmp v-c-cmp--l">
  {{> ./includes/ss-routes }}
</div>

<p class="v-d-p" style="">Hay puntos especialmente destacados que concentran una buena cantidad de cofrades, como la plaza del Salvador, de donde salen las cofradías de la Borriquita, el Amor y Pasión, y pasan muchas otras; o las cercanas cuesta del Rosario y cuesta del Bacalao, donde muchos pasos se lucen subiéndolas al completo sin detenerse mientras suenan marchas procesionales una detrás de otra.</p>
<p class="v-d-p" style="">Al otro lado del recorrido oficial, el arco del Postigo ofrece estampas emblemáticas con el discurrir de numerosos cortejos procesionales, y algo más adelante, la calle Adriano se convierte en uno de los puntos más multitudinarios cuando la capilla del Baratillo acoge la esperada presentación de las hermandades de Triana en el itinerario de regreso a su barrio.</p>

{{!-- NOTE: Mapa puntos Semana Santa --}}
<div class="v-c-cmp v-c-cmp--l">
  {{> ./includes/ss-map }}
</div>

<p class="v-d-p" style="">Quienes busquen espacios algo más amplios para ver con mayor comodidad las cofradías, tienen opciones más que interesantes en enclaves como la plaza de la Encarnación, donde la modernidad de las Setas se funde con la tradición barroca de los pasos; la Alameda de Hércules, un clásico de la infancia donde numerosas familias con niños han pedido sus primeros caramelos en las primeras horas de la tarde; o una calle ancha como Reyes Católicos, que acoge el discurrir de populosas hermandades tanto a la ida hacia la Catedral como de vuelta a sus templos.</p>
<p class="v-d-p" style="">61 cofradías recorren tanto las principales arterias de la ciudad como los callejones menos transitados y las calles de los barrios más alejados del Centro. Las jornadas más repletas de procesiones cuentan hasta nueve distintas, como ocurre el Domingo de Ramos, el Lunes y el Miércoles Santo; mientras que el Sábado Santo 'sólo' salen cinco, y el Domingo de Resurrección, una.</p>
<p class="v-d-p" style="">Entre todo este maremágnum de pasos e imágenes, se encuentran devociones tan capitales como la Esperanza Macarena, la Esperanza de Triana, el Señor del Gran Poder o el de la Salud de los Gitanos, que salen en la Madrugada del Viernes Santo; el Cachorro, que lo hace en la tarde de esa jornada; o grandes dolorosas como la Virgen de la Estrella y la Amargura, que procesionan el Domingo de Ramos.</p>

{{!-- NOTE: Scrolly Methode --}}

<p class="v-d-p" style="">La dualidad de Sevilla se hace palpable en todos sus aspectos, y la Semana Santa no se queda atrás: hay hermandades de centro y de barrio, las hay que llevan música y que van en silencio, así como dos grandes imágenes de la Virgen como son la Macarena y la Esperanza de Triana que concentran multitudes llegadas de todas partes y cuyas filas de nazarenos se cuentan por varios miles.</p>
<p class="v-d-p" style="">El nazareno es una de las figuras clave de la Semana Santa. Desde el anonimato que le confiere llevar el rostro tapado por el antifaz, constituye el elemento más puro de las cofradías. Con túnicas de diferentes materiales y colores en función de la hermandad, recorren el itinerario alumbrando con una vela el discurrir de sus imágenes o cargando una cruz a modo de penitencia.</p>
<p class="v-d-p" style="">Los de las hermandades de barrio reparten caramelos, estampitas e incluso cera para que los niños sevillanos hagan crecer sus tradicionales bolas de cera.</p>

{{!-- NOTE: Ai2Html --}}

<p class="v-d-p" style="">Pero en las procesiones son muchas las posibles funciones: desde los costaleros que cargan los pasos, pasando por el capataz que manda por dónde tienen que ir, hasta los músicos que tocan tras las imágenes o los monaguillos y acólitos que perfuman de incienso las calles antecediendo la llegada de los pasos.</p>
<p class="v-d-p" style="">Fuera de los cortejos, los devotos deshojan flores para preparar las lluvias de pétalos que ofrecen a las vírgenes desde los balcones, donde los saeteros aclaran sus gargantas para lanzar su oración en forma del canto más profundo y visceral.</p>
<p class="v-d-p" style="">IMAGEN QUE ROMPAA TODO EL ANCHO (DE ALGUNA PROCESIÓN, PENDIENTE DE JUAN</p>

{{!-- NOTE: Ladillo Kraken --}}
{{> ./kraken-components/ladillo 
  txt="La Semana Santa de Sevilla, en cifras"
}}

<p class="v-d-p" style="">Puede ser difícil comprender la magnitud de la importancia, el impacto y la repercusión de la Semana Santa en Sevilla si no se ha vivido sobre el terreno. Sin embargo, una serie de cifras sobre todo lo que mueve pueden ser muy ilustrativas.</p>

{{!-- NOTE: Cifra --}}
<div class="v-c-cmp">
  <div class="v-n-ss-cifra-c">
    {{> ./includes/ss-cifra 
      number="4,6"
      icon-silla=true
      txt="Millones de ingresos por sillas"
    }}
    {{> ./includes/ss-cifra 
      number="1.861"
      icon-policia=true
      txt="Agentes de policía"
    }}
  </div>
</div>

<p class="v-d-p" style="">Con más de 67.000 nazarenos, es la más numerosa de toda España en participación directa de los cofrades. en el caso de la hermandad más numerosa, la Macarena, superan los 4.000, con un récord que se bate año tras año.</p>
<p class="v-d-p" style="">Solo durante la Madrugada, la jornada más multitudinaria, se ponen en la calle más de 14.000 nazarenos entre las seis hermandades que la conforman. Además, 46 bandas diferentes ponen sus sones tras los pasos, cada vez con más integrantes. Algunas de estas formaciones musicales las integran hasta180 músicos que hacen las delicias del público.</p>

{{!-- NOTE: Cifra --}}
<div class="v-c-cmp">
  <div class="v-n-ss-cifra-c">
    {{> ./includes/ss-cifra 
      number="45"
      icon-musica=true
      txt="Bandas de música"
    }}
    {{> ./includes/ss-cifra 
      number="6.000"
      icon-balcon=true
      txt="Euros de media por alquiler de balcón"
    }}
  </div>
</div>

<p class="v-d-p" style="">La carrera oficial también deja unos números que merecen ser reseñados. Los precios de las 35.500 sillas que se montan entre la Campana y la Catedral no han dejado de subir en los últimos años. En la actualidad oscilan <strong>entre los 90,50 y los 197,96 euros por localidad</strong>, y pueden llegar hasta los 1.016,77 euros en el caso de los cotizados palcos de la plaza de San Francisco. </p>
<p class="v-d-p" style="">Los ingresos que estas sillas arrojan alcanzaron el año pasado los, 4,6 millones de euros, un dinero que se emplea para las subvenciones que se otorgan a cada una de las hermandades. Pero es que los balcones para verlas pasar cuestan de media 6.000 euros. En total, se estima que el impacto económico del turismo que llega a la ciudad durante estos días es de unos 500 millones, con la ocupación hotelera por las nubes.</p>
<p class="v-d-p" style="">Todo ello va de la mano de un importante despliegue de las fuerzas de seguridad y los servicios públicos (limpieza, transporte público, etc.). La Policía Nacional moviliza a unos 1.900 agentes, mientras que casi un millar de agentes de Policía Local trabajan sobre el terreno durante toda la semana. Coordinados entre ellos y con Protección Civil, el CECOP hace de intermediario. Este órgano municipal se encarga de gestionar emergencias, eventos masivos como este y la seguridad ciudadana. Todo en aras de que la Semana Santa salga un año más a pedir de boca.</p>