<p class="v-d-p">Ezequiel fue uno de esos niños. Un niño que quiso un nombre, un título, y que el miedo que infundía le abriera paso. Y lo consiguió. Se hizo llamar líder. Se hizo temer. Y en ese miedo se perdió.</p>

<p class="v-d-p">Este podcast cuenta la historia real de Ezequiel, aunque ese no sea su verdadero nombre. Aunque no pueda compartirlo por su seguridad. Su camino marcado por las calles, la sangre y los cuchillos hizo que se convirtiera en el líder de una banda latina. En este proceso se desdibujaran las líneas entre lo que es ser una víctima y ser un verdugo. Porque Ezequiel, el protagonista de esta historia, estuvo en el infierno desde muy pequeño, pero también era quien hacía el daño. «Estaba harto de cerrar los ojos y solo ver sangre».</p>

<p class="v-d-p">Latin Kings y Ñetas, Dominican Don’t Play y su eterna rivalidad con los Trinitarios. La masculinidad, el racismo, la lealtad, el papel de la sociedad para resolver este problema. ¿Son solo latinos? ¿Cómo son desde dentro? ¿Es siquiera posible salir? ¿Cuál es el papel de la mujer dentro de una banda? ¿cómo se crean, crecen, se transforman?</p>

<p class="v-d-p">Este podcast es el resultado de decenas de entrevistas y meses de investigación. Las voces de Rosa, Alexander, Emilia, Javier… acompañarán a la de Ezequiel en este juego de lealtades, drogas, fiestas y violencia. Es un intento por entender lo inentendible. Por comprender a quien estuvo dispuesto a hacer lo que fuera necesario para sentir algo de cariño y aceptación.</p>

{{> ./includes/dvd-content }}