<div class="v-c-cmp">
  {{> ./includes/noise-bg }}
</div>

<p class="v-d-p">Elena pensaba que cuando Lucas, su hijo de diez años, jugaba con el iPad en el sofá estaba simplemente "construyendo mundos". Para la arquitecta de 42 años, 'Roblox', la plataforma global en línea donde los usuarios comparten, diseñan sus creaciones y juegan a millones de videojuegos creados por otros, era “una versión moderna de Lego”. Pero un martes por la tarde, el silencio cambió de textura.</p>
<p class="v-d-p">"Me dio por girar la cabeza y vi que Lucas estaba rígido frente a la pantalla", recuerda Elena, sentada en el mismo sofá donde comenzó la pesadilla. "Estaba escribiendo, y eso lo tenemos prohibido. Cuando me acerqué, cerró la pestaña de un golpe”, recuerda. “Tuvimos una bronca fuerte; él estaba muy nervioso y a la defensiva. Le quité el iPad y lo mandé a la cama".</p>

<div class="v-c-cmp">
  {{> ./includes/nave-3d }}
</div>

<p class="v-d-p">Elena pensaba que cuando Lucas, su hijo de diez años, jugaba con el iPad en el sofá estaba simplemente "construyendo mundos". Para la arquitecta de 42 años, 'Roblox', la plataforma global en línea donde los usuarios comparten, diseñan sus creaciones y juegan a millones de videojuegos creados por otros, era “una versión moderna de Lego”. Pero un martes por la tarde, el silencio cambió de textura.</p>
<p class="v-d-p">"Me dio por girar la cabeza y vi que Lucas estaba rígido frente a la pantalla", recuerda Elena, sentada en el mismo sofá donde comenzó la pesadilla. "Estaba escribiendo, y eso lo tenemos prohibido. Cuando me acerqué, cerró la pestaña de un golpe”, recuerda. “Tuvimos una bronca fuerte; él estaba muy nervioso y a la defensiva. Le quité el iPad y lo mandé a la cama".</p>
