<div class="v-ath__w v-ath__w--2">
  <div class="v-ath__g">
    <p class="v-ath__p v-ath__p--1">
      <a href="https://www.abc.es/autor/carlota-perez-4237/" title="{{ metadata.author }}">{{ metadata.author }}</a> {{ metadata.coauthor}}
    </p>
    <p class="v-ath__p v-ath__p--2">
      <span>{{ metadata.location }}</span>
    </p>
  </div>
  <time class="v-ath__p v-ath__p--3" datetime="2026-02-18T10:02:15Z">16/02/2026 <span>Actualizado 18/02/2026 - 11:02h.</span>
  </time>
</div>