<p class="v-d-p">Lo anterior no es una ficción. Es la historia de Sade, un cristiano en un país musulmán que dejó su tierra perseguido por su fe. “Temía por mi vida, así que tuve que irme”, cuenta. Sade lleva más de una década como inmigrante irregular en suelo europeo.</p>

<p class="v-d-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti iste culpa commodi ad assumenda eius? Quaerat beatae, soluta, doloremque numquam odit tempora amet doloribus provident recusandae qui dolores explicabo nihil?</p>

{{!-- NOTE: Cintillo --}}
<div class="v-c-cmp">
  {{> ./includes/cintillo title="Estilo ladillo o sumario estilo ladillo o sumario" }}
</div>

<p class="v-d-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim quis iusto molestiae! Officiis voluptatibus repudiandae sed aut nostrum maiores nesciunt asperiores, incidunt distinctio magni modi dolor sunt repellat hic! Aut.</p>

{{!-- NOTE: Imagen con detalle --}}
<div class="v-c-cmp">
  {{> ./includes/image-detail 
      img="assets/images/image-detail-01.webp"
      figcaption=true
      figcaptionTitle="Firma"
      detailTitle="Los vampiros"
      detailDescription="Son ultras, de extrema derecha, pero también de extrema izquierda, y a pesar de eso sus odios y alianzas no responden siempre a unas ideas políticas."
      detailImage="assets/images/image-detail-01-detail.webp"
  }}
</div>