{{!-- NOTE: Se mueve arriba por JS -> js/dom-utils.js --}}
{{> components/flip-countdown }} 

{{> components/selector-cards }}
{{> components/selector-nav }}

{{> components/title-card 
    imgSrc="card-mazo"
    title="Xxxxxxxxxxmazo"
    desc="Xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
}}
<h3 class="voc-d-c__s-title">Población</h3>
<p class="voc-p">Entradilla xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxx
</p>
{{> components/combo-2 }}