<span class="paywall">
  <div class="voc-advertising voc-advertising--megabanner voc-advertising--fw">
    <div class="voc-advertising__item">
      <div data-voc-vam="" data-voc-vam-position="megabanner" id="megabanner-id" data-google-query-id="CMav5o6NupADFQckBgAdasILmQ" data-voc-vam-displayed="true">
        <div id="google_ads_iframe_/4900/vocento.abc/sociedad_2__container__" style="border:0 none;display:inline-block;width:970px;height:250px">
          <iframe frameborder="0" src="https://0c7b47a09bcdabaefac698e492939803.safeframe.googlesyndication.com/safeframe/1-0-45/html/container.html" id="google_ads_iframe_/4900/vocento.abc/sociedad_2" title="3rd party ad content" name="" scrolling="no" marginwidth="0" marginheight="0" width="1" height="1" data-is-safeframe="true" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" allow="private-state-token-redemption;attribution-reporting" aria-label="Advertisement" tabindex="0" data-google-container-id="3" style="border:0;vertical-align:bottom;width:970px;height:250px" data-load-complete="true"></iframe>
        </div>
      </div>
    </div>
  </div>
  <p class="voc-p" style="">Por ese punto se fue colando y fue encaramándose a las cosas, empujándolas, <strong>despedazando casas, muebles y vidas</strong>en un destrozo de escalas nunca concebidas. </p>
  <p class="voc-p" style="">Calle abajo, entre los dos puentes, los milagros se trenzaron con las desdichas en la noche de la dana de la que va a cumplirse un año. Estas son las historias de la <strong>zona cero</strong>de la catástrofe, un vacío de cien metros de largo por un año de ancho que aún persiste. </p>

  {{> components/map
    desktop="true"
  }}

  {{> components/map 
    id="1"
  }}

  <div class="voc-c-container">
    <div class="voc-d-c-chapter">
      <p class="voc-d-c__pretitle">Sant Jordi, 24: Raquel estaba embarazada</p>
      <h3 class="voc-d-c-chapter__title">San Fermín y el milagro para Giulia</h3>
    </div>
  </div>
  <div class="voc-c-container voc-c-container--wmd">
    <div class="voc-article-container">
      <div class="voc-article voc-article--c-photo">
        <div class="voc-img-container voc-img-container--fw-xs">
          <figure class="voc-img-figure">
            <div class="voc-img-link">
              <img loading="lazy" src="https://s3.abcstatics.com/abc/www/multimedia/sociedad/2025/10/26/1501648091-k8AE--1150x646@diario_abc.jpg" class="voc-img" width="1150" height="646" alt="Raquel y su hija Giulia, que vino al mundo después de la dana. Aún está en la pared el cartel de bienvenida que colgó su marido en la casa que acababan de comprar, antes de que lluvia lo arrasara todo." data-voc-vtm-id="in-text-traffic">
            </div>
            <figcaption class="voc-figcaption-container">
              <span class="voc-figcaption voc-figcaption--text">Raquel y su hija Giulia, que vino al mundo después de la dana. Aún está en la pared el cartel de bienvenida que colgó su marido en la casa que acababan de comprar, antes de que lluvia lo arrasara todo.</span>
              <span class="voc-figcaption voc-figcaption--author">foto: IGNACIO GIL | vídeo: Carlota garcía y juan bitrián</span>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
  <p class="voc-p" style="">Raquel Nieto gira la llave del contacto del coche y el coche no arranca. Si tuviera que elegir un momento en el que cambió su vida fue ese, el instante del milagro: hace clic y la batería se ha terminado.</p>
  <p class="voc-p" style="">Es 29 de octubre y la administrativa, <strong>embarazada de su primera hija</strong>, ha acudido a Valencia a la revisión prenatal, pero no puede volver a su casa en Paiporta en la calle Sant Jordi donde la muerte va tomando posiciones en los bajos de las casas, en las aceras y los garajes. </p>
  <p class="voc-p" style="">La salva la mala suerte. Poco después, el barranco del Poyo rebosa sus márgenes, sus vecinos tratan de sellar la puerta de cristal del primer portal de su bloque con silicona, una medida fútil ante la riada que sube y sube. Media hora más tarde, destroza la casa que acaba de comprar con su marido para criar a su hija Giulia, que está en camino. <strong>Su marido está de viaje</strong>y ha colgado de la pared unas letras rosas brillantes que dicen 'Welcome Home'. </p>
  <div class="voc-advertising">
    <div class="voc-advertising__item">
      <div data-voc-vam="" data-voc-vam-position="layer_inpage" id="layer_inpage-id" data-google-query-id="CMWv5o6NupADFQckBgAdasILmQ" data-voc-vam-displayed="true" w-consumed="" style="flex:1 1 auto">
        <div id="google_ads_iframe_/4900/vocento.abc/sociedad_1__container__" style="border:0 none">
          <iframe id="google_ads_iframe_/4900/vocento.abc/sociedad_1" name="google_ads_iframe_/4900/vocento.abc/sociedad_1" title="3rd party ad content" width="1" height="1" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" aria-label="Advertisement" tabindex="0" allow="private-state-token-redemption;attribution-reporting" data-load-complete="true" data-google-container-id="2" style="border:0;vertical-align:bottom"></iframe>
        </div>
        <div id="wms-intext" w-type="outstream" class="wms-intext" style="position:relative">
          <style type="text/css" id="st_jw-s71357135">
            #jw-s71357135 .wm-progresscontainer {
              width: 60% !important;
              margin: auto !important;
              grid-column-start: 1 !important;
              grid-column-end: 1 !important;
              grid-row-start: 5 !important;
              grid-row-end: 5 !important;
              position: relative !important;
              opacity: .5 !important;
              transform: rotate(-90deg) !important;
              z-index: 2 !important
            }

            #jw-s71357135 div.wm-playbutton {
              left: 0 !important;
              content: "." !important;
              top: 0 !important;
              height: 100% !important;
              width: 100% !important;
              position: absolute !important;
              cursor: pointer !important;
              z-index: 10 !important;
              background-color: rgba(60, 60, 60, .7) !important
            }

            #jw-s71357135 svg.wm-playbutton {
              height: 100% !important;
              margin: auto !important;
              grid-column-start: 4 !important;
              grid-column-end: 4 !important;
              grid-row-start: 3 !important;
              grid-row-end: 3 !important;
              position: relative !important;
              cursor: pointer !important;
              z-index: 10 !important;
              opacity: .7 !important;
              fill: #92c01f !important
            }

            #jw-s71357135 svg.wm-playbutton:hover {
              opacity: 1 !important
            }

            #jw-s71357135 .off {
              display: none !important
            }

            #jw-s71357135 .wm-sound {
              width: 70% !important;
              margin: auto !important;
              grid-column-start: 6 !important;
              grid-column-end: 6 !important;
              grid-row-start: 1 !important;
              grid-row-end: 1 !important;
              position: relative !important;
              cursor: pointer !important;
              z-index: 10 !important;
              fill: #c2d882 !important
            }

            #jw-s71357135 .wm-sound:hover {
              fill: #92c01f !important
            }

            #jw-s71357135 div.jw-wrapper {
              background-color: transparent !important;
              border-bottom: 10px solid transparent !important
            }

            #jw-s71357135 div.jw-wrapper::before {
              order: 0 !important;
              align-self: flex-end !important;
              content: "Powered By" !important;
              line-height: 10px !important;
              font-family: Calibri, sans-serif, sans !important;
              color: #3c3c3b !important;
              bottom: -10px !important;
              right: 100px !important;
              position: absolute !important;
              font-size: 10px !important;
              -webkit-touch-callout: none !important;
              -webkit-user-select: none !important;
              -khtml-user-select: none !important;
              -moz-user-select: none !important;
              -ms-user-select: none !important;
              user-select: none !important
            }

            #jw-s71357135 div.jw-wrapper::after {
              order: 1 !important;
              align-self: flex-end !important;
              content: "WeMass" !important;
              line-height: 10px !important;
              font-family: Calibri, sans-serif, sans !important;
              font-weight: 700 !important;
              bottom: -10px !important;
              right: 50px !important;
              font-size: 10px !important;
              position: absolute !important;
              -webkit-touch-callout: none !important;
              -webkit-user-select: none !important;
              -khtml-user-select: none !important;
              -moz-user-select: none !important;
              -ms-user-select: none !important;
              user-select: none !important;
              color: #92c01f !important
            }

            #jw-s71357135 video.jw-video {
              background-color: #000 !important
            }

            #jw-s71357135 div.jw-aspect {
              padding-bottom: 25px !important
            }

            #jw-s71357135 iframe.jw-vpaid-iframe {
              z-index: 4 !important
            }

            #jw-s71357135 .wm-decorations {
              position: relative !important;
              width: 100% !important;
              height: 100% !important;
              display: inline-grid !important;
              grid-template-rows: 15% 1fr 50% 1fr 15% !important;
              grid-template-columns: 7.5% 7.5% 1fr 50% 1fr 7.5% 7.5% !important;
              background: 0 0 !important
            }

            #jw-s71357135 .wm-decorations * {
              background: initial !important
            }
          </style>
          <div id="jw-s71357135" style="width:100%;aspect-ratio:16/9">
            <div style="position:absolute;width:660px;height:371.25px" class="jw-wrapper">
              <div style="width:100%;height:100%;display:flex;align-items:center;justify-content:center;z-index:4;position:absolute;background-color:#f2f2f2">
                <div style="border-radius:5px;padding:5px;color:#000;z-index:4;background-color:#f2f2f2">Thanks for watching!</div>
              </div>
              <div style="display:none;height:100%;width:100%;position:absolute" class="wm-media-wrapper">
                <video title="Advertisement" webkit-playsinline="true" playsinline="true" style="background-color:#000;height:100%;width:100%;position:absolute;left:0;top:0"></video>
                <div style="position:absolute;width:100%;height:100%;left:0;top:0"></div>
                <div class="wm-decorations">
                  <svg class="wm-progresscontainer" viewBox="-1 -1 2 2">
                    <circle r="1" fill="#eaf1d9"></circle>
                    <path class="wm-progress" fill="#92c01f" d="M 1 0 A 1 1 0 1 1 1 -2.4492935982947064e-16 L 0 0"></path>
                  </svg>
                  <div class="wm-playbutton off wm-volatile" style="display:none"></div>
                  <svg viewBox="0 0 24 24" class="wm-playbutton off wm-volatile" style="display:none">
                    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z" fill-opacity="50%"></path>
                  </svg>
                  <svg viewBox="0 0 36 36" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" class="wm-sound wm-volatile" style="display:none">
                    <path d="M4.5 13.5v9h6L18 30V6l-7.5 7.5h-6zM24.75 18c0-2.655-1.53-4.935-3.75-6.045V24.03A6.71 6.71 0 0 0 24.75 18zM21 4.845v3.1c4.335 1.3 7.5 5.3 7.5 10.065s-3.165 8.775-7.5 10.065v3.1C27.015 29.8 31.5 24.42 31.5 18S27.015 6.2 21 4.845z" fill-rule="nonzero"></path>
                    <path d="M6.486 4.39l-1.98 1.98 25.147 25.147 1.98-1.98L6.486 4.39z"></path>
                  </svg>
                </div>
              </div>
              <div style="display:none">
                <video title="Advertisement" webkit-playsinline="true" playsinline="true" style="background-color:#000;height:100%;width:100%;position:absolute;left:0;top:0"></video>
                <div style="position:absolute;width:100%;height:100%;left:0;top:0"></div>
              </div>
              <iframe src="https://imasdk.googleapis.com/js/core/bridge3.727.1_en.html?gdpr=1#deid=%22%22&amp;eventfe_experiment_ids=%5B%5D&amp;fid=%22goog_835093980%22&amp;genotype_experiment_data=%7B%22experimentStateProto%22%3A%22%5B%5B%5B45713128%2Cnull%2Cnull%2C%5B%5D%5D%2C%5B803064088%2Cnull%2Cnull%2C%5B1%5D%5D%2C%5B45681221%2Cnull%2Cnull%2C%5B1%5D%5D%2C%5Bnull%2C749060184%2Cnull%2C%5Bnull%2C100%5D%5D%2C%5B45722344%2Cnull%2Cnull%2C%5B%5D%5D%2C%5B45706017%2Cnull%2Cnull%2C%5B%5D%5D%2C%5B45668885%2Cnull%2Cnull%2C%5B%5D%5D%2C%5B45685340%2Cnull%2Cnull%2C%5B%5D%5D%2C%5B45663239%2Cnull%2Cnull%2C%5B%5D%5D%2C%5B45715032%2Cnull%2Cnull%2C%5B1%5D%5D%2C%5B45661356%2Cnull%2Cnull%2C%5B%5D%5D%2C%5B45676441%2Cnull%2Cnull%2C%5B%5D%5D%2C%5B45675307%2Cnull%2Cnull%2C%5B1%5D%5D%2C%5B45675308%2Cnull%2Cnull%2C%5B1%5D%5D%2C%5Bnull%2C45645574%2Cnull%2C%5B%5D%5D%2C%5B45688859%2Cnull%2Cnull%2C%5B%5D%5D%2C%5B45656766%2Cnull%2Cnull%2C%5B%5D%5D%2C%5B45710689%2Cnull%2Cnull%2C%5B%5D%5D%2C%5B45710688%2Cnull%2Cnull%2C%5B%5D%5D%2C%5B45685601%2Cnull%2Cnull%2C%5B%5D%5D%2C%5Bnull%2C45685602%2Cnull%2C%5Bnull%2C500%5D%5D%2C%5B775241416%2Cnull%2Cnull%2C%5B%5D%5D%2C%5B781107959%2Cnull%2Cnull%2C%5B%5D%5D%2C%5B781107958%2Cnull%2Cnull%2C%5B%5D%5D%2C%5B792614055%2Cnull%2Cnull%2C%5B%5D%5D%2C%5B781107957%2Cnull%2Cnull%2C%5B%5D%5D%2C%5B45658982%2Cnull%2Cnull%2C%5B%5D%5D%2C%5B45725657%2Cnull%2Cnull%2C%5B%5D%5D%5D%2C%5B%5B16%2C%5B%5B1%2C%5B%5B31089630%5D%2C%5B31089631%2C%5B%5B45668885%2Cnull%2Cnull%2C%5B1%5D%5D%5D%5D%5D%5D%2C%5B1000%2C%5B%5B95332046%5D%5D%5D%2C%5Bnull%2C%5B%5B95332047%5D%5D%5D%2C%5B10%2C%5B%5B95333808%5D%2C%5B95333809%2C%5B%5B635466687%2Cnull%2Cnull%2C%5B1%5D%5D%5D%5D%5D%5D%2C%5B10%2C%5B%5B95338769%2C%5B%5Bnull%2C45645574%2Cnull%2C%5Bnull%2C1%5D%5D%5D%5D%2C%5B95338770%2C%5B%5Bnull%2C45645574%2Cnull%2C%5Bnull%2C2%5D%5D%5D%5D%5D%5D%2C%5B10%2C%5B%5B95345206%5D%2C%5B95345207%2C%5B%5B45661356%2Cnull%2Cnull%2C%5B1%5D%5D%5D%5D%5D%5D%2C%5Bnull%2C%5B%5B95351425%5D%2C%5B95351426%2C%5B%5B45676441%2Cnull%2Cnull%2C%5B1%5D%5D%5D%5D%5D%5D%2C%5B10%2C%5B%5B95356068%5D%2C%5B95356069%2C%5B%5B45685601%2Cnull%2Cnull%2C%5B%5D%5D%2C%5Bnull%2C45685602%2Cnull%2C%5B%5D%5D%5D%5D%2C%5B95356070%2C%5B%5B45685601%2Cnull%2Cnull%2C%5B1%5D%5D%2C%5Bnull%2C45685602%2Cnull%2C%5B%5D%5D%5D%5D%2C%5B95356071%2C%5B%5B45685601%2Cnull%2Cnull%2C%5B1%5D%5D%2C%5Bnull%2C45685602%2Cnull%2C%5Bnull%2C100%5D%5D%5D%5D%5D%5D%2C%5B100%2C%5B%5B95365753%2C%5B%5B45710689%2Cnull%2Cnull%2C%5B1%5D%5D%5D%5D%2C%5B95365754%2C%5B%5B45710688%2Cnull%2Cnull%2C%5B1%5D%5D%5D%5D%5D%5D%2C%5Bnull%2C%5B%5B95370402%5D%2C%5B95370403%2C%5B%5B45722344%2Cnull%2Cnull%2C%5B1%5D%5D%5D%5D%5D%5D%2C%5B10%2C%5B%5B95372277%5D%2C%5B95372278%2C%5B%5Bnull%2C745150931%2Cnull%2C%5Bnull%2C1%5D%5D%5D%5D%5D%5D%2C%5B1%2C%5B%5B95373378%2C%5B%5B792614055%2Cnull%2Cnull%2C%5B1%5D%5D%5D%5D%2C%5B95373379%2C%5B%5B781107959%2Cnull%2Cnull%2C%5B1%5D%5D%2C%5B792614055%2Cnull%2Cnull%2C%5B1%5D%5D%2C%5B781107957%2Cnull%2Cnull%2C%5B1%5D%5D%5D%5D%5D%5D%2C%5B10%2C%5B%5B95375243%5D%2C%5B95375244%5D%5D%5D%2C%5B50%2C%5B%5B95375505%5D%2C%5B95375506%2C%5B%5Bnull%2C749060184%2Cnull%2C%5B%5D%5D%5D%5D%5D%5D%2C%5B100%2C%5B%5B95375625%5D%2C%5B95375626%2C%5B%5B45706017%2Cnull%2Cnull%2C%5B1%5D%5D%5D%5D%5D%5D%5D%5D%5D%2Cnull%2Cnull%2C%5Bnull%2C1000%2C1%2C1000%5D%5D%22%7D&amp;imalib_experiments=%5B95322027%2C95331589%2C95332046%2C95375626%5D&amp;is_eap_loader=false&amp;managed_js_experiment_id=0&amp;pvsid=8277214079406209&amp;top_accessible_page_url=%22https%3A%2F%2Fwww.abc.es%2Fsociedad%2Fdana-vida-muerte-cien-metros-20251026125431-nt.html%22" allowfullscreen="" allow="autoplay;attribution-reporting" id="goog_835093980" title="Advertisement" style="border:0;opacity:1;margin:0;padding:0;position:relative;color-scheme:light" width="660" height="371.25"></iframe>
              <iframe title="Advertisement" style="visibility:hidden;width:0;height:0;position:absolute;left:0;top:0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="voc-c-container">
    <div class="voc-article-container">
      <div class="voc-article voc-article--c-summary voc-article--photo-top">
        <div class="voc-info-container">
          <p class="voc-title">Si Raquel, embarazada, tiene que elegir un momento en el que cambió su vida fue ese. Cuando el coche no arrancó y, tras una revisión, no pudo volver a Paiporta</p>
          <div class="voc-article-position"></div>
        </div>
      </div>
    </div>
  </div>
  <p class="voc-p" style="">El agua deja intacto el cartel de bienvenida, pero destroza todo lo que queda por debajo de la altura del pecho: los muebles, el suelo, la puerta, los muros, los electrodomésticos, la ropa, los cubiertos. Quedan unos zapatos arruinados, los adornos del traje de fallera y el armario de la cocina en el que guardan un año después, azúcar, pasta, café y otros enseres propios de una rutina y un tiempo que ya no existe.</p>
  <p class="voc-p" style="">Cuando entran los voluntarios por la ventana y entre los muros de pladur arrancados, unos policías municipales de Pamplona encuentran <strong>intacto, un pañuelo de San Fermín</strong>que cuelga de una llave de paso del agua como un símbolo. La ropa blanca y roja del seis de julio también se salvó. <span class="v-break"></span>
  </p>
  <div class="voc-c-container voc-c-container--wsm-max">
    <div class="voc-article-container">
      <div class="voc-article voc-article--c-photo">
        <div class="voc-img-container voc-img-container--fw-xs">
          <figure class="voc-img-figure">
            <div class="voc-img-link">
              <img loading="lazy" src="https://s1.abcstatics.com/abc/www/multimedia/sociedad/2025/10/26/newspaint-1760627566130-1920x1080-kUbC--954x536@diario_abc.jpg" class="voc-img" width="954" height="536" alt="A la izquierda, Raquel, junto a su pareja en Sanfermines. A la derecha, detalle del tradicional complemento de las fiestas." data-voc-vtm-id="in-text-traffic">
            </div>
            <figcaption class="voc-figcaption-container">
              <span class="voc-figcaption voc-figcaption--text">A la izquierda, Raquel, junto a su pareja en Sanfermines. A la derecha, detalle del tradicional complemento de las fiestas.</span>
              <span class="voc-figcaption voc-figcaption--author">CEDIDA</span>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
  <div id="wms-intext-multi1" w-type="'multi-outstream-free'" class="wms-intext" style="position:relative">
    <div id="jw-s71357135-multi1" style=""></div>
    <div id="sm-it-main-container-1761215152987" class="sm-it-main-container" data-it="d03cd130-8ea5-47b0-bc36-0143afa37f3b" data-device="desktop" data-index="0" style="width:660px;height:495px;margin-top:10px;margin-bottom:20px;overflow:hidden">
      <div id="sm-reference-1761215152987" class="sm-reference" style="background-color:#e7e7e7">
        <sun-loading style="display:none"></sun-loading>
      </div>
      <sun-restart class="sm-restart" style="position:absolute;top:0;left:0;width:100%;height:100%"></sun-restart>
    </div>
  </div>
  <p class="voc-p" style="">«Se me ponen los pelos de punta», confiesa Raquel, que confía en que aquel día, el santo pamplonés, al que han visitado en las últimas fiestas y al que han rogado protección para el bebé que acaban de concebir, obra <strong>el milagro de salvar a Giulia</strong>gastando la maldita batería del coche. Un periódico de Navarra publica la historia y la gente de Pamplona les ofrece sitio para volver en julio. No pueden ir, pero viajan meses más tarde para visitar al santo navarro y darle las gracias. </p>
  <p class="voc-p" style="">Ha pasado un año. <strong>La casa sigue como estaba</strong>. La silla de la vecina atraviesa aún la reja de su terraza, el balcón sigue manchado de barro. Alguien ha arrojado desde la calle una felicitación en la que un niño desconocido escribe torpemente: «Feliz Navidad». </p>
  <div class="voc-advertising voc-advertising--native">
    <div class="voc-advertising__item">
      <div data-voc-vam="" data-voc-vam-position="boton_native" id="boton_native-id" data-google-query-id="CMSv5o6NupADFQckBgAdasILmQ" data-voc-vam-displayed="true">
        <div id="google_ads_iframe_/4900/vocento.abc/sociedad_0__container__" style="border:0 none;display:inline-block;width:100%;height:auto">
          <iframe frameborder="0" src="https://0c7b47a09bcdabaefac698e492939803.safeframe.googlesyndication.com/safeframe/1-0-45/html/container.html" id="google_ads_iframe_/4900/vocento.abc/sociedad_0" title="3rd party ad content" name="" scrolling="no" marginwidth="0" marginheight="0" width="0" height="613" data-is-safeframe="true" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" allow="private-state-token-redemption;attribution-reporting" aria-label="Advertisement" tabindex="0" data-google-container-id="1" style="border:0;vertical-align:bottom;min-width:100%" data-load-complete="true"></iframe>
        </div>
      </div>
    </div>
  </div>
  <p class="voc-p" style="">La casa no se arregla aún porque nadie la puede arreglar. Llaman a muchas empresas. Algunas les dan presupuesto y después no responden; otras ni siquiera vienen, o declinan la oferta: «No damos abasto». Todo el mundo quiere arreglar su casa y todos los bajos de la Horta Sud de Valencia están arrasados. «Suben los precios mucho. Nos piden 120.000 euros, una barbaridad».</p>
  <div class="voc-c-container voc-c-container--wsm-max">
    <div class="voc-d-c-combo-3">
      <figure class="voc-d-c-combo-3__container">
        <div class="voc-d-c-combo-3__image voc-d-c-combo-3__image--1">
          <img loading="lazy" src="https://s1.abcstatics.com/abc/www/multimedia/sociedad/2025/10/26/1501648090-kfKG--954x591@diario_abc.jpg" class="voc-d-c-combo-3__img" width="954" height="591" alt="Imagen principal - Raquel tenía claro que su hija se llamaría Giulia y, con barro, lo dejó plasmado en la pared de su casa, destrozada. Un año después, el fango ya seco aún cubre los enseres">
        </div>
        <div class="voc-d-c-combo-3__image voc-d-c-combo-3__image--2">
          <img loading="lazy" src="https://s3.abcstatics.com/abc/www/multimedia/sociedad/2025/10/26/giulia-2-ok-kfKG--591x417@diario_abc.jpg" class="voc-d-c-combo-3__img" width="591" height="417" alt="Imagen secundaria 1 - Raquel tenía claro que su hija se llamaría Giulia y, con barro, lo dejó plasmado en la pared de su casa, destrozada. Un año después, el fango ya seco aún cubre los enseres">
        </div>
        <div class="voc-d-c-combo-3__image voc-d-c-combo-3__image--3">
          <img loading="lazy" src="https://s2.abcstatics.com/abc/www/multimedia/sociedad/2025/10/26/giulia-2-kfKG--347x417@diario_abc.jpg" class="voc-d-c-combo-3__img" width="347" height="417" alt="Imagen secundaria 2 - Raquel tenía claro que su hija se llamaría Giulia y, con barro, lo dejó plasmado en la pared de su casa, destrozada. Un año después, el fango ya seco aún cubre los enseres">
        </div>
        <figcaption class="voc-figcaption-container">
          <span class="voc-figcaption voc-figcaption--type">La vida entre el barro</span>
          <span class="voc-figcaption voc-figcaption--text">Raquel tenía claro que su hija se llamaría Giulia y, con barro, lo dejó plasmado en la pared de su casa, destrozada. Un año después, el fango ya seco aún cubre los enseres</span>
          <span class="voc-figcaption voc-figcaption--author">IGNACIO GIL</span>
        </figcaption>
      </figure>
    </div>
  </div>
  <p class="voc-p" style="">Meses después, encuentran a un familiar que les hace una obra que un año después está a punto de empezar. Les quedan meses para volver.</p>
  <p class="voc-p" style="">La puerta interior está bloqueada por el agua, así que para entrar en el bajo hay que trepar por un palé colocado contra la pared a modo de escalera. Primero sube Raquel, acostumbrada a encaramarse por los escombros de su vida con un ánimo que no se sabe de dónde viene. Después, le pide a la abuela: «Dame a la niña», y accede con el bebé en la habitación en la que ella escribió sobre la pared, con <strong>dedos manchados de barro</strong>, su nombre en mayúsculas: GIULIA. </p>
  <p class="voc-p" style="">Cuando explica que es la primera vez que entra con la niña, se le quiebra muy levemente la voz: <strong>«¿Te gusta tu casa, hija?».</strong>
  </p>

  {{> components/map 
    id="2"
  }}

  <div class="voc-c-container">
    <div class="voc-d-c-chapter">
      <p class="voc-d-c__pretitle">Sant Jordi, 12: María José y su hijo autista sobrevivieron por minutos</p>
      <h3 class="voc-d-c-chapter__title">Un nadador en la riada</h3>
    </div>
  </div>
  <div class="voc-c-container voc-c-container--wmd">
    <div class="voc-article-container">
      <div class="voc-article voc-article--c-photo">
        <div class="voc-img-container voc-img-container--fw-xs">
          <figure class="voc-img-figure">
            <div class="voc-img-link">
              <img loading="lazy" src="https://s1.abcstatics.com/abc/www/multimedia/sociedad/2025/10/26/historia3-nadador-madre-k8AE--1150x646@diario_abc.jpg" class="voc-img" width="1150" height="646" alt="María José escapó con su hijo Jordi. De camino, avisaron a vecinos para que se pusieran a salvo. Dos de ellos fallecieron." data-voc-vtm-id="in-text-traffic">
            </div>
            <figcaption class="voc-figcaption-container">
              <span class="voc-figcaption voc-figcaption--text">María José escapó con su hijo Jordi. De camino, avisaron a vecinos para que se pusieran a salvo. Dos de ellos fallecieron.</span>
              <span class="voc-figcaption voc-figcaption--author">FOTO Y VÍDEO: jUAN BITRIÁN Y CARLOTA GARCÍA</span>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
  <p class="voc-p" style="">María José Paredes y su hijo Jordi, joven autista de 16 años, están viendo la tele por la mañana cuando escuchan que el barranco se ha desbordado en Chiva. La madre mira frente a su casa, el cauce viene vacío. A las horas, comienza a subir y, de pronto, ella escucha un ruido fuerte. <strong>Algo ha golpeado contra el puente</strong>y el agua llega a los ojos de la infraestructura. </p>
  <div class="voc-c-container">
    <div class="voc-d-c-zoom">
      <div class="voc-article-container">
        <div class="voc-article voc-article--c-zoom">
          <div class="voc-img-container">
            <figure class="voc-img-figure">
              <button class="voc-img-link" data-target="open-c-zoom25" data-voc-component="modal-open" aria-label="Ampliar imagen">
                <img loading="lazy" src="https://s2.abcstatics.com/abc/www/multimedia/sociedad/2025/10/26/IMG_7104-kBxC--268x366@diario_abc.jpeg" class="voc-img" width="268" height="366" alt="Imagen - María José señalaba hace un año hasta dónde había llegado el agua en su vivienda.">
                <span class="voc-pill-m fill">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
                    <defs>
                      <clipPath id="clippath">
                        <path style="fill:none" d="M0 0h72v72H0z"></path>
                      </clipPath>
                      <style>
                        .cls-4 {
                          fill: #00c0ff
                        }
                      </style>
                    </defs>
                    <g style="clip-path:url(#clippath)" id="Capa_1">
                      <path d="M36 72c19.9 0 36-16.1 36-36S55.9 0 36 0 0 16.1 0 36s16.1 36 36 36Z" style="fill:#fff"></path>
                      <path class="cls-4" d="m29.1 26.9-9.4-9.4H24c.8 0 1.5-.7 1.5-1.5s-.7-1.5-1.5-1.5h-7.9c-.2 0-.4 0-.5.1-.4.2-.7.4-.8.8 0 .2-.1.4-.1.5v7.9c0 .8.7 1.5 1.5 1.5s1.5-.7 1.5-1.5v-4.3l9.3 9.4c.3.3.7.4 1.1.4s.8-.1 1.1-.4c.6-.6.6-1.5 0-2.1ZM55.9 46.5c-.8 0-1.5.7-1.5 1.5v4.4L45 42.9c-.6-.6-1.5-.6-2.1 0-.6.6-.6 1.5 0 2.1l9.3 9.4h-4.3c-.8 0-1.5.7-1.5 1.5s.7 1.5 1.5 1.5h7.9c.8 0 1.5-.7 1.5-1.5v-8c0-.8-.7-1.5-1.5-1.5ZM55.9 14.6H48c-.8 0-1.5.7-1.5 1.5s.7 1.5 1.5 1.5h4.2L42.9 27c-.6.6-.6 1.5 0 2.1.3.3.7.4 1.1.4s.8-.1 1.1-.4l9.4-9.4v4.4c0 .8.7 1.5 1.5 1.5s1.5-.7 1.5-1.5v-7.9c0-.8-.7-1.5-1.5-1.5ZM29.1 42.9c-.6-.6-1.5-.6-2.1 0l-9.3 9.4V48c0-.8-.7-1.5-1.5-1.5s-1.5.7-1.5 1.5v8c0 .8.7 1.5 1.5 1.5h7.9c.8 0 1.5-.7 1.5-1.5s-.7-1.5-1.5-1.5h-4.4l9.4-9.4c.6-.6.6-1.5 0-2.1Z"></path>
                    </g>
                  </svg>
                </span>
              </button>
              <figcaption class="voc-figcaption-container">
                <span class="voc-figcaption voc-figcaption--text">María José señalaba hace un año hasta dónde había llegado el agua en su vivienda.</span>
                <span class="voc-figcaption voc-figcaption--author">Ch. Apaolaza</span>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="open-c-zoom25" class="voc-modal voc-d-c-zoom-modal">
    <div class="voc-modal__wrapper">
      <button class="voc-modal__close" aria-label="Cerrar imagen ampliada">
        <svg viewBox="0 0 18.139 15.673">
          <g transform="translate(1005.835 -1055.521)">
            <rect width="22" height="2" rx="1" transform="rotate(40 -1952.285 -852.229)"></rect>
            <rect width="22" height="2" rx="1" transform="rotate(-40 966.519 1916.585)"></rect>
          </g>
        </svg>
      </button>
      <div class="voc-modal__container">
        <img src="https://s3.abcstatics.com/abc/www/multimedia/sociedad/2025/10/21/IMG_7104.jpeg" class="voc-img" width="758" height="470" alt="Imagen - María José señalaba hace un año hasta dónde había llegado el agua en su vivienda.">
      </div>
    </div>
  </div>
  <p class="voc-p" style="">Un poco más tarde, arrancaría una pasarela, se iría la luz y morirían decenas en aquel barrio. Pero todavía no. En ese momento, María José pide a Jordi que <strong>coja la medicación y que se vista</strong>. Es hora de irse de la casa. Al salir, ven a Emilia y Salvador, sus vecinos, y les pide que suban a casa de Josefa, su hermana, pero se meten en su bajo y ambos mueren ahogados. Esa historia se contará después. </p>
  <p class="voc-p" style="">Jordi y ella van de la mano hacia el Ateneo, corriente abajo, a favor del torrente que les come los talones. Cuando pasan por delante de la perfumería, Jordi aporrea la puerta para avisar a la dueña: <strong>«Salte, salte, salte»</strong>. </p>
  <p class="voc-p" style="">Escapan por minutos, pero la riada aún los va a perseguir durante meses. Durante las primeras semanas, Jordi, que es <strong>campeón de natación</strong>, no cuenta qué es lo que ha pasado y vadea como puede su nueva e incomprensible situación. Quiere volver a casa, pero su casa está destrozada. Parece enfadado, nervioso. Sus compañeros de natación le prestan un gorro y cosas para nadar. </p>
  <div class="voc-c-container voc-c-container--wsm-max">
    <div class="voc-article-container">
      <div class="voc-article voc-article--c-photo">
        <div class="voc-img-container voc-img-container--fw-xs">
          <figure class="voc-img-figure">
            <div class="voc-img-link">
              <img loading="lazy" src="https://s1.abcstatics.com/abc/www/multimedia/sociedad/2025/10/26/historia3-nadador.jpeg" class="voc-img" width="954" height="536" alt="Jordi, apasionado de la natación, es autista. Cada vez que ve a un obrero trabajar, pregunta si volverán a casa." data-voc-vtm-id="in-text-traffic">
            </div>
            <figcaption class="voc-figcaption-container">
              <span class="voc-figcaption voc-figcaption--text">Jordi, apasionado de la natación, es autista. Cada vez que ve a un obrero trabajar, pregunta si volverán a casa.</span>
              <span class="voc-figcaption voc-figcaption--author">cedida</span>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
  <p class="voc-p" style="">La costa de la normalidad está lejos un año después. Ella está en tratamiento psiquiátrico. <strong>Jordi ya cuenta lo que pasó</strong>, pero cada vez que ve un obrero trabajar, pregunta si volverán a casa. Vive con su padre, separado de María José, por primera vez en su vida, pues ella habita en Alfafar en casa de su madre y no tiene carné, lo que supone una quiebra para un adolescente en su situación. </p>
  <p class="voc-p" style="">Las obras han empezado, pero se ha descubierto un socavón bajo la casa, una grieta provocada por el agua que deja una de las habitaciones, como la vida de la familia, en el aire.</p>

  {{> components/map 
    id="3"
  }}

  <div class="voc-c-container">
    <div class="voc-d-c-chapter">
      <p class="voc-d-c__pretitle">Sant Jordi, 13: Emilia y Salvador murieron en un bajo</p>
      <h3 class="voc-d-c-chapter__title">Dos muertos en la cocina</h3>
    </div>
  </div>
  <div class="voc-c-container voc-c-container--wmd">
    <div class="voc-article-container">
      <div class="voc-article voc-article--c-photo">
        <div class="voc-img-container voc-img-container--fw-xs">
          <figure class="voc-img-figure">
            <div class="voc-img-link">
              <img loading="lazy" src="https://s3.abcstatics.com/abc/www/multimedia/sociedad/2025/10/26/historia2-ppal-k8AE--1150x646@diario_abc.jpg" class="voc-img" width="1150" height="646" alt="Josefa, cuñada de Emilia, vivía encima de la pareja. Pero las dos viviendas no tenían escalera interior y no pudieron subir." data-voc-vtm-id="in-text-traffic">
            </div>
            <figcaption class="voc-figcaption-container">
              <span class="voc-figcaption voc-figcaption--text">Josefa, cuñada de Emilia, vivía encima de la pareja. Pero las dos viviendas no tenían escalera interior y no pudieron subir.</span>
              <span class="voc-figcaption voc-figcaption--author">foto: IGNACIO GIL | vídeo: carlota garcía</span>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
  <p class="voc-p" style="">Dos días después de la riada, dos cadáveres flotan ahogados en la cocina de la casa entre escombros y barro. Es jueves y nadie guarda la puerta de la casa que esconde la tragedia. En Paiporta no hay forense para tanto cuerpo. Ni jueces, ni policías, ni nada. <strong>El pueblo es un cementerio</strong>. Al rato, aparece un guardia civil que advierte al reportero de que no puede hacer fotos. </p>
  <p class="voc-p" style="">Se llaman <strong>Emilia y Salvador</strong>, no tienen hijos , pero se tienen el uno al otro. Ochenta años cada uno y toda la vida juntos en aquel bajo de Sant Jordi. Los mata el agua, la mala suerte y la arquitectura de la zona. </p>
  <p class="voc-p" style="">Cuando el nivel empieza a subir, María José, Miguel y otros vecinos hablan con ellos y comentan que el barranco baja enloquecido. María José y Jordi les piden que suban con Josefa, su cuñada, viuda, que vive en el piso de arriba, pero no le hacen caso.</p>
  <p class="voc-p" style="">¿Quién se va a imaginar que el agua va a subir tanto? Nadie.</p>
  <p class="voc-p" style="">Por eso, se meten en casa, <strong>ponen trapos bajo las puertas</strong>para que no entre la riada, pero el agua sigue aumentando su nivel y, cuando quieren subir al piso de Josefa, ya es tarde. Los coches han comenzado a flotar y chocan contra las paredes y las puertas. Están perdidos. </p>
  <p class="voc-p" style="">Como muchos, viven en bajos con pisos superiores que carecen de escalera interior. Para escapar, tienen que salir antes de la vivienda y ya no pueden. <strong>¿Qué van a hacer dos ancianos en un maremoto?</strong>Se refugian en la cocina, hablan por teléfono con su vecina, que escucha el golpe del torrente cuando revienta la puerta, y ahí se termina la conversación. </p>
  <div class="v-c-cmp v-c-cmp--s">
    <div class="v-cmp-jxt">
      <div class="v-jxt v-jxt--sp">
        <div class="v-jxt__c">
          <figure class="v-jxt__fig v-jxt__fig--1">
            <p class="v-jxt__p">a día de hoy</p>
            <img loading="lazy" src="https://s3.abcstatics.com/abc/www/multimedia/sociedad/2025/10/26/casa-emilia-salvador-DESPUES-k8AE--954x596@diario_abc.jpg" class="v-jxt__img" width="954" height="596" alt="Imagen después - La esquina de la calle Sant Jordi. Arriba vivía Josefa; abajo murieron ahogados Emilia y Salvador.">
          </figure>
          <figure class="v-jxt__fig v-jxt__fig--2 is-overlay" data-voc-component="juxtapose">
            <p class="v-jxt__p">hace un año</p>
            <img loading="lazy" src="https://s3.abcstatics.com/abc/www/multimedia/sociedad/2025/10/26/casa-emilia-salvador-ANTES-k8AE--954x596@diario_abc.jpeg" class="v-jxt__img" width="954" height="596" alt="Imagen antes - La esquina de la calle Sant Jordi. Arriba vivía Josefa; abajo murieron ahogados Emilia y Salvador.">
          </figure>
        </div>
        <figcaption class="voc-figcaption-container">
          <span class="voc-figcaption voc-figcaption--text">La esquina de la calle Sant Jordi. Arriba vivía Josefa; abajo murieron ahogados Emilia y Salvador.</span>
          <span class="voc-figcaption voc-figcaption--author">ch. apaolaza / ignacio Gil</span>
        </figcaption>
      </div>
    </div>
  </div>
  <p class="voc-p" style="">Josefa los llama, pero <strong>nadie coge el teléfono</strong>. Entonces, lo intenta a gritos. Tampoco responden. Ella está bloqueada arriba; convencida de que la pareja está con la vecina. El agua no baja hasta las dos de la mañana. Entonces, se entera de que la vecina no está, ni ellos tampoco. </p>
  <p class="voc-p" style="">Por la mañana del miércoles, un chico del barrio, ágil y delgado, fuerza la puerta del garaje y consigue colarse en la vivienda. Por la ventana que da a la cocina descubre <strong>los dos cadáveres</strong>y le da la noticia a Josefa, que queda encerrada en casa con su duelo y su vejez. Le suben comida con una cuerda y hasta el jueves no la liberan, pero sus cuñados siguen muertos, abajo. </p>
  <p class="voc-p" style="">Un año después, la casa está limpia pero sin reformar y nadie vive allí.</p>

  {{> components/map 
    id="4"
  }}

  <div class="voc-c-container">
    <div class="voc-d-c-chapter">
      <p class="voc-d-c__pretitle">Sant Jordi, 2 esquina con Luis Vives, 50: Begoña, la frutera que encontró la salida</p>
      <h3 class="voc-d-c-chapter__title">La llave en la cerradura</h3>
    </div>
  </div>
  <div class="voc-c-container voc-c-container--wmd">
    <div class="voc-article-container">
      <div class="voc-article voc-article--c-photo">
        <div class="voc-img-container voc-img-container--fw-xs">
          <figure class="voc-img-figure">
            <div class="voc-img-link">
              <img loading="lazy" src="https://s3.abcstatics.com/abc/www/multimedia/sociedad/2025/10/26/begona-frutera-kBxC--1150x646@diario_abc.jpg" class="voc-img" width="1150" height="646" alt="La frutería donde trabaja Begoña ha vuelto a abrir. En la galería por la que pudo escapar sigue oliendo a humedad y muchos negocios desaparecieron aquel 29 de octubre." data-voc-vtm-id="in-text-traffic">
            </div>
            <figcaption class="voc-figcaption-container">
              <span class="voc-figcaption voc-figcaption--text">La frutería donde trabaja Begoña ha vuelto a abrir. En la galería por la que pudo escapar sigue oliendo a humedad y muchos negocios desaparecieron aquel 29 de octubre.</span>
              <span class="voc-figcaption voc-figcaption--author">foto: IGNACIO GIL | vídeo: carlota garcía y juan bitrián</span>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
  <p class="voc-p" style="">Allí, junto al puente viejo, hay un antiguo bebedero de animales, una fuente con un Sant Jordi. Detrás, una casita de una sola planta en la que realiza sus actividades ocupacionales una ONG de discapacitados y, asomada al barranco y al enorme eucalipto del cauce, una antigua gasolinera. De pronto, la gasolinera y la casa ya no están y solo están el eucalipto y la fuente. <strong>Begoña se ha quedado dentro de la frutería</strong>en Sant Jordi, 2, en la esquina de la galería por la que se entra al portal, entre manzanas, piñas, naranjas. </p>
  <p class="voc-p" style="">Maite, la dueña, que sirve a las mejores casas de Valencia, tenía un puesto en el mercado y ha montado esta tienda en la que la fruta se apila en pirámides perfectas sobre un mostrador ordenado y colorido como para un 'stories' de Instagram, en contraste con <strong>el marrón y turbulento caudal que se desata fuera</strong>; un amasijo de barro, ramas, piedras, coches y cuerpos lanzados contra el escaparate. </p>
  <div class="voc-c-container">
    <div class="voc-article-container">
      <div class="voc-article voc-article--c-summary voc-article--photo-top">
        <div class="voc-info-container">
          <p class="voc-title">Begoña está bloqueada. Entran agua sucia y cañas. Entonces va a por la fregona, pero es imposible limpiar nada. A los cinco minutos, se va la luz</p>
          <div class="voc-article-position"></div>
        </div>
      </div>
    </div>
  </div>
  <p class="voc-p" style="">Begoña se queda en la tienda, por si puede salvar esto y lo otro, paralizada ante la ola que llega. Está «bloqueada». Entran agua sucia y cañas. Entonces va a por la fregona, pero es imposible limpiar nada. A los cinco minutos, se va la luz. La primera vez que llama a Maite, tiene <strong>el barro por los tobillos</strong>, pero sigue subiendo. </p>
  <p class="voc-p" style="">La segunda vez, su empleadora «se pone histérica». Maite habla con ella por teléfono y le dice que se tiene que ir: «¡Sal, sal, sal!», le grita. De pronto, <strong>el agua le cubre la cintura</strong>, y es demasiado tarde como para salir por la puerta principal. </p>
  <p class="voc-p" style="">Hay una escapatoria y da a la galería -portales, autoescuela y abogados-, pero está enrejada. Se siente encerrada viva en aquel local. Se acerca a la puerta y, entonces, recuerda: <strong>ha dejado la llave puesta</strong>y la nevera ha caído hacia adelante sin taponarla. </p>
  <p class="voc-p" style="">Gracias a este milagro consigue salir a la galería, vadear la riada a tres metros de los remolinos que se lo llevan todo por la calle principal; buscar un alto. Lleva una linterna, el teléfono móvil. <strong>El agua revienta los cristales</strong>. Accede a casa de una vecina y ve la riada comiéndose el Ateneo, que allí llaman el casino, pegando contra la puerta: «Bum, Bum». En «ningún momento» piensa que se va a ahogar. </p>
  <div class="voc-c-container">
    <div class="voc-d-c-zoom">
      <div class="voc-article-container">
        <div class="voc-article voc-article--c-zoom">
          <div class="voc-img-container">
            <figure class="voc-img-figure">
              <button class="voc-img-link" data-target="open-c-zoom53" data-voc-component="modal-open" aria-label="Ampliar imagen">
                <img loading="lazy" src="https://s1.abcstatics.com/abc/www/multimedia/sociedad/2025/10/26/fruteria-antes-kUbC--268x366@diario_abc.jpeg" class="voc-img" width="268" height="366" alt="Imagen - Begoña, en la frutería, antes de la dana.">
                <span class="voc-pill-m fill">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
                    <defs>
                      <clipPath id="clippath">
                        <path style="fill:none" d="M0 0h72v72H0z"></path>
                      </clipPath>
                      <style>
                        .cls-4 {
                          fill: #00c0ff
                        }
                      </style>
                    </defs>
                    <g style="clip-path:url(#clippath)" id="Capa_1">
                      <path d="M36 72c19.9 0 36-16.1 36-36S55.9 0 36 0 0 16.1 0 36s16.1 36 36 36Z" style="fill:#fff"></path>
                      <path class="cls-4" d="m29.1 26.9-9.4-9.4H24c.8 0 1.5-.7 1.5-1.5s-.7-1.5-1.5-1.5h-7.9c-.2 0-.4 0-.5.1-.4.2-.7.4-.8.8 0 .2-.1.4-.1.5v7.9c0 .8.7 1.5 1.5 1.5s1.5-.7 1.5-1.5v-4.3l9.3 9.4c.3.3.7.4 1.1.4s.8-.1 1.1-.4c.6-.6.6-1.5 0-2.1ZM55.9 46.5c-.8 0-1.5.7-1.5 1.5v4.4L45 42.9c-.6-.6-1.5-.6-2.1 0-.6.6-.6 1.5 0 2.1l9.3 9.4h-4.3c-.8 0-1.5.7-1.5 1.5s.7 1.5 1.5 1.5h7.9c.8 0 1.5-.7 1.5-1.5v-8c0-.8-.7-1.5-1.5-1.5ZM55.9 14.6H48c-.8 0-1.5.7-1.5 1.5s.7 1.5 1.5 1.5h4.2L42.9 27c-.6.6-.6 1.5 0 2.1.3.3.7.4 1.1.4s.8-.1 1.1-.4l9.4-9.4v4.4c0 .8.7 1.5 1.5 1.5s1.5-.7 1.5-1.5v-7.9c0-.8-.7-1.5-1.5-1.5ZM29.1 42.9c-.6-.6-1.5-.6-2.1 0l-9.3 9.4V48c0-.8-.7-1.5-1.5-1.5s-1.5.7-1.5 1.5v8c0 .8.7 1.5 1.5 1.5h7.9c.8 0 1.5-.7 1.5-1.5s-.7-1.5-1.5-1.5h-4.4l9.4-9.4c.6-.6.6-1.5 0-2.1Z"></path>
                    </g>
                  </svg>
                </span>
              </button>
              <figcaption class="voc-figcaption-container">
                <span class="voc-figcaption voc-figcaption--text">Begoña, en la frutería, antes de la dana.</span>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="open-c-zoom53" class="voc-modal voc-d-c-zoom-modal">
    <div class="voc-modal__wrapper">
      <button class="voc-modal__close" aria-label="Cerrar imagen ampliada">
        <svg viewBox="0 0 18.139 15.673">
          <g transform="translate(1005.835 -1055.521)">
            <rect width="22" height="2" rx="1" transform="rotate(40 -1952.285 -852.229)"></rect>
            <rect width="22" height="2" rx="1" transform="rotate(-40 966.519 1916.585)"></rect>
          </g>
        </svg>
      </button>
      <div class="voc-modal__container">
        <img src="https://s2.abcstatics.com/abc/www/multimedia/sociedad/2025/10/26/fruteria-antes-kUbC--758x470@diario_abc.jpeg" class="voc-img" width="758" height="470" alt="Imagen - Begoña, en la frutería, antes de la dana.">
      </div>
    </div>
  </div>
  <p class="voc-p" style="">Dos días después, usan el local para almacenar ayuda. No hay rastro de las frutas, de las neveras, de las lunas del escaparate. En los tres palmos de pared más altos quedan apuntados los precios de los melones y las naranjas, últimos vestigios de un mundo quebrado, ahogado.</p>
  <p class="voc-p" style="">Un año después, <strong>la frutería ha vuelto a abrir</strong>mejorada: han repuesto el mobiliario, las máquinas, las neveras, y pretenden olvidar lo que les pasa, pero en el pasadizo por el que escapó Begoña sigue apestando a humedad. </p>
  <p class="voc-p" style="">Ni la gestoría ni la autoescuela han vuelto a la actividad.</p>
  <div class="voc-c-container">
    <div class="voc-d-c-fignumber">
      <div class="voc-d-c-fignumber__container">
        <span class="voc-d-c-fignumber__number">34.000</span>
        <span class="voc-d-c-fignumber__title">locales y comercios quedaron afectados en Valencia, según las estimaciones</span>
      </div>
    </div>
  </div>
  <div class="voc-c-container">
    <div class="voc-article-container">
      <div class="voc-article voc-article--c-photo">
        <div class="voc-img-container voc-img-container--fw-xs">
          <figure class="voc-img-figure">
            <div class="voc-img-link">
              <img loading="lazy" src="https://s2.abcstatics.com/abc/www/multimedia/sociedad/2025/10/26/fruteria-dana-k8AE--760x427@diario_abc.jpeg" class="voc-img" width="760" height="427" alt="La frutería de Begoña, tras el paso del temporal. Durante un tiempo sirvió para recoger material de ayuda." data-voc-vtm-id="in-text-traffic">
            </div>
            <figcaption class="voc-figcaption-container">
              <span class="voc-figcaption voc-figcaption--text">La frutería de Begoña, tras el paso del temporal. Durante un tiempo sirvió para recoger material de ayuda.</span>
              <span class="voc-figcaption voc-figcaption--author">CEDIDA</span>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>

  {{> components/map 
    id="5"
  }}

  <div class="voc-c-container">
    <div class="voc-d-c-chapter">
      <p class="voc-d-c__pretitle">Sant Jordi, 4: el negocio que se transformó en punto de ayuda</p>
      <h3 class="voc-d-c-chapter__title">Pedir ayuda y encontrar trabajo</h3>
    </div>
  </div>
  <div class="voc-c-container voc-c-container--wmd">
    <div class="voc-article-container">
      <div class="voc-article voc-article--c-photo">
        <div class="voc-img-container voc-img-container--fw-xs">
          <figure class="voc-img-figure">
            <div class="voc-img-link">
              <img loading="lazy" src="https://s2.abcstatics.com/abc/www/multimedia/sociedad/2025/10/26/puntoayuda-kfKG--1150x646@diario_abc.jpg" class="voc-img" width="1150" height="646" alt="Patricia García trabaja en una tienda de Gaes donde hubo un centro de ayuda para los afectados de la dana." data-voc-vtm-id="in-text-traffic">
            </div>
            <figcaption class="voc-figcaption-container">
              <span class="voc-figcaption voc-figcaption--text">Patricia García trabaja en una tienda de Gaes donde hubo un centro de ayuda para los afectados de la dana.</span>
              <span class="voc-figcaption voc-figcaption--author">foto: Ignacio Gil | Vídeo: Carlota García y Juan Bitrián</span>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
  <p class="voc-p" style="">Delante del local de Sant Jordi, 4, un antiguo banco cerrado, alguien ha detenido una furgoneta con ayuda. Trae botas, palas, lejía, comida. Viene de lejos, aunque nadie recuerda de dónde. Sencillamente llega hasta allí, atraído por la necesidad de ayudar tras la catástrofe. A esa calle acudirán cientos de furgonetas como esa, llenas de voluntarios que traen lo que pueden: mochos, palas, <strong>artilugios para empujar el barro</strong>que han construido con sus propias manos, bolsas en los pies, ropa de monte y mascarillas. </p>
  <p class="voc-p" style="">Días más tarde, en el piso de arriba colgarían un cartel con una sábana que dice: «Gracias». Todo el mundo sabe a quién y por qué, pero aún, no. Por ahora, hay un tipo con una furgoneta que descarga cosas en mitad de la acera y a alguien se le ocurre meterlas en el local desvencijado por la riada y así se convierte en un punto de ayuda.</p>
  <div class="voc-c-container voc-c-container--wsm-max">
    <div class="voc-article-container">
      <div class="voc-article voc-article--c-photo">
        <div class="voc-img-container voc-img-container--fw-xs">
          <figure class="voc-img-figure">
            <div class="voc-img-link">
              <img loading="lazy" src="https://s3.abcstatics.com/abc/www/multimedia/sociedad/2025/10/26/punto2024-kfKG--954x536@diario_abc.jpg" class="voc-img" width="954" height="536" alt="Patricia, hace un año, repartía ayuda entre los vecinos afectados." data-voc-vtm-id="in-text-traffic">
            </div>
            <figcaption class="voc-figcaption-container">
              <span class="voc-figcaption voc-figcaption--text">Patricia, hace un año, repartía ayuda entre los vecinos afectados.</span>
              <span class="voc-figcaption voc-figcaption--author">ch. apaolaza</span>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
  <p class="voc-p" style="">Hay botas, pilas, pañales, botes de gel: un poco de todo. Los vecinos acuden allí a por cosas, se reencuentran, se abrazan, lloran de alegría por los que han sobrevivido y derraman sus lágrimas sobre las historias de los que no están. <strong>La niña china muerta</strong>en mitad de la plaza. El señor de Luis Vives, allí atrás, que perece en el bajo, <strong>la mujer que el agua arranca de una reja</strong>en la calle Nueve de Octubre, que hace esquina con Sant Jordi. Dicen que once personas perecen en esa calle. Fuera, junto al casino, los chicos de José Andrés cocinan un arroz servido en plato de papel que sabe a gloria bendita. </p>
  <p class="voc-p" style="">Un año después, en el local no hay una mota de polvo. A Patricia García Gines le cuesta hacerse a la idea de que sea el mismo lugar. Ella recuerda que <strong>vino aquí a pedir ayuda</strong>cuando vino el agua. Necesitaba de todo para ella y los gemelos, pero no había supermercados, solo barro y el resuello de los que limpiaban. </p>
  <p class="voc-p" style="">Ahora, ese sitio es su oficina de GAES, un nuevo centro de audición que ha abierto sus puertas, providencialmente, en el sitio que estaba vacío. La dana trajo allí ayuda, riqueza y trabajo, y a Patricia le cuesta creerlo.</p>

  {{> components/map 
    id="6"
  }}

  <div class="voc-c-container">
    <div class="voc-d-c-chapter">
      <p class="voc-d-c__pretitle">Sant Jordi, 2: Marga se preocupa; Paco no llega del garaje donde trabaja</p>
      <h3 class="voc-d-c-chapter__title">¿Un maniquí flotando o una persona?</h3>
    </div>
  </div>
  <div class="voc-c-container voc-c-container--wmd">
    <div class="voc-article-container">
      <div class="voc-article voc-article--c-photo">
        <div class="voc-img-container voc-img-container--fw-xs">
          <figure class="voc-img-figure">
            <div class="voc-img-link">
              <img loading="lazy" src="https://s2.abcstatics.com/abc/www/multimedia/sociedad/2025/10/26/Ribera-kBxC--1150x646@diario_abc.jpeg" class="voc-img" width="1150" height="646" alt="Paco y Marga, hace un año, días después de la dana." data-voc-vtm-id="in-text-traffic">
            </div>
            <figcaption class="voc-figcaption-container">
              <span class="voc-figcaption voc-figcaption--text">Paco y Marga, hace un año, días después de la dana.</span>
              <span class="voc-figcaption voc-figcaption--author">foto: chapu apaolaza</span>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
  <p class="voc-p" style="">Antes de que le llegue el agua al cuello, Paco ya tiene el agua al cuello. El vecino de Sant Jordi, 2, <strong>trabaja de guarda en un garaje</strong>por 400 euros al mes. Sin pagas extras, ni seguro. Todo en 'b'. Hace años que encadena desempeños precarios. Paiporta no es el Bronx ni un barrio rico: un sitio de obreros, currantes, albañiles, comerciantes. </p>
  <p class="voc-p" style="">Paco vive con Marga, su pareja, una viuda de 80 años con una hija enferma de esquizofrenia y otro en paro que ha sacado a su familia adelante desde que, con cuarenta y pico, una enfermedad cardíaca le quitara a su marido. <strong>En su casa, llueve sobre mojado</strong>. </p>
  <p class="voc-p" style="">Cuando ve el barranco rugiendo y los coches que flotan con gente dentro, Marga se acuerda de Paco, que no ha llegado del garaje. La altura en la riada marca la línea entre la vida y la muerte. Paco está bajo tierra, pero entrando tanta agua, decide salir de la trampa.</p>
  <div class="voc-c-container">
    <div class="voc-article-container">
      <div class="voc-article voc-article--c-summary voc-article--photo-top">
        <div class="voc-info-container">
          <p class="voc-title">No sabe nadar. Intenta parar un coche con las manos, pero cae y el vehículo le pasa por encima. Todo se vuelve oscuridad</p>
          <div class="voc-article-position"></div>
        </div>
      </div>
    </div>
  </div>
  <p class="voc-p" style="">Es un hombre fuerte, pese a su edad, pero no sabe nadar. El primer coche que viene hacia él, lo para con las manos, pero trastabillea y cae hacia atrás, con lo que el coche le pasa por encima.</p>
  <p class="voc-p" style="">En adelante, todo es oscuridad y ahogamiento intercalados con algunas boqueadas de aire que se hacen cada vez más difíciles conforme la corriente arrastra a Paco calle abajo. Agotado, desesperado ya, se deja llevar hasta un remanso en una calle en la que hace pie y escucha una voz que se extraña cuando pasa y dice: «Mira, un maniquí». Entonces, con sus últimas fuerzas, <strong>se mueve, bracea, grita pidiendo ayuda</strong>y dos chicos saltan encima de él para rescatarlo. </p>
  <p class="voc-p" style="">En casa, el nieto de Marga ha bajado al garaje en el que se amontonan cañas y coches, y regresa desesperado: <strong>«El abuelo ha muerto»</strong>. A las cuatro de la mañana, aparecen los rescatadores con las buenas noticias: Paco está a salvo en su casa. </p>
  <div class="voc-c-container voc-c-container--w-col-ab">
    <div class="voc-article-container">
      <div class="voc-article voc-article--c-photo">
        <div class="voc-img-container voc-img-container--fw-xs">
          <figure class="voc-img-figure">
            <div class="voc-img-link">
              <img loading="lazy" src="https://s1.abcstatics.com/abc/www/multimedia/sociedad/2025/10/26/1501648178-kVOE-U701757508330krH-624x385@diario_abc.jpg" class="voc-img" width="624" height="385" alt="Paco perdió su trabajo tras la dana. En la imagen, con Marga, a principios de octubre" data-voc-vtm-id="in-text-traffic">
            </div>
            <figcaption class="voc-figcaption-container">
              <span class="voc-figcaption voc-figcaption--text">Paco perdió su trabajo tras la dana. En la imagen, con Marga, a principios de octubre</span>
              <span class="voc-figcaption voc-figcaption--author">Ignacio Gil</span>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
  <p class="voc-p" style="">Un año después, Marga se ha vuelto a peinar y a maquillar, ha cobrado una ayuda de la Generalitat y cuadra las cuentas para pagar el alquiler, la comida y los gastos con el dinero que le queda, que muchos meses no alcanza.</p>
  <p class="voc-p" style="">Paco sigue sin trabajo.</p>

  {{> components/credits }}
</span>

<section class="voc-btn__container voc-btn__container--s-between">
  <div style="display:block" data-voc-comments="comments-footer-button-abc" data-voc-comments-stream-id="ffd8f7aa-a9ca-11f0-9947-0f28328d9b41"></div>
  <button data-target="open-report-error" data-voc-component="modal-open" class="voc-btn voc-btn--g report-error__btn" data-voc-open-report-error="">
    <p class="voc-btn__text">Reportar un error</p>
    <span class="voc-btn__icon">
      <svg viewBox="0 0 7.2 19.4" xml:space="preserve">
        <use href="#icon-comment-arrow"></use>
      </svg>
    </span>
  </button>
  <div id="open-comments-news-body-end" class="voc-modal-dropdown voc-modal-dropdown--negative voc-save-news voc-see-comments">
    <div class="voc-modal-dropdown__wrapper">
      <div class="voc-modal-dropdown__header">
        <button class="voc-modal-dropdown__close" data-voc-component="modal-close-dropdown" data-voc-vtm-id="" data-voc-vtm-info="sticky" aria-label="Cerrar mensaje">
          <span class="icon">
            <svg viewBox="0 0 18.139 15.673">
              <use href="#icon-close-modal"></use>
            </svg>
          </span>
        </button>
      </div>
      <div class="voc-modal-dropdown__container">
        <p class="voc-save-news__paragraph">Esta funcionalidad es sólo para suscriptores</p>
        <a href="https://secure.abc.es/suscripcion#vca=suscribete&amp;vso=abc&amp;vmc=on&amp;vli=comentarios-btn-flujo" data-voc-vtm-id="comienzoSuscripcionON" data-voc-vtm-info="btncomentar" class="voc-btn voc-btn--w voc-btn--xs voc-save-news__btn">Suscribete</a>
      </div>
    </div>
  </div>
</section>