<div class="n-a-preh">
  {{!-- NOTE: Indicador de scroll --}}
  <div class="scr-ind is-fixed" aria-hidden="true">
    <div class="scr-ind__c">
      <span class="scr-ind__m">
        <span class="scr-ind__w"></span>
      </span>
    </div>
  </div>

  <div class="n-sticky">
    {{!-- NOTE: Sticky section --}}
    <div class="n-sticky__sec">
      <div class="n-sticky__i">
        <video muted playsinline preload="auto" poster="frame.jpg">
          <source src="assets/videos/video-short.mp4" type="video/mp4">
        </video>
      </div>
    </div>

    {{!-- NOTE: Steps --}}
    <div class="n-steps">
      <div class="n-step" data-step="0">
        <div class="n-step__c">
          <p><b>Step 0:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque fuga saepe officiis officia facilis laudantium architecto nam veritatis, enim blanditiis voluptatum aperiam magnam hic velit aut harum incidunt rem totam!</p>
        </div>
      </div>

      <div class="n-step" data-step="1">
        <div class="n-step__c">
          <p><b>Step 1:</b> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro eum earum omnis blanditiis cumque commodi voluptate atque architecto quo veniam, laudantium quibusdam accusamus assumenda dolorum, est ducimus maiores. Est, eaque?</p>
        </div>
      </div>

      <div class="n-step" data-step="2">
      </div>
    </div>
  </div>
</div>
