<div class="n-a-preh">
  {{!-- NOTE: Indicador de scroll --}}
  {{> ./includes/scroll-indicator }}

  <div class="n-sticky">
    {{!-- NOTE: Sticky section --}}
    <div class="n-sticky__sec">
      <div class="n-sticky__i">
        <video class="is-desktop" muted playsinline preload="auto" poster="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/14/distopia-inmigrantes/fotograma-1.png">
          <source src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/14/distopia-inmigrantes/quienesquien_baja.mp4" type="video/mp4">
        </video>

        <video class="is-mobile" muted playsinline preload="auto" poster="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/14/distopia-inmigrantes/fotograma-1-mobile.png">
          <source src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/14/distopia-inmigrantes/quienesquien_baja_mobile.mp4" type="video/mp4">
        </video>
      </div>
    </div>

    {{!-- NOTE: Steps --}}
    <div class="n-steps">
      <div class="n-step" data-step="0">
        <div class="n-step__c">
          <p>En su regreso al poder, Trump prometió «<b>el mayor programa de deportación</b> de la historia».</p>
        </div>
      </div>

      <div class="n-step" data-step="1">
        <div class="n-step__c">
          <p>La facción más extremista pedía que se hiciera realidad la promesa electoral: ‘Send them all back’, ‘<b>Echadlos a todos</b>’.</p>
        </div>
      </div>

      <div class="n-step" data-step="2">
        <div class="n-step__c">
          <p>Y, <b>de repente, todos se han ido</b>. Unos fueron expulsados, otros decidieron volver a su país. Lo que queda es el impacto de su desaparición.</p>
        </div>
      </div>

      <div class="n-step" data-step="3">
      </div>
    </div>
  </div>
</div>
