<div class="n-anim n-anim--02">
  <figure>
    <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/08/grupos-ultra/images/animations/anim-02-1gradas.png" alt="">
    <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/08/grupos-ultra/images/animations/anim-02-2campo.png" alt="">
    <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/08/grupos-ultra/images/animations/anim-02-3policia.png" alt="">
    <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/08/grupos-ultra/images/animations/anim-02-4fuego.png" alt="">
    <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/08/grupos-ultra/images/animations/anim-02-5cabeza-cuadros.png" alt="">
  </figure>
</div>