<div class="n-anim n-anim--01">
  <figure>
    <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/08/grupos-ultra/images/animations/anim-01-1barra1.png" alt="">
    <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/08/grupos-ultra/images/animations/anim-01-2barra2.png" alt="">
    <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/08/grupos-ultra/images/animations/anim-01-3barra3.png" alt="">
    <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/08/grupos-ultra/images/animations/anim-01-4cara.png" alt="">
    <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/08/grupos-ultra/images/animations/anim-01-5campo.png" alt="">
  </figure>
</div>