<div class="anim-01">
  <figure>
    <img src="assets/images/anim-build-01.png" alt="">
    <img src="assets/images/anim-build-02.png" alt="">
    <img src="assets/images/anim-build-03.png" alt="">
    <img src="assets/images/anim-build-04.png" alt="">
    <img src="assets/images/anim-build-05.png" alt="">    
  </figure>
</div>