{{!-- <div class="n-aud">
  <div class="n-aud__c">
    <div class="n-aud__pat"></div>
    <div class="n-aud__data">
      <div class="n-aud__inf">
        <h3 class="n-aud__name">Salvador Pérez Ibárruri</h2>
        <span class="n-aud__cargo">Cirujía cardiovascular</span>
      </div>
      <figure class="n-aud__img">
        <img src="assets/images/mockup/img-player.png" alt="{{name}}">
      </figure>
    </div>
    <div class="n-aud__player">
      <audio src="assets/audio/chiquito.mp3"></audio>
      <div class="n-aud__player-btn">
        <button>
          <svg viewBox="0 0 34 39" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M33.75 19.486 0 38.97V0l33.75 19.486Z" fill="#2185FF"/></svg>
        </button>
      </div>
      <div class="n-aud__player-line">
        <svg viewBox="0 0 600 80" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 40 L80 40 L100 30 L120 40 L180 40 L200 35 L220 40 L300 40 L320 50 L340 40 L380 40 L400 28 L420 40 L600 40" fill="none" stroke="black" stroke-width="3" stroke-linejoin="round" stroke-linecap="round"/>
        </svg>
      </div>
    </div>
  </div>
</div> --}}