<div class="busca-msg">
  <div class="busca-msg__c">

    <div class="msg-bub">
      <div class="msg-bub__txt-box">
        <span class="msg-bub__txt"></span><span class="msg-bub__txt-cursor">|</span>
      </div>
    </div>

    <div class="busca-box">

    </div>
  </div>
</div>

<script>
  const mensaje = `(BIP BIP) TEXTO SUMARIO COMO LETRA DE BUSCA TEXTO SUMARIO COMO LETRA DE BUSCATEXTO SUMARIO`;
  const velocidad = 35;
  let i = 0;

  function escribir() {
    if (i < mensaje.length) {
      document.querySelector(".msg-bub__txt").innerHTML += mensaje.charAt(i);
      i++;
      setTimeout(escribir, velocidad);
    }
  }

  escribir();
</script>