<div class="v-n-disclaimer">
  <p>ABC no se hace responsable de las afirmaciones ni opiniones expresadas por las personas que participan en esta serie.</p>
  <p>Todos los episodios de ‘Para que llore mi madre que llore la tuya: una historia de bandas latinas’ pueden encontrarse en las principales plataformas de audio, como Spotify, Ivoox, Apple Podcasts, Amazon Music y Podimo.</p>
</div>