<div class="doc-prf">
  <div class="doc-prf__c">
    <div class="doc-prf__data">
      <div class="doc-prf__pat"></div>
      <div class="doc-prf__inf">
        <h3 class="doc-prf__name">Salvador Pérez Ibárruri</h2>
        <span class="doc-prf__cargo">Cirujía cardiovascular</span>
      </div>
      <figure class="doc-prf__img">
        <img src="assets/images/mockup/doctor-profile.jpg" alt="{{name}}">
      </figure>
    </div>

    <div class="doc-prf__box">
      <div class="doc-prf__time">
        <div class="doc-prf__time-clock"></div>
        <span class="doc-prf__time-txt">20:00 h.</span>
      </div>
      <span class="doc-prf__t">«Lorem ipsum dolor sit amet, consectetur adipiscing elit»</span>
      <p class="doc-prf__txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum maximus euismod eros, posuere commodo tellus dapibus at. Aliquam mollis risus maximus augue fermentum pretium in et est. Nulla facilisi. Quisque et varius lectus.</p>
    </div>
  </div>

  {{#if doctorProfileHasTimer}}
    {{!-- NOTE: Caja heading timer --}}
    {{> includes/box-heading 
        isTimer=true
        class="timer-01"
        hours="15"
        minutes="28"
    }}
  {{/if}}
</div>