<div class="v-n-dvd is-fw">
  <div class="v-n-dvd-ep">
    <figure class="v-n-dvd-ep__img-c">
      <button class="v-n-dvd-ep__arr v-n-dvd-ep__arr--p" type="button" aria-label="Ir al episodio anterior" data-dvd-prev>
        <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M15.5 4.5 8 12l7.5 7.5"></path></svg>
      </button>

      <img class="v-n-dvd-ep__img" src="" alt="" data-dvd-img>

      <button class="v-n-dvd-ep__arr v-n-dvd-ep__arr--n" type="button" aria-label="Ir al episodio siguiente" data-dvd-next>
        <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M8.5 4.5 16 12l-7.5 7.5"></path></svg>
      </button>
    </figure>

    <div class="v-n-dvd-ep__inf-c">
      <div class="v-n-dvd-ep__t-c">
        <div class="v-n-dvd-ep__n" data-dvd-number></div>
        <span class="v-n-dvd-ep__t" data-dvd-title></span>
      </div>

      {{> ../kraken-components/player }}

      <p class="v-n-dvd-ep__p" data-dvd-text></p>

      <div class="v-btn-c v-btn-c--c">
        <a href="#" target="_blank" class="v-btn v-btn-g v-btn--l" data-dvd-link>Leer más</a>
      </div>
    </div>
  </div>
</div>
