<div class="grid-doctors">
  <div class="grid-doctors__c">
    <p class="grid-doctors__entry">Acompañamos a cuatro profesionales durante su guardia de 24 horas</p>
    <div class="grid-doctors__g">
    {{#each doctors}}
      <div class="doctor-card">
        <figure class="doctor-card__img">
          <img src="assets/images/doctor-{{inc @index}}.png" alt="">
        </figure>
        <div class="doctor-card__inf">
          <span class="doctor-card__name">{{name}}</span>
          <p class="doctor-card__cargo">{{cargo}}</p>
          <span class="doctor-card__loc">{{location}}</span>
        </div>
      </div>
    {{/each}}
    </div>
  </div>
</div>