<div class="v-c-cmp ">
  <div class="inc-title">
    <div class="inc-title__pre">
      <span>{{name}}</span>
      <span class="line"></span>
      <span>{{age}} años</span>
    </div>
    <h3 class="inc-title__t">
      {{title}}
    </h3>
  </div>
</div>