<div class="lifeline-mobile">
  <div class="lifeline__c">
    <span class="lifeline__txt">Horas trabajadas</span>
    <div class="timer is-mobile">
      <div class="timer-front">
        <div class="digit-wrap">
          <div class="digit-strip">
            <div class="digit">0</div>
          </div>
        </div>
        <div class="digit-wrap">
          <div class="digit-strip">
            <div class="digit">0</div>
          </div>
        </div>
        <div class="colon">:</div>
        <div class="digit-wrap">
          <div class="digit-strip">
            <div class="digit">0</div>
          </div>
        </div>
        <div class="digit-wrap">
          <div class="digit-strip">
            <div class="digit">0</div>
          </div>
        </div>
      </div>
    </div>
    <div class="lifeline-strip-wrapper">
      <div class="lifeline-strip"></div>
    </div>
  </div>
</div>