<div class="lifeline-desktop">
  <div class="lifeline__c">
    <span class="lifeline__txt">Horas trabajadas</span>
    {{!-- NOTE: Caja heading timer --}}
    <div class="timer">
      <div class="timer-front">
        <div class="digit-wrap">
          <div class="digit-strip">
            <div class="digit">0</div>
          </div>
        </div>
        <div class="digit-wrap">
          <div class="digit-strip">
            <div class="digit">0</div>
          </div>
        </div>
        <div class="colon">:</div>
        <div class="digit-wrap">
          <div class="digit-strip">
            <div class="digit">0</div>
          </div>
        </div>
        <div class="digit-wrap">
          <div class="digit-strip">
            <div class="digit">0</div>
          </div>
        </div>
      </div>
    </div>
    <svg class="lifeline-svg"
         xmlns="http://www.w3.org/2000/svg"
         preserveAspectRatio="xMidYMin meet">
      <g class="lifeline-content"></g>
    </svg>
    <div class="lifeline-box" style="transform: unset;"></div>
  </div>
</div>