<div class="lines-title is-left">
  <svg viewBox="0 0 600 80" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 40 L80 40 L100 30 L120 40 L180 40 L200 35 L220 40 L300 40 L320 50 L340 40 L380 40 L400 28 L420 40 L600 40" fill="none" stroke="black" stroke-width="3" stroke-linejoin="round" stroke-linecap="round"/>
  </svg>
</div>

<div class="lines-title is-right">
  <svg viewBox="0 0 400 300" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 150 L40 150 L55 145 L70 150 L90 150 L105 120 L120 170 L140 80 L160 200 L180 60 L200 180 L215 150 L230 160 L245 150 L260 150 L275 90 L290 220 L310 100 L325 250 L345 70 L360 230 L380 140 L400 140" fill="none" stroke="black" stroke-width="4" stroke-linejoin="round" stroke-linecap="round"/>
  </svg>
</div>