<div class="n-map-pop">
  <div class="n-map-pop__c">
    <div class="n-map-pop__lines">
      <div class="n-map-pop__line n-map-pop__line--1"></div>
      <div class="n-map-pop__line n-map-pop__line--2"></div>
      <div class="n-map-pop__line n-map-pop__line--3"></div>
      <div class="n-map-pop__line n-map-pop__line--4"></div>
      <div class="n-map-pop__line n-map-pop__line--5"></div>
      <div class="n-map-pop__line n-map-pop__line--6"></div>
      <div class="n-map-pop__line n-map-pop__line--7"></div>
      <div class="n-map-pop__line n-map-pop__line--8"></div>
    </div>

    <div class="n-map-pop__dots">
      {{!-- NOTE: Se generan por JS, igual que cada card con su info del map json --}}
    </div>

    <article class="n-map-pop__card" role="dialog" aria-modal="false" id="map-popover">
      <div class="n-map-pop__card-c">
        <button class="n-map-pop__card-close" type="button" aria-label="Cerrar popover">
          <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="none"><path stroke="#000" stroke-linecap="round" d="M.707.5 32 31.793M32.293.5 1 31.793"/></svg>
        </button>
        <div class="n-map-pop__card-logo">
          <img id="pop-logo" aria-hidden="true">
        </div>
        <dl class="n-map-pop__card-data">
          <dt>Agrupación</dt><dd id="pop-agrupacion"></dd>
          <dt>Club</dt><dd id="pop-club"></dd>
          <dt>Fundación</dt><dd id="pop-fundacion"></dd>
          <dt>Ideología</dt><dd id="pop-ideologia"></dd>
          <dt>Ubicación</dt><dd id="pop-ubicacion"></dd>
        </dl>
        <div class="n-map-pop__card-stadium">
          <img id="pop-stadium" aria-hidden="true">
        </div>
      </div>
    </article>
  </div>
</div>
