<div class="n-map-pop">
  <div class="n-map-pop__c">
    <div class="n-map-pop__lines">
      <div class="n-map-pop__line n-map-pop__line--1"></div>
      <div class="n-map-pop__line n-map-pop__line--2"></div>
      <div class="n-map-pop__line n-map-pop__line--3"></div>
      <div class="n-map-pop__line n-map-pop__line--4"></div>
      <div class="n-map-pop__line n-map-pop__line--5"></div>
      <div class="n-map-pop__line n-map-pop__line--6"></div>
      <div class="n-map-pop__line n-map-pop__line--7"></div>
      <div class="n-map-pop__line n-map-pop__line--8"></div>
    </div>

    <div class="n-map-pop__dots">
      <button class="n-map-pop__dot n-map-pop__dot--1" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="1" aria-label="Ver información de Frente Atlético"></button>
      <button class="n-map-pop__dot n-map-pop__dot--2" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="2" aria-label="Ver información de Suburbios Firm"></button>
      <button class="n-map-pop__dot n-map-pop__dot--3" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="3" aria-label="Ver información de Ultras Sur"></button>
      <button class="n-map-pop__dot n-map-pop__dot--4" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="4" aria-label="Ver información de Frente Bokerón"></button>
      <button class="n-map-pop__dot n-map-pop__dot--5" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="5" aria-label="Ver información de Biris Norte"></button>
      <button class="n-map-pop__dot n-map-pop__dot--6" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="6" aria-label="Ver información de Boixos Nois"></button>
      <button class="n-map-pop__dot n-map-pop__dot--7" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="7" aria-label="Ver información de Supporters Gol Sur"></button>
      <button class="n-map-pop__dot n-map-pop__dot--8" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="8" aria-label="Ver información de United Family"></button>
      <button class="n-map-pop__dot n-map-pop__dot--9" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="9" aria-label="Ver información de Tropas de Breogán"></button>
      <button class="n-map-pop__dot n-map-pop__dot--10" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="10" aria-label="Ver información de Curva RCDE"></button>
      <button class="n-map-pop__dot n-map-pop__dot--11" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="11" aria-label="Ver información de Bukaneros"></button>
      <button class="n-map-pop__dot n-map-pop__dot--12" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="12" aria-label="Ver información de Symmachiarii"></button>
      <button class="n-map-pop__dot n-map-pop__dot--13" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="13" aria-label="Ver información de Indar Gorri"></button>
      <button class="n-map-pop__dot n-map-pop__dot--14" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="14" aria-label="Ver información de Bultza"></button>
      <button class="n-map-pop__dot n-map-pop__dot--15" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="15" aria-label="Ver información de Herri Norte Taldea"></button>
      <button class="n-map-pop__dot n-map-pop__dot--16" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="16" aria-label="Ver información de Ghetto 28"></button>
      <button class="n-map-pop__dot n-map-pop__dot--17" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="17" aria-label="Ver información de Riazor Blues"></button>
      <button class="n-map-pop__dot n-map-pop__dot--18" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="18" aria-label="Ver información de Ligallo Fondo Norte"></button>
      <button class="n-map-pop__dot n-map-pop__dot--19" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="19" aria-label="Ver información de Avispero Real Zaragoza"></button>
      <button class="n-map-pop__dot n-map-pop__dot--20" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="20" aria-label="Ver información de Ultra Boys"></button>
      <button class="n-map-pop__dot n-map-pop__dot--21" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="21" aria-label="Ver información de Curva Sur Granada"></button>
      <button class="n-map-pop__dot n-map-pop__dot--22" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="22" aria-label="Ver información de Juventudes Verdiblancas"></button>
      <button class="n-map-pop__dot n-map-pop__dot--23" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="23" aria-label="Ver información de Resaca Castellana"></button>
      <button class="n-map-pop__dot n-map-pop__dot--24" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="24" aria-label="Ver información de Brigadas Amarillas"></button>
      <button class="n-map-pop__dot n-map-pop__dot--25" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="25" aria-label="Ver información de Brigadas Blanquiverdes"></button>
      <button class="n-map-pop__dot n-map-pop__dot--26" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="26" aria-label="Ver información de Grada Joven"></button>
      <button class="n-map-pop__dot n-map-pop__dot--27" type="button" aria-expanded="false" aria-haspopup="dialog" data-id="27" aria-label="Ver información de Ultra Naciente"></button>
    </div>

    {{!-- Card --}}
    <article class="n-map-pop__card" popover="manual" role="dialog" aria-modal="false" id="map-popover">
      <div class="n-map-pop__card-c">
        <button class="n-map-pop__card-close" type="button" aria-label="Cerrar popover">
          <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" fill="none"><path stroke="#000" stroke-linecap="round" d="M.707.5 32 31.793M32.293.5 1 31.793"/></svg>
        </button>
        <div class="n-map-pop__card-logo">
          <img id="pop-logo" aria-hidden="true">
        </div>
        <dl class="n-map-pop__card-data">
          <dt>Agrupación</dt><dd id="pop-agrupacion"></dd>
          <dt>Club</dt><dd id="pop-club"></dd>
          <dt>Fundación</dt><dd id="pop-fundacion"></dd>
          <dt>Ideología</dt><dd id="pop-ideologia"></dd>
          <dt>Ubicación</dt><dd id="pop-ubicacion"></dd>
        </dl>
        <div class="n-map-pop__card-stadium">
          <img id="pop-stadium" aria-hidden="true">
        </div>
      </div>
    </article>
  </div>
</div>
