<div class="v-n-dvd">
  <div class="v-n-dvd__c">
    <nav class="v-n-dvd-nav">
      <ul>
        <li class="is-active">
          <button>Episodio 1</button>
        </li>
        <li>
          <button>Episodio 2</button>
        </li>
        <li>
          <button>Episodio 3</button>
        </li>
        <li>
          <button>Episodio 4</button>
        </li>
        <li>
          <button>Episodio 5</button>
        </li>
      </ul>
    </nav>
    <div class="v-n-dvd-w">
      <button class="v-n-dvd-arr v-n-dvd-arr--l is-hidden">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="37" fill="none">
          <path fill="#000" d="M7.293 36.707a1 1 0 0 0 1.414 0l6.364-6.364a1 1 0 0 0-1.414-1.414L8 34.586l-5.657-5.657A1 1 0 0 0 .93 30.343l6.364 6.364ZM7 0v36h2V0H7Z"></path>
        </svg>
      </button>
      <button class="v-n-dvd-arr v-n-dvd-arr--r">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="37" fill="none">
          <path fill="#000" d="M7.293 36.707a1 1 0 0 0 1.414 0l6.364-6.364a1 1 0 0 0-1.414-1.414L8 34.586l-5.657-5.657A1 1 0 0 0 .93 30.343l6.364 6.364ZM7 0v36h2V0H7Z"></path>
        </svg>
      </button>
      <div class="v-n-dvd-cnt">
        <div class="v-n-dvd-scn v-n-dvd-scn--01">
          <div class="mock-img"></div>
          <p class="mock-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus animi veniam unde iusto aspernatur non dolore.</p>
          <a href="#" class="mock-btn">Leer más</a>
        </div>
      </div>
    </div>
  </div>
</div>