<div class="v-n-mth v-n-mth--2">
  <p class="v-d-p">Aprendí a leer y a escribir en un país donde las palabras nunca eran inocentes. A cada letra le correspondía una doctrina.</p>

  <div class="v-n-mth__c">
    <figure class="v-n-mth__fig v-n-mth__fig--1" aria-hidden="true">
      <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/desk-2-pizarra.webp" alt="">
    </figure>
    <figure class="v-n-mth__fig v-n-mth__fig--2" aria-hidden="true">
      <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/mov-2-pizarra-1.webp" alt="">
    </figure>
    <p class="v-d-p">La F no era la inicial de familia, ni de fe, ni siquiera de futuro. Era la F de Fidel y también, de algún modo, la de fusil.</p>
    <figure class="v-n-mth__fig v-n-mth__fig--3" aria-hidden="true">
      <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/mov-2-pizarra-2.webp" alt="">
    </figure>
  </div>
</div>