<div class="v-n-mth v-n-mth--10">
  <div class="v-n-mth__c">
    <p class="v-d-p v-d-p--1">En 1964, la periodista norteamericana Lisa Howard le preguntó al Che Guevara cuánto daño le hacían las sanciones a la economía cubana. La respuesta del entonces ministro de Industria fue una pequeña joya del cinismo revolucionario: no podía ofrecer una cifra exacta, entre otras razones porque el bloqueo tenía...</p>
    <div class="v-n-mth-bbl">
      <p class="v-d-p">...“facetas negativas y facetas positivas”</p>
    </div>
    <p class="v-d-p v-d-p--2">El guerrillero convertido en banquero y ministro, envuelto en humo y salbutamol, mencionaba entre esas facetas positivas “el desarrollo de la conciencia nacional y el espíritu de lucha del pueblo por superar las dificultades”.</p>
    <figure aria-hidden="true">
      <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/10-muro-che.webp" alt="">
    </figure>
    <p class="v-d-p v-d-p--3">Era una manera elegante de admitir que las sanciones, además de obstáculo, resultaban una bendición política.</p>
    <p class="v-d-p v-d-p--4">Servían para convertir el fracaso en excusa, la precariedad en virtud y la victimización en solidaridad internacional.</p>
  </div>
  <p class="v-d-p v-d-p--5">Durante décadas, mientras existió la URSS, Cuba vivió conectada al respirador soviético. Recibió una ayuda descomunal, suficiente para modernizar su economía y construir instituciones viables. Pero el dinero no se usó para eso. Se despilfarró en ineficiencia, militarización, aventuras ideológicas y control político.</p>
</div>