<div class="v-n-mth v-n-mth--14">
  <p class="v-d-p v-d-p--1">Durante años nos enseñaron que Bahía de Cochinos —o Girón, como se conoce en Cuba— había sido la primera gran derrota del imperialismo en América. La frase sonaba tan perfecta que uno tardaba en sospechar de ella. Pero en abril de 1961 no desembarcaron marines estadounidenses, sino exiliados cubanos. Incluso en la batalla que el castrismo convirtió en emblema de su resistencia antiyanqui, los hombres que combatieron y murieron en la playa eran cubanos de un lado y cubanos del otro.</p>

  <figure aria-hidden="true">
    <picture>
      <source media="(max-width: 699px)" srcset="assets/images/final/mov-14-foto-fractura.webp">
      <img class="v-n-img" src="assets/images/final/desk-14-foto-fractura.webp" alt="">
    </picture>
  </figure>

  <p class="v-d-p v-d-p--2">Esa fractura sigue viva.</p>

  <p class="v-d-p v-d-p--3">Se instaló en las familias, en las sobremesas, en la relación entre los que se fueron y los que se quedaron, entre los que callaron y los que aplaudieron, entre los que obedecieron por convicción y los que lo hicieron por miedo.</p>
</div>