<div class="v-n-mth v-n-mth--11">
  <div class="v-n-mth__c">
    <div class="v-d-p-c">
      <p class="v-d-p v-d-p--1">El embargo servía como obstáculo, sí, pero también como coartada perfecta.</p>
      <p class="v-d-p v-d-p--2">Al desaparecer la Unión Soviética llegó la crisis que el régimen bautizó, con su talento habitual para los eufemismos, como “Período Especial”. Mi madre suele recurrir a una forma de autodefensa y nos dice a mi hermana y a mí: “Ustedes nunca se acostaron sin comer”. Puede que tenga razón en términos estrictos, pero a nosotros nos resulta imposible olvidar el hambre.</p>
    </div>
    <figure aria-hidden="true">
      <picture>
        <source media="(max-width: 699px)" srcset="assets/images/final/mov-11-mapamundi.webp">
        <img class="v-n-img v-n-img--1" src="assets/images/final/desk-11-mapamundi.webp" alt="">
      </picture>
      <picture>
        <source media="(max-width: 699px)" srcset="assets/images/final/mov-11-mapamundi-2.webp">
        <img class="v-n-img v-n-img--2" src="assets/images/final/desk-11-mapamundi-2.webp" alt="">
      </picture>
    </figure>
  </div>
  <p class="v-d-p">Al desaparecer la Unión Soviética llegó la crisis que el régimen bautizó, con su talento habitual para los eufemismos, como “Período Especial”. Mi madre suele recurrir a una forma de autodefensa y nos dice a mi hermana y a mí: “Ustedes nunca se acostaron sin comer”. Puede que tenga razón en términos estrictos, pero a nosotros nos resulta imposible olvidar el hambre.</p>
</div>