<div class="v-n-mth v-n-mth--4">
  <div class="v-n-mth__c">
    <p class="v-d-p">Los niños, incluso bajo las dictaduras, desarrollan pronto sus mecanismos de defensa. El nuestro era una forma precoz del sarcasmo.</p>
    <p class="v-d-p">Nos preguntábamos en voz baja qué significaba exactamente ser como el Che. ¿Fumar mucho? ¿Padecer asma? ¿Morirse joven para salir bien en las fotos?</p>
  </div>
  <figure aria-hidden="true">
    <picture>
      <source media="(max-width: 699px)" srcset="assets/images/final/mov-4-che.webp">
      <img src="assets/images/final/desk-4-che.webp" alt="">
    </picture>
  </figure>
</div>