<div class="v-n-mth v-n-mth--18">
  <div class="v-n-mth__c">
    <figure class="v-n-mth-fig">
      <picture>
        <source media="(max-width: 800px)" srcset="assets/images/final/mov-18-miami-2.webp">
        <img class="v-n-img v-n-img--1" src="assets/images/final/desk-18-miami-2.webp" alt="">
      </picture>
      <picture>
        <source media="(max-width: 800px)" srcset="assets/images/final/mov-18-miami-1.webp">
        <img class="v-n-img v-n-img--2" src="assets/images/final/desk-18-miami-1.webp" alt="">
      </picture>
    </figure>
  </div>
  <div class="v-d-p-c">
    <p class="v-d-p">Yo nunca pude despedirme de mi padre. No puedo regresar al país donde nací. No he vuelto a ver a mi madre ni a mi hijo desde que salí de Cuba. Y nunca supe qué pasó con aquel carrito de Fórmula 1 que mi madre guardó en el armario.</p>
    <p class="v-d-p">A veces pienso que ese juguete perdido resume mejor que cualquier consigna el verdadero legado de la Revolución: nos dejó sin país, sin despedidas y sin futuro.</p>
  </div>
</div>