<div class="v-n-mth v-n-mth--6">
  <div class="v-n-mth__c v-n-mth__c--1">
    <p class="v-d-p">El periódico, naturalmente, era el órgano oficial del Partido Comunista de Cuba: la única organización política legal y, por tanto, la única autorizada para administrar la verdad.</p>
    <p class="v-d-p">Mucho después, cuando empecé a leer la Historia con algo más que disciplina escolar, comprendí que muchas cosas no encajaban. Hasta entonces había aprendido la versión simplificada según la cual el drama cubano era poco más que la pelea entre una islita digna y un imperio abusador. Y claro que el conflicto entre Estados Unidos y Cuba existe; negarlo sería absurdo.</p>
    <p class="v-d-p">Pero a medida que uno compara la épica oficial con la experiencia cotidiana descubre que el núcleo del problema no era La Habana contra Washington. Era, y sigue siendo, algo más íntimo, más incómodo y más devastador: Cuba contra Cuba.</p>
    <p class="v-d-p">La Guerra Fría puso los decorados, el dinero y los patrocinadores. La Unión Soviética subvencionó a un bando y Estados Unidos al otro. Pero debajo de aquella escenografía planetaria lo que había era una disputa entre cubanos con ideas irreconciliables de país.</p>
  </div>

  <div class="v-n-mth__c v-n-mth__c--2">
    <figure aria-hidden="true">
      <picture>
        {{!-- <source media="(max-width: 800px)" srcset="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/mov-6-mapa.webp">
        <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/desk-6-mapa.webp" alt=""> --}}
        <source media="(max-width: 800px)" srcset="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/mov-6-mapa.webp">
        <img src="assets/images/desk-6-mapa.webp" alt="">
      </picture>
    </figure>
    <p class="v-d-p">Hoy ese conflicto interno parece acercarse a un nuevo clímax, y no solo por el regreso de Donald Trump al Despacho Oval, sino por la presencia en la Casa Blanca de Marco Rubio, un político de origen cubano al frente de la diplomacia estadounidense.</p>
  </div>
</div>