<div class="v-n-mth v-n-mth--8">
  <figure aria-hidden="true">
    <picture>
      <source media="(max-width: 699px)" srcset="assets/images/final/mov-8-fidel.webp">
      <source media="(max-width: 1000px)" srcset="assets/images/final/desk-8-fidel-699-1000.webp">
      <img src="assets/images/final/desk-8-fidel-1000.webp" alt="">
    </picture>
  </figure>
  
  <div class="atril">
    <figure aria-hidden="true">
      <picture>
        <source media="(max-width: 699px)" srcset="assets/images/final/mov-8-atril.webp">
        <img src="assets/images/final/desk-8-atril.webp" alt="">
      </picture>
    </figure>
    <div class="v-d-p-c">
      <p class="v-d-p v-d">Con el tiempo, Fidel encontró el papel que mejor le encajaba: enfrentarse al imperio, abrazarse al Kremlin y convertir la humillación en causa. La Revolución dejó de ser una promesa de justicia para convertirse en una maquinaria de poder. Y como ocurre con casi todas las maquinarias personalistas, necesitó de inmediato fabricar un enemigo externo y un dogma obligatorio.</p>
    </div>
  </div>
</div>