<div class="v-n-mth v-n-mth--5">
  <p class="v-d-p">Mis abuelos no habían pasado por ninguna facultad, pero conservaban algo que el sistema procuraba desactivar desde temprano: el hábito de comparar. Habían vivido una parte de la República y, desde esa memoria imperfecta, sacaban conclusiones que en mi casa sonaban casi subversivas. “La Revolución fracasó. Y Fidel es el culpable”, decían.</p>
  <div class="v-n-mth__c">
    <figure aria-hidden="true">
      <picture>
        <source media="(max-width: 699px)" srcset="assets/images/final/mov-5-abuelos.webp">
        <img src="assets/images/final/desk-5-abuelos.webp" alt="">
      </picture>
    </figure>
    <div class="v-d-p-c">
      <p class="v-d-p">Mi madre y yo, con todas las vacunas ideológicas marcadas sobre el hombro, les respondíamos con la suficiencia de los conversos: “No sean ignorantes. Lean más el periódico. Está claro que todo es culpa de Estados Unidos”.</p>
    </div>
  </div>
</div>