<div class="v-n-mth v-n-mth--9">
  <p class="v-d-p">Una de las palabras favoritas de la izquierda internacional que simpatiza con el régimen es “bloqueo”. Conviene mirar esa palabra con cuidado. Las sanciones estadounidenses han existido y han perjudicado a la economía cubana, pero reducir sesenta y tantos años de ruina nacional a esa sola causa es una forma de propaganda, no de análisis.</p>
  <figure aria-hidden="true">
    <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/9-prebloqueo.webp" alt="">
  </figure>
</div>