<div class="v-n-mth v-n-mth--15">
  <p class="v-d-p">Mi padre murió hace un año en Holguín, la provincia donde nació. Nunca conoció otra realidad que la de Cuba. Tal vez hubiera podido salvarse si en el hospital al que llegó todavía con vida hubieran existido condiciones mínimas. Pero ya ninguna de las grandes banderas de la Revolución queda en pie.</p>

  <div class="v-n-mth__c v-n-mth__c--1">
    <figure class="v-n-mth-fig v-n-mth-fig--1" aria-hidden="true">
      <div class="v-n-mth-bbl blur-y-in">
        <p class="v-d-p">Los hospitales son ruinas sin medicamentos,</p>
        <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/final/15-linea-1.webp" alt="" aria-hidden="true">
      </div>
      <picture>
        <source media="(max-width: 699px)" srcset="assets/images/final/mov-15-padre-paseando-1.webp">
        <img src="assets/images/final/desk-15-padre-paseando-1.webp" alt="">
      </picture>
    </figure>

    <figure class="v-n-mth-fig v-n-mth-fig--2" aria-hidden="true">
      <div class="v-n-mth-bbl v-n-mth-bbl--1 blur-y-in">
        <p class="v-d-p">muchas escuelas funcionan a medias,</p>
        <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/final/15-linea-2.webp" alt="" aria-hidden="true">
      </div>
      <picture>
        <source media="(max-width: 699px)" srcset="assets/images/final/mov-15-padre-paseando-2-luz.webp">
        <img class="v-n-img luz" src="assets/images/final/desk-15-padre-paseando-2-luz.webp" alt="">
      </picture>
      <picture>
        <source media="(max-width: 699px)" srcset="assets/images/final/mov-15-padre-paseando-2.webp">
        <img src="assets/images/final/desk-15-padre-paseando-2.webp" alt="">
      </picture>
      <div class="v-n-mth-bbl v-n-mth-bbl--2 blur-y-in">
        <p class="v-d-p">el transporte es una humillación cotidiana,</p>
        <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/final/15-linea-3.webp" alt="" aria-hidden="true">
      </div>
    </figure>

    <figure class="v-n-mth-fig v-n-mth-fig--3" aria-hidden="true">
      <div class="v-n-mth-bbl blur-y-in">
        <p class="v-d-p">el salario no alcanza para sobrevivir</p>
        <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/final/15-linea-4.webp" alt="" aria-hidden="true">
      </div>
      <picture>
        <source media="(max-width: 699px)" srcset="assets/images/final/mov-15-padre-paseando-3-luz.webp">
        <img class="v-n-img luz" src="assets/images/final/desk-15-padre-paseando-3-luz.webp" alt="">
      </picture>
      <picture>
        <source media="(max-width: 699px)" srcset="assets/images/final/mov-15-padre-paseando-3.webp">
        <img src="assets/images/final/desk-15-padre-paseando-3.webp" alt="">
      </picture>
    </figure>

    <figure class="v-n-mth-fig v-n-mth-fig--4" aria-hidden="true">
      <div class="v-n-mth-bbl blur-y-in">
        <p class="v-d-p">y la electricidad se ha convertido en un milagro intermitente.</p>
      </div>
      <picture>
        <source media="(max-width: 699px)" srcset="assets/images/final/mov-15-padre-paseando-4-luz.webp">
        <img class="v-n-img luz" src="assets/images/final/desk-15-padre-paseando-4-luz.webp" alt="">
      </picture>
      <picture>
        <source media="(max-width: 699px)" srcset="assets/images/final/mov-15-padre-paseando-4.webp">
        <img src="assets/images/final/desk-15-padre-paseando-4.webp" alt="">
      </picture>
    </figure>
  </div>

  <div class="v-n-mth__c v-n-mth__c--2">
    <div class="v-d-p-c v-d">
      <p class="v-d-p v-d-p--1">Mis padres no imaginaron que, treinta años después del Período Especial, la crisis sería todavía peor.</p>
      <p class="v-d-p v-d-p--2">Yo tampoco.</p>
    </div>
  </div>
</div>