<div class="v-n-mth v-n-mth--17">
  <figure class="v-n-mth-fig v-n-mth-fig--1">
    <p class="v-d-p">Aunque durante décadas nos llamaron “gusanos”, “traidores” o “malnacidos”, hoy las remesas sostienen a miles de familias y apuntalan una economía que el propio sistema es incapaz de echar a andar.</p>
    <img class="v-n-img" aria-hidden="true" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/17-balseros-1.webp" alt="">
  </figure>

  <figure class="v-n-mth-fig v-n-mth-fig--2">
    <p class="v-d-p">El país sobrevive, en buena medida, por aquello mismo que la propaganda demonizó durante años: los cubanos que se fueron.</p>
    <img class="v-n-img" aria-hidden="true" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/17-balseros-2.webp" alt="">
  </figure>

  <figure class="v-n-mth-fig v-n-mth-fig--3">
    <p class="v-d-p">Pero la Revolución no solo fracasó como proyecto colectivo. A muchos nos arruinó también la vida privada.</p>
    <img class="v-n-img" aria-hidden="true" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/17-balseros-3.webp" alt="">
  </figure>
</div>