<div class="v-n-mth v-n-mth--13">
  <p class="v-d-p">Algún tiempo después, cuando se acercaba mi cumpleaños, mi padre me preguntó qué quería de regalo. Pero yo ya no pensaba en juguetes. Tenía más hambre que imaginación. Así que le contesté:</p>

  <div class="v-n-mth__c">
    <figure>
      <div class="v-n-mth-bbl">
        <p class="v-d-p">“Quiero un bocadillo de cerdo, de esos que venden camino a la escuela”.</p>
        <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/final/bubble-line.webp" alt="" aria-hidden="true">
      </div>
      <picture aria-hidden="true">
        <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/final/desk-13-bocadillo-cerdo.webp" alt="">
      </picture>
    </figure>

    <p class="v-d-p">Los veía todos los días, brillando en el aceite, como si fueran un lujo reservado para las grandes ocasiones. </p>
  </div>
</div>