<div class="v-n-mth v-n-mth--12">
  <div class="v-n-scrolly">
    <div class="v-n-scrolly__sticky">
      <div class="v-n-scrolly__bg">
        <div class="bg-item" data-bg="0">
          <div class="bg-c">
            <picture>
              <source media="(max-width: 699px)" srcset="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/mov-12-scroll1.webp">
              <img class="v-n-img v-n-img--1" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/desk-12-scroll1.webp" alt="">
            </picture>
          </div>
        </div>
        <div class="bg-item" data-bg="1">
          <div class="bg-c">
            <div class="bg-grp bg-grp--1">
              <picture>
                <source media="(max-width: 699px)" srcset="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/mov-12-scroll2.webp">
                <img class="v-n-img" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/desk-12-scroll2.webp" alt="">
              </picture>   
            </div>
            <div class="bg-grp bg-grp--2">
              <picture>
                <source media="(max-width: 699px)" srcset="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/mov-12-scroll3.webp">
                <img class="v-n-img v-n-img--2" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/desk-12-scroll3.webp" alt="">
              </picture> 
            </div>            
          </div>
        </div>
      </div>
    </div>

    <div class="v-n-scrolly__steps">
      <div class="step" data-step="0" data-bg="0">
        <p class="v-d-p">Guardo dos recuerdos de aquellos años. En una ocasión gané un concurso infantil de poesía y el premio fue un flamante carrito de Fórmula 1.</p>
      </div>
      <div class="step" data-step="1" data-bg="1">
        <p class="v-d-p">Hacía ya mucho tiempo que en las tiendas no vendían juguetes, y yo me había resignado a jugar con la colección de botones de mi madre, imaginando que eran soldaditos de plástico.</p>
      </div>
      <div class="step" data-step="2" data-bg="1">
        <p class="v-d-p">Cuando llegué orgulloso a casa con mi premio, dispuesto a recuperar de golpe un pedazo de infancia, mi madre me dijo: «Ya tienes nueve años. No necesitas juguetes. Guárdalo para cuando tengas un hijo, porque no sabemos cuánto durará esta crisis».</p>
      </div>
    </div>
  </div>

  <div class="v-n-mth__c">
    <figure aria-hidden="true">
      <picture>
        <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/desk-12-armario.webp" alt="">
      </picture>
    </figure>
    <p class="v-d-p">El carrito quedó en el armario, dentro de su caja. Y yo seguí trazando estrategias con botones de plástico.</p>
  </div>
</div>