<div class="v-n-mth v-n-mth--8">
  <figure aria-hidden="true">
    <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/8-fidel-atril.webp" alt="">
  </figure>
</div>