<div class="v-n-mth v-n-mth--11">
  <div class="v-n-mth__c">
    <div class="v-d-p-c">
      <p class="v-d-p">El embargo servía como obstáculo, sí, pero también como coartada perfecta.</p>
      <p class="v-d-p">Al desaparecer la Unión Soviética llegó la crisis que el régimen bautizó, con su talento habitual para los eufemismos, como “Período Especial”. Mi madre suele recurrir a una forma de autodefensa y nos dice a mi hermana y a mí: “Ustedes nunca se acostaron sin comer”. Puede que tenga razón en términos estrictos, pero a nosotros nos resulta imposible olvidar el hambre.</p>
    </div>
    <figure aria-hidden="true">
      <img class="v-n-img v-n-img--1" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/11-mapamundi-plato1.webp" alt="">
      <img class="v-n-img v-n-img--2" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/11-mapamundi-plato2.webp" alt="">
    </figure>
  </div>
  <p class="v-d-p">Guardo dos recuerdos de aquellos años. En una ocasión gané un concurso infantil de poesía y el premio fue un flamante carrito de Fórmula 1.</p>
</div>