<div class="v-n-mth v-n-mth--12">
  <div class="v-n-scrolly">
    <div class="v-n-scrolly__sticky">
      <div class="v-n-scrolly__bg">
        <div class="bg-item" data-bg="0">
          <div class="bg-c">
            <img class="bg-img bg-img--1" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/12-scrolling-1.webp" alt="">
          </div>
        </div>
        <div class="bg-item" data-bg="1">
          <div class="bg-c">
            <img class="bg-img bg-img--1" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/12-scrolling-botones-1.webp" alt="">
            <img class="bg-img bg-img--2" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/12-scrolling-botones-2.webp" alt="">            
          </div>
        </div>
        <div class="bg-item" data-bg="2">
          <div class="bg-c">
            <img class="bg-img bg-img--1" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/12-scrolling-armario.webp" alt="">   
          </div>
        </div>
      </div>
    </div>

    <div class="v-n-scrolly__steps">
      <div class="step" data-step="0" data-bg="0">
        <p class="v-d-p">Hacía ya mucho tiempo que en las tiendas no vendían juguetes, y yo me había resignado a jugar con la colección de botones de mi madre, imaginando que eran soldaditos de plástico.</p>
      </div>
      <div class="step" data-step="1" data-bg="1">
        <p class="v-d-p">Cuando llegué orgulloso a casa con mi premio, dispuesto a recuperar de golpe un pedazo de infancia, mi madre me dijo: “Ya tienes nueve años. No necesitas juguetes. Guárdalo para cuando tengas un hijo, porque no sabemos cuánto durará esta crisis”.</p>
      </div>
      <div class="step" data-step="2" data-bg="2">
        <p class="v-d-p">El carrito quedó en el armario, dentro de su caja. Y yo seguí trazando estrategias con botones de plástico.</p>
      </div>
    </div>
  </div>
</div>