<div class="v-n-mth v-n-mth--10">
  <div class="v-n-mth__c v-n-mth__c--1">
    <div class="v-d-p-c v-d">
      <p class="v-d-p">En 1964, la periodista norteamericana Lisa Howard le preguntó al Che Guevara cuánto daño le hacían las sanciones a la economía cubana. La respuesta del entonces ministro de Industria fue una pequeña joya del cinismo revolucionario: no podía ofrecer una cifra exacta, entre otras razones porque el bloqueo tenía...</p>
    </div>
    <div class="v-n-mth-bbl">
      <p class="v-d-p">...«facetas negativas y facetas positivas»</p>
      <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/bubble-line.webp" alt="" aria-hidden="true">
    </div>
    <p class="v-d-p">El guerrillero convertido en banquero y ministro, envuelto en humo y salbutamol, mencionaba entre esas facetas positivas «el desarrollo de la conciencia nacional y el espíritu de lucha del pueblo por superar las dificultades».</p>
    <figure aria-hidden="true">
      <picture>
        <source media="(max-width: 699px)" srcset="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/mov-10-muro-1.webp">
        <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/desk-10-muro-1.webp" alt="">
      </picture>
    </figure>
  </div>
  <div class="v-n-mth__c v-n-mth__c--2">    
    <figure aria-hidden="true">
      <picture>
        <source media="(max-width: 699px)" srcset="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/mov-10-muro-2.webp">
        <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/desk-10-muro-2.webp" alt="">
      </picture>
    </figure>
    <p class="v-d-p v-d-p--1">El guerrillero convertido en banquero y ministro, envuelto en humo y salbutamol, mencionaba entre esas facetas positivas «el desarrollo de la conciencia nacional y el espíritu de lucha del pueblo por superar las dificultades».</p>
    <p class="v-d-p v-d-p--2">Era una manera elegante de admitir que las sanciones, además de obstáculo, resultaban una bendición política.</p>
    <p class="v-d-p v-d-p--3">Servían para convertir el fracaso en excusa, la precariedad en virtud y la victimización en solidaridad internacional.</p>
  </div>

  <p class="v-d-p v-d-p--4">Durante décadas, mientras existió la URSS, Cuba vivió conectada al respirador soviético. Recibió una ayuda descomunal, suficiente para modernizar su economía y construir instituciones viables. Pero el dinero no se usó para eso. Se despilfarró en ineficiencia, militarización, aventuras ideológicas y control político.</p>
</div>