<div class="v-n-mth v-n-mth--17">
  <div class="v-n-mth__c v-n-mth__c--1">
    <p class="v-d-p">Aunque durante décadas nos llamaron “gusanos”, “traidores” o “malnacidos”, hoy las remesas sostienen a miles de familias y apuntalan una economía que el propio sistema es incapaz de echar a andar.</p>
    <figure class="v-n-mth-fig">
      <picture>
        <source media="(max-width: 800px)" srcset="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/mov-17-balseros-1.webp">
        <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/desk-17-balseros-1.webp" alt="">
      </picture>
    </figure>
  </div>

  <div class="v-n-mth__c v-n-mth__c--2">
    <p class="v-d-p">El país sobrevive, en buena medida, por aquello mismo que la propaganda demonizó durante años: los cubanos que se fueron.</p>
    <figure class="v-n-mth-fig">
      <picture>
        <source media="(max-width: 800px)" srcset="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/mov-17-balseros-2.webp">
        <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/desk-17-balseros-2.webp" alt="">
      </picture>
    </figure>
  </div>

  <div class="v-n-mth__c v-n-mth__c--3">
    <p class="v-d-p">Pero la Revolución no solo fracasó como proyecto colectivo. A muchos nos arruinó también la vida privada.</p>
    <figure class="v-n-mth-fig">
      <picture>
        <source media="(max-width: 800px)" srcset="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/mov-17-balseros-3.webp">
        <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/desk-17-balseros-3.webp" alt="">
      </picture>
    </figure>
  </div>
</div>