<div class="v-n-mth v-n-mth--16">
  <figure class="v-n-mth-fig v-n-mth-fig--1">
    <p class="v-d-p">En 2021 tuve que escapar de Cuba con mi esposa para evitar la amenaza de pasar veintisiete años en la cárcel por querer marchar con una rosa blanca, exigiendo cambios democráticos. Mi madre y mi hermana viven ahora en otro país al que tampoco podría visitar: la Nicaragua de los Ortega.</p>
    <img class="v-n-img" aria-hidden="true" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/16-apagon-bandera-1.webp" alt="">
  </figure>

  <figure class="v-n-mth-fig v-n-mth-fig--2">
    <img class="v-n-img" aria-hidden="true" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/16-apagon-bandera-2.webp" alt="">
  </figure>

  <figure class="v-n-mth-fig v-n-mth-fig--3">
    <p class="v-d-p">La historia de la Revolución terminó siendo una colección de fracasos colectivos.</p>
    <img class="v-n-img" aria-hidden="true" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/16-apagon-bandera-3.webp" alt="">
  </figure>

  <figure class="v-n-mth-fig v-n-mth-fig--4">
    <div class="v-d-p-c">
      <p class="v-d-p">Fracasó como proyecto económico, porque arruinó un país que recibió subsidios gigantescos.</p>
      <p class="v-d-p">Fracasó como proyecto moral, porque acostumbró a varias generaciones a mentir, fingir y callar.</p>
      <p class="v-d-p">Fracasó como proyecto nacional, porque convirtió el desacuerdo en traición y el exilio en condena sentimental.</p>
    </div>
    <img class="v-n-img" aria-hidden="true" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/16-apagon-bandera-4.webp" alt="">
  </figure>

  <figure class="v-n-mth-fig v-n-mth-fig--5">
    <p class="v-d-p">Y fracasó también en su promesa de soberanía, porque siempre dependió de la caridad extranjera.</p>
    <img class="v-n-img" aria-hidden="true" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/16-apagon-bandera-5.webp" alt="">
  </figure>

  <figure class="v-n-mth-fig v-n-mth-fig--6">
    <p class="v-d-p">Paradójicamente, si la gente en Cuba no ha muerto del todo de hambre y desesperanza, es en parte gracias al exilio.</p>
    <img class="v-n-img" aria-hidden="true" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/16-apagon-bandera-6.webp" alt="">
  </figure>
</div>