<div class="v-n-mth v-n-mth--7">
  <div class="v-n-mth__c v-n-mth__c--1 v-d">
    <p class="v-d-p">La historia cubana, tan aficionada siempre al melodrama, se acerca tal vez al último capítulo de un culebrón, solo que La Habana ya perdió, puertas adentro, el monopolio del relato.</p>
    <p class="v-d-p">Los hombres que tomaron el poder en 1959 no se presentaron al principio como comunistas.</p>
  </div>

  <div class="v-n-mth__c v-n-mth__c--2">
    <div class="v-n-mth-bbl v-n-mth-bbl--1">
      <p class="v-d-p">Prometían restaurar la democracia, devolver la Constitución de 1940...</p>
      <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/bubble-line.webp" alt="" aria-hidden="true">
    </div>
    <div class="v-n-mth-bbl v-n-mth-bbl--2">
      <p class="v-d-p">...y convocar elecciones.</p>
      <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/bubble-line.webp" alt="" aria-hidden="true">
    </div>
    <figure aria-hidden="true">
      <picture>
        <source media="(max-width: 1000px)" srcset="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/mov-7-revolucionarios.webp">
        <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/desk-7-revolucionarios.webp" alt="">
      </picture>
    </figure>
    <p class="v-d-p">La película que nos daban en la escuela ya venía editada, como si el socialismo hubiera sido el destino natural de Cuba desde los taínos hasta Fidel Castro. Pero la historia real fue menos limpia, más oportunista y bastante más trágica.</p>
  </div>
</div>