<div class="v-n-mth v-n-mth--4">
  <div class="v-n-mth__c">
    <p class="v-d-p">Los niños, incluso bajo las dictaduras, desarrollan pronto sus mecanismos de defensa. El nuestro era una forma precoz del sarcasmo.</p>
    <p class="v-d-p">Nos preguntábamos en voz baja qué significaba exactamente ser como el Che. ¿Fumar mucho? ¿Padecer asma? ¿Morirse joven para salir bien en las fotos?</p>
  </div>
  <figure aria-hidden="true">
    <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/4-che-escolares.webp" alt="">
  </figure>
</div>