<div class="v-n-mth v-n-mth--3">
  <p class="v-d-p">Antes de aprender la tabla de multiplicar, ya repetíamos cada mañana, en la plaza de la escuela, un juramento que todavía hoy siguen pronunciando los niños cubanos:</p>
  <p class="v-d-p">«Pioneros, por el comunismo, seremos como el Che».</p>
  <p class="v-d-p">Frente a nosotros, en un mural, la imagen del argentino, tabaco en boca, vigilaba el patio con la severidad de un santo armado.</p>
</div>