<div class="v-n-mth v-n-mth--2">
  <p class="v-d-p">
    Aprendí a leer y a escribir en un país donde las palabras nunca eran inocentes. A cada letra le correspondía una doctrina. 
  </p>

  <div class="v-n-mth__c">
    <figure aria-hidden="true">
      <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/2-pizarra.webp" alt="">
    </figure>
    <p class="v-d-p">
      La F no era la inicial de familia, ni de fe, ni siquiera de futuro. Era la F de Fidel y también, de algún modo, la de fusil.
    </p>
  </div>
</div>