<div class="nave-3d">
  <div class="nave-3d__inner">
    <canvas class="nave-3d__canvas"></canvas>

    <div class="nave-3d__overlay">
      <p class="txt t1">Texto 1</p>
      <p class="txt t2">Texto 2</p>
      <p class="txt t3">Texto 3</p>
      <p class="txt t4">Texto 4</p>

      <div class="hint desktop">Shift + scroll para zoom</div>
      <div class="hint mobile">Pellizca con dos dedos</div>
    </div>
  </div>
</div>