<div class="parallax">
  <figure class="parallax-item parallax-item--01">
    <div class="parallax__c">
      <div class="parallax__img" role="img" aria-label="Cantico de Ultrasur que dice: 'Una explosión de goma dos, y'"></div>
    </div>
  </figure>

  <figcaption class="v-fc">
    Cántico en el Graderío Sur de El Sadar, el pasado 31 de enero (jornada 22 de LaLiga)
  </figcaption>
</div>