<figure class="parallax parallax--01">
  <div class="parallax__img" role="img" aria-labelledby="grafiti-caption"></div>

  <figcaption class="v-fc">
    <span class="v-fc__t">
      Lema de una pancarta de Ultrasur.
    </span>
  </figcaption>
</figure>