<figure class="parallax parallax--01">
  <div class="parallax__c">
    <div class="parallax__img" role="img" aria-label="Pancarta de Ultrasur que dice: 'Nos invaden, nos matan. Justicia para España'"></div>
  </div>
  
  <figcaption class="v-fc">
    <span class="v-fc__t">
      Lema de una pancarta de Ultrasur.
    </span>
  </figcaption>
</figure>