<div class="v-n-preh">
  <div class="v-n-preh__sec v-n-preh__sec--1">
    <div class="v-n-preh__cnt">
      <img src="assets/images/1.webp" alt="" class="v-n-preh__img v-n-preh__img--1 ar-4-3" aria-hidden>
      <img src="assets/images/2.webp" alt="" class="v-n-preh__img v-n-preh__img--2 ar-1" aria-hidden>
      <img src="assets/images/3.webp" alt="" class="v-n-preh__img v-n-preh__img--3 ar-4-3" aria-hidden>
    </div>
    <div class="v-n-preh__box">
      <p class="v-n-preh__txt"><span>En la guerra con EE.UU., la propaganda es una ampliación del campo de batalla.</span></p>
    </div>
  </div>
  <div class="v-n-preh__sec v-n-preh__sec--2">
    <div class="v-n-preh__cnt">
      <img src="assets/images/4.webp" alt="" class="v-n-preh__img v-n-preh__img--4 ar-1" aria-hidden>
      <img src="assets/images/5.webp" alt="" class="v-n-preh__img v-n-preh__img--5 ar-1" aria-hidden>
      <img src="assets/images/6.webp" alt="" class="v-n-preh__img v-n-preh__img--6 ar-1" aria-hidden>
      <img src="assets/images/7.webp" alt="" class="v-n-preh__img v-n-preh__img--7 ar-4-3" aria-hidden>
    </div>
  </div>
  <div class="v-n-preh__sec v-n-preh__sec--3">
    <div class="v-n-preh__cnt">
      <img src="assets/images/8.webp" alt="" class="v-n-preh__img v-n-preh__img--8 ar-4-3" aria-hidden>
      <img src="assets/images/9.webp" alt="" class="v-n-preh__img v-n-preh__img--9 ar-1" aria-hidden>
      <img src="assets/images/10.webp" alt="" class="v-n-preh__img v-n-preh__img--10 ar-4-3" aria-hidden>
    </div>
    <div class="v-n-preh__box">
      <p class="v-n-preh__txt"><span>En Irán, país con gran tradición en el uso de murales, los dibujos y las fotos dejan paso a imágenes generadas por IA.</span></p>
    </div>
  </div>
  <div class="v-n-preh__sec v-n-preh__sec--4">
    <div class="v-n-preh__cnt">
      <img src="assets/images/11.webp" alt="" class="v-n-preh__img v-n-preh__img--11 ar-1" aria-hidden>
      <img src="assets/images/12.webp" alt="" class="v-n-preh__img v-n-preh__img--12 ar-1" aria-hidden>
      <img src="assets/images/13.webp" alt="" class="v-n-preh__img v-n-preh__img--13 ar-4-3" aria-hidden>
      <img src="assets/images/14.webp" alt="" class="v-n-preh__img v-n-preh__img--14 ar-1" aria-hidden>
      <img src="assets/images/15.webp" alt="" class="v-n-preh__img v-n-preh__img--15 ar-1" aria-hidden>
      <img src="assets/images/16.webp" alt="" class="v-n-preh__img v-n-preh__img--16 ar-4-3" aria-hidden>
    </div>
    <div class="v-n-preh__box">
      <p class="v-n-preh__txt"><span>Los mensajes ya no son solo para el pueblo iraní y ahora se elaboran en clave de consumo externo.</span></p>
    </div>
  </div>
  <div class="v-n-preh__sec v-n-preh__sec--5">
    <div class="v-n-preh__cnt">
      <img src="assets/images/17.webp" alt="" class="v-n-preh__img v-n-preh__img--17 ar-4-3" aria-hidden>
      <img src="assets/images/18.webp" alt="" class="v-n-preh__img v-n-preh__img--18 ar-1" aria-hidden>
    </div>
  </div>
</div>

{{> ./includes/scroll-indicator }}