<div class="v-n-preh-prlx">
  <figure class="v-n-preh-prlx__l v-n-preh-prlx__l--01">
    <div class="v-n-preh-txt v-n-preh-txt--01">
      <p>Nací y crecí bajo una dictadura, aunque entonces no lo sabía.</p>
    </div>
    <img class="v-n-preh-prlx__img penon-01" src="assets/images/parallax/pre-header/parallax-penon-01.png" alt="">
    <div class="v-n-preh-prlx__img-c gaviota-c">
      <img class="v-n-preh-prlx__img gaviota" src="assets/images/parallax/pre-header/parallax-gaviota.png" alt="">
    </div>
    <img class="v-n-preh-prlx__img faro" src="assets/images/parallax/pre-header/parallax-faro.png" alt="">
    <img class="v-n-preh-prlx__img mar" src="assets/images/parallax/pre-header/parallax-mar.jpg" alt="">
    <div class="v-n-preh-prlx__img-c cielo-c">
      <img class="v-n-preh-prlx__img cielo" src="assets/images/parallax/pre-header/parallax-cielo.jpg" alt="">
    </div>
  </figure>

  <figure class="v-n-preh-prlx__l v-n-preh-prlx__l--02">
    <div class="v-n-preh-prlx__box">
      <div class="v-n-preh-txt v-n-preh-txt--02">
        <p>Tampoco era fácil advertirlo cuando hasta en el muro del cementerio de mi pueblo había un letrero enorme que decía: «Somos felices aquí». Si los muertos ya habían alcanzado semejante plenitud, ¿qué nos quedaba a los vivos sino agradecer?</p>
      </div>
      <div class="v-n-preh-prlx__img-c grafiti-c">
        <img class="v-n-preh-prlx__img grafiti" src="assets/images/parallax/pre-header/grafiti-somos.jpg" alt="">
      </div>
    </div>
    <img class="v-n-preh-prlx__img penon-02" src="assets/images/parallax/pre-header/parallax-penon-02.jpg" alt="">
  </figure>
</div>


{{> ./includes/scroll-indicator }}