{{> ./includes/dvd-nav }}

<div class="v-n-preh" aria-hidden="true">
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <div class="lottie-wrapper">
  <lottie-player
    data-lottie
    src="https://s1.abcstatics.com/comun/especiales/bandas-latinas/json/cabecera-bandas-latinas.json"
    background="transparent"
    speed="1"
    autoplay
  ></lottie-player>
  </div>

  <img src="https://s1.abcstatics.com/comun/especiales/bandas-latinas/images/abc_apertura.png" data-image/>
</div>

<div class="manchas" aria-hidden="true">
  <figure class="mancha-izq-c">
    <img class="mancha-izq mancha-izq--1" src="https://s1.abcstatics.com/comun/especiales/bandas-latinas/images/mancha-izq-01.png" alt="">
    <img class="mancha-izq mancha-izq--2" src="https://s1.abcstatics.com/comun/especiales/bandas-latinas/images/mancha-izq-02.png" alt="">
    <img class="mancha-izq mancha-izq--3" src="https://s1.abcstatics.com/comun/especiales/bandas-latinas/images/mancha-izq-03.png" alt="">
    <img class="mancha-izq mancha-izq--4" src="https://s1.abcstatics.com/comun/especiales/bandas-latinas/images/mancha-izq-04.png" alt="">
  </figure>

  <figure class="mancha-dcha-c" aria-hidden="true">
    <img class="mancha-dcha mancha-dcha--1" src="https://s1.abcstatics.com/comun/especiales/bandas-latinas/images/mancha-dcha-01.png" alt="">
    <img class="mancha-dcha mancha-dcha--2" src="https://s1.abcstatics.com/comun/especiales/bandas-latinas/images/mancha-dcha-02.png" alt="">
    <img class="mancha-dcha mancha-dcha--3" src="https://s1.abcstatics.com/comun/especiales/bandas-latinas/images/mancha-dcha-03.png" alt="">
  </figure>
</div>

{{> ./includes/scroll-indicator }}