<div class="n-preh">
  <div class="artemis-capsule">
    <img class="artemis-media artemis-media--01" src="assets/images/artemis-01.png" alt="">
    <img class="artemis-media artemis-media--02" src="assets/images/artemis-02.png" alt="">
    <img class="artemis-media artemis-media--03" src="assets/images/artemis-03.png" alt="">
  </div>
</div>