<div class="n-preh">
  <div class="n-preh__top">
    <img class="shape-bg" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/22/pederastas-en-videojuegos/images/shape-cut.png" alt="" aria-hidden="true">
    <div class="shape-box">
      <div class="shape-box__c"></div>
    </div>
    <div class="n-preh-t-c">
      <h2 class="n-preh__t">La falta de moderación y las recompensas virtuales convierten plataformas como Roblox en territorios casi impunes contra los menores</h2>
      <div class="n-preh__vid">
        <video autoplay loop muted src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/22/pederastas-en-videojuegos/videos/rob-loop.webm" aria-hidden="true"></video>
      </div>
    </div>
    <div class="sky">
      <div class="sky__c">
        <img class="cloud cloud--1" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/22/pederastas-en-videojuegos/images/cloud.png" alt="" aria-hidden="true">
        <img class="cloud cloud--2" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/22/pederastas-en-videojuegos/images/cloud.png" alt="" aria-hidden="true">
        <img class="cloud cloud--3" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/22/pederastas-en-videojuegos/images/cloud.png" alt="" aria-hidden="true">
      </div>
    </div>
  </div>

  <div class="n-preh__bottom">
    <div class="n-preh-t-c">
      <h2 class="n-preh__t">La silenciosa infiltración de la pedofilia en los mundos digitales</h2>
    </div>
    <div class="shape-box">
      <div class="shape-box__c"></div>
    </div>
    <img class="laptop" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/22/pederastas-en-videojuegos/images/laptop.png" alt="" aria-hidden="true">
  </div>

  {{> ./includes/scroll-indicator }}
</div>