{{> ./includes/dvd-nav }}

<div class="v-n-preh" aria-hidden="true">
  <div id="lottie-anim"></div>
  <div class="anim-bg">
    <div class="anim-wave-c">
      <svg class="anim-wave" viewBox="0 0 1440 150" preserveAspectRatio="none"><path fill="white" d="M0,60 C300,120 600,0 900,60 C1200,120 1440,0 1440,60 L1440,150 L0,150 Z"></path></svg>
    </div>
  </div>

  <img src="https://s1.abcstatics.com/comun/especiales/bandas-latinas/images/abc_apertura.png" />
</div>

<div class="manchas" aria-hidden="true">
  <figure class="mancha-izq-c">
    <img class="mancha-izq mancha-izq--1" src="https://s1.abcstatics.com/comun/especiales/bandas-latinas/images/mancha-izq-01.png" alt="">
    <img class="mancha-izq mancha-izq--2" src="https://s1.abcstatics.com/comun/especiales/bandas-latinas/images/mancha-izq-02.png" alt="">
    <img class="mancha-izq mancha-izq--3" src="https://s1.abcstatics.com/comun/especiales/bandas-latinas/images/mancha-izq-03.png" alt="">
    <img class="mancha-izq mancha-izq--4" src="https://s1.abcstatics.com/comun/especiales/bandas-latinas/images/mancha-izq-04.png" alt="">
  </figure>

  <figure class="mancha-dcha-c" aria-hidden="true">
    <img class="mancha-dcha mancha-dcha--1" src="https://s1.abcstatics.com/comun/especiales/bandas-latinas/images/mancha-dcha-01.png" alt="">
    <img class="mancha-dcha mancha-dcha--2" src="https://s1.abcstatics.com/comun/especiales/bandas-latinas/images/mancha-dcha-02.png" alt="">
    <img class="mancha-dcha mancha-dcha--3" src="https://s1.abcstatics.com/comun/especiales/bandas-latinas/images/mancha-dcha-03.png" alt="">
  </figure>
</div>

{{> ./includes/scroll-indicator }}