<div class="v-n-preh">
  <span class="v-i v-i--scroll">
    <svg width="8" height="5" viewBox="0 0 8 5" xmlns="http://www.w3.org/2000/svg">
      <path d="M3.99919 4.78467C3.91885 4.78467 3.84408 4.77184 3.77485 4.74617C3.70563 4.72051 3.6398 4.67651 3.57735 4.61417L0.581188 1.61801C0.488965 1.52568 0.441743 1.40962 0.439521 1.26984C0.43741 1.13017 0.484632 1.01201 0.581188 0.915341C0.677854 0.818786 0.794965 0.770508 0.932521 0.770508C1.07008 0.770508 1.18719 0.818786 1.28385 0.915341L3.99919 3.63084L6.71452 0.915341C6.80685 0.823119 6.92291 0.775897 7.06269 0.773675C7.20235 0.771563 7.32052 0.818786 7.41719 0.915341C7.51374 1.01201 7.56202 1.12912 7.56202 1.26667C7.56202 1.40423 7.51374 1.52134 7.41719 1.61801L4.42102 4.61417C4.35858 4.67651 4.29274 4.72051 4.22352 4.74617C4.1543 4.77184 4.07952 4.78467 3.99919 4.78467Z"></path>
    </svg>
  </span>
  
  <figure class="preh-silueta">
    <img src="assets/images/sil-1.gif">
  </figure>

  <div class="preh-mini-siluetas">
    <img class="mini mini--1" src="assets/images/sil-2.gif">
    <img class="mini mini--2" src="assets/images/sil-3.gif">
    <img class="mini mini--3" src="assets/images/sil-4.gif">
    <img class="mini mini--4" src="assets/images/sil-5.gif">
    <img class="mini mini--5" src="assets/images/sil-6.gif">
    <img class="mini mini--6" src="assets/images/sil-1.gif">
  </div>

  <div class="preh-cards-1">
    <div class="preh-card preh-card--t1">
      <b>Año 2015</b>
      <p>Eres un hombre, tienes 32 años y has nacido en Somalia.</p>
    </div>

    <div class="preh-card preh-card--t1">
      <p>Optas por dejar atrás tu país para buscar un futuro mejor en la UE, donde entonces una ola de solidaridad con los exiliados de conflictos en Asia y África recorre los países comunitarios.</p>
    </div>

    <div class="preh-card preh-card--t1">
      <p>Te planteas tres opciones para pedir asilo.</p>
    </div>
  </div>

  <div class="preh-cards-2">
    <div class="preh-card preh-card--t2">
      <span class="flag"><img src="assets/images/dinamarca-bandera.svg"></span>
      <b>Dinamarca</b>
      <p class="before">Es muy probable que entonces te concedieran un permiso de residencia de cinco años. Pasado ese tiempo, tu residencia se volvía permanente.</p>
      <p class="now">Hoy, rechazan tu solicitud si en tu travesía pasaste por lo que se considera un “tercer país seguro” fuera de la UE.</p>
    </div>

    <div class="preh-card preh-card--t2">
      <span class="flag"><img src="assets/images/uk-bandera.svg"></span>
      <b>Reino Unido</b>
      <p class="before">Cierta facilidad para pedir asilo y posibilidad de obtener la ciudadanía con el tiempo. Aún eran parte de la UE y podían rechazarte y enviarte al primer país en el que te tomaron las huellas.</p>
      <p class="now">Han endurecido las condiciones, pero al salir de la UE ya no es tan sencillo que te devuelvan al primer país comunitario al que llegaste.</p>
    </div>

    <div class="preh-card preh-card--t2">
      <span class="flag"><img src="assets/images/spain-bandera.svg"></span>
      <b>España</b>
      <p class="before">No era difícil pedir asilo, aunque tardan mucho en resolverlo. Mientras, podías permanecer legalmente en España con documentación provisional.</p>
      <p class="now">Si llegaste antes de 2026 y no tienes antecedentes penales, podrás regularizar tu situación en los próximos meses.</p>
    </div>
  </div>
</div>

