<div class="n-preh">
  <div class="n-preh__top">
    <img class="shape-bg" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/22/pederastas-en-videojuegos/images/shape-cut.png" alt="" aria-hidden="true">
    <div class="shape-box">
      <div class="shape-box__c"></div>
    </div>
    <div class="n-preh-t-c">
      <h2 class="n-preh__t">Metaversos<br> <span>sin ley</span></h2>
      <div class="n-preh__vid n-vid-webm">
        <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/22/pederastas-en-videojuegos/images/rob-loop.gif" alt="">
        <video autoplay muted loop playsinline aria-hidden="true">
          <source src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/22/pederastas-en-videojuegos/videos/rob-loop.webm" type="video/webm">
        </video>
      </div>
    </div>
    <div class="sky">
      <div class="sky__c">
        <img class="cloud cloud--1" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/22/pederastas-en-videojuegos/images/cloud.png" alt="" aria-hidden="true">
        <img class="cloud cloud--2" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/22/pederastas-en-videojuegos/images/cloud.png" alt="" aria-hidden="true">
        <img class="cloud cloud--3" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/22/pederastas-en-videojuegos/images/cloud.png" alt="" aria-hidden="true">
      </div>
    </div>
  </div>

  <div class="n-preh__bottom">
    <div class="n-preh-t-c">
      <h2 class="n-preh__t">
        <span>Los pedófilos que</span>
        <span>acechan a tu</span>
        <span>hijo en Roblox</span>
        <span>(y tú ni te enteras)</span>
      </h2>
      <p class="n-preh__st">
        <span>La falta de moderación activa y las recompensas virtuales convierten plataformas de videojuegos en territorios delictivos casi impunes contra los menores</span>
      </p>
    </div>
    <div class="shape-box">
      <div class="shape-box__c"></div>
    </div>
    <img class="laptop" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/22/pederastas-en-videojuegos/images/laptop.png" alt="" aria-hidden="true">
  </div>

  {{> ./includes/scroll-indicator }}
</div>