<div class="n-preh">
  <div class="n-preh__top">
    <img class="shape-bg" src="assets/images/shape-cut.png" alt="">
    <div class="bg-box"></div>
  </div>

  <div class="n-preh__bottom">
    <img class="laptop" src="assets/images/laptop.png" alt="">
  </div>

  {{!-- <div class="sky">
    <div class="sky__c">
      <img class="cloud cloud--1" src="assets/images/cloud.png" alt="">
      <img class="cloud cloud--2" src="assets/images/cloud.png" alt="">
      <img class="cloud cloud--3" src="assets/images/cloud.png" alt="">
      <h2 class="n-preh__title">Lobo<br> con piel<br> de avatar</h2>
      {{> ./includes/scroll-indicator }}
    </div>
    <img class="shape-bg" src="assets/images/shape-cut.png" alt="">
  </div>
  <div class="rob-vid">
    <video autoplay loop muted src="assets/videos/rob-loop.webm"></video>
    <div class="shape-bg-block"></div>
  </div> --}}
</div>