{{> ./includes/dvd-nav }}

<div class="v-n-preh">
  <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/12/bandaslatinas/images/abc_apertura.png" alt="" >
</div>

<div class="manchas-c" aria-hidden="true">
  <figure class="mancha-izq">
    <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/12/bandaslatinas/images/mancha-izq-01.png" alt="">
    <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/12/bandaslatinas/images/mancha-izq-02.png" alt="">
  </figure>

  <figure class="mancha-dcha">
    <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/12/bandaslatinas/images/mancha-dcha-01.png" alt="">
    <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/12/bandaslatinas/images/mancha-dcha-02.png" alt="">
    <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/12/bandaslatinas/images/mancha-dcha-03.png" alt="">
  </figure>
</div>

{{> ./includes/scroll-indicator }}