<div class="v-n-preh-prlx">
  <figure>
    <img class="v-n-preh-prlx__img v-n-preh-prlx__img--01" src="assets/images/parallax/pre-header/parallax-penon.png" alt="">
    {{!-- <img class="v-n-preh-prlx__img v-n-preh-prlx__img--02" src="assets/images/parallax/pre-header/parallax-gaviota-png" alt=""> --}}
    {{!-- <img class="v-n-preh-prlx__img v-n-preh-prlx__img--03" src="assets/images/parallax/pre-header/parallax-faro.png" alt=""> --}}
    <img class="v-n-preh-prlx__img v-n-preh-prlx__img--04" src="assets/images/parallax/pre-header/parallax-mar.jpg" alt="">
    {{!-- <img class="v-n-preh-prlx__img v-n-preh-prlx__img--05" src="assets/images/parallax/pre-header/parallax-cielo.jpg" alt=""> --}}
  </figure>
</div>


{{> ./includes/scroll-indicator }}