<div class="v-n-preh-prlx">
  <figure class="v-n-preh-prlx__l v-n-preh-prlx__l--01">
    <div class="v-n-preh-txt v-n-preh-txt--01">
      <p class="blur-y-in">Nací y crecí bajo una dictadura, aunque entonces no lo sabía.</p>
    </div>
    <img class="v-n-preh-prlx__img penon-01" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/1-cabecera-hombre.webp" alt="">
    <div class="v-n-preh-prlx__img-c gaviota-c">
      <img class="v-n-preh-prlx__img gaviota" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/1-cabecera-gaviota.webp" alt="">
    </div>
    <img class="v-n-preh-prlx__img faro" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/1-cabecera-faro.webp" alt="">
    <div class="v-n-preh-prlx__img-c mar-c">
      <img class="v-n-preh-prlx__img mar-brillo" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/1-cabecera-mar-brillo.webp" alt="">
      <img class="v-n-preh-prlx__img mar" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/1-cabecera-mar.webp" alt="">
    </div>
    <div class="v-n-preh-prlx__img-c cielo-c">
      <img class="v-n-preh-prlx__img cielo" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/1-cabecera-cielo.webp" alt="">
    </div>
  </figure>

  <figure class="v-n-preh-prlx__l v-n-preh-prlx__l--02">
    <div class="v-n-preh-prlx__box">
      <div class="v-n-preh-txt v-n-preh-txt--02">
        <p class="blur-y-in">Tampoco era fácil advertirlo cuando hasta en el muro del cementerio de mi pueblo había un letrero enorme que decía: «Somos felices aquí». Si los muertos ya habían alcanzado semejante plenitud, ¿qué nos quedaba a los vivos sino agradecer?</p>
      </div>
      <div class="v-n-preh-prlx__img-c grafiti-c">
        <div id="lottie-grafiti"></div>
        <img class="v-n-preh-prlx__img caminante" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/1-cabecera-caminante-2.webp" alt="">
        <img class="v-n-preh-prlx__img grafiti" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/1-cabecera-grafiti.webp" alt="">
      </div>
    </div>
    <img class="v-n-preh-prlx__img penon-02" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/19/cubacontracuba/images/1-cabecera-pared.webp" alt="">
  </figure>
</div>

<div class="v-a-inf-c blur-y-in">
  <h1 class="v-a-t">Cuba <span>contra</span>Cuba </h1>
  <h2 class="v-a-s-t">Balance íntimo de un fracaso</h2>
</div>

{{> ./includes/scroll-indicator }}