<div class="v-n-preh">
  <figure class="preh-silueta">
    <img src="assets/images/silueta.jpg">
  </figure>

  <div class="preh-mini-siluetas">
    <img class="mini mini--1" src="assets/images/silueta.jpg">
    <img class="mini mini--2" src="assets/images/silueta.jpg">
    <img class="mini mini--3" src="assets/images/silueta.jpg">
    <img class="mini mini--4" src="assets/images/silueta.jpg">
    <img class="mini mini--5" src="assets/images/silueta.jpg">
    <img class="mini mini--6" src="assets/images/silueta.jpg">
  </div>

  <div class="preh-cards-1">
    <div class="preh-card preh-card--t1">
      <b>Año 2015</b>
      <p>Eres un hombre, tienes 32 años y has nacido en Somalia.</p>
    </div>

    <div class="preh-card preh-card--t1">
      <p>Optas por dejar atrás tu país para buscar un futuro mejor en la UE, donde entonces una ola de solidaridad con los exiliados de conflictos en Asia y África recorre los países comunitarios.</p>
    </div>

    <div class="preh-card preh-card--t1">
      <p>Te planteas tres opciones para pedir asilo.</p>
    </div>
  </div>

  <div class="preh-cards-2">
    <div class="preh-card preh-card--t2">
      <span class="flag"><img src="assets/images/flag-den.png"></span>
      <b>Dinamarca</b>
      <p class="before">Es muy probable que entonces te  concedieran un permiso de residencia de cinco años. Pasado ese tiempo, tu residencia se volvía permanente.</p>
      <p class="now">Hoy, rechazan tu solicitud si en tu travesía pasaste por lo que se considera un “tercer país seguro” fuera de la UE.</p>
    </div>

    <div class="preh-card preh-card--t2">
      <span class="flag"><img src="assets/images/flag-uk.png"></span>
      <b>Reino Unido</b>
      <p class="before">Cierta facilidad para pedir asilo y posibilidad de obtener la ciudadanía con el tiempo. Aún eran parte de la UE y podían rechazarte y enviarte al primer país en el que te tomaron las huellas.</p>
      <p class="now">Han endurecido las condiciones, pero al salir de la UE ya no es tan sencillo que te devuelvan al primer país comunitario al que llegaste.</p>
    </div>

    <div class="preh-card preh-card--t2">
      <span class="flag"><img src="assets/images/flag-spa.png"></span>
      <b>España</b>
      <p class="before">No era difícil pedir asilo, aunque tardan mucho en resolverlo. Mientras, podías permanecer legalmente en España con documentación provisional.</p>
      <p class="now">Si llegaste antes de 2026 y no tienes antecedentes penales, podrás regularizar tu situación en los próximos meses.</p>
    </div>
  </div>
</div>

