{{> ./includes/dvd-nav }}

<div class="v-n-preh" aria-hidden="true">
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <lottie-player
    id="anim1"
    src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/12/bandaslatinas/json/cabecera-bandas-latinas.json"
    background="transparent"
    speed="1"
    loop
    autoplay>
  </lottie-player>
  <img id="finalImg" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/12/bandaslatinas/images/abc_apertura.png"/>
</div>

<div class="manchas-c" aria-hidden="true">
  <figure class="mancha-izq">
    <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/12/bandaslatinas/images/mancha-izq-01.png" alt="">
    <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/12/bandaslatinas/images/mancha-izq-02.png" alt="">
  </figure>

  <figure class="mancha-dcha" aria-hidden="true">
    <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/12/bandaslatinas/images/mancha-dcha-01.png" alt="">
    <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/12/bandaslatinas/images/mancha-dcha-02.png" alt="">
    <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/04/12/bandaslatinas/images/mancha-dcha-03.png" alt="">
  </figure>
</div>

{{> ./includes/scroll-indicator }}