<div class="red-relations">
    <p class="v-d-p"><strong>Cómo se relacionan los grupos ultra entre sí</strong></p>

    <div class="map-legend">
        <div class="legend-item">
            <span class="line line-afines"></span>
            <span class="label">Afines</span>
        </div>
        <div class="legend-item">
            <span class="line line-enfrentados"></span>
            <span class="label">Enemigos</span>
        </div>
    </div>

    <div id="red-relations-d3">
        <div id="label-n" class="label-block">No definido</div>
        <div id="label-i" class="label-block">Extrema izquierda</div>
        <div id="label-d" class="label-block">Extrema derecha</div>

        <div id="chart"></div>
    </div>
    
</div>