<div id="red-relations">
    <div id="label-n" class="label-block">Neutral</div>
    <div id="label-i" class="label-block">Izquierda</div>
    <div id="label-d" class="label-block">Derecha</div>
    
    <div id="chart"></div>
</div>