<div class="sil-morph sil-morph--01">
  <div class="sil-morph__c">
    <div class="sil-morph__pre"><span>Mali</span> <span class="line"></span> <span>25 años</span></div>
    <h3 class="sil-morph__t">«Tienes que elegir: o coger un fusil y unirte a los terroristas o irte de allí»</h3>
  </div>
  <figure class="sil-morph__media"><img class="base" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/02/18/modelo-migratorio/images/01-mali.jpg"> <img
      class="overlay" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/02/18/modelo-migratorio/images/sil-1.gif" alt=""></figure>
</div>