<div class="v-scr-hzn">
  <div class="v-scr-hzn__track">
    <img class="scr-dsk" src="assets/images/modelo-migratorio-danes_size-S.jpg" alt="">
    <img class="scr-mbl" src="assets/images/modelo-migratorio-danes_size-S.jpg" alt="">
  </div>
</div>
