<div class="v-n-cmp-scrolly-vid">
  <div class="v-n-scrolly-vid">
    <div class="v-n-scrolly-vid__w">
      <video tabindex="0" preload="metadata" muted playsinline webkit-playsinline
            data-src-mobile="assets/images/prueba-mov-1kf-640.mp4"
            data-src-desktop="assets/images/prueba-desk-1kf-1200.mp4">
      </video>
    </div>
  </div>
</div>