<div class="sil-morph sil-morph--02">
  <div class="sil-morph__c">
    <div class="sil-morph__pre"><span>Abdolkhani</span> <span class="line"></span> <span>40 años</span></div>
    <h3 class="sil-morph__t">«Hay más exigencia para conseguir el asilo. Antes no era así»</h3>
  </div>
  <figure class="sil-morph__media"><img class="base" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/02/18/modelo-migratorio/images/02-abdolkhani.jpg"> <img
      class="overlay" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/02/18/modelo-migratorio/images/sil-1.gif" alt=""></figure>
</div>