<div class="v-n-scrolly v-n-scrolly--epi">
  <div class="v-n-scrolly__sticky">
    <div class="v-n-scrolly__c">
      <div class="v-n-scrolly__static">
        <div class="v-n-epi-inf-c">
          <div class="v-n-epi-desc">
            <h3 class="v-n-epi-desc__t">Los trajes</h3>
            <p class="v-n-epi-desc__sub">En “zona controlada” existen tres niveles de protección personal según el riesgo del área</p>
          </div>
          <div class="v-n-epi-lvls">
            <div class="v-n-epi-lvls__top">
              <div class="v-n-epi-lvls__i v-n-epi-lvls__i--1">
                <h4 class="v-n-epi-lvls__t">Nivel uno</h4>
                <span class="v-n-epi-lvls__sub">Bajo riesgo</span>
              </div>
              <div class="v-n-epi-lvls__i v-n-epi-lvls__i--2">
                <h4 class="v-n-epi-lvls__t">Nivel dos</h4>
                <span class="v-n-epi-lvls__sub">Riesgo superficial</span>
              </div>
              <div class="v-n-epi-lvls__i v-n-epi-lvls__i--3">
                <h4 class="v-n-epi-lvls__t">Nivel tres</h4>
                <span class="v-n-epi-lvls__sub">Riesgo elevado</span>
              </div>
            </div>
            <div class="v-n-epi-lvls__bot">
              <span>- protección</span>
              <span>+ protección</span>
            </div>
          </div>
        </div>
      </div>
      <div class="v-n-scrolly__bg">
        <div class="bg-item" data-bg="0">
          <div class="v-n-epi-c">
            <figure>
              <img src="assets/images/epi-full.webp" alt="">
            </figure>
          </div>
        </div>
        <div class="bg-item" data-bg="1">
          <div class="v-n-epi-c">
            <div class="v-n-epi-tags">
              <div class="epi-tag epi-tag--comunicacion epi-tag--left">
                <span class="epi-tag__line"></span>
                <span class="epi-tag__txt">Sistema de comunicación</span>
              </div>

              <div class="epi-tag epi-tag--gafas epi-tag--left">
                <span class="epi-tag__line"></span>
                <span class="epi-tag__txt">Gafas</span>
              </div>

              <div class="epi-tag epi-tag--guantes epi-tag--left">
                <span class="epi-tag__line"></span>
                <span class="epi-tag__txt">Guantes</span>
              </div>

              <div class="epi-tag epi-tag--zapatos epi-tag--left">
                <span class="epi-tag__line"></span>
                <span class="epi-tag__txt">Zapatos de seguridad</span>
              </div>

              <div class="epi-tag epi-tag--casco epi-tag--right">
                <span class="epi-tag__line"></span>
                <span class="epi-tag__txt">Casco contra impactos</span>
              </div>

              <div class="epi-tag epi-tag--cubrecabeza epi-tag--right">
                <span class="epi-tag__line"></span>
                <span class="epi-tag__txt">Cubrecabeza</span>
              </div>

              <div class="epi-tag epi-tag--buzo epi-tag--right">
                <span class="epi-tag__line"></span>
                <span class="epi-tag__txt">Buzo básico</span>
              </div>

              <div class="epi-tag epi-tag--suela epi-tag--right">
                <span class="epi-tag__line"></span>
                <span class="epi-tag__txt">Suela resistente</span>
              </div>
            </div>
            <figure>
              <img class="epi-botas" src="assets/images/epi-parts-botas.webp" alt="">
              <img class="epi-guante-izq" src="assets/images/epi-parts-guante-izq.webp" alt="">
              <img class="epi-guante-der" src="assets/images/epi-parts-guante-der.webp" alt="">
              <img class="epi-mono" src="assets/images/epi-parts-mono.webp" alt="">
              <img class="epi-comunicador" src="assets/images/epi-parts-comunicador.webp" alt="">
              <img class="epi-cubrecabeza" src="assets/images/epi-parts-cubrecabeza.webp" alt="">
              <img class="epi-gafas" src="assets/images/epi-parts-gafas.webp" alt="">
              <img class="epi-casco" src="assets/images/epi-parts-casco.webp" alt="">
            </figure>
          </div>
        </div>
        <div class="bg-item" data-bg="2">
          <div class="v-n-epi-c">
            <figure>
              <img src="assets/images/epi-full.webp" alt="">
            </figure>
            <div class="v-n-epi__arn">
              <div class="v-n-epi__box v-n-epi__box--1 box-left">
                <div class="v-n-epi__box-inf-c">
                  <span class="v-n-epi__box-t">Capucha suplementaria</span>
                  <span class="v-n-epi__box-sub">Protege mejor cabeza y cuello</span>
                </div>
                <figure>
                  <img src="assets/images/epi-box-capucha.webp" alt="">
                </figure>
              </div>
              <div class="v-n-epi__box v-n-epi__box--2 box-right">
                <div class="v-n-epi__box-inf-c">
                  <span class="v-n-epi__box-t">Buzo extra</span>
                  <span class="v-n-epi__box-sub">Es desechable y permite proteger la piel</span>
                </div>
                <figure>
                  <img src="assets/images/epi-box-buzo-extra.webp" alt="">
                </figure>
              </div>
              <div class="v-n-epi__box v-n-epi__box--3 box-left">
                <div class="v-n-epi__box-inf-c">
                  <span class="v-n-epi__box-t">Uso de doble guante</span>
                  <span class="v-n-epi__box-sub">Anticortes y desechables</span>
                </div>
                <figure>
                  <img src="assets/images/epi-box-guantes.webp" alt="">
                </figure>
              </div>
              <p>Si hay riesgo de contaminación húmeda, la segunda capa de protección es de material impermeable</p>
            </div>
          </div>
        </div>
        <div class="bg-item" data-bg="3">
          <div class="v-n-epi-c">
            <figure>
              <img src="assets/images/epi-full.webp" alt="">
            </figure>
            <div class="v-n-epi__arn">
              <div class="v-n-epi__box v-n-epi__box--1 box-right">
                <div class="v-n-epi__box-inf-c">
                  <span class="v-n-epi__box-t">Máscara facial</span>
                  <span class="v-n-epi__box-sub">Con filtros de gases y partículas</span>
                </div>
                <figure>
                  <img src="assets/images/epi-box-mascara.webp" alt="">
                </figure>
              </div>
              <div class="v-n-epi__box v-n-epi__box--2 box-left">
                <div class="v-n-epi__box-inf-c">
                  <span class="v-n-epi__box-t">Equipo de suministro de aire</span>
                </div>
                <figure>
                  <img src="assets/images/epi-box-aire.webp" alt="">
                </figure>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-item" data-bg="4">
          <div class="v-n-epi-c">
            <figure>
              <img src="assets/images/epi-full-mururoa.webp" alt="">
            </figure>
            <div class="v-n-epi__arn">
              <span class="v-n-epi__txt v-n-epi__txt--1">Traje Mururoa</span>
              <span class="v-n-epi__txt v-n-epi__txt--2">Cable conectado a la fuente de aire externa</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="v-n-scrolly__steps">
    <div class="step" data-step="0" data-bg="0">
      <p>El primero es el nivel de protección establecido para las zonas sin riesgo de contaminación y bajo riesgo de radiación.</p>
    </div>
    <div class="step" data-step="1" data-bg="1">
      <p>Es un vestuario básico que se lava en la lavandería de la zona controlada y es chequeado por protección radiológica antes de volver a estar disponible para el trabajador.</p>
    </div>
    <div class="step" data-step="2" data-bg="2">
      <p>En zonas con riesgo de contaminación superficial, se añade una doble capa para evitar que cualquier filtración alcance la ropa interna o la piel.</p>
    </div>
    <div class="step" data-step="3" data-bg="3">
      <p>El riesgo de contaminación, además de superficial, es ambiental con una potencialidad alta de incorporación. Se protegen las vías respiratorias con máscara facial completa o equipo autónomo.</p>
    </div>
    <div class="step" data-step="4" data-bg="4">
      <p>Traje presurizado mediante suministro de aire externo fijo. El trabajador no tendría la incomodidad de la máscara.</p>
    </div>
  </div>
</div>




{{!-- <div class="v-n-scrolly v-n-scrolly--epi">
  <div class="v-n-scrolly__sticky">
    <div class="v-n-scrolly__bg">
      <div class="bg-item" data-bg="0">
        <div class="v-n-epi-c">
          <figure>
            <img src="assets/images/epi-full.webp" alt="">
          </figure>
        </div>
      </div>
      <div class="bg-item" data-bg="1">
        <div class="v-n-epi-c">
          <div class="v-n-epi-tags">
            <div class="epi-tag epi-tag--comunicacion epi-tag--left">
              <span class="epi-tag__line"></span>
              <span class="epi-tag__txt">Sistema de comunicación</span>
            </div>

            <div class="epi-tag epi-tag--gafas epi-tag--left">
              <span class="epi-tag__line"></span>
              <span class="epi-tag__txt">Gafas</span>
            </div>

            <div class="epi-tag epi-tag--guantes epi-tag--left">
              <span class="epi-tag__line"></span>
              <span class="epi-tag__txt">Guantes</span>
            </div>

            <div class="epi-tag epi-tag--zapatos epi-tag--left">
              <span class="epi-tag__line"></span>
              <span class="epi-tag__txt">Zapatos de seguridad</span>
            </div>

            <div class="epi-tag epi-tag--casco epi-tag--right">
              <span class="epi-tag__line"></span>
              <span class="epi-tag__txt">Casco contra impactos</span>
            </div>

            <div class="epi-tag epi-tag--cubrecabeza epi-tag--right">
              <span class="epi-tag__line"></span>
              <span class="epi-tag__txt">Cubrecabeza</span>
            </div>

            <div class="epi-tag epi-tag--buzo epi-tag--right">
              <span class="epi-tag__line"></span>
              <span class="epi-tag__txt">Buzo básico</span>
            </div>

            <div class="epi-tag epi-tag--suela epi-tag--right">
              <span class="epi-tag__line"></span>
              <span class="epi-tag__txt">Suela resistente</span>
            </div>
          </div>
          <figure>
            <img class="epi-botas" src="assets/images/epi-parts-botas.webp" alt="">
            <img class="epi-guante-izq" src="assets/images/epi-parts-guante-izq.webp" alt="">
            <img class="epi-guante-der" src="assets/images/epi-parts-guante-der.webp" alt="">
            <img class="epi-mono" src="assets/images/epi-parts-mono.webp" alt="">
            <img class="epi-comunicador" src="assets/images/epi-parts-comunicador.webp" alt="">
            <img class="epi-cubrecabeza" src="assets/images/epi-parts-cubrecabeza.webp" alt="">
            <img class="epi-gafas" src="assets/images/epi-parts-gafas.webp" alt="">
            <img class="epi-casco" src="assets/images/epi-parts-casco.webp" alt="">
          </figure>
        </div>
      </div>
      <div class="bg-item" data-bg="2">
        <div class="v-n-epi-c">
          <figure>
            <img src="assets/images/epi-full.webp" alt="">
          </figure>
        </div>
      </div>
      <div class="bg-item" data-bg="3">
        <div class="v-n-epi-c">
          <figure>
            <img src="assets/images/epi-full.webp" alt="">
          </figure>
        </div>
      </div>
      <div class="bg-item" data-bg="4">
        <div class="v-n-epi-c">
          <figure>
            <img src="assets/images/epi-full-mururoa.webp" alt="">
          </figure>
        </div>
      </div>
    </div>
  </div>

  
</div> --}}