<div class="sil-morph {{#if horizontal}}sil-morph--horz{{/if}}">
  <div class="sil-morph__c">
    <div class="sil-morph__pre">
      <span>{{name}}</span>
      <span class="line"></span>
      <span>{{age}} años</span>
    </div>
    <h3 class="sil-morph__t">
      «{{title}}»
    </h3>
  </div>
  <figure class="sil-morph__media">
    {{#if horizontal}}
      <img class="base" src="assets/images/mockup/mock-img-2.jpg" alt="">  
    {{else}}
      <img class="base" src="assets/images/mockup/mock-img.jpg" alt="">
    {{/if}}
    <img class="overlay" src="assets/images/silueta.jpg" alt="">
  </figure>
</div>