<div class="scr-ind" aria-hidden="true">
  <div class="scr-ind__c">
    <span class="scr-ind__m">
      <span class="scr-ind__w"></span>
    </span>
    <span class="scr-ind__txt">Desliza hacia abajo para continuar</span>
  </div>
</div>