<div class="sil-morph sil-morph--03">
  <div class="sil-morph__c">
    <div class="sil-morph__pre"><span>Alnogomi</span> <span class="line"></span> <span>28 años</span></div>
    <h3 class="sil-morph__t">«No puedo volver a Sudán»</h3>
  </div>
  <figure class="sil-morph__media"><img class="base" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/02/18/modelo-migratorio/images/03-alnogomi.jpg"> <img
      class="overlay" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/02/18/modelo-migratorio/images/sil-1.gif" alt=""></figure>
</div>