<div class="v-n-ss-cifra is-fw">
  <div class="v-n-ss-cifra__c">
    <span class="v-n-ss-cifra__n">{{number}}</span>
    <div class="v-n-i">
      {{> ./includes/svg-icons }}
    </div>
    <p>{{txt}}</p>
  </div>
</div>