<div class="v-n-ss-map v-n-ss-blk">
  <div class="v-n-hdn">
    <div class="v-n-hdn__img">
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="48" fill="none"><g><path fill="#bcb8c5" fill-opacity=".4" d="M36 17.787C36 7.961 27.944 0 18 0S0 7.96 0 17.787c0 3.733 1.171 7.205 3.155 10.063C8.462 36.425 18 44.528 18 48.024c0-3.473 9.538-11.575 14.845-20.174A17.6 17.6 0 0 0 36 17.787"/><path fill="#fff" d="M24.55 13.819h-4.518V9.638h-4.088v4.18H11.45v3.662h4.494v8.457h4.088V17.48h4.518z"/></g></svg>
    </div>
    <span class="v-n-hdn__t">Título título título título</span>
  </div>
  <div class="v-n-ss-blk__w is-fw">
    <div class="v-n-ss-blk__c">
      <div class="v-n-ss-map-blk">
        <span class="v-n-ss-map__txt">Selecciona un punto del mapa</span>
        <figure class="v-n-ss-map__img">
          <img src="" alt="">
          <div class="v-n-ss-map-points">
            <button class="v-n-ss-map-point v-n-ss-map-point--1" data-point="Pl. Encarnación">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="32" fill="none"><g><path fill="#bcb8c5" d="M23.497 11.61C23.497 5.196 18.239 0 11.749 0 5.258 0 0 5.196 0 11.61c0 2.436.765 4.702 2.06 6.568 3.463 5.597 9.689 10.885 9.689 13.167 0-2.267 6.225-7.555 9.689-13.167a11.5 11.5 0 0 0 2.059-6.568"/><path fill="#fff" d="M16.023 9.02h-2.948V6.29h-2.668v2.73H7.473v2.39h2.934v5.519h2.668v-5.52h2.948z"/></g></svg>
            </button>
            <button class="v-n-ss-map-point v-n-ss-map-point--2" data-point="Alameda de Hércules">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="32" fill="none"><g><path fill="#bcb8c5" d="M23.497 11.61C23.497 5.196 18.239 0 11.749 0 5.258 0 0 5.196 0 11.61c0 2.436.765 4.702 2.06 6.568 3.463 5.597 9.689 10.885 9.689 13.167 0-2.267 6.225-7.555 9.689-13.167a11.5 11.5 0 0 0 2.059-6.568"/><path fill="#fff" d="M16.023 9.02h-2.948V6.29h-2.668v2.73H7.473v2.39h2.934v5.519h2.668v-5.52h2.948z"/></g></svg>
            </button>
            <button class="v-n-ss-map-point v-n-ss-map-point--3" data-point="Reyes Católicos">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="32" fill="none"><g><path fill="#bcb8c5" d="M23.497 11.61C23.497 5.196 18.239 0 11.749 0 5.258 0 0 5.196 0 11.61c0 2.436.765 4.702 2.06 6.568 3.463 5.597 9.689 10.885 9.689 13.167 0-2.267 6.225-7.555 9.689-13.167a11.5 11.5 0 0 0 2.059-6.568"/><path fill="#fff" d="M16.023 9.02h-2.948V6.29h-2.668v2.73H7.473v2.39h2.934v5.519h2.668v-5.52h2.948z"/></g></svg>
            </button>
            <button class="v-n-ss-map-point v-n-ss-map-point--4" data-point="Cuesta del Bacalao">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="32" fill="none"><g><path fill="#bcb8c5" d="M23.497 11.61C23.497 5.196 18.239 0 11.749 0 5.258 0 0 5.196 0 11.61c0 2.436.765 4.702 2.06 6.568 3.463 5.597 9.689 10.885 9.689 13.167 0-2.267 6.225-7.555 9.689-13.167a11.5 11.5 0 0 0 2.059-6.568"/><path fill="#fff" d="M16.023 9.02h-2.948V6.29h-2.668v2.73H7.473v2.39h2.934v5.519h2.668v-5.52h2.948z"/></g></svg>
            </button>
            <button class="v-n-ss-map-point v-n-ss-map-point--5" data-point="Cuesta del Rosario">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="32" fill="none"><g><path fill="#bcb8c5" d="M23.497 11.61C23.497 5.196 18.239 0 11.749 0 5.258 0 0 5.196 0 11.61c0 2.436.765 4.702 2.06 6.568 3.463 5.597 9.689 10.885 9.689 13.167 0-2.267 6.225-7.555 9.689-13.167a11.5 11.5 0 0 0 2.059-6.568"/><path fill="#fff" d="M16.023 9.02h-2.948V6.29h-2.668v2.73H7.473v2.39h2.934v5.519h2.668v-5.52h2.948z"/></g></svg>
            </button>
            <button class="v-n-ss-map-point v-n-ss-map-point--6" data-point="Pl. Salvador">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="32" fill="none"><g><path fill="#bcb8c5" d="M23.497 11.61C23.497 5.196 18.239 0 11.749 0 5.258 0 0 5.196 0 11.61c0 2.436.765 4.702 2.06 6.568 3.463 5.597 9.689 10.885 9.689 13.167 0-2.267 6.225-7.555 9.689-13.167a11.5 11.5 0 0 0 2.059-6.568"/><path fill="#fff" d="M16.023 9.02h-2.948V6.29h-2.668v2.73H7.473v2.39h2.934v5.519h2.668v-5.52h2.948z"/></g></svg>
            </button>
            <button class="v-n-ss-map-point v-n-ss-map-point--7" data-point="Arco del Postigo">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="32" fill="none"><g><path fill="#bcb8c5" d="M23.497 11.61C23.497 5.196 18.239 0 11.749 0 5.258 0 0 5.196 0 11.61c0 2.436.765 4.702 2.06 6.568 3.463 5.597 9.689 10.885 9.689 13.167 0-2.267 6.225-7.555 9.689-13.167a11.5 11.5 0 0 0 2.059-6.568"/><path fill="#fff" d="M16.023 9.02h-2.948V6.29h-2.668v2.73H7.473v2.39h2.934v5.519h2.668v-5.52h2.948z"/></g></svg>
            </button>
            <button class="v-n-ss-map-point v-n-ss-map-point--8" data-point="Capilla del Baratillo">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="32" fill="none"><g><path fill="#bcb8c5" d="M23.497 11.61C23.497 5.196 18.239 0 11.749 0 5.258 0 0 5.196 0 11.61c0 2.436.765 4.702 2.06 6.568 3.463 5.597 9.689 10.885 9.689 13.167 0-2.267 6.225-7.555 9.689-13.167a11.5 11.5 0 0 0 2.059-6.568"/><path fill="#fff" d="M16.023 9.02h-2.948V6.29h-2.668v2.73H7.473v2.39h2.934v5.519h2.668v-5.52h2.948z"/></g></svg>
            </button>
          </div>
        </figure>
        <span class="v-n-ss-map__t"></span>
      </div>
      <div class="v-n-acc" data-accordion="single" role="presentation">
      </div>
    </div>
  </div>
</div>