<div class="v-n-ss-map v-n-ss-blk">
  <div class="v-n-hdn">
    <div class="v-n-hdn__img">
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="48" fill="none"><g clip-path="url(#a)"><path fill="#bcb8c5" fill-opacity=".4" d="M36 17.787C36 7.961 27.944 0 18 0S0 7.96 0 17.787c0 3.733 1.171 7.205 3.155 10.063C8.462 36.425 18 44.528 18 48.024c0-3.473 9.538-11.575 14.845-20.174A17.6 17.6 0 0 0 36 17.787"/><path fill="#fff" d="M24.55 13.819h-4.518V9.638h-4.088v4.18H11.45v3.662h4.494v8.457h4.088V17.48h4.518z"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h36v48H0z"/></clipPath></defs></svg>
    </div>
    <span class="v-n-hdn__t">Título título título título</span>
  </div>
  <div class="v-n-ss-blk__w is-fw">
    <div class="v-n-ss-blk__c">
      <div class="v-n-ss-map-blk">
        <span class="v-n-ss-map__txt">Selecciona un punto del mapa</span>
        <figure class="v-n-ss-map__img">
          <img src="" alt="">
          <div class="v-n-ss-map-points">
            <button class="v-n-ss-map-point v-n-ss-map-point--1 is-active">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="32" fill="none"><g clip-path="url(#a)"><path fill="#bcb8c5" d="M23.497 11.61C23.497 5.196 18.239 0 11.749 0 5.258 0 0 5.196 0 11.61c0 2.436.765 4.702 2.06 6.568 3.463 5.597 9.689 10.885 9.689 13.167 0-2.267 6.225-7.555 9.689-13.167a11.5 11.5 0 0 0 2.059-6.568"/><path fill="#fff" d="M16.023 9.02h-2.948V6.29h-2.668v2.73H7.473v2.39h2.934v5.519h2.668v-5.52h2.948z"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h23.358v31.517H0z"/></clipPath></defs></svg>
            </button>
            <button class="v-n-ss-map-point v-n-ss-map-point--2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="32" fill="none"><g clip-path="url(#a)"><path fill="#bcb8c5" d="M23.497 11.61C23.497 5.196 18.239 0 11.749 0 5.258 0 0 5.196 0 11.61c0 2.436.765 4.702 2.06 6.568 3.463 5.597 9.689 10.885 9.689 13.167 0-2.267 6.225-7.555 9.689-13.167a11.5 11.5 0 0 0 2.059-6.568"/><path fill="#fff" d="M16.023 9.02h-2.948V6.29h-2.668v2.73H7.473v2.39h2.934v5.519h2.668v-5.52h2.948z"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h23.358v31.517H0z"/></clipPath></defs></svg>
            </button>
            <button class="v-n-ss-map-point v-n-ss-map-point--3">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="32" fill="none"><g clip-path="url(#a)"><path fill="#bcb8c5" d="M23.497 11.61C23.497 5.196 18.239 0 11.749 0 5.258 0 0 5.196 0 11.61c0 2.436.765 4.702 2.06 6.568 3.463 5.597 9.689 10.885 9.689 13.167 0-2.267 6.225-7.555 9.689-13.167a11.5 11.5 0 0 0 2.059-6.568"/><path fill="#fff" d="M16.023 9.02h-2.948V6.29h-2.668v2.73H7.473v2.39h2.934v5.519h2.668v-5.52h2.948z"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h23.358v31.517H0z"/></clipPath></defs></svg>
            </button>
            <button class="v-n-ss-map-point v-n-ss-map-point--4">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="32" fill="none"><g clip-path="url(#a)"><path fill="#bcb8c5" d="M23.497 11.61C23.497 5.196 18.239 0 11.749 0 5.258 0 0 5.196 0 11.61c0 2.436.765 4.702 2.06 6.568 3.463 5.597 9.689 10.885 9.689 13.167 0-2.267 6.225-7.555 9.689-13.167a11.5 11.5 0 0 0 2.059-6.568"/><path fill="#fff" d="M16.023 9.02h-2.948V6.29h-2.668v2.73H7.473v2.39h2.934v5.519h2.668v-5.52h2.948z"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h23.358v31.517H0z"/></clipPath></defs></svg>
            </button>
            <button class="v-n-ss-map-point v-n-ss-map-point--5">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="32" fill="none"><g clip-path="url(#a)"><path fill="#bcb8c5" d="M23.497 11.61C23.497 5.196 18.239 0 11.749 0 5.258 0 0 5.196 0 11.61c0 2.436.765 4.702 2.06 6.568 3.463 5.597 9.689 10.885 9.689 13.167 0-2.267 6.225-7.555 9.689-13.167a11.5 11.5 0 0 0 2.059-6.568"/><path fill="#fff" d="M16.023 9.02h-2.948V6.29h-2.668v2.73H7.473v2.39h2.934v5.519h2.668v-5.52h2.948z"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h23.358v31.517H0z"/></clipPath></defs></svg>
            </button>
          </div>
        </figure>
        <span class="v-n-ss-map__t">Nombre punto mapa</span>
      </div>
      <div class="v-n-acc" data-accordion="single" role="presentation">
        <div class="v-n-acc__i v-n-acc__i--1">
          <button class="v-n-acc__trg" aria-expanded="false" aria-controls="acc-pnl-1" id="acc-trg-1"><span class="v-n-acc__trg-t">Lunes 2</span> <span class="v-n-i"><svg width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg"><path d="M4.2905 6.0005L0.21725 1.9275C0.0789167 1.789 0.00808339 1.61492 0.00475006 1.40525C0.00158339 1.19575 0.0724167 1.0185 0.21725 0.8735C0.36225 0.728667 0.537916 0.65625 0.74425 0.65625C0.950583 0.65625 1.12625 0.728667 1.27125 0.8735L5.7655 5.36775C5.859 5.46142 5.925 5.56017 5.9635 5.664C6.002 5.76783 6.02125 5.88 6.02125 6.0005C6.02125 6.121 6.002 6.23317 5.9635 6.337C5.925 6.44083 5.859 6.53958 5.7655 6.63325L1.27125 11.1275C1.13275 11.2658 0.958666 11.3367 0.749 11.34C0.5395 11.3432 0.36225 11.2723 0.21725 11.1275C0.0724167 10.9825 0 10.8068 0 10.6005C0 10.3942 0.0724167 10.2185 0.21725 10.0735L4.2905 6.0005Z"></path></svg></span></button>
          <div id="acc-pnl-1" class="v-n-acc__pnl" role="region" aria-labelledby="acc-trg-1">
            <table class="v-n-ss-sch">
              <thead>
                <tr>
                  <th scope="col">Hora</th>
                  <th scope="col">Hermandad</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>10:00</td>
                  <td>El Milagro</td>
                </tr>
                <tr>
                  <td>10:00</td>
                  <td>El Milagro</td>
                </tr>
                <tr>
                  <td>10:00</td>
                  <td>El Milagro</td>
                </tr>
                <tr>
                  <td>10:00</td>
                  <td>El Milagro</td>
                </tr>
                <tr>
                  <td>10:00</td>
                  <td>El Milagro</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="v-n-acc__i v-n-acc__i--2">
          <button class="v-n-acc__trg" aria-expanded="false" aria-controls="acc-pnl-2" id="acc-trg-2"><span class="v-n-acc__trg-t">Martes 3</span> <span class="v-n-i"><svg width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg"><path d="M4.2905 6.0005L0.21725 1.9275C0.0789167 1.789 0.00808339 1.61492 0.00475006 1.40525C0.00158339 1.19575 0.0724167 1.0185 0.21725 0.8735C0.36225 0.728667 0.537916 0.65625 0.74425 0.65625C0.950583 0.65625 1.12625 0.728667 1.27125 0.8735L5.7655 5.36775C5.859 5.46142 5.925 5.56017 5.9635 5.664C6.002 5.76783 6.02125 5.88 6.02125 6.0005C6.02125 6.121 6.002 6.23317 5.9635 6.337C5.925 6.44083 5.859 6.53958 5.7655 6.63325L1.27125 11.1275C1.13275 11.2658 0.958666 11.3367 0.749 11.34C0.5395 11.3432 0.36225 11.2723 0.21725 11.1275C0.0724167 10.9825 0 10.8068 0 10.6005C0 10.3942 0.0724167 10.2185 0.21725 10.0735L4.2905 6.0005Z"></path></svg></span></button>
          <div id="acc-pnl-2" class="v-n-acc__pnl" role="region" aria-labelledby="acc-trg-2">
            <table class="v-n-ss-sch">
              <thead>
                <tr>
                  <th scope="col">Hora</th>
                  <th scope="col">Hermandad</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>10:00</td>
                  <td>El Milagro</td>
                </tr>
                <tr>
                  <td>10:00</td>
                  <td>El Milagro</td>
                </tr>
                <tr>
                  <td>10:00</td>
                  <td>El Milagro</td>
                </tr>
                <tr>
                  <td>10:00</td>
                  <td>El Milagro</td>
                </tr>
                <tr>
                  <td>10:00</td>
                  <td>El Milagro</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>