<div class="v-n-ss-map v-n-ss-blk">
  <div class="v-n-hdn">
    <div class="v-n-hdn__img">
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="48" fill="none"><g clip-path="url(#a)"><path fill="#473371" fill-opacity=".4" d="M36 17.787C36 7.961 27.944 0 18 0S0 7.96 0 17.787c0 3.733 1.171 7.205 3.155 10.063C8.462 36.425 18 44.528 18 48.024c0-3.473 9.538-11.575 14.845-20.174A17.6 17.6 0 0 0 36 17.787"/><path fill="#fff" d="M24.55 13.819h-4.518V9.638h-4.088v4.18H11.45v3.662h4.494v8.457h4.088V17.48h4.518z"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h36v48H0z"/></clipPath></defs></svg>
    </div>
    <span class="v-n-hdn__t">Título título título título</span>
  </div>
  <div class="v-n-ss-blk__w is-fw">
    <div class="v-n-ss-blk__c">
      
    </div>
  </div>
</div>