<div class="v-c-cmp">
  <div class="v-cmp-smy-media">
    <div class="v-a v-a--cmp-smy-media">
      <div class="v-a-inf-c">
        <p class="v-a-t">Las peticiones de asilo han caído un 90% en diez años</p>
        <img class="v-a-img" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/02/18/modelo-migratorio/images/sil-2.gif">
      </div>
      <div class="v-a-img-c">
        <figure class="v-a-fig">
          <div class="v-a-lnk" title="[TEXTO ANCHOR TEXT]"><img class="v-a-img" src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/02/18/modelo-migratorio/images/jubilados-por-el-asilo.jpg"></div>
          <figcaption class="v-fc"><span class="v-fc__t">Miembros de la ONG ‘Grand Parents for Asylum', contra la política
              migratoria de Dinamarca, en las calles de Copenhague</span> <span class="v-fc__p">(IGNACIO GIL)</span>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>