<aside class="sumario {{#if cifra}}sumario--cifra{{/if}}">
  {{#if cifra}}
    <span class="sumario__num">{{cifra}}</span>
  {{/if}}
  <p class="sumario__txt">
    <span>{{preTxt}}</span>
    {{txt}}
  </p>

  <svg class="sumario__icn" xmlns="http://www.w3.org/2000/svg" width="79" height="44" fill="none"><path fill="#000" d="M69.07 24.05a5.24 5.24 0 0 0-4.48-4.48V0h-1.4v1.11h-4.76v3.88h4.76v4.75H4.92v8.56C1.88 20.02 0 23.18 0 26.69s1.88 6.68 4.92 8.39v7.86h1.4v-31.8h56.87v12.91H27.86v19.59H76.2c1.49 0 2.7-1.21 2.7-2.7V24.05h-9.84zM1.4 26.69c0-2.73 1.32-5.23 3.52-6.76v13.52a8.22 8.22 0 0 1-3.52-6.76m63.2-5.71c1.56.29 2.79 1.52 3.07 3.07H64.6zm-1.4 4.47v16.79H33.75a5.24 5.24 0 0 0-4.47-4.48V25.45h33.93zM29.27 39.16c1.56.29 2.79 1.52 3.07 3.07h-3.07zm48.24 1.78c0 .72-.58 1.3-1.3 1.3H64.6V25.45h12.91z"/><path fill="#000" d="M30.06 18.22c0-.82-.67-1.49-1.49-1.49s-1.49.67-1.49 1.49.67 1.49 1.49 1.49 1.49-.67 1.49-1.49"/></svg>
</aside>