<div class="v-c-cmp">
  <div class="v-cmp-smy-media">
    <div class="v-a v-a--cmp-smy-media">
      <div class="v-a-inf-c">
        <p class="v-a-t">14 Años de travesía para volverme por donde he venido</p>
        <img class="v-a-img" loading="lazy" src="assets/images/sil-2.gif" alt="[ALTERNATIVE TEXT]">
      </div>
      <div class="v-a-img-c">
        <figure class="v-a-fig">
          <a href="#" class="v-a-lnk" title="[TEXTO ANCHOR TEXT]">
            <img class="v-a-img" loading="lazy" src="https://picsum.photos/748/523" alt="[ALTERNATIVE TEXT]">
          </a>
          <figcaption class="v-fc">
            <span class="v-fc__t">La presidenta del Congreso.</span>
            <span class="v-fc__p">(Jaime García)</span>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>