  <div class="timer {{#if isDesktop}}is-desktop{{/if}} {{#if isMobile}}is-mobile{{/if}}" data-time-start="{{hoursStart}}:{{minutesStart}}" data-time-spin="{{hoursSpin}}:{{minutesSpin}}">
    <div class="timer-front">
    </div>
  </div>
