<div class="v-c-cmp">
  <div class="n-vid-blk">
    <span>El traje espacial de Artemis II</span>
    <p>Diseñado para uso exclusivo en cabina, permite soporte vital de hasta 6 días ante despresurización.</p>
    <figure>
      <img src="assets/images/mockup-video-block-astronauta.jpg" alt="">
    </figure>
  </div>
</div>