<div class="n-vid-final n-vid-webm">
  <img src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/22/pederastas-en-videojuegos/images/nino-final.gif" alt="">
  <video autoplay muted loop playsinline aria-hidden="true">
    <source src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/22/pederastas-en-videojuegos/videos/nino-final.webm" type="video/webm">
  </video>
</div>