<div class="n-vid-webm">
  <video autoplay loop muted src="https://s1.abcstatics.com/comun/narrativas/redaccion/2026/03/22/pederastas-en-videojuegos/videos/nino-final.webm" aria-hidden="true"></video>
</div>