<div class="v-n-zoom-ship" loading="eager">
  <figure>
    <img src="assets/images/petrolero.webp" alt="">
  </figure>

  <div class="ship-text ship-text--1">
    La zona roja marca el límite de parte del casco que se puede sumergir a plena carga
  </div>

  <div class="ship-text ship-text--2">
    Una persona de aproximadamente 1,75 m de altura comparada con un petrolero VLCC
  </div>
</div>