  <div class="voc-container">
    <div class="voc-article-container">
      <div class="voc-article voc-article--detail voc-article--detail-visual">
        <div class="voc-info-container">
          <p class="voc-pretitle">
            <span class="voc-pretitle__txt">{{pretitle}}</span>
          </p>
          <h1 class="voc-title">{{title}}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="voc-container voc-container--wxs">
    <div class="voc-d voc-d--visual" data-voc-component="voc-d">
      <h2 class="voc-subtitle">
        {{subtitle}}
      </h2>
      <p class="v-dsc">
        {{{disclaimer}}}
      </p>
      {{> components/author }}
    </div>
  </div>