<div class="voc-container voc-container--wxs" data-mrf-recirculation="Apertura">
  <div class="voc-article-container">
    <div class="voc-article voc-article--detail voc-article--detail-visual">
      <div class="voc-info-container voc-info-container--dark">
        <span class="voc-pretitle-sponsor-link">
          <img class="voc-pretitle-sponsor" src="https://s2.abcstatics.com/abc/www/multimedia/espana/2025/10/26/dana-placa-calle.jpg" alt="">
        </span>
        <h1 class="voc-title">{{ title }}</h1>
        <div class="voc-img-container voc-img-container--fw-xs voc-img-container--wmd">
          <figure class="voc-img-figure ">
            <div class="voc-img-link">
              <video muted playsinline controls class="video">
                <source src="/assets/videos/video-dana.mp4" type="video/mp4">
              </video>
            </div>
          </figure>
        </div>
        <section class="voc-author" data-mrf-recirculation="Autor">
          <figure class="voc-author__image">
            <img class="voc-author__img" src="https://s3.abcstatics.com/comun/2015/img/autor/autor-6489-foto-1.jpeg" alt="Texto: Chapu Apaolaza. Vídeo: Carlota García y Juan Bitrián. Fotos: Ignacio Gil">
          </figure>
          <div class="voc-author__item voc-author__item--1">
            <div class="voc-author__container">
              <div class="voc-author__subitem voc-author__subitem--1">
                <p class="voc-author__name">
                  <a href="https://www.abc.es/autor/chapu-apaolaza-6489/" data-mrf-link="https://www.abc.es/autor/chapu-apaolaza-6489/" cmp-ltrk="Autor" cmp-ltrk-idx="0" mrfobservableid="14fe2b41-43d4-47df-a0f2-bab935b3f49f">Texto: Chapu Apaolaza. Vídeo: Carlota García y Juan Bitrián. Fotos: Ignacio Gil</a>
                </p>
              </div>
              <div class="voc-author__subitem voc-author__subitem--2">
                <button class="voc-btn voc-btn--bdr-g voc-btn--xs voc-author__btn voc-modal-dropdown-open hidden-xs nibara-element-inview" data-voc-vtm-id="btn-seguirautor" data-voc-vtm-info="fixed-texto-chapu-apaolaza-video-carlota-garcia-y-juan-bitrian-fotos-ignacio-gil" data-id="6489" data-target="open-follow-author" data-nibara-module="follow-author" data-voc-component="modal-open-dropdown" aria-label="Seguir autor"></button>
                <button class="voc-btn voc-btn--bdr-g voc-btn--xs voc-author__btn voc-modal-open visible-xs nibara-element-inview" data-voc-vtm-id="btn-seguirautor" data-voc-vtm-info="fixed-texto-chapu-apaolaza-video-carlota-garcia-y-juan-bitrian-fotos-ignacio-gil" data-id="6489" data-target="open-follow-author" data-nibara-module="follow-author" data-voc-component="modal-open" aria-label="Seguir autor"></button>
                <div id="open-follow-author" class="voc-modal-dropdown voc-modal-dropdown--negative voc-save-news" data-voc-component="modal-dropdown">
                  <div class="voc-modal-dropdown__wrapper">
                    <div class="voc-modal-dropdown__header">
                      <button class="voc-modal__close" aria-label="Cerrar menu">
                        <svg viewBox="0 0 18.139 15.673">
                          <use href="#icon-close-modal"></use>
                        </svg>
                      </button>
                    </div>
                    <div class="voc-modal-dropdown__container">
                      <p class="voc-save-news__paragraph">Esta funcionalidad es sólo para registrados</p>
                      <a href="https://secure.abc.es/identidad/inicio" class="voc-btn voc-btn--w voc-btn--xs voc-save-news__btn gigya-login-link" title="Iniciar Sessión" data-mrf-link="https://secure.abc.es/identidad/inicio" cmp-ltrk="Autor" cmp-ltrk-idx="1" mrfobservableid="3c854db6-a6e0-44b3-b027-ee7211bdf253" style="display:none">Iniciar sesión</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <h2 class="voc-subtitle">
          {{ subtitle }}
        </h2>
      </div>
    </div>
  </div>
</div>