<section class="voc-author" data-mrf-recirculation="Autor">
  {{#if authorImg}}
    <figure class="voc-author__image">
      <img class="voc-author__img" src="./assets/images/mockup/author-img.webp" alt="{{author}}">
    </figure>
  {{/if}}
  <div class="voc-author__item voc-author__item--1">
    <div class="voc-author__container">
      <div class="voc-author__subitem voc-author__subitem--1">
        <p class="voc-author__name">
          <a href="https://www.abc.es/autor/chapu-apaolaza-6489/">{{{authorName}}}</a>
        </p>
        {{#if authorLocation}}
        <p class="voc-author__special">
          {{#if authorLocation}}Madrid{{else}}{{authorLocation}}{{/if}}
        </p>
        {{/if}}
      </div>
      <div class="voc-author__subitem voc-author__subitem--2">
        <button class="voc-btn voc-btn--bdr-g voc-btn--xs voc-author__btn voc-modal-dropdown-open hidden-xs nibara-element-inview" data-voc-component="modal-open-dropdown"></button>
        <button class="voc-btn voc-btn--bdr-g voc-btn--xs voc-author__btn voc-modal-open visible-xs nibara-element-inview" data-voc-component="modal-open"></button>
        <div id="open-follow-author" class="voc-modal-dropdown voc-modal-dropdown--negative voc-save-news" data-voc-component="modal-dropdown">
          <div class="voc-modal-dropdown__wrapper">
            <div class="voc-modal-dropdown__header">
              <button class="voc-modal__close" aria-label="Cerrar menu">
                <svg viewBox="0 0 18.139 15.673">
                  <use href="#icon-close-modal"></use>
                </svg>
              </button>
            </div>
            <div class="voc-modal-dropdown__container">
              <p class="voc-save-news__paragraph">Esta funcionalidad es sólo para registrados</p>
              <a href="https://secure.abc.es/identidad/inicio" class="voc-btn voc-btn--w voc-btn--xs voc-save-news__btn gigya-login-link" title="Iniciar Sessión" style="display:none">Iniciar sesión</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>