<section class="voc-author">
  <div class="voc-author__item voc-author__item--2">
    <div class="voc-author__container">
      <div class="voc-author__subitem voc-author__subitem--1">
        <time datetime="2025-10-23T09:40:37Z" class="voc-author__time">22/10/2025 <br>
          <strong>Actualizado 23/10/2025 a las 11:40h.</strong>
        </time>
      </div>
      <div class="voc-author__subitem voc-author__subitem--2">
        <div class="voc-author__social">
          <div class="voc-social voc-author__social-container voc-author__social-container--1">
            <a class="voc-social__icon voc-social__icon--circle voc-social--fb" title="Compartir en Facebook">
              <svg viewBox="0 0 16.6 32" xml:space="preserve">
                <use href="#icon-share-fb"></use>
              </svg>
            </a>
            <a class="voc-social__icon voc-social__icon--circle voc-social--tw" title="Compartir en X">
              <svg viewBox="0 0 32 26">
                <use href="#icon-share-tw"></use>
              </svg>
            </a>
            <button data-target="open-share-social-detail" class="voc-social__icon voc-social__icon--circle voc-social__icon--share voc-modal-open visible-xs" data-voc-component="modal-open" aria-label="Abrir Panel compartir Mas">
              <svg viewBox="0 0 16 13">
                <use href="#icon-share-open-panel"></use>
              </svg>
            </button>
            <button data-target="open-share-social-detail" class="voc-social__icon voc-social__icon--circle voc-social__icon--share voc-modal-dropdown-open hidden-xs" data-voc-component="modal-open-dropdown" aria-label="Abrir Panel compartir Mas">
              <svg viewBox="0 0 16 13">
                <use href="#icon-share-open-panel"></use>
              </svg>
            </button>
            <div id="open-share-social-detail" class="voc-modal-dropdown voc-share-social" data-voc-component="modal-dropdown">
              <div class="voc-modal-dropdown__wrapper">
                <header class="voc-modal-dropdown__header">
                  <span class="voc-modal-dropdown__title">Compartir</span>
                  <button class="voc-modal__close" aria-label="Cerrar opciones para compartir">
                    <svg viewBox="0 0 18.139 15.673">
                      <use href="#icon-close-modal"></use>
                    </svg>
                  </button>
                </header>
                <div class="voc-modal-dropdown__container">
                  <div class="voc-share-social__social">
                    <nav class="voc-share-social__nav">
                      <ul class="voc-share-social__list">
                        <li class="voc-share-social__item">
                          <a class="voc-share-social__link">
                            <span class="voc-share-social__icon">
                              <svg viewBox="0 0 15.436 15.436">
                                <use href="#icon-share-copy-link"></use>
                              </svg>
                            </span>
                            <p class="voc-share-social__paragraph">Copiar enlace</p>
                          </a>
                        </li>
                        <li class="voc-share-social__item">
                          <a class="voc-share-social__link">
                            <span class="voc-share-social__icon">
                              <svg viewBox="0 0 16.6 32">
                                <use href="#icon-share-fb"></use>
                              </svg>
                            </span>
                            <p class="voc-share-social__paragraph">Facebook</p>
                          </a>
                        </li>
                        <li class="voc-share-social__item">
                          <a class="voc-share-social__link">
                            <span class="voc-share-social__icon">
                              <svg viewBox="0 0 32 26">
                                <use href="#icon-share-tw"></use>
                              </svg>
                            </span>
                            <p class="voc-share-social__paragraph">X</p>
                          </a>
                        </li>
                        <li class="voc-share-social__item">
                          <a class="voc-share-social__link">
                            <span class="voc-share-social__icon">
                              <svg viewBox="0 0 17.519 17.519">
                                <use href="#icon-share-wh"></use>
                              </svg>
                            </span>
                            <p class="voc-share-social__paragraph">Whatsapp</p>
                          </a>
                        </li>
                        <li class="voc-share-social__item">
                          <button data-target="open-share-email" class="voc-share-social__link" data-voc-component="modal-open">
                            <span class="voc-share-social__icon">
                              <svg viewBox="0 0 16.172 10.916">
                                <use href="#icon-share-envelop"></use>
                              </svg>
                            </span>
                            <p class="voc-share-social__paragraph">Email</p>
                          </button>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="voc-author__social-container voc-author__social-container--2">
            <button class="voc-social__icon voc-social__icon--save voc-modal-dropdown-open hidden-xs nibara-element-inview" data-target="open-save-news-body" aria-label="Guardar noticia">
              <svg viewBox="0 0 16 25">
                <use href="#icon-save-news"></use>
              </svg>
            </button>
            <button class="voc-social__icon voc-social__icon--save voc-modal-open visible-xs nibara-element-inview" data-target="open-save-news-body" data-voc-component="modal-open" aria-label="Guardar noticia">
              <svg viewBox="0 0 16 25">
                <use href="#icon-save-news"></use>
              </svg>
            </button>
            <div class="voc-social__icon voc-social__icon--comments">
              <span class="voc-author-comments-number">14</span>
              <svg viewBox="0 0 30 30">
                <use href="#icon-ver-comentarios"></use>
              </svg>
              <div id="open-save-news-body" class="voc-modal-dropdown voc-modal-dropdown--negative voc-save-news" data-voc-component="modal-dropdown">
                <div class="voc-modal-dropdown__wrapper">
                  <div class="voc-modal-dropdown__header">
                    <button class="voc-modal__close" aria-label="Cerrar menu">
                      <svg viewBox="0 0 18.139 15.673">
                        <use href="#icon-close-modal"></use>
                      </svg>
                    </button>
                  </div>
                  <div class="voc-modal-dropdown__container">
                    <p class="voc-save-news__paragraph">Esta funcionalidad es s贸lo para registrados</p>
                    <a href="https://secure.abc.es/identidad/inicio" class="voc-btn voc-btn--w voc-btn--xs voc-save-news__btn gigya-login-link" title="Iniciar Sessi贸n" style="display:none">Iniciar sesi贸n</a>
                  </div>
                </div>
              </div>
              <div id="open-comments-news-body-start" class="voc-modal-dropdown voc-modal-dropdown--negative voc-save-news voc-see-comments">
                <div class="voc-modal-dropdown__wrapper">
                  <div class="voc-modal-dropdown__header">
                    <button class="voc-modal-dropdown__close" data-voc-component="modal-close-dropdown" aria-label="Cerrar mensaje">
                      <span class="icon">
                        <svg viewBox="0 0 18.139 15.673">
                          <use href="#icon-close-modal"></use>
                        </svg>
                      </span>
                    </button>
                  </div>
                  <div class="voc-modal-dropdown__container">
                    <p class="voc-save-news__paragraph">Esta funcionalidad es s贸lo para suscriptores</p>
                    <a href="https://secure.abc.es/suscripcion#vca=suscribete&amp;vso=abc&amp;vmc=on&amp;vli=comentarios-btn-flujo" class="voc-btn voc-btn--w voc-btn--xs voc-save-news__btn">Suscribete</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>