<section class="voc-btn__container voc-btn__container--s-between">
  <div style="display:block" data-voc-comments="comments-footer-button-abc" data-voc-comments-stream-id="fc62d3f6-b321-11f0-b213-9afd32b1af38"></div>
  <button data-target="open-report-error" data-voc-component="modal-open" class="voc-btn voc-btn--g report-error__btn" data-voc-open-report-error="">
    <p class="voc-btn__text">Reportar un error</p>
    <span class="voc-btn__icon">
      <svg viewBox="0 0 7.2 19.4" xml:space="preserve">
        <use href="#icon-comment-arrow"></use>
      </svg>
    </span>
  </button>
  <div id="open-comments-news-body-end" class="voc-modal-dropdown voc-modal-dropdown--negative voc-save-news voc-see-comments">
    <div class="voc-modal-dropdown__wrapper">
      <div class="voc-modal-dropdown__header">
        <button class="voc-modal-dropdown__close" data-voc-component="modal-close-dropdown" data-voc-vtm-id="" data-voc-vtm-info="sticky" aria-label="Cerrar mensaje">
          <span class="icon">
            <svg viewBox="0 0 18.139 15.673">
              <use href="#icon-close-modal"></use>
            </svg>
          </span>
        </button>
      </div>
      <div class="voc-modal-dropdown__container">
        <p class="voc-save-news__paragraph">Esta funcionalidad es sólo para suscriptores</p>
        <a href="https://secure.abc.es/suscripcion#vca=suscribete&amp;vso=abc&amp;vmc=on&amp;vli=comentarios-btn-flujo" data-voc-vtm-id="comienzoSuscripcionON" data-voc-vtm-info="btncomentar" class="voc-btn voc-btn--w voc-btn--xs voc-save-news__btn">Suscribete</a>
      </div>
    </div>
  </div>
</section>