<div class="tick" data-did-init={{dataFlipInit}} data-credits="false" data-style="flip-easing: ease-in-out-back">
  <div data-layout="horizontal fill">
    <span data-key="years" data-transform="pad(0000)" data-view="flip"></span>
  </div>
</div>