<span class="icn">
  {{#if iconShare}}
    {{> icons/icon-share }}
  {{/if}}

  {{#if iconReload}}
    {{> icons/icon-reload }}
  {{/if}}

  {{#if iconLevel }}
    {{> icons/icon-level }}
  {{/if}}

  {{#if iconOptions}}
    {{> icons/icon-cog }}
  {{/if}}

  {{#if iconClose}}
    {{> icons/icon-close }}
  {{/if}}

  {{#if iconShare2}}
    {{> icons/icon-share-2 }}
  {{/if}}

  {{#if iconFacebook}}
    {{> icons/icon-facebook }}
  {{/if}}

  {{#if iconTwitter}}
    {{> icons/icon-twitter }}
  {{/if}}

  {{#if iconWhatsapp}}
    {{> icons/icon-whatsapp }}
  {{/if}}

  {{#if iconEmail}}
    {{> icons/icon-email }}
  {{/if}}
</span>