<div class="voc-c-container voc-c-container--wmd">  
  <div class="v-spc-map-c {{#if desktop}}only-desktop{{else}}only-mobile{{/if}}">
    <div class="v-spc-map v-spc-map--{{#if id}}{{id}}{{else}}1{{/if}}">
      {{> components/map-svg }}
    </div>
  </div>
</div>