<div class="voc-c-container voc-c-container--wmd">
  <div class="v-spc-nav">
    <button class="v-spc-nav-tgl" aria-expanded="false">
      <span>Selecciona la historia</span>
      <div class="voc-icon">
        <svg viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.833 5.417 5.417 0 0 5.417l.961.961 4.456-4.455 4.455 4.455.961-.961Z" fill="#fff"/></svg>
      </div>
    </button>
    <nav>
      <ul>
        <li class="is-active" data-target="zona-1"><a href="#zona-1">Raquel y Emanuele</a></li>
        <li data-target="zona-2"><a href="#zona-2">María José y Jordi</a></li>
        <li data-target="zona-3"><a href="#zona-3">Emilia y Salvador</a></li>
        <li data-target="zona-4"><a href="#zona-4">Begoña</a></li>
        <li data-target="zona-5"><a href="#zona-5">Patricia</a></li>
        <li data-target="zona-6"><a href="#zona-6">Marga y Paco</a></li>
      </ul>
    </nav>
  </div>
</div>