<div class="voc-container voc-container--spc">
  <div class="v-spc-nav">
    <nav>
      <ul>
        <li class="is-active"><a href="#zona-1">Raquel y Giulia</a></li>
        <li><a href="#zona-2">María José y Jordi</a></li>
        <li><a href="#zona-3">Emilia y Salvador</a></li>
        <li><a href="#zona-4">Begoña</a></li>
        <li><a href="#zona-5">Patricia</a></li>
        <li><a href="#zona-6">Marga y Paco</a></li>
      </ul>
    </nav>
  </div>

 {{!-- <div class="v-spc-map-c">
    <div class="v-spc-map v-spc-map--1">
      {{> components/map }}
    </div>
  </div> --}}
</div>