<nav class="sel-nav">
  <button class="sel-nav-tgl" aria-expanded="false">
    <span>Selecciona la tematica</span>
    <div class="voc-icon">
      <svg viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.833 5.417 5.417 0 0 5.417l.961.961 4.456-4.455 4.455 4.455.961-.961Z" fill="#fff"></path></svg>
    </div>
  </button>
  <ul>
    {{#each selectorNav}}
      <li {{#if isActive}}class="is-active"{{/if}} data-target="{{@index}}">
        <a href="#">{{title}}</a>
      </li>
    {{/each}}
  </ul>
</nav>