<div class="sel-cards">
  <span class="sel-cards__txt">Selecciona la temática que te gustaría comparar</span>

  <div class="sel-cards__c">
    {{#each selectorCard}}
      <div class="card-animation-layer">
        {{> components/card link=true indexArray=true }}
      </div>
    {{/each}}
  </div>
</div>