<div class="sel-cards">
  <span class="sel-cards__txt">Selecciona la temática que te gustaría comparar</span>

  <div class="sel-cards__c">
    {{#each selectorCard}}
      {{> components/card link=true indexArray=true }}
    {{/each}}
  </div>
</div>