<section class="voc-topics voc-accordion" data-voc-component="accordion">
  <div class="voc-topics__card voc-accordion__card">
    <nav class="voc-topics__header voc-accordion__header">
      <ul class="voc-topics__list">
        <li class="voc-topics__list-item">
          <button class="voc-topics__header-link voc-accordion__link" aria-label="Más temas">Más temas: <span class="voc-topics__icon voc-accordion__icon">
              <svg viewBox="0 0 19.387 7.193">
                <use href="#icon-down-arrow"></use>
              </svg>
            </span>
          </button>
        </li>
        <li class="voc-topics__list-item">
          <a href="/noticias/dana/" class="voc-topics__link" title="DANA" data-mrf-link="https://www.abc.es/noticias/dana/" cmp-ltrk="Apertura" cmp-ltrk-idx="1" mrfobservableid="1c30863a-5c1d-48b0-ba2b-eb02964135d8">DANA</a>
        </li>
        <li class="voc-topics__list-item">
          <a href="/noticias/paiporta/" class="voc-topics__link" title="Paiporta" data-mrf-link="https://www.abc.es/noticias/paiporta/" cmp-ltrk="Apertura" cmp-ltrk-idx="2" mrfobservableid="418ec990-821c-4485-a94f-79015d8117de">Paiporta</a>
        </li>
        <li class="voc-topics__list-item">
          <a href="/noticias/valencia-ciudad/" class="voc-topics__link" title="Valencia (Ciudad)" data-mrf-link="https://www.abc.es/noticias/valencia-ciudad/" cmp-ltrk="Apertura" cmp-ltrk-idx="3" mrfobservableid="7a5e3b36-94c1-48be-911a-4316c457b5bf">Valencia (Ciudad)</a>
        </li>
      </ul>
    </nav>
  </div>
</section>