<section class="voc-topics voc-accordion" data-voc-component="accordion">
  <div class="voc-topics__card voc-accordion__card">
    <nav class="voc-topics__header voc-accordion__header">
      <ul class="voc-topics__list">
        <li class="voc-topics__list-item">
          <button class="voc-topics__header-link voc-accordion__link">M치s temas: <span class="voc-topics__icon voc-accordion__icon">
              <svg viewBox="0 0 19.387 7.193">
                <path d="m.693.694 9.025 6 8.975-6" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </span>
          </button>
        </li>
        <li class="voc-topics__list-item">
          <a href="#" class="voc-topics__link" title="[TEXTO ANCHOR TEXT]">Zaragoza</a>
        </li>
        <li class="voc-topics__list-item">
          <a href="#" class="voc-topics__link" title="[TEXTO ANCHOR TEXT]">Argelia</a>
        </li>
        <li class="voc-topics__list-item">
          <a href="#" class="voc-topics__link" title="[TEXTO ANCHOR TEXT]">Marruecos</a>
        </li>
        <li class="voc-topics__list-item">
          <a href="#" class="voc-topics__link" title="[TEXTO ANCHOR TEXT]">S치hara Occidental</a>
        </li>
        <li class="voc-topics__list-item">
          <a href="#" class="voc-topics__link" title="[TEXTO ANCHOR TEXT]">Zaragoza</a>
        </li>
        <li class="voc-topics__list-item">
          <a href="#" class="voc-topics__link" title="[TEXTO ANCHOR TEXT]">Argelia</a>
        </li>
        <li class="voc-topics__list-item">
          <a href="#" class="voc-topics__link" title="[TEXTO ANCHOR TEXT]">Marruecos</a>
        </li>
        <li class="voc-topics__list-item">
          <a href="#" class="voc-topics__link" title="[TEXTO ANCHOR TEXT]">S치hara Occidental</a>
        </li>
        <li class="voc-topics__list-item">
          <a href="#" class="voc-topics__link" title="[TEXTO ANCHOR TEXT]">Zaragoza</a>
        </li>
        <li class="voc-topics__list-item">
          <a href="#" class="voc-topics__link" title="[TEXTO ANCHOR TEXT]">Argelia</a>
        </li>
        <li class="voc-topics__list-item">
          <a href="#" class="voc-topics__link" title="[TEXTO ANCHOR TEXT]">Marruecos</a>
        </li>
        <li class="voc-topics__list-item">
          <a href="#" class="voc-topics__link" title="[TEXTO ANCHOR TEXT]">S치hara Occidental</a>
        </li>
      </ul>
    </nav>
  </div>
</section>