<header>
  <div class="header-left">
    <img src="assets/images/logo-abc.svg" alt="Logo" class="logo">
    <h1>Narrativas</h1>
  </div>
  <button id="theme-toggle" title="Cambiar modo">
    <i class="fas fa-moon"></i>
  </button>
</header>
