@use './base/variables' as *;

$palewhite: rgba($cb7, .8);
$hueso: #F9F6EE;
$darkbg: #161515;

body, html {
  background: $darkbg;
}

.vs-xs {
  display: inline-block;
  @media (min-width: 540px) {
    display: none;
  }
}

.hd-xs {
  display: none;
  @media (min-width: 540px) {
    display: inline-block;
  }
}

// -----------------------------
// HEADER
// -----------------------------
.voc-header {
  .voc-header__text { color: #575757; }
  .voc-progress { background: #575757; }
}

// -----------------------------
// FOOTER
// -----------------------------
body .voc-footer {
  margin: 180px auto -80px;

  .voc-heading__logo { filter: invert(1); }
  .voc-footer__corporate .voc-heading__logo { filter: brightness(5); }

  .voc-heading__text,
  .voc-to-top__text,
  .voc-footer-nav__list li a,
  .voc-footer-nav__list li:after {
    color: $palewhite;
  }

  .voc-to-top__icon {
    rect { fill: $cb1; }
    path { fill: $cb7; }
  }
}

// -----------------------------
// CONTENT
// -----------------------------
.voc-container .voc-p {
  color: #FFFFFFE5;
}

.voc-advertising {
  margin-top: 80px;
  margin-bottom: 80px !important;
}

.voc-d-c__s-title {
  margin-bottom: 16px;
  color: $cb7;
}

.voc-c-container.voc-c-container--w-col-ab {
  @media (min-width: $screen-sm) {
    margin-left: -50px;
    margin-top: 60px;
    margin-bottom: 60px !important;
  }
}

.voc-figcaption {
  &--type {
    color: $cb7;
  }

  &-container {
    color: $cb7;
  }
}

.voc-stores__text {
  color: hsla(0, 0%, 100%, .8);
}
// -----------------------------
// DETAIL VISUAL BLOQUE
// -----------------------------
.voc-wrapper {
  > .voc-container--wxs:first-child {
    max-width: 1040px;
  }
}

.voc-article.voc-article--detail-visual {
  .voc-info-container {
    padding-top: 40px;

    @media (min-width: $screen-xs) {
      padding-top: 80px;
    }
  }

  .voc-title {
    max-width: 945px;
    width: 100%;
    font: 50px/46px $abcdel;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    color: $hueso;

    @media (min-width: $screen-md) {
      font-size: 90px;
      line-height: 86px;
      letter-spacing: -2.7px;
    }
  }

  .voc-author {
    position: relative;
    margin-top: 38px;
    padding-top: 38px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 106px;
      height: 1px;
      background-color: #FFFFFF33;
    }

    &__item--1 {
      &:before {
        content: none;
      }
    }

    &__name {
      font: 22px/28px $abctl;
      color: $palewhite;
    }

    &__time {
      color: rgba($cb7, .8);
    }

    .voc-social__icon--save svg {
      stroke: rgba($cb7, .8);
    }
  }
}

.voc-d--visual {
  display: flex;
  flex-direction: column;
  margin-top: 0;

  .voc-c-container--wmd {
    order: -1;
  }
}

// -----------------------------
// DETAIL ARTICLE
// -----------------------------
.v-art-d {
  display: flex;
  flex-direction: column;
  gap: 55px;
  align-items: center;
  margin: 96px 0 103px;

  @media (min-width: 540px) {
    flex-direction: row;
  }

  @media (min-width: $screen-sm) {
    gap: 105px;
  }

  .v-art-img-c {
    flex: 1 0 auto;
    width: calc(100% + 50px);

    @media (min-width: 540px) {
      max-width: 50%;
      width: 100%;
    }

    @media (min-width: $screen-sm) {
      max-width: 433px;
    }
  }

  .v-art-f {
    aspect-ratio: 7/10;
    position: relative;
  }

  .v-art-i {
    aspect-ratio: 7 / 10;
    position: absolute;
    opacity: 0;
    animation: fadeSlide 18s infinite;

    &--1 { animation-delay: 0s; }
    &--2 { animation-delay: 2s; }
    &--3 { animation-delay: 4s; }
    &--4 { animation-delay: 6s; }
    &--5 { animation-delay: 8s; }
    &--6 { animation-delay: 10s; }
    &--7 { animation-delay: 12s; }
    &--8 { animation-delay: 14s; }
  }

  @keyframes fadeSlide {
    0% { opacity: 0; }
    5% { opacity: 1; }
    20% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
  }

  .v-art-inf-c {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }

  .v-sub {
    font-family: $abcdel;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFFCC;

    a {
      font-family: $abcdr;
      text-decoration: underline;
      transition: opacity .3s;

      &:hover {
        opacity: .7;
      }
    }
  }
}

// -----------------------------
// COMBO 2 FOTOS
// -----------------------------
.v-cmp-cmb-2 {
  margin: 53px 0;

  @media (min-width: 540px) {
    margin: 144px 0;
  }

  &__c {
    display: flex;
    flex-direction: column;
    gap: 38px;

    @media (min-width: 540px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
    }
  }

  &__i-c {
    aspect-ratio: 10/7;

    &--1 {
      order: 1;
      @media (min-width: 540px) {
        grid-column: 1;
        grid-row: 1;
      }
    }

    &--2 {
      order: 3;
      @media (min-width: 540px) {
        grid-column: 2;
        grid-row: 2;
        margin-top: -50%;
      }
    }
  }

  .v-fc {
    order: 2;
    font-family: $basr;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFFB2;

    @media (min-width: 540px) {
      grid-column: 1;
      grid-row: 2;
      max-width: 90%;
    }

    @media (min-width: $screen-xs) {
      max-width: 80%;
    }

    &__t {
      font-family: $bass;
    }
  }
}
