@use './base/variables' as *;

@use './base/fonts';
@use './base/global';
@use './base/advertising';

// NOTE: Activar si el tema es oscuro
@use './base/dark-theme';

// NOTE: Estilos globales especificos para la narrativa
@use './base/global-narrativa';